<ng-preview-options
  [previewItems]="[
  'hint',
  'label',
  'labelPos',
  'labelWidth',
  'icon',
  'iconPos',
  'selectiveSize',
  'filled',
  'rtl',
  'placeholder',
  'readonly',
  'disabled',
  'scrollHeight',
  'dropdown',
  'multiple',
  'minlength',
  'maxlength',
  'size',
  'emptyMessage',
  'dropdownMode',
  'unique'
  ]"
  [(hint)]="hint"
  [(label)]="label"
  [(labelPos)]="labelPos"
  [(labelWidth)]="labelWidth"
  [(icon)]="icon"
  [(iconPos)]="iconPos"
  [(selectiveSize)]="inputSize"
  [(filled)]="filled"
  [(showRequiredStar)]="showRequiredStar"
  [(rtl)]="rtl"
  [(placeholder)]="placeholder"
  [(readonly)]="readonly"
  [(disabled)]="disabled"
  [(scrollHeight)]="scrollHeight"
  [(dropdown)]="dropdown"
  [(multiple)]="multiple"
  [(minlength)]="minlength"
  [(maxlength)]="maxlength"
  [(size)]="size"
  [(emptyMessage)]="emptyMessage"
  [(dropdownMode)]="dropdownMode"
  [(unique)]="unique"
></ng-preview-options>

<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-auto-complete
      formControlName="c1"
      field="name"
      [hint]="hint"
      [label]="label"
      [labelPos]="labelPos"
      [labelWidth]="labelWidth"
      [icon]="icon"
      [iconPos]="iconPos"
      [inputSize]="inputSize"
      [filled]="filled"
      [showRequiredStar]="showRequiredStar"
      [rtl]="rtl"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [disabled]="disabled"
      [scrollHeight]="scrollHeight"
      [dropdown]="dropdown"
      [multiple]="multiple"
      [minlength]="minlength"
      [maxlength]="maxlength"
      [size]="size"
      [emptyMessage]="emptyMessage"
      [dropdownMode]="dropdownMode"
      [unique]="unique"
      [suggestions]="filteredSuggestions"
      [addon]="addon"
      [errors]="{ required: 'error' }"
      (completeMethod)="filter($event)"
    >
    </ng-auto-complete>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-auto-complete
    name="myInput"
    required
    [(ngModel)]="binding"
    field="name"
    [hint]="hint"
    [label]="label"
    [labelPos]="labelPos"
    [labelWidth]="labelWidth"
    [icon]="icon"
    [iconPos]="iconPos"
    [inputSize]="inputSize"
    [filled]="filled"
    [showRequiredStar]="showRequiredStar"
    [rtl]="rtl"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [disabled]="disabled"
    [scrollHeight]="scrollHeight"
    [dropdown]="dropdown"
    [multiple]="multiple"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [size]="size"
    [emptyMessage]="emptyMessage"
    [dropdownMode]="dropdownMode"
    [unique]="unique"
    [suggestions]="filteredSuggestions"
    [errors]="{ required: 'error' }"
    (completeMethod)="filter($event)">
  </ng-auto-complete>
</div>
