<ng-preview-options
  [previewItems]="[]"
></ng-preview-options>

<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-auto-complete
      formControlName="c1"
      field="name"
      [addon]="addon"
      [errors]="{ required: 'error' }"
      [suggestions]="filteredSuggestions"
      (completeMethod)="filter($event)"
    ></ng-auto-complete>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-auto-complete
    name="myInput"
    field="name"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [suggestions]="filteredSuggestions"
    (completeMethod)="filter($event)">
  </ng-auto-complete>
</div>
