<div class="container">
  <p-card dir="ltr"
          header="AutoComplete"
          subheader="AutoComplete is an input component that provides real-time suggestions when being typed."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'icon',
      'labelPos',
      'iconPos',
      'selectiveSize',
      'scrollHeight',
      'dropdown',
      'multiple',
      'minlength',
      'placeholder',
      'readonly',
      'disabled',
      'maxlength',
      'showEmptyMessage',
      'emptyMessage',
      'forceSelection',
      'unique',
      'showClear',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(scrollHeight)]="scrollHeight"
      [(dropdown)]="dropdown"
      [(multiple)]="multiple"
      [(minlength)]="minlength"
      [(placeholder)]="placeholder"
      [(readonly)]="readonly"
      [(disabled)]="disabled"
      [(maxlength)]="maxlength"
      [(showEmptyMessage)]="showEmptyMessage"
      [(emptyMessage)]="emptyMessage"
      [(forceSelection)]="forceSelection"
      [(unique)]="unique"
      [(showClear)]="showClear"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <form [formGroup]="form">
    <ng-auto-complete
      formControlName="c1"
      field="name"
      [addon]="addon"
      [errors]="{ required: 'error' }"
      [suggestions]="filteredSuggestions"
      (completeMethod)="filter($event)"
    ></ng-auto-complete>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-auto-complete
    name="myInput"
    field="name"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [suggestions]="filteredSuggestions"
    (completeMethod)="filter($event)">
  </ng-auto-complete>
</div>
