:host {
  display: block;

  ::ng-deep {
    .empty-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .empty-icon {
        i {
          font-size: 3.5rem;
        }

        img {
          max-width: 120px;
        }
      }

      .empty-title {
        margin-top: 1.5rem;
        font-size: 0.875em;

        &:not(.validation) {
          color: #6c757d;
        }
      }

      &:dir(rtl) {
        .empty-title {
          direction: rtl;
        }
      }

      &:dir(ltr) {
        .empty-title {
          direction: ltr;
        }
      }
    }
  }
}
