:host {
  display: block;
  padding: 30px;
}

h4 {
  background-color: var(--surface-d);
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;

margin-top: 60px;
}

[formControlName*="c"] {
  margin-bottom: 20px;
  display: block;
}
