<div class="container">
  <p-card dir="ltr"
          header="Textarea"
          subheader="Textarea is a multi-line text input element."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'icon',
      'labelPos',
      'iconPos',
      'readonly',
      'disabled',
      'maxlength',
      'placeholder',
      'rows',
      'cols',
      'autoResize',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(readonly)]="readonly"
      [(disabled)]="disabled"
      [(maxlength)]="maxlength"
      [(placeholder)]="placeholder"
      [(rows)]="rows"
      [(cols)]="cols"
      [(autoResize)]="autoResize"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <form [formGroup]="form">
    <ng-input-textarea
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
      [label]="label"
      [filled]="filled"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [icon]="icon"
      [labelPos]="labelPos"
      [iconPos]="iconPos"
      [readonly]="readonly"
      [disabled]="disabled"
      [maxlength]="maxlength"
      [placeholder]="placeholder"
      [rows]="rows"
      [cols]="cols"
      [autoResize]="autoResize"
    ></ng-input-textarea>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-input-textarea
    name="myInput"
    required
    [(ngModel)]="binding"
    [addon]="addon"
    [errors]="{ required: 'error' }"
    [label]="label"
    [filled]="filled"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [icon]="icon"
    [labelPos]="labelPos"
    [iconPos]="iconPos"
    [readonly]="readonly"
    [disabled]="disabled"
    [maxlength]="maxlength"
    [placeholder]="placeholder"
    [rows]="rows"
    [cols]="cols"
    [autoResize]="autoResize"
  ></ng-input-textarea>
</div>
