<ng-preview-options
  [previewItems]="[
'label',
'icon',
'rows',
'cols',
'autoResize',
'readonly',
'disabled',
'filled',
'showRequiredStar',
'maxlength',
'labelWidth',
'placeholder',
'hint',
'rtl',
'labelPos',
'iconPos',
]"
  [(label)]="label"
  [(icon)]="icon"
  [(rows)]="rows"
  [(cols)]="cols"
  [(autoResize)]="autoResize"
  [(readonly)]="readonly"
  [(disabled)]="disabled"
  [(filled)]="filled"
  [(showRequiredStar)]="showRequiredStar"
  [(maxlength)]="maxlength"
  [(labelWidth)]="labelWidth"
  [(placeholder)]="placeholder"
  [(hint)]="hint"
  [(rtl)]="rtl"
  [(labelPos)]="labelPos"
  [(iconPos)]="iconPos"
></ng-preview-options>
<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-input-textarea
      formControlName="c1"
      [errors]="{ required: 'error' }"
      [label]="label"
      [icon]="icon"
      [rows]="rows"
      [cols]="cols"
      [autoResize]="autoResize"
      [readonly]="readonly"
      [disabled]="disabled"
      [filled]="filled"
      [showRequiredStar]="showRequiredStar"
      [maxlength]="maxlength"
      [labelWidth]="labelWidth"
      [placeholder]="placeholder"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [iconPos]="iconPos"
      [addon]="addon"
    >
    </ng-input-textarea>
    <ng-button type="submit" label="submit"></ng-button>
  </form>
  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-input-textarea
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [label]="label"
    [icon]="icon"
    [rows]="rows"
    [cols]="cols"
    [autoResize]="autoResize"
    [readonly]="readonly"
    [disabled]="disabled"
    [filled]="filled"
    [showRequiredStar]="showRequiredStar"
    [maxlength]="maxlength"
    [labelWidth]="labelWidth"
    [placeholder]="placeholder"
    [hint]="hint"
    [rtl]="rtl"
    [labelPos]="labelPos"
    [iconPos]="iconPos"
    [addon]="addon">
  </ng-input-textarea>
</div>
