<app-preview
  component="Table"
  description="Table displays data in tabular format."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <pw-table
    [items]="simpleCustomers"
    [colDef]="simpleColDef"
    [actionsConfig]="actionsConfig"
    header="Simple"
    [rtl]="getOption('rtl')"
    [size]="getOption('size')"
    [followConfig]="getOption('followConfig')"
    [showGridlines]="getOption('gridlines')"
    [stripedRows]="getOption('striped')">
    <ng-template pwTemplate="activity" let-item>
      <span>Rendered by template: {{ item.activity }}</span>
    </ng-template>
  </pw-table>
  <hr class="my-4">
  <pw-table
    [items]="paginationCustomers"
    [colDef]="paginatorColDef"
    header="Local Pagination"
    [rtl]="getOption('rtl')"
    [size]="getOption('size')"
    [followConfig]="getOption('followConfig')"
    [showGridlines]="getOption('gridlines')"
    [stripedRows]="getOption('striped')"
    [actionsConfig]="actionsConfig"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5,10,50]">
  </pw-table>
  <hr class="my-4">
  <pw-table
    [items]="lazyCustomers"
    [colDef]="lazyColDef"
    header="Lazy"
    [rtl]="getOption('rtl')"
    [size]="getOption('size')"
    [followConfig]="getOption('followConfig')"
    [showGridlines]="getOption('gridlines')"
    [stripedRows]="getOption('striped')"
    [actionsConfig]="actionsConfig"
    [lazy]="true"
    responsiveLayout="scroll"
    dataKey="id"
    [selection]="selectedCustomers"
    [selectAll]="selectAll"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [globalFilter]="true"
    [globalFilterFields]="['name','country.name', 'company', 'representative.name']"
    (onLazyLoad)="loadCustomers($event)"
    (selectionChange)="onSelectionChange($event)"
    (selectAllChange)="onSelectAllChange($event)">
  </pw-table>
</app-preview>
