<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="knob-wrapper">
    <div class="field">
        <p-knob
                [(ngModel)]="value"
                [attr.id]="id"
                [styleClass]="styleClass"
                [style]="style"
                [ariaLabel]="ariaLabel"
                [ariaLabelledBy]="ariaLabelledBy"
                [tabindex]="tabindex"
                [valueColor]="valueColor"
                [rangeColor]="rangeColor"
                [textColor]="textColor"
                [valueTemplate]="valueTemplate"
                [name]="name"
                [size]="size"
                [step]="step"
                [min]="min"
                [max]="max"
                [strokeWidth]="strokeWidth"
                [disabled]="disabled"
                [showValue]="showValue"
                [readonly]="readonly"
                (onChange)="_onChange($event)">
        </p-knob>
    </div>
    <label
            class="fix-label"
            *ngIf="label"
            [attr.for]="id"
            [class.p-disabled]="disabled"
            [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
            [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
    <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
    <div class="message p-error">
        <ng-container *ngFor="let v of validation | keyvalue">
            <div *ngIf="hasError(v.key)">
                {{ v.value }}
            </div>
        </ng-container>
    </div>
</div>



