<div class="knob-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [readonly]="readonly">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-knob
        [(ngModel)]="value"
        [attr.id]="id"
        [styleClass]="styleClass"
        [style]="style"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [tabindex]="tabindex"
        [valueColor]="valueColor"
        [rangeColor]="rangeColor"
        [textColor]="textColor"
        [valueTemplate]="valueTemplate"
        [name]="name"
        [size]="size"
        [step]="step"
        [min]="min"
        [max]="max"
        [strokeWidth]="strokeWidth"
        [disabled]="disabled"
        [showValue]="showValue"
        [readonly]="readonly"
        (onChange)="_onChange($event)">
      </p-knob>
    </ng-template>
  </ng-form-field>
</div>
