<div class="knob-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-element-additions
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled">
    <ng-template ngTemplate="element">
      <p-knob
        [(ngModel)]="value"
        [attr.id]="id"
        [styleClass]="styleClass"
        [style]="style"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [tabindex]="tabindex"
        [valueColor]="valueColor"
        [rangeColor]="rangeColor"
        [textColor]="textColor"
        [valueTemplate]="valueTemplate"
        [name]="name"
        [size]="size"
        [step]="step"
        [min]="min"
        [max]="max"
        [strokeWidth]="strokeWidth"
        [disabled]="disabled"
        [showValue]="showValue"
        [readonly]="readonly"
        (onChange)="_onChange($event)">
      </p-knob>
    </ng-template>
  </ng-element-additions>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
