<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="input-mask-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <i *ngIf="icon && !addon && !showClear" [ngClass]="icon"></i>
    <p-inputMask
      [(ngModel)]="value"
      [ngAddon]="addon"
      [addonDisabled]="disabled"
      [addonSize]="inputSize"
      [inputId]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [type]="type"
      [mask]="mask"
      [slotChar]="slotChar"
      [autoClear]="autoClear"
      [unmask]="unmask"
      [style]="style"
      [styleClass]="styleClass"
      [placeholder]="placeholder"
      [size]="size"
      [maxlength]="maxlength"
      [tabindex]="tabindex"
      [disabled]="disabled"
      [readonly]="readonly"
      [characterPattern]="characterPattern"
      [autoFocus]="autoFocus"
      [showClear]="showClear"
      [autocomplete]="autocomplete"
      [title]="title"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onFocus)="emitter('onFocus', $event)"
      (onBlur)="_onBlur()"
      (onComplete)="emitter('onComplete', $event)"
      (onInput)="_onInput($event)"
      (onClear)="_onClear()"
    ></p-inputMask>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint && showHint()" class="p-hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
