<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="input-mask-wrapper">
  <div [ngAddon]="addon" [addonDisabled]="disabled" [addonSize]="inputSize" class="field">
    <div [ngClass]="{
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-inputMask
        [(ngModel)]="value"
        [inputId]="inputId"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [type]="type"
        [mask]="mask"
        [slotChar]="slotChar"
        [autoClear]="autoClear"
        [unmask]="unmask"
        [style]="style"
        [styleClass]="styleClass"
        [placeholder]="placeholder"
        [size]="size"
        [maxlength]="maxlength"
        [tabindex]="tabindex"
        [disabled]="disabled"
        [readonly]="readonly"
        [characterPattern]="characterPattern"
        [autoFocus]="autoFocus"
        [showClear]="showClear"
        [autocomplete]="autocomplete"
        [title]="title"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur()"
        (onComplete)="emitter('onComplete', $event)"
        (onInput)="_onInput($event)"
        (onClear)="_onClear()"
      ></p-inputMask>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
