:host {
  display: block;

  ::ng-deep {
    .color-picker-wrapper {
      display: flex;
      position: relative;

      .field {
        width: auto;
        flex-grow: 1;
        align-self: stretch;
        align-items: stretch;
        display: inline-flex;
      }

      .message {
        position: absolute;
        top: calc(100% + 0.25rem);
        font-size: 0.875em;

        &:not(.p-error) {
          color: #6c757d;
        }
      }

      &.label-fix-top {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &.label-fix-side {
        flex-direction: row-reverse;
        align-items: center;

        .fix-label {
          margin-bottom: 0;
        }

        &.inline {
          .fix-label {
            align-self: start;
          }
        }
      }

      ng-input-text {
        flex-grow: 1;
      }

      .p-colorpicker-preview {
        height: auto;
        width: 3rem;
      }

      &.ltr {
        direction: ltr;

        .message {
          left: 0;
        }

        .field {
          ng-input-text .p-inputtext {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          .p-colorpicker-preview {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

      }

      &.rtl {
        direction: rtl;

        .message {
          right: 0;
        }

        .field {
          .p-colorpicker-preview {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          ng-input-text .p-inputtext {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
}
