<div class="color-picker-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'inline': inline
    }">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-colorPicker
        [(ngModel)]="value"
        [style]="style"
        [styleClass]="styleClass"
        [inline]="inline"
        [format]="format"
        [appendTo]="appendTo"
        [disabled]="disabled"
        [tabindex]="tabindex"
        [inputId]="inputId"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [autofocus]="autofocus"
        (onChange)="_onChangeColorPicker($event)"
        (onShow)="emitter('onShow',$event)"
        (onHide)="emitter('onHide',$event)"/>
    </ng-template>
  </ng-form-field>
</div>
