<div [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [class]="{
     'color-picker-wrapper': true,
     'inline': inline
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-colorPicker
        [(ngModel)]="value"
        [invalid]="isInvalid"
        [required]="required"
        [disabled]="disabled"
        [name]="name"
        [inline]="inline"
        [format]="format"
        [tabindex]="tabindex"
        [inputId]="inputId"
        [autoZIndex]="autoZIndex"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [autofocus]="autofocus"
        [defaultColor]="defaultColor"
        [appendTo]="appendTo"
        (onChange)="_onChangeColorPicker($event)"
        (onShow)="emitter('onShow',$event)"
        (onHide)="emitter('onHide',$event)"/>
    </ng-template>
  </pw-form-field>
</div>
