<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [class.inline]="inline"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float'
    }" class="color-picker-wrapper">
  <div class="field" *ngIf="!inline">
    <p-colorPicker
      [(ngModel)]="value"
      [style]="style"
      [styleClass]="styleClass"
      [inline]="false"
      [format]="format"
      [appendTo]="appendTo"
      [disabled]="disabled"
      [tabindex]="tabindex"
      [inputId]="inputId"
      [autoZIndex]="autoZIndex"
      [baseZIndex]="baseZIndex"
      [showTransitionOptions]="showTransitionOptions"
      [hideTransitionOptions]="hideTransitionOptions"
      (onChange)="_onChangeColorPicker($event)"
      (onShow)="emitter('onShow',$event)"
      (onHide)="emitter('onHide',$event)"
    ></p-colorPicker>
    <ng-input-text
      [(ngModel)]="value"
      [label]="labelPos == 'float' ? label : null"
      [filled]="filled"
      [rtl]="rtl"
      [showRequiredStar]="labelPos == 'float' ? showRequiredStar : false"
      [icon]="icon"
      [labelPos]="labelPos == 'float' ? 'float' : null"
      [iconPos]="iconPos"
      [inputSize]="inputSize"
      [readonly]="readonly"
      [disabled]="disabled"
      [maxlength]="maxlength"
      [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
      (onBlur)="_onBlur($event)"
      (onChange)="_onChangeInput($event)"
      (onFocus)="emitter('onFocus', $event)"
      (onInput)="_onInput($event)"
      (onKeyDown)="_onKeyDown($event)"
      (onKeyUp)="_onKeyUp($event)"
    ></ng-input-text>
  </div>
  <div class="field" *ngIf="inline">
    <p-colorPicker
      [(ngModel)]="value"
      [style]="style"
      [styleClass]="styleClass"
      [inline]="true"
      [format]="format"
      [appendTo]="appendTo"
      [disabled]="disabled"
      [tabindex]="tabindex"
      [inputId]="inputId"
      [autoZIndex]="autoZIndex"
      [baseZIndex]="baseZIndex"
      [showTransitionOptions]="showTransitionOptions"
      [hideTransitionOptions]="hideTransitionOptions"
      (onChange)="_onChangeColorPicker($event)"
    ></p-colorPicker>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>

