<ng-preview
  header="ToggleButton"
  subheader="ToggleButton is used to select a boolean value using a button."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <ng-toggle-button formControlName="c1" [validation]="{ required: 'error' }">
        @if (additions.addonStart) {
          <ng-template ngTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template ngTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </ng-toggle-button>
    }
  </form>
</ng-preview>
