<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(filled)]="filled"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{ 'rtl': rtl, 'ltr': !rtl }"
     class="tri-state-checkbox-wrapper">
  <div class="field">
    <p-triStateCheckbox
      [(ngModel)]="value"
      [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
      [disabled]="disabled"
      [name]="name"
      [ariaLabel]="ariaLabel"
      [ariaLabelledBy]="ariaLabelledBy"
      [tabindex]="tabindex"
      [inputId]="inputId"
      [style]="style"
      [styleClass]="styleClass"
      [readonly]="readonly"
      [checkboxTrueIcon]="checkboxTrueIcon"
      [checkboxFalseIcon]="checkboxFalseIcon"
      (onChange)="_onChange($event)">
      <ng-container *ngFor="let t of templates">
        <ng-template [pTemplate]="t.getType()" *ngIf="templateMap[t.getType()]">
          <ng-container *ngTemplateOutlet="templateMap[t.getType()]"></ng-container>
        </ng-template>
      </ng-container>
    </p-triStateCheckbox>
    <label
      [attr.for]="inputId"
      [class.p-disabled]="disabled">
      {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
  </div>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
