<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="select-button-wrapper">
  <div [ngClass]="{ 'w-100': labelPos == 'fix-top' }" class="field">
    <p-selectButton
      [(ngModel)]="value"
      [attr.id]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [multiple]="multiple"
      [tabindex]="tabindex"
      [style]="style"
      [styleClass]="styleClass"
      [disabled]="disabled"
      [dataKey]="dataKey"
      (onChange)="_onChange($event)"
      (onOptionClick)="_onOptionClick($event)"
    >
      <ng-template *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
      </ng-template>
    </p-selectButton>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
