<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="select-button-wrapper">
  <div class="field">
    <p-selectButton
      [(ngModel)]="value"
      [attr.id]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [multiple]="multiple"
      [tabindex]="tabindex"
      [style]="style"
      [styleClass]="styleClass"
      [disabled]="disabled"
      [dataKey]="dataKey"
      (onChange)="_onChange($event)"
      (onOptionClick)="_onOptionClick($event)">
      <ng-template *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
      </ng-template>
    </p-selectButton>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
