<p-dialog
  class="p-dialog-form"
  [(visible)]="visible"
  (onShow)="setDefaultFocus()"
  (onHide)="close()"
  (visibleChange)="handleEvent('visibleChange',$event)"
  (onResizeInit)="handleEvent('onResizeInit',$event)"
  (onResizeEnd)="handleEvent('onResizeEnd',$event)"
  (onDragEnd)="handleEvent('onDragEnd',$event)"
  (onMaximize)="handleEvent('onMaximize',$event)">
  <form [ngClass]="options.containerStyleClass" [ngStyle]="options.containerStyle" [formGroup]="form">
    @for (config of config; track config) {
      @switch (config.component) {
        @case ('hidden') {
          <input
            [hidden]="handleConfigVisibility(config)"
            [ngClass]="config.className"
            [formControlName]="config.key"
            type="hidden"
          />
        }
        @case ('auto-complete') {
          <ng-auto-complete
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('button') {
          <ng-button
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('cascade-select') {
          <ng-cascade-select
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('checkbox') {
          <ng-checkbox
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('color-picker') {
          <ng-color-picker
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('select') {
          <ng-select
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('dual-label-switch') {
          <ng-dual-label-switch
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('editor') {
          <ng-editor
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('file-picker') {
          <ng-file-picker
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('file-picker2') {
          <ng-file-picker2
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('datepicker') {
          <ng-datepicker
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('image') {
          <ng-image
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('input-mask') {
          <ng-input-mask
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('input-number') {
          <ng-input-number
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('input-otp') {
          <ng-input-otp
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('input-password') {
          <ng-input-password
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('input-text') {
          <ng-input-text
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('input-textarea') {
          <ng-input-textarea
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('iran-map') {
          <ng-iran-map
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('knob') {
          <ng-knob
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('listbox') {
          <ng-listbox
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('map') {
          <ng-map
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('message') {
          <ng-message
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"/>
        }
        @case ('checkbox-group') {
          <ng-checkbox-group
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('multi-select') {
          <ng-multi-select
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('radio') {
          <ng-radio
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('rating') {
          <ng-rating
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('select-button') {
          <ng-select-button
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('slider') {
          <ng-slider
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('toggle-switch') {
          <ng-toggle-switch
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('toggle-button') {
          <ng-toggle-button
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('tree') {
          <ng-tree
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('tree-select') {
          <ng-tree-select
            [formControlName]="config.key"
            [ngClass]="config.className"
            [hidden]="handleConfigVisibility(config)"
            [validation]="convertToComponentValidation(config)"
            [disabled]="handleConfigDisable(config)"/>
        }
        @case ('template') {
          <div
            [hidden]="handleConfigVisibility(config)"
            [ngClass]="config.className"
            [innerHTML]="config.template"
            [ngStyle]="config.style"
          ></div>
        }
      }
    }
    @if (options.formValidator && form.hasError(options.formValidator.type)) {
      <div>
        <div class="p-error" [ngStyle]="options.formValidator.style" [innerHTML]="options.formValidator.message"></div>
      </div>
    }
  </form>
  <ng-template pTemplate="footer">
    <div class="footer">
      @if (options.rejectVisible) {
        <ng-button
          [styleClass]="options.rejectButtonStyleClass"
          [appearance]="options.rejectAppearance"
          [severity]="options.rejectSeverity"
          [iconPos]="options.buttonIconPosition"
          [full]="options.buttonFull"
          [icon]="options.rejectIcon"
          [size]="options.buttonSize"
          [label]="options.rejectLabel"
          [disabled]="disableReject"
          (onClick)="close()"/>
      }
      @if (options.acceptVisible) {
        <ng-button
          [styleClass]="options.acceptButtonStyleClass"
          [appearance]="options.acceptAppearance"
          [severity]="options.acceptSeverity"
          [newSeverity]="options.acceptSeverity"
          [iconPos]="options.buttonIconPosition"
          [full]="options.buttonFull"
          [icon]="options.acceptIcon"
          [size]="options.buttonSize"
          [label]="options.acceptLabel"
          [disabled]="handleSubmitDisable()"
          type="submit"
          [async]="true"
          (onClickAsync)="onSubmitClick($event)"/>
      }
    </div>
  </ng-template>
</p-dialog>
