$baseUrl: "/assets/styles/fonts/vazirmatn-round-dots/non-latin";

@font-face {
  font-family: Vazirmatn;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-Thin.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-Thin.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-ExtraLight.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-ExtraLight.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-Light.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-Light.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-Regular.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-Regular.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-Medium.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-Medium.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-SemiBold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-SemiBold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-Bold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-Bold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-ExtraBold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-ExtraBold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-NL-Black.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-NL-Black.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}
