<p-splitButton
  [appendTo]="appendTo"
  [class.rtl]="rtl"
  [disabled]="disabled"
  [iconPos]="iconPos"
  [icon]="icon"
  [label]="label"
  [model]="items"
  [style]="style"
  [menuStyle]="menuStyle"
  [menuStyleClass]="menuStyleClass"
  [tabindex]="tabindex"
  [showTransitionOptions]="showTransitionOptions"
  [hideTransitionOptions]="hideTransitionOptions"
  styleClass="p-button-{{ appearance }} p-button-{{ color }} p-button-{{
    size
  }} p-button-{{ rounded ? 'rounded' : '' }} p-button-{{
    raised ? 'raised' : ''
  }}"
  (onClick)="emitter('onClick',$event)"
  (onDropdownClick)="emitter('onDropdownClick',$event)"
>
  <ng-template pTemplate="content" *ngIf="contentTemplate">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </ng-template>
</p-splitButton>
