p-splitButton {
  direction: ltr;
  &.rtl { text-align: right;
    ::ng-deep .p-splitbutton-defaultbutton {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-right: 1px solid;
      border-left: 0;
    }
    ::ng-deep .p-splitbutton-menubutton {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    ::ng-deep .p-menuitem-icon {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}
