<div
  [ngClass]="{
    rtl: rtl,
    ltr: !rtl
  }"
  class="checkbox-wrapper"
>
  <div class="field">
    <div class="d-flex align-items-center">
      <p-checkbox
        [(ngModel)]="value"
        [inputId]="inputId"
        [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
        [disabled]="disabled"
        [tabindex]="tabindex"
        [style]="style"
        [styleClass]="styleClass"
        [labelStyleClass]="labelStyleClass"
        [checkboxIcon]="checkboxIcon"
        [readonly]="readonly"
        [trueValue]="trueValue"
        [falseValue]="falseValue"
        [binary]="true"
        (onChange)="_onChange($event)"
      ></p-checkbox>
      <label
        [attr.for]="inputId"
        [ngClass]="{
          'ml-2': !rtl,
          'mr-2': rtl,
          'text-muted': disabled
        }"
        class="mb-0"
      >
        {{ label }}
      </label>
    </div>
    <small *ngIf="hint">{{ hint }}</small>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
        {{ error.value }}
      </small>
    </ng-container>
  </div>
</div>
