:host ::ng-deep {
  .checkbox-wrapper {
    display: flex;
    position: relative;

    .field {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    label {
      margin-bottom: 0;
    }

    p-progressSpinner {
      display: inline-flex;
      margin: 0 0.5rem;

      .p-progress-spinner {
        width: 25px;
        height: 25px;
      }
    }

    &.ltr {
      direction: ltr;

      label {
        margin-left: 0.5rem;
      }

      .message {
        left: 0;
      }
    }

    &.rtl {
      direction: rtl;

      label {
        margin-right: 0.5rem;
      }

      .message {
        right: 0;
      }
    }
  }
}
