<div [ngClass]="{ 'rtl': rtl, 'ltr': !rtl }" class="checkbox-wrapper">
  <div class="field">
    <p-checkbox
      [(ngModel)]="value"
      [inputId]="inputId"
      [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
      [disabled]="disabled"
      [tabindex]="tabindex"
      [style]="style"
      [styleClass]="styleClass"
      [labelStyleClass]="labelStyleClass"
      [checkboxIcon]="checkboxIcon"
      [readonly]="readonly"
      [trueValue]="trueValue"
      [falseValue]="falseValue"
      [binary]="true"
      (onChange)="_onChange($event)"
    ></p-checkbox>
    <label
      [attr.for]="inputId"
      [class.p-disabled]="disabled">
      {{ label }}
    </label>
    <p-progressSpinner *ngIf="loading" strokeWidth="4" fill="var(--surface-ground)"></p-progressSpinner>
  </div>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
