<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="switch-wrapper">
  <div class="field">
    <p-inputSwitch
      [(ngModel)]="value"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [style]="style"
      [styleClass]="styleClass"
      [tabindex]="tabindex"
      [inputId]="inputId"
      [name]="name"
      [disabled]="disabled"
      [readonly]="readonly"
      [trueValue]="trueValue"
      [falseValue]="falseValue"
      [ariaLabel]="ariaLabel"
      [ariaLabelledBy]="ariaLabelledBy"
      (onChange)="_onChange($event)"
    ></p-inputSwitch>
    <p-progressSpinner *ngIf="loading && showAsyncLoading" strokeWidth="4"></p-progressSpinner>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
