<div class="container">
  <p-card header="CascadeSelect"
          subheader="CascadeSelect displays a nested structure of options."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'variant',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'followConfig',
      'disabled',
      'placeholder',
      'showClear',
      ]"
      [(label)]="label"
      [(variant)]="variant"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(followConfig)]="followConfig"
      [(addon)]="addon"
      [(disabled)]="disabled"
      [(placeholder)]="placeholder"
      [(showClear)]="showClear"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-cascade-select
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [options]="options"
        [optionGroupChildren]="['states', 'cities']"
        optionGroupLabel="name"
        [label]="label"
        [variant]="variant"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [icon]="icon"
        [labelPos]="labelPos"
        [iconPos]="iconPos"
        [inputSize]="inputSize"
        [followConfig]="followConfig"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [showClear]="showClear"
      ></ng-cascade-select>
    </form>
  </p-panel>
</div>
