<ng-preview
  component="CascadeSelect"
  description="CascadeSelect displays a nested structure of options."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <ng-cascade-select
        class="w-[30vw] mx-auto"
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [options]="options"
        optionLabel="cname"
        optionGroupLabel="name"
        [optionGroupChildren]="['states', 'cities']"
        placeholder="Select a City">
        @if (additions.addonStart) {
          <ng-template ngTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template ngTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconStart) {
          <ng-template ngTemplate="iconStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconEnd) {
          <ng-template ngTemplate="iconEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </ng-cascade-select>
    }
  </form>
</ng-preview>
