:host {
  display: block;
  padding: 3rem 0;
}

ng-cascade-select {
  display: block;
  width: 30vw;
  margin: auto;
}

p-card {
  &, ~ p-panel {
    margin-bottom: 1rem;
    display: block;
  }

  ::ng-deep .p-card-content {
    padding: 0;
  }
}
