<div class="container">
  <p-card header="InputPassword"
          subheader="InputPassword displays strength indicator for password fields."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'disableConfigChangeEffect',
      'promptLabel',
      'weakLabel',
      'mediumLabel',
      'strongLabel',
      'feedback',
      'toggleMask',
      'disabled',
      'placeholder',
      'showClear',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(addon)]="addon"
      [(promptLabel)]="promptLabel"
      [(weakLabel)]="weakLabel"
      [(mediumLabel)]="mediumLabel"
      [(strongLabel)]="strongLabel"
      [(feedback)]="feedback"
      [(toggleMask)]="toggleMask"
      [(disabled)]="disabled"
      [(placeholder)]="placeholder"
      [(showClear)]="showClear"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-input-password
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [label]="label"
        [filled]="filled"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [icon]="icon"
        [labelPos]="labelPos"
        [iconPos]="iconPos"
        [inputSize]="inputSize"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [promptLabel]="promptLabel"
        [weakLabel]="weakLabel"
        [mediumLabel]="mediumLabel"
        [strongLabel]="strongLabel"
        [feedback]="feedback"
        [toggleMask]="toggleMask"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [showClear]="showClear"
      ></ng-input-password>
    </form>
  </p-panel>
</div>
