<ng-preview
  component="InputPassword"
  description="InputPassword displays strength indicator for password fields."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <ng-input-password formControlName="c1" [validation]="{ required: 'error' }">
        @if (additions.addonStart) {
          <ng-template ngTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template ngTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconStart) {
          <ng-template ngTemplate="iconStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconEnd) {
          <ng-template ngTemplate="iconEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </ng-input-password>
    }
  </form>
</ng-preview>
