<div class="container">
  <p-card header="InputPassword"
          subheader="InputPassword displays strength indicator for password fields."/>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'variant',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'followConfig',
      'promptLabel',
      'weakLabel',
      'mediumLabel',
      'strongLabel',
      'feedback',
      'toggleMask',
      'disabled',
      'placeholder',
      'showClear',
      ]"
      [(label)]="label"
      [(variant)]="variant"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(followConfig)]="followConfig"
      [(addon)]="addon"
      [(promptLabel)]="promptLabel"
      [(weakLabel)]="weakLabel"
      [(mediumLabel)]="mediumLabel"
      [(strongLabel)]="strongLabel"
      [(feedback)]="feedback"
      [(toggleMask)]="toggleMask"
      [(disabled)]="disabled"
      [(placeholder)]="placeholder"
      [(showClear)]="showClear"/>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-input-password
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [label]="label"
        [variant]="variant"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [icon]="icon"
        [labelPos]="labelPos"
        [iconPos]="iconPos"
        [inputSize]="inputSize"
        [followConfig]="followConfig"
        [promptLabel]="promptLabel"
        [weakLabel]="weakLabel"
        [mediumLabel]="mediumLabel"
        [strongLabel]="strongLabel"
        [feedback]="feedback"
        [toggleMask]="toggleMask"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [showClear]="showClear"/>
    </form>
  </p-panel>
</div>
