:host {
  position: relative;
  display: block;

  ::ng-deep {
    .pinch-zoom-content {
      height: inherit;
      text-align: center;

      &.transformed ::ng-deep img {
        cursor: all-scroll;
      }
    }
  }
}

