<div class="container">
  <p-card header="AnimateOnScroll"
          subheader="AnimateOnScroll is a directive to animate content while scrolling."></p-card>

  <div class="row">
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
    <div class="aos-item col-sm-6 col-md-4"><h2>no animation</h2></div>
  </div>
  <div class="box" style="width:100%;height:5000px;background:lightblue"></div>
  <div class="row">
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>1</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>2</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>3</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>4</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>5</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>6</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="flip-down"><h2>4</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="flip-up"><h2>5</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>6</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>7</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>8</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>9</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>10</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>11</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>12</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>13</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>14</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>15</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>16</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>17</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>18</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out"><h2>19</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>20</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out"><h2>21</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>22</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-up"><h2>23</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>24</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>25</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>26</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>27</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>28</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-up"><h2>29</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>30</h2></div>
  </div>
</div>

