<div class="container">
  <!--    <p-card dir="ltr"-->
  <!--            header="AnimateOnScroll"-->
  <!--            subheader="AnimateOnScroll is a directive to animate content while scrolling."></p-card>-->

  <!--    <div class="row py-5">-->
  <!--      <div class="col-12 col-md-6 col-lg-4">-->
  <!--        <div class="card">-->
  <!--          <img src="assets/images/sunset.jpg" class="card-img-top">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Card title</h5>-->
  <!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
  <!--              content.</p>-->
  <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->

  <!--      <div class="col-12 col-md-6 col-lg-4">-->
  <!--        <div class="card">-->
  <!--          <img src="assets/images/mountains.jpg" class="card-img-top">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Card title</h5>-->
  <!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
  <!--              content.</p>-->
  <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->

  <!--      <div class="col-12 col-md-6 col-lg-4">-->
  <!--        <div class="card">-->
  <!--          <img src="assets/images/tiger.jpg" class="card-img-top">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Card title</h5>-->
  <!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
  <!--              content.</p>-->
  <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row py-5">-->
  <!--      <div class="col">-->
  <!--        <h4>Divs containing other elements like buttons or forms</h4>-->
  <!--        <p>-->
  <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet-->
  <!--          elit feugiat, venenatis turpis id, pharetra felis. Cras mollis vitae-->
  <!--          orci eget volutpat. Proin dapibus massa vitae lacus maximus, vitae-->
  <!--          cursus diam sodales. Curabitur laoreet nunc sit amet est sagittis-->
  <!--          rutrum. Nulla at ante sed elit scelerisque vestibulum. Vivamus commodo-->
  <!--          mauris ante, quis varius ante dictum vel. Mauris in est volutpat, auctor-->
  <!--          diam ut, pretium est. Suspendisse ...-->
  <!--        </p>-->

  <!--        <div class="btn-group">-->
  <!--          <button type="button" class="mr-2 btn-lg btn btn-secondary">Left</button>-->
  <!--          <button type="button" class="mr-2 btn-lg btn btn-secondary">Middle</button>-->
  <!--          <button type="button" class="mr-2 btn-lg btn btn-secondary">Right</button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row py-5">-->
  <!--      <div class="col">-->
  <!--        <h4>Sections of text</h4>-->
  <!--        <p>-->
  <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet-->
  <!--          elit feugiat, venenatis turpis id, pharetra felis. Cras mollis vitae-->
  <!--          orci eget volutpat. Proin dapibus massa vitae lacus maximus, vitae-->
  <!--          cursus diam sodales. Curabitur laoreet nunc sit amet est sagittis-->
  <!--          rutrum. Nulla at ante sed elit scelerisque vestibulum. Vivamus commodo-->
  <!--          mauris ante, quis varius ante dictum vel. Mauris in est volutpat, auctor-->
  <!--          diam ut, pretium est. Suspendisse ...-->
  <!--        </p>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row py-5">-->
  <!--      <div class="col">-->
  <!--        <h4>Images</h4>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row">-->
  <!--      <div class="col-md-12 col-lg-6 p-3">-->
  <!--        <img src="assets/images/sunset.jpg" class="img-fluid rounded"/>-->
  <!--      </div>-->
  <!--      <div class="col-md-12 col-lg-6 p-3">-->
  <!--        <img src="assets/images/tiger.jpg" class="img-fluid rounded"/>-->
  <!--      </div>-->
  <!--      <div class="col-md-12 col-lg-6 p-3">-->
  <!--        <img src="assets/images/mountains.jpg" class="img-fluid rounded"/>-->
  <!--      </div>-->
  <!--    </div>-->


  <img src="assets/images/sunset.jpg" class="img-fluid rounded"/>
  <img src="assets/images/sunset.jpg" class="img-fluid rounded"/>
  <img src="assets/images/sunset.jpg" class="img-fluid rounded"/>
<!--  <div class="box" style="width:100%;height:5000px;background:lightblue"></div>-->
  <div class="row aos-all">
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>1</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>2</h2></div>
    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>3</h2></div>
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="flip-down"><h2>4</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="flip-up"><h2>5</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>6</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>7</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>8</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>9</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>10</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>11</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>12</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>13</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>14</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>15</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>16</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-down"><h2>17</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>18</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out"><h2>19</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-up"><h2>20</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out"><h2>21</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>22</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-up"><h2>23</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="zoom-out-down"><h2>24</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>25</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>26</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>27</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>28</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>29</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>30</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>31</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>32</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>33</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>34</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>35</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>36</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>37</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>38</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>39</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>40</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>41</h2></div>-->
    <!--    <div class="aos-item col-sm-6 col-md-4" data-aos="fade-in"><h2>42</h2></div>-->
  </div>
</div>

