<div class="container">
  <p-card dir="ltr"
          header="FilePicker"
          subheader="FilePicker is an advanced uploader with drag and drop support, multi file uploads, auto uploading, progress tracking and validations."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'labelPos',
      'disabled',
      'readonly',
      'multiple',
      'accept',
      'color',
      'fileLimit',
      'chooseLabel',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(labelPos)]="labelPos"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
      [(multiple)]="multiple"
      [(accept)]="accept"
      [(color)]="color"
      [(fileLimit)]="fileLimit"
      [(chooseLabel)]="chooseLabel"
    ></ng-preview-options>
  </p-panel>

  <p-panel dir="ltr" header="Preview">
    <form [formGroup]="form">
      <ng-file-picker2
        formControlName="c1"
        [errors]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [labelPos]="labelPos"
        [disabled]="disabled"
        [readonly]="readonly"
        [multiple]="multiple"
        [accept]="accept"
        [color]="color"
        [fileLimit]="fileLimit"
        [chooseLabel]="chooseLabel"
      ></ng-file-picker2>
    </form>
  </p-panel>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-file-picker2
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [label]="label"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [labelPos]="labelPos"
    [disabled]="disabled"
    [readonly]="readonly"
    [multiple]="multiple"
    [accept]="accept"
    [color]="color"
    [fileLimit]="fileLimit"
    [chooseLabel]="chooseLabel"
  ></ng-file-picker2>
</div>
