<div class="main-content flex flex-col h-full menu-{{tempSidebarType}}"
     [ngClass]="{ 'sidebar-lock': sidebarLock, 'sidebar-open': sidebarVisible }">
  <nav
    class="shadow-sm w-full !bg-transparent backdrop-blur-md h-[68px] fixed top-0 flex items-center justify-between px-4 z-20 border-b transition-all duration-200">
    @if (!sidebarLock) {
      <ng-button icon="pi pi-bars" appearance="text" (click)="toggleSidebarClick()"/>
    }
    <ng-logo/>

    <div class="flex items-center gap-3">
      <ng-button (onClick)="op.toggle($event)" icon="pi pi-sparkles"/>
      <a target="_blank" href="https://github.com/mohammadreza99/powell">
        <ng-button appearance="text" severity="secondary" icon="pi pi-github"/>
      </a>
      <p-popover #op>
        <ng-radio [value]="tempSidebarType" (onChange)="changeSidebarType($event, true);op?.hide()"
                  [options]="sidebarTypes"/>
      </p-popover>
    </div>
  </nav>

  <main class="transition-all duration-200 grow">
    @if (tempSidebarType === 'horizontal') {
      <p-menubar styleClass="overflow-auto [&_ul]:!flex-nowrap [&_ul]:!whitespace-nowrap" [model]="sidebarItems">
        <ng-template pTemplate="start">
          <ng-button class="me-2" (onClick)="op.toggle($event)" icon="pi pi-sparkles"/>
          <ng-logo/>
        </ng-template>
      </p-menubar>
    }

    <ng-content/>
  </main>

  @if (!sidebarVisible) {
    <ng-button
      class="fixed z-[900000] top-[30%] -translate-y-1/2 left-0 transition-all duration-150 ease-[cubic-bezier(0,0,0.2,1)] [&_button]:!rounded-l-none"
      severity="secondary"
      [class.left-[48rem]]="designerSidebarVisible"
      (click)="designerSidebarVisible = !designerSidebarVisible" icon="pi pi-cog"/>
  }

  <p-drawer
    styleClass="w-[20rem]"
    [dismissible]="showBackdrop()"
    [closable]="false"
    [modal]="showBackdrop()"
    [visible]="sidebarVisible"
    [closeOnEscape]="false"
    [blockScroll]="showBackdrop()"
    [position]="config.rtl ? 'right' : 'left'"
    (visibleChange)="toggleSidebar($event)">
    <ng-template pTemplate="header">
      <div class="flex items-center w-full gap-2">
        <ng-input-text
          class="grow"
          [fluid]="true"
          size="small"
          [placeholder]="'searchComponents' | translate"
          [(ngModel)]="searchValue"/>
        @if (!sidebarLock) {
          <ng-button
            appearance="text"
            size="small"
            [rounded]="true"
            icon="pi pi-times"
            (onClick)="toggleSidebarClick()"/>
        }
        @if (!showBackdrop()) {
          <i
            class="ms-2 hidden md:inline border rounded-full cursor-pointer hover:opacity-70 pi pi-circle{{ sidebarLock ? '-fill' : '' }}"
            (click)="toggleLockSidebarClick()"></i>
        }
      </div>
    </ng-template>
    <p-panelMenu [multiple]="false" [model]="sidebarItems | ngFilter:searchValue:'label'"/>
  </p-drawer>
</div>

<p-drawer
  position="left"
  [modal]="false"
  [closable]="false"
  [(visible)]="designerSidebarVisible"
  styleClass="!w-[48rem] max-w-full">
  <ng-designer/>
</p-drawer>

<p-popover #op>
  <ng-radio [value]="tempSidebarType" (onChange)="changeSidebarType($event, true)" [options]="sidebarTypes"/>
</p-popover>
