:host ::ng-deep {
  .main-content {
    &:not(.menu-horizontal) {
      padding-top: 68px;
    }

    &.menu-horizontal {
      nav {
        display: none;
      }
    }

    &.sidebar-lock {
      .p-sidebar, main, nav {
        transform: translateX(0);
      }

      main, nav {
        width: calc(100% - 20rem);
        margin: 0;
      }
    }

    &.menu-push, &.menu-push-mask {
      &.sidebar-open {
        &.ltr {
          main, nav {
            transform: translateX(20rem);
          }
        }

        &.rtl {
          main, nav {
            transform: translateX(-20rem);
          }
        }
      }
    }

    &.menu-static {
      &.sidebar-open {
        main, nav {
          width: calc(100% - 20rem);
        }

        &.ltr {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-hover {
      .p-panelmenu-header-link {
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      &.ltr {
        main, nav {
          margin-left: 5rem;
        }

        .p-sidebar {
          transform: translateX(calc(-100% + 5rem));

          &:hover {
            transform: translateX(0);
          }
        }
      }

      &.rtl {
        main, nav {
          margin-right: 5rem;
        }

        .p-sidebar {
          transform: translateX(calc(100% - 5rem));

          &:hover {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
