<div #mainContent class="main-content menu-{{tempSidebarType}}"
     [ngClass]="{
     'sidebar-lock': sidebarLock,
     'sidebar-open': sidebarVisible,
     'overflow-hidden': ['push', 'push-mask'].includes(sidebarType) && sidebarVisible && !sidebarLock }">

  <div class="inner-wrapper">
    <nav>
      <div>
        @if (!sidebarLock) {
          <pw-button icon="pi pi-bars" appearance="text" (click)="toggleSidebarClick()"/>
        }

        <logo [type]="config.powellConfig.theme.mode == 'light' ? 'dark-horizontal' : 'light-horizontal'"/>

        <div>
          <pw-button
            pTooltip="Design"
            tooltipPosition="bottom"
            severity="secondary"
            (click)="designerSidebarVisible = !designerSidebarVisible"
            icon="pi pi-cog animate-[spin_5s_linear_infinite]"/>
          <pw-button
            icon="pi pi-sparkles"
            pTooltip="Overlay Types"
            tooltipPosition="bottom"
            (onClick)="op.toggle($event)"/>
          <a target="_blank" href="https://github.com/mohammadreza99/powell" pTooltip="Github" tooltipPosition="bottom">
            <pw-button appearance="text" severity="secondary" icon="pi pi-github"/>
          </a>
        </div>
      </div>
    </nav>

    <main>
      @if (tempSidebarType === 'horizontal') {
        <p-menubar styleClass="overflow-auto [&_ul]:!flex-nowrap [&_ul]:!whitespace-nowrap" [model]="sidebarItems">
          <ng-template pTemplate="start">
            <pw-button class="me-2" (onClick)="op.toggle($event)" icon="pi pi-sparkles"/>
            <logo/>
          </ng-template>
        </p-menubar>
      }

      <ng-content/>
    </main>
  </div>

</div>

<p-drawer
  [styleClass]="!showBackdrop ? '!bg-transparent backdrop-blur-lg' : ''"
  [dismissible]="showBackdrop"
  [closable]="false"
  [modal]="showBackdrop"
  [visible]="sidebarVisible"
  [closeOnEscape]="false"
  [blockScroll]="showBackdrop"
  [position]="config.rtl ? 'right' : 'left'"
  [appendTo]="mainContent"
  (visibleChange)="toggleSidebar($event)">
  <ng-template pTemplate="header">
    <div class="flex items-center w-full gap-2">
      <pw-input-text
        class="grow"
        [fluid]="true"
        labelPosition="top"
        size="small"
        [followConfig]="false"
        [placeholder]="'searchComponents' | translate"
        [(ngModel)]="searchValue"/>
      @if (!sidebarLock) {
        <pw-button
          appearance="text"
          size="small"
          [rounded]="true"
          icon="pi pi-times"
          (onClick)="toggleSidebarClick()"/>
      }
      @if (!showBackdrop) {
        <i
          class="ms-2 !hidden md:!inline border rounded-full cursor-pointer hover:opacity-70 pi pi-circle{{ sidebarLock ? '-fill' : '' }}"
          (click)="toggleLockSidebarClick()"></i>
      }
    </div>
  </ng-template>
  <p-panelMenu
    [class]="!showBackdrop ? '[&_.p-panelmenu-panel]:!bg-transparent' : ''"
    [multiple]="false"
    [model]="sidebarItems | pwFilter:searchValue:'label'"/>
</p-drawer>

<p-drawer
  position="left"
  [header]="'designSystem' | translate"
  [modal]="false"
  [closable]="true"
  [(visible)]="designerSidebarVisible"
  styleClass="!w-[48rem] max-w-full !bg-transparent backdrop-blur-lg">
  <designer/>
</p-drawer>

<p-popover #op>
  <pw-radio [value]="tempSidebarType" [options]="sidebarTypes" (onChange)="changeSidebarType($event, true)"/>
</p-popover>

<p-popover #op>
  <pw-radio [value]="tempSidebarType" [options]="sidebarTypes" (onChange)="changeSidebarType($event, true);op?.hide()"/>
</p-popover>
