@reference "tailwindcss";

$sidebarWidth: 20rem;

:host ::ng-deep {
  .main-content {
    @apply h-full;

    .inner-wrapper {
      @apply flex flex-col transition-all duration-200 relative;
    }

    nav {
      @apply shadow-sm w-full !bg-transparent backdrop-blur-md h-[68px] sticky top-0 z-30 border-b border-[var(--p-primary-color)];

      > div {
        @apply flex items-center justify-between h-full;
        > div {
          @apply flex items-center gap-3;
        }
      }
    }

    main {
      @apply grow;
    }

    .p-panelmenu-item-link-active {
      background-color: var(--p-panelmenu-item-focus-background);
      color: var(--p-panelmenu-item-focus-color);
      border-radius: var(--p-panelmenu-item-border-radius);
    }

    &.menu-horizontal {
      nav {
        display: none;
      }
    }

    &.sidebar-lock {
      .inner-wrapper,
      .p-sidebar {
        transform: translateX(0);
      }

      .inner-wrapper {
        width: calc(100% - $sidebarWidth);
        margin-inline-start: auto;
      }
    }

    &:is(.menu-push, .menu-push-mask, .menu-static).sidebar-open {
      .inner-wrapper {
        margin-inline-start: $sidebarWidth;
      }
    }

    &:is(.menu-push, .menu-push-mask).sidebar-open {
      .inner-wrapper {
        width: 100%;
      }
    }
  }

}
