<div class="container">
  <p-card header="ImageSlider"
          subheader="ImageSlider is an advanced content gallery component."></p-card>
  <p-panel header="Options">
    <ng-preview-options
      [previewItems]="[
      'numVisible',
      'showItemNavigators',
      'showThumbnailNavigators',
      'showItemNavigatorsOnHover',
      'changeItemOnIndicatorHover',
      'circular',
      'autoPlay',
      'transitionInterval',
      'showThumbnails',
      'thumbnailsPosition',
      'verticalThumbnailViewPortHeight',
      'showIndicators',
      'showIndicatorsOnItem',
      'indicatorsPosition',
      ]"
      [(numVisible)]="numVisible"
      [(showItemNavigators)]="showItemNavigators"
      [(showThumbnailNavigators)]="showThumbnailNavigators"
      [(showItemNavigatorsOnHover)]="showItemNavigatorsOnHover"
      [(changeItemOnIndicatorHover)]="changeItemOnIndicatorHover"
      [(circular)]="circular"
      [(autoPlay)]="autoPlay"
      [(transitionInterval)]="transitionInterval"
      [(showThumbnails)]="showThumbnails"
      [(thumbnailsPosition)]="thumbnailsPosition"
      [(verticalThumbnailViewPortHeight)]="verticalThumbnailViewPortHeight"
      [(showIndicators)]="showIndicators"
      [(showIndicatorsOnItem)]="showIndicatorsOnItem"
      [(indicatorsPosition)]="indicatorsPosition"
    ></ng-preview-options>
  </p-panel>

  <p-panel header="Preview">
    <ng-image-slider
      [(visible)]="visible"
      [images]="images"
      [numVisible]="numVisible"
      [showItemNavigators]="showItemNavigators"
      [showThumbnailNavigators]="showThumbnailNavigators"
      [showItemNavigatorsOnHover]="showItemNavigatorsOnHover"
      [changeItemOnIndicatorHover]="changeItemOnIndicatorHover"
      [circular]="circular"
      [autoPlay]="autoPlay"
      [transitionInterval]="transitionInterval"
      [showThumbnails]="showThumbnails"
      [thumbnailsPosition]="thumbnailsPosition"
      [verticalThumbnailViewPortHeight]="verticalThumbnailViewPortHeight"
      [showIndicators]="showIndicators"
      [showIndicatorsOnItem]="showIndicatorsOnItem"
      [indicatorsPosition]="indicatorsPosition"
    ></ng-image-slider>
  </p-panel>

  <p-divider align="center">
    <b>Custom Content</b>
  </p-divider>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="row">
        <div *ngFor="let image of images; let index = index;" class="col-3">
          <img class="w-100" [src]="image.preview" [alt]="image.alt" style="cursor: pointer"
               (click)="imageClick(index)"/>
        </div>
      </div>
    </div>
  </div>

  <p-divider align="center">
    <b>Fullscreen</b>
  </p-divider>
  <ng-button label="Open Slider" (click)="onOpenSlider()"></ng-button>
  <ng-image-slider
    [showIndicators]="true"
    [showIndicatorsOnItem]="true"
    [showThumbnails]="true"
    [showItemNavigators]="true"
    [showThumbnailNavigators]="true"
    [changeItemOnIndicatorHover]="false"
    [showItemNavigatorsOnHover]="true"
    [activeIndex]="activeIndex"
    [(visible)]="visible"
    [fullScreen]="true"
    [images]="images"
  ></ng-image-slider>
</div>
