<span #container
      [ngClass]="{
      'p-calendar':true,
      'p-calendar-w-btn': showIcon,
      'p-calendar-timeonly': timeOnly,
      'p-calendar-disabled':disabled,
      'p-focus': focus
      }"
  [ngStyle]="style"
  [class]="styleClass">
  @if (!inline) {
    <input
      #inputfield
      type="text"
      [attr.id]="inputId"
      [attr.name]="name"
      [attr.required]="required"
      [attr.aria-required]="required"
      [value]="inputFieldValue"
      (focus)="onInputFocus($event)"
      (keydown)="onInputKeydown($event)"
      (click)="onInputClick()"
      (blur)="onInputBlur($event)"
      [readonly]="readonlyInput"
      (input)="onUserInput($event)"
      [ngStyle]="inputStyle"
      [class]="inputStyleClass"
      [placeholder]="placeholder||''"
      [disabled]="disabled"
      [attr.tabindex]="tabindex"
      [attr.inputmode]="touchUI ? 'off' : null"
      [ngClass]="'p-inputtext p-component'"
      autocomplete="off"
      [attr.aria-labelledby]="ariaLabelledBy">
      @if (showClear && !disabled && value != null) {
        <i
          class="p-calendar-clear-icon pi pi-times"
          (click)="clear()">
        </i>
      }
      @if (showIcon) {
        <button
          type="button"
          [attr.aria-label]="iconAriaLabel"
          [icon]="icon"
          pButton
          pRipple
          (click)="onButtonClick($event,inputfield)"
          class="p-datepicker-trigger"
          [disabled]="disabled"
          tabindex="0">
        </button>
      }
    }
    @if (inline || overlayVisible) {
      <div
        #contentWrapper
        [class]="panelStyleClass"
        [ngStyle]="panelStyle"
          [ngClass]="{
          'p-datepicker p-component': true,
          'p-datepicker-inline':inline,
          'p-disabled':disabled,
          'p-datepicker-timeonly':timeOnly,
          'p-datepicker-multiple-month': this.numberOfMonths > 1,
          'p-datepicker-monthpicker': (view === 'month'),
          'p-datepicker-touch-ui': touchUI
          }"
          [@overlayAnimation]="touchUI ?
          {
          value: 'visibleTouchUI',
          params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}
          }:
          {
          value: 'visible',
          params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}
          }"
        [@.disabled]="inline === true"
        (@overlayAnimation.start)="onOverlayAnimationStart($event)"
        (@overlayAnimation.done)="onOverlayAnimationDone($event)"
        (click)="onOverlayClick($event)"
        >
        <ng-content select="p-header"/>
        <ng-container *ngTemplateOutlet="headerTemplate"/>
        @if (!timeOnly) {
          <div class="p-datepicker-group-container">
            @for (month of months; track month; let i = $index) {
              <div class="p-datepicker-group">
                <div class="p-datepicker-header">
                  @if (i === 0) {
                    <button
                      (keydown)="onContainerButtonKeydown($event)"
                      class="p-datepicker-prev p-link"
                      (click)="onPrevButtonClick($event)"
                      type="button"
                      pRipple>
                      <span class="p-datepicker-prev-icon pi pi-chevron-left"></span>
                    </button>
                  }
                  <div class="p-datepicker-title">
                    @if (currentView === 'date') {
                      <button
                        type="button"
                        (click)="switchToMonthView($event)"
                        (keydown)="onContainerButtonKeydown($event)"
                        class="p-datepicker-month p-link"
                        [disabled]="switchViewButtonDisabled()">
                        {{ getMonthName(month.month) }}
                      </button>
                    }
                    @if (currentView !== 'year') {
                      <button
                        type="button"
                        (click)="switchToYearView($event)"
                        (keydown)="onContainerButtonKeydown($event)"
                        class="p-datepicker-year p-link"
                        [disabled]="switchViewButtonDisabled()">
                        {{ getYear(month) }}
                      </button>
                    }
                    @if (currentView === 'year') {
                      <span class="p-datepicker-decade">
                        @if (!decadeTemplate) {
                          {{ yearPickerValues()[0] }}
                          -
                          {{ yearPickerValues()[yearPickerValues().length - 1] }}
                        }
                        <ng-container
                          *ngTemplateOutlet="decadeTemplate; context: {$implicit: yearPickerValues}">
                        </ng-container>
                      </span>
                    }
                  </div>
                  <button (keydown)="onContainerButtonKeydown($event)"
                    class="p-datepicker-next p-link"
                    (click)="onNextButtonClick($event)"
                    [style.display]="numberOfMonths === 1 ? 'inline-flex' : (i === numberOfMonths -1) ? 'inline-flex' : 'none'"
                    type="button" pRipple>
                    <span class="p-datepicker-next-icon pi pi-chevron-right"></span>
                  </button>
                </div>
                @if (currentView ==='date') {
                  <div class="p-datepicker-calendar-container">
                    <table class="p-datepicker-calendar">
                      <thead>
                        <tr>
                          @if (showWeek) {
                            <th class="p-datepicker-weekheader p-disabled">
                              <span>هفته</span>
                            </th>
                          }
                          @for (weekDay of weekDays; track weekDay; let begin = $first; let end = $last) {
                            <th scope="col"
                              >
                              <span>{{ weekDay }}</span>
                            </th>
                          }
                        </tr>
                      </thead>
                      <tbody>
                        @for (week of month.dates; track week; let j = $index) {
                          <tr>
                            @if (showWeek) {
                              <td class="p-datepicker-weeknumber">
                                <span class="p-disabled">
                                  {{ month.weekNumbers[j] }}
                                </span>
                              </td>
                            }
                            @for (date of week; track date) {
                              <td
                                [ngClass]="{'p-datepicker-other-month': date.otherMonth,'p-datepicker-today':date.today}">
                                @if (date.otherMonth ? showOtherMonths : true) {
                                  <span
                                    [ngClass]="{'p-highlight':isSelected(date), 'p-disabled': !date.selectable}"
                                    (click)="onDateSelect($event,date)" draggable="false"
                                    (keydown)="onDateCellKeydown($event,date,i)" pRipple>
                                    @if (!dateTemplate) {
                                      {{ date.day }}
                                    }
                                    <ng-container
                                      *ngTemplateOutlet="dateTemplate; context: {$implicit: date}"/>
                                    </span>
                                  }
                                </td>
                              }
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  }
                </div>
              }
            </div>
            @if (currentView === 'month') {
              <div class="p-monthpicker">
                @for (m of monthPickerValues(); track m; let i = $index) {
                  <span (click)="onMonthSelect($event, i)"
                    (keydown)="onMonthCellKeydown($event,i)" class="p-monthpicker-month"
                    [ngClass]="{'p-highlight': isMonthSelected(i), 'p-disabled': isMonthDisabled(i)}" pRipple>
                    {{ m }}
                  </span>
                }
              </div>
            }
            @if (currentView === 'year') {
              <div class="p-yearpicker">
                @for (y of yearPickerValues(); track y) {
                  <span (click)="onYearSelect($event, y)"
                    (keydown)="onYearCellKeydown($event,y)" class="p-yearpicker-year"
                    [ngClass]="{'p-highlight': isYearSelected(y)}" pRipple>
                    {{ y }}
                  </span>
                }
              </div>
            }
          }
          @if ((showTime||timeOnly) && currentView === 'date') {
            <div class="p-timepicker">
              <div class="p-hour-picker">
                <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
                  (keydown.enter)="incrementHour($event)" (keydown.space)="incrementHour($event)"
                  (mousedown)="onTimePickerElementMouseDown($event, 0, 1)"
                  (mouseup)="onTimePickerElementMouseUp($event)"
                  (keyup.enter)="onTimePickerElementMouseUp($event)"
                  (keyup.space)="onTimePickerElementMouseUp($event)"
                  (mouseleave)="onTimePickerElementMouseLeave()" pRipple>
                  <span class="pi pi-chevron-up"></span>
                </button>
                <span>@if (currentHour < 10) {
                  0
                }
              {{ currentHour }}</span>
              <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
                (keydown.enter)="decrementHour($event)" (keydown.space)="decrementHour($event)"
                (mousedown)="onTimePickerElementMouseDown($event, 0, -1)"
                (mouseup)="onTimePickerElementMouseUp($event)"
                (keyup.enter)="onTimePickerElementMouseUp($event)"
                (keyup.space)="onTimePickerElementMouseUp($event)"
                (mouseleave)="onTimePickerElementMouseLeave()" pRipple>
                <span class="pi pi-chevron-down"></span>
              </button>
            </div>
            <div class="p-separator">
              <span>{{ timeSeparator }}</span>
            </div>
            <div class="p-minute-picker">
              <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
                (keydown.enter)="incrementMinute($event)" (keydown.space)="incrementMinute($event)"
                (mousedown)="onTimePickerElementMouseDown($event, 1, 1)"
                (mouseup)="onTimePickerElementMouseUp($event)"
                (keyup.enter)="onTimePickerElementMouseUp($event)"
                (keyup.space)="onTimePickerElementMouseUp($event)"
                (mouseleave)="onTimePickerElementMouseLeave()" pRipple>
                <span class="pi pi-chevron-up"></span>
              </button>
              <span>@if (currentMinute < 10) {
                0
              }
            {{ currentMinute }}</span>
            <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
              (keydown.enter)="decrementMinute($event)" (keydown.space)="decrementMinute($event)"
              (mousedown)="onTimePickerElementMouseDown($event, 1, -1)"
              (mouseup)="onTimePickerElementMouseUp($event)"
              (keyup.enter)="onTimePickerElementMouseUp($event)"
              (keyup.space)="onTimePickerElementMouseUp($event)"
              (mouseleave)="onTimePickerElementMouseLeave()" pRipple>
              <span class="pi pi-chevron-down"></span>
            </button>
          </div>
          @if (showSeconds) {
            <div class="p-separator">
              <span>{{ timeSeparator }}</span>
            </div>
          }
          @if (showSeconds) {
            <div class="p-second-picker">
              <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
                (keydown.enter)="incrementSecond($event)" (keydown.space)="incrementSecond($event)"
                (mousedown)="onTimePickerElementMouseDown($event, 2, 1)"
                (mouseup)="onTimePickerElementMouseUp($event)"
                (keyup.enter)="onTimePickerElementMouseUp($event)"
                (keyup.space)="onTimePickerElementMouseUp($event)"
                (mouseleave)="onTimePickerElementMouseLeave()" pRipple>
                <span class="pi pi-chevron-up"></span>
              </button>
              <span>@if (currentSecond < 10) {
                0
              }
            {{ currentSecond }}</span>
            <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
              (keydown.enter)="decrementSecond($event)" (keydown.space)="decrementSecond($event)"
              (mousedown)="onTimePickerElementMouseDown($event, 2, -1)"
              (mouseup)="onTimePickerElementMouseUp($event)"
              (keyup.enter)="onTimePickerElementMouseUp($event)"
              (keyup.space)="onTimePickerElementMouseUp($event)"
              (mouseleave)="onTimePickerElementMouseLeave()" pRipple>
              <span class="pi pi-chevron-down"></span>
            </button>
          </div>
        }
        @if (hourFormat=='12') {
          <div class="p-ampm-picker">
            <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
              (click)="toggleAMPM($event)" (keydown.enter)="toggleAMPM($event)" pRipple>
              <span class="pi pi-chevron-up"></span>
            </button>
            <span>{{ pm ? 'PM' : 'AM' }}</span>
            <button class="p-link" type="button" (keydown)="onContainerButtonKeydown($event)"
              (click)="toggleAMPM($event)" (keydown.enter)="toggleAMPM($event)" pRipple>
              <span class="pi pi-chevron-down"></span>
            </button>
          </div>
        }
      </div>
    }
    @if (showButtonBar) {
      <div class="p-datepicker-buttonbar">
        <button type="button" [label]="todayLabel" (keydown)="onContainerButtonKeydown($event)"
          (click)="onTodayButtonClick($event)" pButton pRipple
        [ngClass]="[todayButtonStyleClass]"></button>
        <button type="button" [label]="clearLabel" (keydown)="onContainerButtonKeydown($event)"
          (click)="onClearButtonClick($event)" pButton pRipple
        [ngClass]="[clearButtonStyleClass]"></button>
      </div>
    }
    <ng-content select="p-footer"/>
    <ng-container *ngTemplateOutlet="footerTemplate"/>
  </div>
}
</span>
