$baseUrl: "/assets/styles/fonts/iran-sans/plain";

@font-face {
  font-family: IranSans;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/IranSans-ExtraLight.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/IranSans-ExtraLight.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: IranSans;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/IranSans-Light.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/IranSans-Light.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: IranSans;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/IranSans-Regular.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/IranSans-Regular.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: IranSans;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/IranSans-Medium.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/IranSans-Medium.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: IranSans;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/IranSans-Bold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/IranSans-Bold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: IranSans;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/IranSans-Black.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/IranSans-Black.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}
