<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="slider-wrapper">
  <div class="field">
    <p-slider
      [(ngModel)]="value"
      [attr.id]="inputId"
      [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
      [animate]="animate"
      [disabled]="disabled"
      [min]="min"
      [max]="max"
      [orientation]="orientation"
      [step]="step"
      [range]="range"
      [style]="style"
      [styleClass]="styleClass"
      [tabindex]="tabindex"
      (onChange)="_onChange($event)"
      (onSlideEnd)="_onSlideEnd($event)"
    ></p-slider>
  </div>
  <label
    class="fix-label align-self-start"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | labelStar:showRequiredStar:isRequired() }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
