<div class="container">
  <p-card dir="ltr"
          header="Checkbox"
          subheader="Checkbox is an extension to standard checkbox element with theming."></p-card>
<p-panel dir="ltr" header="Options">
  <ng-preview-options
    [previewItems]="[]"
  ></ng-preview-options>
</p-panel>
    <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
      <h4>Preview</h4>
      <ng-single-checkbox
        formControlName="c1"
        [errors]="{ required: 'error' }"
      ></ng-single-checkbox>
      <ng-button type="submit" label="submit"></ng-button>
    </form>

    <h4>NG MODEL</h4>
    VALUE :
    <pre>{{binding | json}}</pre>
    <ng-single-checkbox
      name="myInput"
      required
      [(ngModel)]="binding"
      [errors]="{ required: 'error' }"
    ></ng-single-checkbox>
</div>
