:host ::ng-deep {
  .multi-checkbox-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    .field {
      flex-grow: 1;
      flex-wrap: wrap;
    }

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .message {
        left: 0;
      }
    }

    &.rtl {
      .field,
      label,
      .message {
        direction: rtl;
      }

      .message {
        right: 0;
      }
    }
  }
}
