<div class="main-content" [ngClass]="getWrapperClasses()">
  <nav class="navbar navbar-expand shadow-sm fixed-top">
    <ng-button
      *ngIf="!sidebarLock && tempSidebarType != 'hover' && tempSidebarType != 'horizontal'"
      icon="pi pi-bars"
      color="primary"
      appearance="text"
      (click)="toggleSidebarClick()">
    </ng-button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav p-0 m{{ fa ? 'r' : 'l' }}-auto">
        <li class="nav-item p{{ fa ? 'r' : 'l' }}-4 m{{ fa ? 'r' : 'l' }}-4 border-{{ fa ? 'right' : 'left' }}"
            (click)="accountMenu.toggle($event)">
          <span class="m{{ fa ? 'l' : 'r' }}-3">{{ "Admin" }}</span>
          <p-avatar shape="circle" size="large" icon="pi pi-user"></p-avatar>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <p-menubar [model]="sidebarItems" *ngIf="tempSidebarType == 'horizontal'">
      <ng-template pTemplate="start">
        <ng-logo width="50px"></ng-logo>
      </ng-template>
    </p-menubar>

    <ng-content></ng-content>
  </main>

  <p-sidebar
    [visible]="sidebarVisible"
    [blockScroll]="isModalSidebar"
    [modal]="isModalSidebar"
    [position]="fa ? 'right' : 'left'"
    [showCloseIcon]="false"
    [closeOnEscape]="false"
    (visibleChange)="toggleSidebar($event)">
    <div class="sticky-top section-top pt-3">
      <div class="d-flex align-items-center justify-content-between">
        <ng-logo width="50px"></ng-logo>
        <i class="d-none d-md-block border rounded-circle pi pi-circle{{ sidebarLock ? '-fill' : '' }}"
           (click)="toggleLockSidebarClick()"></i>
      </div>
      <ng-input-text [rtl]="false"
                     inputSize="sm"
                     class="d-block my-3"
                     placeholder="Search Components..."
                     [(ngModel)]="searchValue">
      </ng-input-text>
    </div>
    <p-panelMenu [multiple]="false" [model]="sidebarItems | ngFilter:searchValue:'label'"></p-panelMenu>
  </p-sidebar>

  <ng-button class="config-btn" color="secondary" (click)="configSidebarVisible = true" icon="pi pi-cog"></ng-button>
</div>

<p-menu
  #accountMenu
  styleClass="rtl"
  [baseZIndex]="1000"
  [popup]="true"
  [model]="accountItems"
></p-menu>

<p-sidebar
  position="left"
  [(visible)]="configSidebarVisible">
  <div class="h-100 py-3">
    <ng-dropdown
      [label]="'Dir' | translate"
      inputSize="sm"
      labelPos="fix-side"
      [labelWidth]="70"
      class="d-block mb-3"
      [value]="language"
      [options]="[{ label: 'LTR', value: 'en' }, { label: 'RTL', value: 'fa' }]"
      [rtl]="fa"
      (onChange)="changeLang($event)"
    ></ng-dropdown>
    <ng-dropdown
      [label]="'Theme' | translate"
      inputSize="sm"
      labelPos="fix-side"
      [labelWidth]="70"
      class="d-block mb-3"
      [value]="theme"
      [options]="themes"
      [rtl]="fa"
      (onChange)="changeTheme($event)"
    ></ng-dropdown>
    <ng-dropdown
      [label]="'Sidebar' | translate"
      inputSize="sm"
      labelPos="fix-side"
      [labelWidth]="70"
      class="d-block mb-3"
      [value]="tempSidebarType"
      [options]="sidebarTypes"
      [rtl]="fa"
      (onChange)="changeSidebarType($event)"
    ></ng-dropdown>
  </div>
</p-sidebar>
