<nav class="navbar navbar-expand-sm shadow-sm fixed-top">
  <ng-button
    *ngIf="!sidebarLock && sidebarType != 'hover' && sidebarType != 'horizontal'"
    icon="pi pi-bars"
    color="primary"
    appearance="text"
    (click)="toggleSidebarClick()">
  </ng-button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav p-0 m{{ fa ? 'r' : 'l' }}-auto">
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link"-->
      <!--           routerLink="/auth"-->
      <!--           routerLinkActive="active">-->
      <!--          {{ "Login" | translate }}/{{'Register' | translate}}-->
      <!--        </a>-->
      <!--      </li>-->
      <li class="nav-item">
        <ng-button color="secondary" (click)="configOverlay.toggle($event)" icon="pi pi-cog"></ng-button>
      </li>
      <li class="nav-item p{{ fa ? 'r' : 'l' }}-4 m{{ fa ? 'r' : 'l' }}-4 border-{{ fa ? 'right' : 'left' }}"
          (click)="accountMenu.toggle($event)">
        <span class="m{{ fa ? 'l' : 'r' }}-3">{{ "Admin" }}</span>
        <p-avatar shape="circle" size="large" icon="pi pi-user"></p-avatar>
      </li>
    </ul>
  </div>
</nav>

<p-menubar [model]="sidebarItems" *ngIf="sidebarType == 'horizontal'">
  <ng-template pTemplate="start">
    <ng-logo width="50px"></ng-logo>
  </ng-template>
</p-menubar>

<p-sidebar
  [visible]="sidebarVisible"
  [blockScroll]="isModalSidebar"
  [modal]="isModalSidebar"
  [position]="fa ? 'right' : 'left'"
  [showCloseIcon]="false"
  (visibleChange)="toggleSidebar($event)">
  <div class="sticky-top section-top pt-3">
    <div class="d-flex align-items-center justify-content-between">
      <ng-logo width="50px"></ng-logo>
      <i class="border rounded-circle p-2 bg-light pi pi-circle{{ sidebarLock ? '-fill' : '' }}"
         (click)="toggleLockSidebarClick()"></i>
    </div>
    <ng-input-text inputSize="sm" class="d-block my-3" placeholder="Search Components..."
                   [(ngModel)]="searchValue"></ng-input-text>
  </div>
  <p-panelMenu [multiple]="false" [model]="sidebarItems | ngFilter:searchValue:'label'"></p-panelMenu>
</p-sidebar>

<p-menu
  #accountMenu
  [baseZIndex]="1000"
  [popup]="true"
  [model]="accountItems"
></p-menu>

<p-overlayPanel #configOverlay>
  <ng-template pTemplate>
    <ng-dropdown
      [label]="'Dir' | translate"
      labelPos="fix-side"
      [labelWidth]="70"
      class="d-block mb-3"
      [value]="language"
      [options]="[{ label: 'LTR', value: 'en' }, { label: 'RTL', value: 'fa' }]"
      [rtl]="fa"
      (onChange)="changeLang($event)"
    ></ng-dropdown>
    <ng-dropdown
      [label]="'Theme' | translate"
      labelPos="fix-side"
      [labelWidth]="70"
      class="d-block mb-3"
      [value]="theme"
      [options]="themes"
      [rtl]="fa"
      (onChange)="changeTheme($event)"
    ></ng-dropdown>
    <ng-dropdown
      [label]="'Sidebar' | translate"
      labelPos="fix-side"
      [labelWidth]="70"
      class="d-block mb-3"
      [value]="sidebarType"
      [options]="sidebarTypes"
      [rtl]="fa"
      (onChange)="changeSidebarType($event)"
    ></ng-dropdown>
  </ng-template>
</p-overlayPanel>
