@import "mixins";

:host ::ng-deep {
  .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 68px;

    nav {
      height: 68px;
      background-color: var(--surface-b);
      border-bottom: 1px solid var(--surface-d);
      transition: all 200ms;

      .nav-item {
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    main {
      transition: all 200ms;
      flex: 1;
    }

    .config-btn {
      position: fixed;
      top: 30%;
      transform: translateY(-50%);
      left: 0;
      transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
      z-index: 9000000;

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.active {
        left: 30rem;
      }
    }

    &.menu-overlay, &.menu-overlay-mask {
      &.sidebar-lock {
        .pi-times {
          display: none;
        }

        &:not(.rtl) {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            text-align: right;
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-push, &.menu-push-mask {
      &.sidebar-open {
        &:not(.rtl) {
          main, nav {
            transform: translateX(20rem);
          }
        }

        &.rtl {
          main, nav {
            transform: translateX(-20rem);
          }
        }
      }

      &.sidebar-lock {
        &:not(.rtl) {
          main, nav {
            transform: translateX(0);
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            transform: translateX(0);
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-static {
      &.sidebar-open {
        &:not(.rtl) {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-hover {
      .p-panelmenu-header-link {
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .p-menuitem-icon {
        margin: 0 !important;
      }

      &:not(.rtl) {
        main, nav {
          margin-left: 5rem;
        }

        .p-sidebar {
          transform: translateX(calc(-100% + 5rem));

          &:hover {
            transform: translateX(0);
          }
        }
      }

      &.rtl {
        main, nav {
          margin-right: 5rem;
        }

        .p-sidebar {
          transform: translateX(calc(100% - 5rem));

          &:hover {
            transform: translateX(0);
          }
        }
      }

      &.sidebar-lock {
        .p-sidebar {
          transform: translateX(0);
        }

        &:not(.rtl) {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            margin-right: 20rem;
          }
        }
      }
    }
  }

  p-sidebar {
    .p-sidebar {
      background: var(--surface-b);

      .p-divider .p-divider-content {
        background-color: var(--surface-b);
      }

      .p-sidebar-content {
        height: 100%;
      }

      &.components-sidebar {
        .p-sidebar-header {
          padding: 0;
        }
      }

      .section-top {
        background: var(--surface-b);

        i {
          cursor: pointer;

          &:hover {
            opacity: .7;
          }
        }
      }

      .p-panelmenu {
        &-header-link {
          background: var(--surface-b);
          border: 0;
          transition: all .2s;
          border-radius: 8px !important;

          .p-panelmenu-icon {
            margin-right: 0;
            margin-left: 0.5rem;
          }

          &:focus {
            box-shadow: none;
          }
        }

        .p-menuitem-link-active {
          background: var(--surface-c);
          border-color: var(--surface-c);
        }

        .p-menuitem-icon {
          margin-right: 0;
          margin-left: 0.5em;
        }
      }

      &.p-sidebar-left {
        .p-panelmenu {
          &-header-link {
            .p-panelmenu-icon {
              margin-left: 0;
              margin-right: 0.5rem;
            }
          }

          .p-menuitem-icon {
            margin-left: 0;
            margin-right: 0.5em;
          }
        }
      }
    }

  }
}
