:host ::ng-deep {
  .list-box-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    p-listbox,
    .p-listbox,
    .p-hint , .p-error, .error-wrapper  {
      width: 100%;
    }

    .field {
      flex-grow: 1;

      p-listbox {
        &.has-before {
          .p-listbox {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &.has-after {
          .p-listbox {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    .error-wrapper {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .error-wrapper {
        left: 0;
      }
    }

    &.rtl {
      .p-listbox,
      .p-inputtext,
      label,
      .p-hint , .p-error, .error-wrapper  {
        direction: rtl;
      }

      .error-wrapper {
        right: 0;
      }

      .p-listbox {
        .p-listbox-list .p-checkbox {
          margin-right: 0;
          margin-left: 0.5rem;
        }

        .p-listbox-header {
          .p-checkbox {
            margin-right: 0;
            margin-left: 0.5rem;
          }
        }

        .p-listbox-filter-container {
          .p-listbox-filter {
            padding-right: 0.5rem;
            padding-left: 1.5rem;
          }

          .p-listbox-filter-icon {
            right: auto;
            left: 0.5rem;
          }
        }
      }
    }
  }
}
