<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="list-box-wrapper">
  <div
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-input-filled': filled
    }"
    class="field">
    <p-listbox
      [(ngModel)]="value"
      [ngAddon]="addon"
      [addonDisabled]="disabled"
      [attr.id]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [checkbox]="checkbox"
      [dataKey]="dataKey"
      [disabled]="disabled"
      [filter]="filter"
      [filterMatchMode]="filterMatchMode"
      [filterValue]="filterValue"
      [filterLocale]="filterLocale"
      [filterBy]="filterBy"
      [filterPlaceHolder]="filterPlaceHolder"
      [emptyFilterMessage]="emptyFilterMessage"
      [listStyle]="listStyle"
      [listStyleClass]="listStyleClass"
      [metaKeySelection]="metaKeySelection"
      [multiple]="multiple"
      [readonly]="readonly"
      [emptyMessage]="emptyMessage"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [optionGroupLabel]="optionGroupLabel"
      [optionGroupChildren]="optionGroupChildren"
      [group]="group"
      [showToggleAll]="showToggleAll"
      [style]="style"
      [styleClass]="styleClass"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onChange)="_onChange($event)"
      (onDblClick)="_onDblClick($event)"
      (onClick)="_onClick($event)"
    >
      <ng-template pTemplate="header" *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-template>
      <ng-template pTemplate="item" let-item *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="group" let-group *ngIf="groupTemplate">
        <ng-container *ngTemplateOutlet="groupTemplate;context:{$implicit:group}"></ng-container>
      </ng-template>
      <ng-template pTemplate="filter" let-options="options" *ngIf="filterTemplate">
        <ng-container *ngTemplateOutlet="filterTemplate;context:{options:options}"></ng-container>
      </ng-template>
      <ng-template pTemplate="empty" *ngIf="emptyTemplate">
        <ng-container *ngTemplateOutlet="emptyTemplate;context"></ng-container>
      </ng-template>
      <ng-template pTemplate="emptyfilter" *ngIf="emptyFilterTemplate">
        <ng-container *ngTemplateOutlet="emptyFilterTemplate"></ng-container>
      </ng-template>
      <ng-template pTemplate="footer" *ngIf="footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate;context"></ng-container>
      </ng-template>
    </p-listbox>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint && showHint()" class="p-hint">{{ hint }}</small>
  <div class="position-absolute error-wrapper">
    <ng-container *ngFor="let error of errors | keyvalue">
      <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
        {{ error.value }}
      </small>
    </ng-container>
  </div>
</div>
