<div class="container">
  <p-card header="RadioButton"
          subheader="RadioButton is an extension to standard radio button element with theming."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'fixLabelPos',
      'disableConfigChangeEffect',
      'orientation',
      'disabled',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(fixLabelPos)]="labelPos"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(orientation)]="orientation"
      [(disabled)]="disabled"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-radio
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [options]="options"
        [label]="label"
        [filled]="filled"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [labelPos]="labelPos"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [orientation]="orientation"
        [disabled]="disabled"
      ></ng-radio>
    </form>
  </p-panel>
</div>
