:host {
  display: block;

  ::ng-deep {
    .toggle-switch-inner {
      display: flex;
      align-items: center;
      gap: 1rem;

      p-progressSpinner {
        &, .p-progressspinner {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
