:host {
  display: block;

  ::ng-deep {
    p-progressSpinner {
      display: inline-flex;
      margin: 0 0.5rem;

      .p-progressspinner {
        width: 25px;
        height: 25px;
      }
    }
  }
}
