<div class="toggle-switch-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-toggleSwitch
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [style]="style"
        [styleClass]="styleClass"
        [tabindex]="tabindex"
        [inputId]="inputId"
        [name]="name"
        [disabled]="disabled"
        [readonly]="readonly"
        [trueValue]="trueValue"
        [falseValue]="falseValue"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [autofocus]="autofocus"
        (onChange)="_onChange($event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()]"/>
            </ng-template>
          }
        }
      </p-toggleSwitch>
      @if (loading && showAsyncLoading) {
        <p-progressSpinner strokeWidth="4"/>
      }
    </ng-template>
  </ng-form-field>
</div>
