<div class="tree-wrapper" [attr.dir]="rtl ? 'rtl' : 'ltr'">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [fluid]="true">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-tree
        [attr.id]="id"
        [class.ng-invalid]="isInvalid"
        [value]="value"
        [selectionMode]="selectionMode"
        [loadingMode]="loadingMode"
        [selection]="selection"
        [contextMenu]="contextMenu"
        [draggableScope]="draggableScope"
        [droppableScope]="droppableScope"
        [draggableNodes]="draggableNodes"
        [droppableNodes]="droppableNodes"
        [metaKeySelection]="metaKeySelection"
        [propagateSelectionUp]="propagateSelectionUp"
        [propagateSelectionDown]="propagateSelectionDown"
        [loading]="loading"
        [loadingIcon]="loadingIcon"
        [emptyMessage]="emptyMessage"
        [ariaLabel]="ariaLabel"
        [togglerAriaLabel]="togglerAriaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [validateDrop]="validateDrop"
        [filter]="filter"
        [filterInputAutoFocus]="filterInputAutoFocus"
        [filterBy]="filterBy"
        [filterMode]="filterMode"
        [filterOptions]="filterOptions"
        [filterPlaceholder]="filterPlaceholder"
        [filteredNodes]="filteredNodes"
        [filterLocale]="filterLocale"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [indentation]="indentation"
        [_templateMap]="_templateMap"
        [trackBy]="trackBy"
        [highlightOnSelect]="highlightOnSelect"
        (selectionChange)="_onSelectionChange($event)"
        (onNodeSelect)="emitter('onNodeSelect',$event)"
        (onNodeUnselect)="emitter('onNodeUnselect',$event)"
        (onNodeExpand)="emitter('onNodeExpand', $event)"
        (onNodeCollapse)="emitter('onNodeCollapse', $event)"
        (onNodeContextMenuSelect)="emitter('onNodeContextMenuSelect', $event)"
        (onNodeDrop)="emitter('onNodeDrop', $event)"
        (onNodeDoubleClick)="emitter('onNodeDoubleClick', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)"
        (onScroll)="emitter('onScroll', $event)"
        (onScrollIndexChange)="emitter('onScrollIndexChange', $event)"
        (onFilter)="emitter('onFilter', $event)">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type" let-item let-options="options" let-partialSelected="partialSelected">
              <ng-container
                *ngTemplateOutlet="templateMap[t.type];context:{$implicit:item,options,partialSelected}"/>
            </ng-template>
          }
        }
      </p-tree>
    </ng-template>
  </pw-form-field>
</div>
