<div class="tree-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-element-additions
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [fluid]="true">
    <ng-template ngTemplate="element">
      <p-tree
        [attr.id]="id"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [value]="items"
        [selectionMode]="selectionMode"
        [loadingMode]="loadingMode"
        [selection]="selection"
        [style]="style"
        [styleClass]="styleClass"
        [contextMenu]="contextMenu"
        [draggableScope]="draggableScope"
        [droppableScope]="droppableScope"
        [draggableNodes]="draggableNodes"
        [droppableNodes]="droppableNodes"
        [metaKeySelection]="metaKeySelection"
        [propagateSelectionUp]="propagateSelectionUp"
        [propagateSelectionDown]="propagateSelectionDown"
        [loading]="loading"
        [loadingIcon]="loadingIcon"
        [emptyMessage]="emptyMessage"
        [ariaLabel]="ariaLabel"
        [togglerAriaLabel]="togglerAriaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [validateDrop]="validateDrop"
        [filter]="filter"
        [filterBy]="filterBy"
        [filterMode]="filterMode"
        [filterPlaceholder]="filterPlaceholder"
        [filteredNodes]="filteredNodes"
        [filterLocale]="filterLocale"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [indentation]="indentation"
        [_templateMap]="_templateMap"
        [trackBy]="trackBy"
        [highlightOnSelect]="highlightOnSelect"
        (selectionChange)="_onSelectionChange($event)"
        (onNodeSelect)="emitter('onNodeSelect',$event)"
        (onNodeUnselect)="emitter('onNodeUnselect',$event)"
        (onNodeExpand)="emitter('onNodeExpand', $event)"
        (onNodeCollapse)="emitter('onNodeCollapse', $event)"
        (onNodeContextMenuSelect)="emitter('onNodeContextMenuSelect', $event)"
        (onNodeDrop)="emitter('onNodeDrop', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)"
        (onScroll)="emitter('onScroll', $event)"
        (onScrollIndexChange)="emitter('onScrollIndexChange', $event)"
        (onFilter)="emitter('onFilter', $event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()" let-item let-options="options" let-partialSelected="partialSelected">
              <ng-container
                *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,options,partialSelected}"/>
            </ng-template>
          }
        }
      </p-tree>
    </ng-template>
  </ng-element-additions>

  @if (hint && showHint()) {
    <div class="message">{{ hint }}</div>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <div>
          {{ v.value }}
        </div>
      }
    }
  </div>
</div>
