@import "mixins";

:host ::ng-deep {
  nav {
    height: 68px;
    background-color: var(--surface-b);
    border-bottom: 1px solid var(--surface-d);
    transition: all 200ms;

    .nav-item {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  p-sidebar {
    .p-sidebar {
      background: var(--surface-b);

      .p-sidebar-header {
        padding: 0;
      }

      .section-top {
        background: var(--surface-b);

        i {
          cursor: pointer;

          &:hover {
            opacity: .7;
          }
        }
      }

      .p-panelmenu {
        &-header-link {
          background: var(--surface-b);
          border: 0;
          transition: all .2s;
          border-radius: 8px !important;

          .p-panelmenu-icon {
            margin-right: 0;
            margin-left: 0.5rem;
          }

          &:focus {
            box-shadow: none;
          }
        }

        .p-menuitem-link-active {
          background: var(--surface-c);
          border-color: var(--surface-c);
        }

        .p-menuitem-icon {
          margin-right: 0;
          margin-left: 0.5em;
        }
      }
    }

    &[ng-reflect-position="left"] {
      .p-panelmenu {
        &-header-link {
          .p-panelmenu-icon {
            margin-left: 0;
            margin-right: 0.5rem;
          }
        }

        .p-menuitem-icon {
          margin-left: 0;
          margin-right: 0.5em;
        }
      }
    }
  }
}
