<div class="container">
  <p-card dir="ltr"
          header="CascadeSelect"
          subheader="CascadeSelect displays a nested structure of options."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-cascade-select
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
      [options]="options"
      [optionGroupChildren]="['states', 'cities']"
      optionLabel="cname"
      optionValue="code"
      optionGroupLabel="name"
    ></ng-cascade-select>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <br>
  {{binding}}
  <ng-cascade-select
    name="myInput"
    required
    [(ngModel)]="binding"
    [addon]="addon"
    [errors]="{ required: 'error' }"
    [options]="options"
    [optionGroupChildren]="['states', 'cities']"
    optionLabel="cname"
    optionValue="code"
    optionGroupLabel="name"
  ></ng-cascade-select>
</div>
