<ng-preview-options
  [previewItems]="[
  'hint',
  'label',
  'labelPos',
  'labelWidth',
  'icon',
  'iconPos',
  'selectiveSize',
  'filled',
  'showRequiredStar',
  'rtl',
  'placeholder',
  'disabled'
  ]"
  [(hint)]="hint"
  [(label)]="label"
  [(labelPos)]="labelPos"
  [(labelWidth)]="labelWidth"
  [(icon)]="icon"
  [(iconPos)]="iconPos"
  [(selectiveSize)]="inputSize"
  [(filled)]="filled"
  [(showRequiredStar)]="showRequiredStar"
  [(rtl)]="rtl"
  [(placeholder)]="placeholder"
  [(disabled)]="disabled"
></ng-preview-options>

<form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
  <h4>PREVIEW</h4>
  <ng-cascade-select
    [options]="options"
    optionLabel="cname"
    optionValue="code"
    optionGroupLabel="name"
    formControlName="c1"
    [optionGroupChildren]="['states', 'cities']"
    [errors]="{ required: 'error' }"
    [hint]="hint"
    [label]="label"
    [labelPos]="labelPos"
    [labelWidth]="labelWidth"
    [icon]="icon"
    [iconPos]="iconPos"
    [inputSize]="inputSize"
    [filled]="filled"
    [showRequiredStar]="showRequiredStar"
    [rtl]="rtl"
    [placeholder]="placeholder"
    [disabled]="disabled">
  </ng-cascade-select>
  <ng-button type="submit" label="submit"></ng-button>
</form>

<h4>NG MODEL</h4>
VALUE :
<br>
{{binding}}
<ng-cascade-select
  name="myInput"
  required
  [(ngModel)]="binding"
  [options]="options"
  optionLabel="cname"
  optionValue="code"
  optionGroupLabel="name"
  [optionGroupChildren]="['states', 'cities']"
  [errors]="{ required: 'error' }"
  [hint]="hint"
  [label]="label"
  [labelPos]="labelPos"
  [labelWidth]="labelWidth"
  [icon]="icon"
  [iconPos]="iconPos"
  [inputSize]="inputSize"
  [filled]="filled"
  [showRequiredStar]="showRequiredStar"
  [rtl]="rtl"
  [placeholder]="placeholder"
  [disabled]="disabled"
></ng-cascade-select>
