<p-toast
  [class.rtl]="options.rtl"
  [preventOpenDuplicates]="options.preventOpenDuplicates"
  [preventDuplicates]="options.preventDuplicates"
  [position]="options.position"
  [style]="options.style"
  [baseZIndex]="options.baseZIndex"
  [autoZIndex]="options.autoZIndex"
  [showTransitionOptions]="options.showTransitionOptions"
  [hideTransitionOptions]="options.hideTransitionOptions"
  [showTransformOptions]="options.showTransformOptions"
  [hideTransformOptions]="options.hideTransformOptions"
  [breakpoints]="options.breakpoints"
></p-toast>
