:host {
  display: block;
  padding: 30px;
}

p-card {
  margin-bottom: 1rem;
  display: block;

  ::ng-deep .p-card-content {
    padding: 0;
  }
}

h4 {
  background-color: var(--surface-d);
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem
}
