<div class="container">
  <p-card header="Tree"
          subheader="Tree is used to display hierarchical data."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'fixLabelPos',
      'addon',
      'disableConfigChangeEffect',
      'selectionMode',
      'layout',
      'propagateSelectionUp',
      'propagateSelectionDown',
      'emptyMessage',
      'filter',
      'filterPlaceHolder',
      'scrollHeight',
      'indentation',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(fixLabelPos)]="labelPos"
      [(addon)]="addon"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(selectionMode)]="selectionMode"
      [(layout)]="layout"
      [(propagateSelectionUp)]="propagateSelectionUp"
      [(propagateSelectionDown)]="propagateSelectionDown"
      [(emptyMessage)]="emptyMessage"
      [(filter)]="filter"
      [(filterPlaceHolder)]="filterPlaceHolder"
      [(scrollHeight)]="scrollHeight"
      [(indentation)]="indentation">
    </ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-tree
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [items]="items"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [labelPos]="labelPos"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [selectionMode]="selectionMode"
        [layout]="layout"
        [propagateSelectionUp]="propagateSelectionUp"
        [propagateSelectionDown]="propagateSelectionDown"
        [emptyMessage]="emptyMessage"
        [filter]="filter"
        [filterPlaceholder]="filterPlaceHolder"
        [scrollHeight]="scrollHeight"
        [indentation]="indentation"
      ></ng-tree>
    </form>
  </p-panel>
</div>
