<p-dialog
  [(visible)]="visible"
  (onShow)="handleEvent('onShow')"
  (onHide)="onHide()"
  (visibleChange)="handleEvent('visibleChange',$event)"
  (onResizeInit)="handleEvent('onResizeInit',$event)"
  (onResizeEnd)="handleEvent('onResizeEnd',$event)"
  (onDragEnd)="handleEvent('onDragEnd',$event)"
  (onMaximize)="handleEvent('onMaximize',$event)">
  <ng-template pTemplate="content">
    <div [innerHTML]="options.content | ngSafe:'html'"></div>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-button
      *ngIf="options.buttonLabel"
      [appearance]="options.buttonAppearance"
      [color]="options.buttonColor"
      [full]="options.buttonFull"
      [iconPos]="options.buttonIconPos"
      [icon]="options.buttonIcon"
      [label]="options.buttonLabel"
      [size]="options.buttonSize"
      [styleClass]="options.buttonStyleClass"
      (onClick)="onButtonClick()"/>
  </ng-template>
</p-dialog>
