<p-dialog
  [(visible)]="visible"
  [header]="options.header"
  [draggable]="options.draggable"
  [resizable]="options.resizable"
  [positionLeft]="options.positionLeft"
  [positionTop]="options.positionTop"
  [contentStyle]="options.contentStyle"
  [contentStyleClass]="options.contentStyleClass"
  [modal]="options.modal"
  [closeOnEscape]="options.closeOnEscape"
  [dismissableMask]="options.dismissableMask"
  [closable]="options.closable"
  [responsive]="options.responsive"
  [appendTo]="options.appendTo"
  [breakpoints]="options.breakpoints"
  [styleClass]="options.styleClass"
  [maskStyleClass]="options.maskStyleClass"
  [maskStyle]="options.maskStyle"
  [showHeader]="options.showHeader"
  [breakpoint]="options.breakpoint"
  [blockScroll]="options.blockScroll"
  [autoZIndex]="options.autoZIndex"
  [baseZIndex]="options.baseZIndex"
  [minX]="options.minX"
  [minY]="options.minY"
  [focusOnShow]="options.focusOnShow"
  [maximizable]="options.maximizable"
  [keepInViewport]="options.keepInViewport"
  [focusTrap]="options.focusTrap"
  [transitionOptions]="options.transitionOptions"
  [closeIcon]="options.closeIcon"
  [closeAriaLabel]="options.closeAriaLabel"
  [closeTabindex]="options.closeTabindex"
  [minimizeIcon]="options.minimizeIcon"
  [maximizeIcon]="options.maximizeIcon"
  [style]="options.style"
  [position]="options.position"
  (onShow)="handleEvent('onShow')"
  (onHide)="onHide()"
  (visibleChange)="handleEvent('visibleChange',$event)"
  (onResizeInit)="handleEvent('onResizeInit',$event)"
  (onResizeEnd)="handleEvent('onResizeEnd',$event)"
  (onDragEnd)="handleEvent('onDragEnd',$event)"
  (onMaximize)="handleEvent('onMaximize',$event)">
  <ng-template pTemplate="content">
    <div [innerHTML]="options.content | ngSafe:'html'"></div>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-button
      *ngIf="options.buttonLabel"
      [appearance]="options.buttonAppearance"
      [color]="options.buttonColor"
      [full]="options.buttonFull"
      [iconPos]="options.buttonIconPos"
      [icon]="options.buttonIcon"
      [label]="options.buttonLabel"
      [size]="options.buttonSize"
      [styleClass]="options.buttonStyleClass"
      (onClick)="onButtonClick()"
    ></ng-button>
  </ng-template>
</p-dialog>
