<div class="toggle-button-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="true">
    <ng-template ngTemplate="element">
      <p-toggleButton
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid()}"
        [onLabel]="onLabel"
        [offLabel]="offLabel"
        [onIcon]="onIcon"
        [offIcon]="offIcon"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [disabled]="disabled"
        [style]="style"
        [styleClass]="styleClass"
        [tabindex]="tabindex"
        [size]="size"
        [iconPos]="iconPos"
        [autofocus]="autofocus"
        [allowEmpty]="allowEmpty"
        (onChange)="_onChange($event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()" let-item>
              <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item}"/>
            </ng-template>
          }
        }
      </p-toggleButton>
    </ng-template>
  </ng-form-field>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
