<div class="map-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'clearable': showClear
    }">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="true">
    <ng-template ngTemplate="element">
      <div>
        @if (!readonly && showClear) {
          <ng-button
            class="clear-map-btn"
            [pTooltip]="clearTooltip"
            [icon]="clearIcon"
            size="small"
            (click)="clearMap()">
            <ng-template ngTemplate="icon">
              @if (!clearIcon && !templateMap.clearicon) {
                <TrashIcon/>
              }
              @if (!clearIcon && templateMap.clearicon) {
                <ng-template *ngTemplateOutlet="templateMap.clearicon"/>
              }
            </ng-template>
          </ng-button>
        }
        <div
          leaflet
          [attr.id]="id"
          [style.height]="height"
          [leafletLayers]="layers"
          [leafletCenter]="center"
          [leafletZoom]="zoom"
          [leafletMinZoom]="leafletMinZoom"
          [leafletMaxZoom]="leafletMaxZoom"
          [leafletOptions]="options"
          [leafletPanOptions]="panOptions"
          [leafletZoomOptions]="zoomOptions"
          [leafletZoomPanOptions]="zoomPanOptions"
          [leafletFitBoundsOptions]="fitBoundsOptions"
          [leafletFitBounds]="leafletFitBounds"
          [leafletMaxBounds]="leafletMaxBounds"
          (leafletZoomChange)="onZoomChange($event)"
          (leafletCenterChange)="onCenterChange($event)"
          (leafletClick)="_onMapClick($event)"
          (leafletMapReady)="onMapReady($event)"
          (leafletDoubleClick)="emitter('onMapDoubleClick',$event)"
          (leafletMouseDown)="emitter('onMapMouseDown',$event)"
          (leafletMouseUp)="emitter('onMapMouseUp',$event)"
          (leafletMouseMove)="emitter('onMapMouseMove',$event)"
          (leafletMouseOver)="emitter('onMapMouseOver',$event)"
          (leafletMouseOut)="emitter('onMapMouseOut',$event)"
          (leafletMapMove)="emitter('onMapMove',$event)"
          (leafletMapMoveStart)="emitter('onMapMoveStart',$event)"
          (leafletMapMoveEnd)="emitter('onMapMoveEnd',$event)"
          (leafletMapZoom)="emitter('onMapZoom',$event)"
          (leafletMapZoomStart)="emitter('onMapZoomStart',$event)"
          (leafletMapZoomEnd)="emitter('onMapZoomEnd',$event)"
        ></div>
      </div>
    </ng-template>
  </ng-form-field>
</div>
