:host {
  display: block;

  ::ng-deep {
    .map-wrapper {
      .field {
        > div {
          display: block;
          flex-grow: 1;
          position: relative;

          .clear-map-btn {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            z-index: 20000;
          }
        }
      }
    }
  }
}
