<p-button
  [type]="type"
  [iconPos]="iconPos"
  [icon]="async ? _tmpIcon : icon"
  [badge]="badge"
  [label]="async ? _tmpLabel : label"
  [disabled]="disabled"
  [loading]="loading"
  [loadingIcon]="loadingIcon"
  [raised]="raised"
  [rounded]="rounded"
  [text]="async ? _tmpAppearance === 'text' : appearance === 'text'"
  [severity]="async ? _tmpSeverity : severity"
  [outlined]="async ? _tmpAppearance === 'outlined' : appearance === 'outlined'"
  [link]="async ? _tmpAppearance === 'link' : appearance === 'link'"
  [tabindex]="tabindex"
  [size]="size"
  [style]="style"
  styleClass="{{styleClass}} {{state == 1 ? 'default-state' : 'new-state'}}"
  [badgeSeverity]="badgeSeverity"
  [ariaLabel]="ariaLabel"
  [autofocus]="autofocus"
  [fluid]="fluid"
  (onClick)="_onClick($event)"
  (onFocus)="emitter('onFocus',$event)"
  (onBlur)="emitter('onBlur',$event)">
  @for (t of templates; track t) {
    @if (templateMap[t.type]) {
      <ng-template [pTemplate]="t.type">
        <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
      </ng-template>
    }
  }
  <ng-content></ng-content>
</p-button>
