<p-button
  [type]="type"
  [label]="async ? _tmpLabel : label"
  [icon]="async ? _tmpIcon : icon"
  [iconPos]="iconPos"
  [badge]="badge"
  [loading]="loading"
  [loadingIcon]="loadingIcon"
  [disabled]="disabled"
  [style]="style"
  badgeClass="{{badgeClass}} p-badge-{{ badgeColor }}"
  styleClass="
  {{styleClass}}
  {{defaultState == 1 ? 'default-state' : 'new-state'}}
  p-button-{{ async ? _tmpAppearance : appearance }}
  p-button-{{ async ? _tmpColor : color }}
  p-button-{{ size }}
  p-button-{{ rounded ? 'rounded' : '' }}
  p-button-{{ raised ? 'raised' : '' }}"
  (onClick)="_onClick($event)"
  (onFocus)="emitter('onFocus',$event)"
  (onBlur)="emitter('onBlur',$event)"
>
  <ng-content></ng-content>
  <ng-container *ngFor="let t of templates">
    <ng-template [pTemplate]="t.getType()" let-item *ngIf="templateMap[t.getType()]">
      <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item}"></ng-container>
    </ng-template>
  </ng-container>
</p-button>
