<p-button
  [type]="type"
  [iconPos]="iconPos"
  [icon]="async ? _tmpIcon : icon"
  [badge]="badge"
  [label]="async ? _tmpLabel : label"
  [disabled]="disabled"
  [loading]="loading"
  [loadingIcon]="loadingIcon"
  [raised]="raised"
  [rounded]="rounded"
  [text]="async ? _tmpAppearance === 'text' : appearance === 'text'"
  [plain]="plain"
  [severity]="async ? _tmpSeverity : severity"
  [outlined]="async ? _tmpAppearance === 'outlined' : appearance === 'outlined'"
  [link]="async ? _tmpAppearance === 'link' : appearance === 'link'"
  [tabindex]="tabindex"
  [style]="style"
  styleClass="{{styleClass}} {{defaultState == 1 ? 'default-state' : 'new-state'}} p-button-{{ size }}"
  badgeClass="{{badgeClass}} p-badge-{{ badgeSeverity }}"
  [ariaLabel]="ariaLabel"
  [autofocus]="autofocus"
  (onClick)="_onClick($event)"
  (onFocus)="emitter('onFocus',$event)"
  (onBlur)="emitter('onBlur',$event)">
  @for (t of templates; track t) {
    @if (templateMap[t.getType()]) {
      <ng-template [pTemplate]="t.getType()">
        <ng-container *ngTemplateOutlet="templateMap[t.getType()]"/>
      </ng-template>
    }
  }
</p-button>
