<div [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [class]="{
     'tree-select-wrapper': true,
     'icon-start': templateMap['iconStart'] && !templateMap['iconEnd'],
     'icon-end': templateMap['iconEnd'] && !templateMap['iconStart'],
     'icon-both': templateMap['iconStart'] && templateMap['iconEnd'],
     'addon-start': templateMap['addonStart'] && !templateMap['addonEnd'],
     'addon-end': templateMap['addonEnd'] && !templateMap['addonStart'],
     'addon-both': templateMap['addonStart'] && templateMap['addonEnd'],
     'fluid': fluid,
     'clearable': showClear
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-treeSelect
        [(ngModel)]="value"
        [invalid]="isInvalid"
        [required]="required"
        [disabled]="disabled"
        [name]="name"
        [inputId]="inputId"
        [scrollHeight]="scrollHeight"
        [metaKeySelection]="metaKeySelection"
        [display]="display"
        [selectionMode]="selectionMode"
        [tabindex]="tabindex"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
        [panelClass]="panelClass"
        [panelStyle]="panelStyle"
        [panelStyleClass]="panelStyleClass"
        [containerStyle]="containerStyle"
        [containerStyleClass]="containerStyleClass"
        [labelStyle]="labelStyle"
        [labelStyleClass]="labelStyleClass"
        [overlayOptions]="overlayOptions"
        [emptyMessage]="emptyMessage"
        [filter]="filter"
        [filterBy]="filterBy"
        [filterMode]="filterMode"
        [filterPlaceholder]="filterPlaceholder"
        [filterLocale]="filterLocale"
        [filterInputAutoFocus]="filterInputAutoFocus"
        [propagateSelectionDown]="propagateSelectionDown"
        [propagateSelectionUp]="propagateSelectionUp"
        [showClear]="showClear"
        [resetFilterOnHide]="resetFilterOnHide"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [autofocus]="autofocus"
        [options]="options"
        [loading]="loading"
        [size]="size"
        [variant]="variant"
        [fluid]="fluid"
        [appendTo]="appendTo"
        (onNodeExpand)="emitter('onNodeExpand',$event)"
        (onNodeCollapse)="emitter('onNodeCollapse',$event)"
        (onShow)="emitter('onShow',$event)"
        (onHide)="emitter('onHide',$event)"
        (onClear)="_onClear()"
        (onFilter)="emitter('onFilter',$event)"
        (onFocus)="emitter('onFilter',$event)"
        (onBlur)="_onBlur($event)"
        (onNodeUnselect)="_onNodeUnselect($event)"
        (onNodeSelect)="_onNodeSelect($event)">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type" let-item let-placeholder="placeholder" let-options="options">
              <ng-container *ngTemplateOutlet="templateMap[t.type];context:{$implicit:item,placeholder,options}"/>
            </ng-template>
          }
        }
      </p-treeSelect>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [pwTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </pw-form-field>
</div>
