<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="tree-select-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-treeSelect
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [tabindex]="tabindex"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [panelClass]="panelClass"
        [panelStyle]="panelStyle"
        [panelStyleClass]="panelStyleClass"
        [containerStyle]="containerStyle"
        [containerStyleClass]="containerStyleClass"
        [labelStyle]="labelStyle"
        [labelStyleClass]="labelStyleClass"
        [overlayOptions]="overlayOptions"
        [emptyMessage]="emptyMessage"
        [appendTo]="appendTo"
        [filter]="filter"
        [filterBy]="filterBy"
        [filterMode]="filterMode"
        [filterPlaceholder]="filterPlaceholder"
        [filterLocale]="filterLocale"
        [filterInputAutoFocus]="filterInputAutoFocus"
        [propagateSelectionDown]="propagateSelectionDown"
        [propagateSelectionUp]="propagateSelectionUp"
        [showClear]="showClear"
        [resetFilterOnHide]="resetFilterOnHide"
        [options]="options"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        (onNodeExpand)="emitter('onNodeExpand',$event)"
        (onNodeCollapse)="emitter('onNodeCollapse',$event)"
        (onShow)="emitter('onShow',$event)"
        (onHide)="emitter('onHide',$event)"
        (onClear)="_onClear()"
        (onFilter)="emitter('onFilter',$event)"
        (onNodeUnselect)="_onNodeUnselect($event)"
        (onNodeSelect)="_onNodeSelect($event)">
        <ng-container *ngFor="let t of templates">
          <ng-template [pTemplate]="t.getType()" let-item let-placeholder="placeholder" let-options="options" *ngIf="templateMap[t.getType()]">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,placeholder,options}"></ng-container>
          </ng-template>
        </ng-container>
      </p-treeSelect>
      <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
