<div class="tree-select-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear
    }">
  <ng-form-field
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template ngTemplate="element">
      <p-treeSelect
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [inputId]="inputId"
        [scrollHeight]="scrollHeight"
        [disabled]="disabled"
        [metaKeySelection]="metaKeySelection"
        [variant]="variant"
        [display]="display"
        [selectionMode]="selectionMode"
        [tabindex]="tabindex"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [panelClass]="panelClass"
        [panelStyle]="panelStyle"
        [fluid]="fluid"
        [panelStyleClass]="panelStyleClass"
        [containerStyle]="containerStyle"
        [containerStyleClass]="containerStyleClass"
        [labelStyle]="labelStyle"
        [labelStyleClass]="labelStyleClass"
        [overlayOptions]="overlayOptions"
        [emptyMessage]="emptyMessage"
        [appendTo]="appendTo"
        [filter]="filter"
        [filterBy]="filterBy"
        [filterMode]="filterMode"
        [filterPlaceholder]="filterPlaceholder"
        [filterLocale]="filterLocale"
        [filterInputAutoFocus]="filterInputAutoFocus"
        [propagateSelectionDown]="propagateSelectionDown"
        [propagateSelectionUp]="propagateSelectionUp"
        [showClear]="showClear"
        [resetFilterOnHide]="resetFilterOnHide"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [size]="size"
        [virtualScrollOptions]="virtualScrollOptions"
        [autofocus]="autofocus"
        [options]="options"
        [loading]="loading"
        (onNodeExpand)="emitter('onNodeExpand',$event)"
        (onNodeCollapse)="emitter('onNodeCollapse',$event)"
        (onShow)="emitter('onShow',$event)"
        (onHide)="emitter('onHide',$event)"
        (onClear)="_onClear()"
        (onFilter)="emitter('onFilter',$event)"
        (onFocus)="emitter('onFilter',$event)"
        (onBlur)="_onBlur($event)"
        (onNodeUnselect)="_onNodeUnselect($event)"
        (onNodeSelect)="_onNodeSelect($event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()" let-item let-placeholder="placeholder" let-options="options">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,placeholder,options}"/>
            </ng-template>
          }
        }
      </p-treeSelect>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-form-field>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
