<div class="file-picker-wrapper" [attr.dir]="rtl ? 'rtl' : 'ltr'">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <input
        #inputFile
        type="file"
        onclick="this.value = ''"
        [accept]="accept"
        [attr.id]="id"
        [disabled]="disabled"
        (change)="_onSelect($event)"/>

      @if (!multiple) {
        <div class="file-picker-single-wrapper">
          <div class="preview">
            @if (filesToShow.length != 0) {
              @switch (getFileType(filesToShow[0].display)) {
                @case ('image') {
                  <div class="image-preview" [style.backgroundImage]="'url('+(filesToShow[0].display)+')'"></div>
                }
                @case ('file') {
                  <svg data-p-icon="plus" class="file-preview"/>
                }
              }
            }
          </div>
          <pw-button
            [fluid]="true"
            [disabled]="disabled"
            (onClick)="inputFile.click()"
            [buttonProps]="chooseButtonProps"
            [label]="chooseLabel">
          </pw-button>
          @if (filesToShow.length != 0) {
            <pw-button severity="danger" size="small" (onClick)="onSingleDelete()">
              <ng-template pwTemplate="icon">
                <svg data-p-icon="trash"/>
              </ng-template>
            </pw-button>
          }
        </div>
      }
      @if (multiple) {
        <div class="file-picker-multiple-wrapper">
          @if (!fileLimit || (!readonly && (fileLimit && filesToEmit.length < fileLimit))) {
            <div class="picker" (click)="inputFile.click()">
              <svg data-p-icon="plus"/>
            </div>
          }
          @for (item of filesToShow; track item; let i = $index) {
            <div class="preview">
              @switch (getFileType(item.display)) {
                @case ('image') {
                  <div [style.backgroundImage]="'url(' + item.display + ')'" class="image-preview"></div>
                }
                @case ('file') {
                  <div class="file-preview">
                    <svg data-p-icon="upload"/>
                  </div>
                }
              }
              <div class="file-name">{{ item.name }}</div>
              @if (!readonly) {
                <pw-button severity="danger" size="small" (onClick)="onMultipleDelete($event, i)">
                  <ng-template pwTemplate="icon">
                    <svg data-p-icon="trash"/>
                  </ng-template>
              </pw-button>
              }
            </div>
          }
        </div>
      }
    </ng-template>
  </pw-form-field>

  <!-- show only if no validation and ngControl provided -->
  @if (invalidFileSize) {
    <small>{{ invalidFileSizeMessage }}</small>
  }
  @if (invalidFileType) {
    <small>{{ invalidFileTypeMessage }}</small>
  }
</div>
