<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="file-picker-wrapper">
  <div [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }" class="field">
    <input
      #inputFile
      type="file"
      onclick="this.value = null"
      [accept]="accept"
      [attr.id]="id"
      [disabled]="disabled"
      (change)="_onSelect($event)"/>

    <div class="file-picker-single-wrapper" *ngIf="!multiple">
      <div class="preview" [ngSwitch]="getFileType(filesToShow[0]?.display)">
        <div *ngSwitchCase="'image'" class="image-preview"
             [style.backgroundImage]="'url('+(filesToShow[0]?.display)+')'"></div>
        <i *ngSwitchCase="'file'" class="pi pi-file file-preview"></i>
      </div>
      <ng-button
        [full]="true"
        [disabled]="disabled"
        (onClick)="inputFile.click()"
        [color]="color"
        [label]="chooseLabel">
      </ng-button>
      <ng-button
        color="danger"
        size="sm"
        (onClick)="onSingleDelete()"
        *ngIf="filesToShow.length != 0"
        icon="pi pi-trash">
      </ng-button>
    </div>

    <div class="file-picker-multiple-wrapper" *ngIf="multiple">
      <div *ngIf="!readonly && (fileLimit && filesToEmit.length < fileLimit)" class="picker" (click)="inputFile.click()">
        <i class="pi pi-paperclip"></i>
      </div>
      <div *ngFor="let item of filesToShow; let i = index" class="preview">
        <ng-container [ngSwitch]="getFileType(item.display)">
          <div *ngSwitchCase="'image'"
               [style.backgroundImage]="'url(' + item.display + ')'"
               class="image-preview">
          </div>
          <div *ngSwitchCase="'file'" class="file-preview">
            <i class="pi pi-file"></i>
          </div>
          <div class="file-name">{{item.name}}</div>
        </ng-container>
        <ng-button
          color="danger"
          size="sm"
          (onClick)="onMultipleDelete($event, i)"
          *ngIf="!readonly"
          icon="pi pi-trash">
        </ng-button>
      </div>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="id"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngIf="!invalidFileSize && !invalidFileType">
      <ng-container *ngFor="let v of validation | keyvalue">
        <div *ngIf="hasError(v.key)">
          {{ v.value }}
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="invalidFileSize || invalidFileType">
      <div *ngIf="invalidFileSize">{{invalidFileSizeMessage}}</div>
      <div *ngIf="invalidFileType">{{invalidFileTypeMessage}}</div>
    </ng-container>
  </div>
</div>
