<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="file-picker-wrapper">
  <div [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }" class="field">
    <input
      #inputFile
      type="file"
      onclick="this.value = null"
      [accept]="accept"
      [attr.id]="id"
      [disabled]="disabled"
      (change)="_onSelect($event)"/>

    @if (!multiple) {
      <div class="file-picker-single-wrapper">
        <div class="preview">
          @switch (getFileType(filesToShow[0]?.display)) {
            @case ('image') {
              <div class="image-preview" [style.backgroundImage]="'url('+(filesToShow[0]?.display)+')'"></div>
            }
            @case ('file') {
              <PlusIcon styleClass="file-preview"/>
            }
          }
        </div>
        <ng-button
          [full]="true"
          [disabled]="disabled"
          (onClick)="inputFile.click()"
          [color]="color"
          [label]="chooseLabel">
        </ng-button>
        @if (filesToShow.length != 0) {
          <ng-button color="danger" size="sm" (onClick)="onSingleDelete()">
            <ng-template ngTemplate="icon">
              <TrashIcon/>
            </ng-template>
          </ng-button>
        }
      </div>
    }

    @if (multiple) {
      <div class="file-picker-multiple-wrapper">
        @if (!readonly && (fileLimit && filesToEmit.length < fileLimit)) {
          <div class="picker" (click)="inputFile.click()">
            <PlusIcon/>
          </div>
        }
        @for (item of filesToShow; track item; let i = $index) {
          <div class="preview">
            <ng-container [ngSwitch]="getFileType(item.display)">
              <div *ngSwitchCase="'image'"
                   [style.backgroundImage]="'url(' + item.display + ')'"
                   class="image-preview">
              </div>
              <div *ngSwitchCase="'file'" class="file-preview">
                <UploadIcon/>
              </div>
              <div class="file-name">{{ item.name }}</div>
            </ng-container>
            @if (!readonly) {
              <ng-button color="danger" size="sm" (onClick)="onMultipleDelete($event, i)">
                <ng-template ngTemplate="icon">
                  <TrashIcon/>
                </ng-template>
              </ng-button>
            }
          </div>
        }
      </div>
    }
  </div>
  @if (label) {
    <label
      class="fix-label"
      [attr.for]="id"
      [class.p-disabled]="disabled"
      [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
      [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
      {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
  }
  @if (hint && showHint()) {
    <div class="message">{{ hint }}</div>
  }
  <div class="message p-error">
    @if (!invalidFileSize && !invalidFileType) {
      @for (v of validation | keyvalue; track v) {
        @if (hasError(v.key)) {
          <div> {{ v.value }}</div>
        }
      }
    }

    @if (invalidFileSize || invalidFileType) {
      @if (invalidFileSize) {
        <div>{{ invalidFileSizeMessage }}</div>
      }
      @if (invalidFileType) {
        <div>{{ invalidFileTypeMessage }}</div>
      }
    }
  </div>
</div>
