<preview
  component="InputText"
  description="InputText renders a text field to enter data."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <ng-input-text
        formControlName="c1"
        [validation]="{ required: 'error required', minlength: getLengthMessage(), email: 'email error', akbarDenied: 'akbar denied' }"
      >
        @if (additions.addonStart) {
          <ng-template ngTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template ngTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconStart) {
          <ng-template ngTemplate="iconStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconEnd) {
          <ng-template ngTemplate="iconEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </ng-input-text>
    }
  </form>
</preview>
