<div class="container">
  <p-card header="Status"
          subheader="Status used to feed back the results of a series of operational tasks."/>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'status',
      'text',
      'subText',
      'rtl',
      'followConfig'
      ]"
      [(status)]="status"
      [(text)]="text"
      [(subText)]="subText"
      [(rtl)]="rtl"
      [(followConfig)]="followConfig"/>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <ng-status
      [status]="status"
      [text]="text"
      [subText]="subText"
      [rtl]="rtl"
      [followConfig]="followConfig"/>
  </p-panel>
</div>
