<div class="cascade-select-text-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear
    }">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <h1>{{isInvalid}}</h1>
      <p-cascadeSelect
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [id]="id"
        [selectOnFocus]="selectOnFocus"
        [searchMessage]="searchMessage"
        [emptyMessage]="emptyMessage"
        [selectionMessage]="selectionMessage"
        [emptySearchMessage]="emptySearchMessage"
        [emptySelectionMessage]="emptySelectionMessage"
        [searchLocale]="searchLocale"
        [optionDisabled]="optionDisabled"
        [autoOptionFocus]="autoOptionFocus"
        [styleClass]="styleClass"
        [style]="style"
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionGroupLabel]="optionGroupLabel"
        [optionGroupChildren]="optionGroupChildren"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [dataKey]="dataKey"
        [inputId]="inputId"
        [size]="size"
        [tabindex]="tabindex"
        [ariaLabelledBy]="ariaLabelledBy"
        [inputLabel]="inputLabel"
        [ariaLabel]="ariaLabel"
        [appendTo]="appendTo"
        [disabled]="disabled"
        [showClear]="showClear"
        [panelStyleClass]="panelStyleClass"
        [panelStyle]="panelStyle"
        [overlayOptions]="overlayOptions"
        [autofocus]="autofocus"
        [variant]="variant"
        [loading]="loading"
        [loadingIcon]="loadingIcon"
        [fluid]="fluid"
        [breakpoint]="breakpoint"
        (onChange)="_onChange($event)"
        (onGroupChange)="emitter('onGroupChange', $event)"
        (onShow)="emitter('onShow', $event)"
        (onHide)="emitter('onHide', $event)"
        (onClear)="_onClear()"
        (onBeforeShow)="emitter('onBeforeShow', $event)"
        (onBeforeHide)="emitter('onBeforeHide', $event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type" let-item let-placeholder="placeholder">
              <ng-container *ngTemplateOutlet="templateMap[t.type];context:{$implicit:item,placeholder}"/>
            </ng-template>
          }
        }
      </p-cascadeSelect>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-form-field>
</div>
