<ng-preview
  header="Button"
  subheader="Button is an extension to standard button element with icons and theming."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <ng-button
    [appearance]="getOption('appearance')"
    [async]="getOption('async')"
    [newLabel]="getOption('newLabel')"
    [newAppearance]="getOption('newAppearance')"
    [newSeverity]="getOption('newSeverity')"
    [iconPos]="getOption('iconPos')"
    [icon]="getOption('icon')"
    [badge]="getOption('badge')"
    [label]="getOption('label')"
    [disabled]="getOption('disabled')"
    [raised]="getOption('raised')"
    [rounded]="getOption('rounded')"
    [severity]="getOption('severity')"
    [size]="getOption('size')"
    [badgeSeverity]="getOption('badgeSeverity')"
    [fluid]="getOption('fluid')"
    (onClickAsync)="onChangeAsync($event)"/>
</ng-preview>
