:host ::ng-deep {
  .slider-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    .field {
      flex-grow: 1;
    }

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .message {
        left: 0;
      }
    }

    &.rtl {
      label,
      .message {
        direction: rtl;
      }

      .p-tree {
        .p-tree-toggler,
        .p-checkbox,
        .p-treenode-icon {
          margin-right: 0;
          margin-left: 0.5rem;
        }

        .p-treenode-children {
          padding: 0 1rem 0 0;
        }

        .pi-chevron-right:before {
          content: "\e900";
        }
      }

      .message {
        right: 0;
      }
    }
  }
}

