<form [formGroup]="form" class="[&>*:not(small)]:block [&>*:not(small)]:mb-4">
  <div class="text-center">
    <app-logo [disableNavigation]="true"/>
  </div>
  <h3 class="text-center">ورود</h3>
  <pw-input-text
    formControlName="email"
    [fluid]="true"
    labelPosition="side"
    [showRequiredStar]="false"
    placeholder="نام کاربری"
    [validation]="{
      required:'این فیلد الزامیست.',
      email:'ایمیل نامعتبر است.'
    }">
    <ng-template pwTemplate="iconStart">
      <i class="pi pi-user"></i>
    </ng-template>
  </pw-input-text>
  <pw-input-text
    type="password"
    [fluid]="true"
    [showRequiredStar]="false"
    labelPosition="side"
    formControlName="password"
    placeholder="رمز عبور"
    [validation]="{'required':'این فیلد الزامیست.'}">
    <ng-template pwTemplate="iconStart">
      <i class="pi pi-key"></i>
    </ng-template>
  </pw-input-text>
  <pw-checkbox formControlName="rememberMe" label="مرا بخاطر بسپار"/>
  <pw-button
    [async]="true"
    [fluid]="true"
    type="submit"
    label="ورود"
    (onClickAsync)="onSubmit($event)"/>
  <small class="flex items-center justify-center gap-2 text-stone-600">
    <pw-button
      class="align-middle"
      size="small"
      appearance="link"
      routerLink="/auth/register"
      label="ثبت نام کنید"/>
    حساب کاربری ندارید؟
  </small>
</form>
