<p-sidebar appendTo="body"
           position="bottom"
           [visible]="visible"
           [style]="style"
           [styleClass]="styleClass"
           [blockScroll]="blockScroll"
           [baseZIndex]="baseZIndex"
           [autoZIndex]="autoZIndex"
           [modal]="modal"
           [dismissible]="dismissible"
           [showCloseIcon]="showCloseIcon"
           [transitionOptions]="transitionOptions"
           [closeOnEscape]="closeOnEscape"
           (visibleChange)="onVisibleChange($event)">
  <ng-content></ng-content>
</p-sidebar>
