<p-sidebar
  position="bottom"
  [appendTo]="appendTo"
  [visible]="visible"
  [style]="style"
  [styleClass]="styleClass"
  [blockScroll]="blockScroll"
  [baseZIndex]="baseZIndex"
  [autoZIndex]="autoZIndex"
  [modal]="modal"
  [dismissible]="dismissible"
  [showCloseIcon]="false"
  [transitionOptions]="transitionOptions"
  [closeOnEscape]="closeOnEscape"
  (visibleChange)="onVisibleChange($event)"
  (onShow)="emitter('onShow',$event)"
  (onHide)="emitter('onHide',$event)">
  <div class="bottom-sheet-wrapper">
    <div class="header p-3" *ngIf="title || showCloseIcon">
      <div class="d-flex align-items-center justify-content-between w-100">
        <ng-container *ngIf="titleTemplate;else alternativeTitle">
          <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        </ng-container>
        <ng-template #alternativeTitle>
          <h5>{{title}}</h5>
        </ng-template>
        <ng-button *ngIf="showCloseIcon"
                   [rounded]="true"
                   appearance="text"
                   icon="pi pi-times"
                   (onClick)="onVisibleChange(false)">
        </ng-button>
      </div>
    </div>
    <div class="content p-3">
      <ng-content></ng-content>
    </div>
    <div class="footer p-3" *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </div>
</p-sidebar>
