:host ::ng-deep {
  .p-sidebar-header {
    display: none;
  }

  .p-sidebar-content {
    padding: 0;
  }

  .bottom-sheet-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header,
    .footer {
      width: 100%;
    }

    .header {
      h5 {
        margin-bottom: 0;
      }
    }

    .content {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
