<div class="container">
  <p-card dir="ltr"
          header="InputMask"
          subheader="InputMask component is used to enter input in a certain format such as numeric, date, currency and phone."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-input-mask
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
    ></ng-input-mask>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-input-mask
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [addon]="addon"
  ></ng-input-mask>
</div>
