<div class="loading-container">
  @if (!isEmptyData()) {
    <ng-container *ngTemplateOutlet="templateMap.content"/>
  } @else {
    @if (templateMap.loading) {
      <ng-container *ngTemplateOutlet="templateMap.loading"/>
    } @else {
      <div class="loading">
        <p-progressSpinner
          [strokeWidth]="spinnerStrokeWidth.toString()"
          [fill]="spinnerFill"
          [style]="{width:spinnerWidth,height:spinnerHeight}">
        </p-progressSpinner>
      </div>
    }
  }
</div>
