<div class="loading-container">
  <ng-container *ngIf="!isEmptyData();else emptyDataPlaceholder">
    <ng-container *ngTemplateOutlet="templateMap.content"></ng-container>
  </ng-container>

  <ng-template #emptyDataPlaceholder>
    <ng-container *ngIf="templateMap.loading; else defaultLoadingTemplate">
      <ng-container *ngTemplateOutlet="templateMap.loading"></ng-container>
    </ng-container>
    <ng-template #defaultLoadingTemplate>
      <div class="loading">
        <p-progressSpinner
          [strokeWidth]="spinnerStrokeWidth.toString()"
          [fill]="spinnerFill"
          [style]="{width:spinnerWidth,height:spinnerHeight}">
        </p-progressSpinner>
      </div>
    </ng-template>
  </ng-template>
</div>
