<div class="input-number-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart && !templateMap.iconEnd,
     'icon-end': templateMap.iconEnd && !templateMap.iconStart,
     'icon-both': templateMap.iconStart && templateMap.iconEnd,
     'addon-start': templateMap.addonStart && !templateMap.addonEnd,
     'addon-end': templateMap.addonEnd && !templateMap.addonStart,
     'addon-both': templateMap.addonStart && templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear,
     'button-stacked': showButtons && buttonLayout === 'stacked',
     'button-vertical': showButtons && buttonLayout === 'vertical',
     'button-horizontal': showButtons && buttonLayout === 'horizontal',
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-inputNumber
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [showButtons]="showButtons"
        [format]="format"
        [buttonLayout]="buttonLayout"
        [inputId]="inputId"
        [styleClass]="styleClass"
        [style]="style"
        [placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
        [size]="size"
        [maxlength]="maxlength"
        [tabindex]="tabindex"
        [title]="title"
        [ariaLabelledBy]="ariaLabelledBy"
        [ariaLabel]="ariaLabel"
        [ariaRequired]="ariaRequired"
        [name]="name"
        [required]="required"
        [autocomplete]="autocomplete"
        [min]="min"
        [max]="max"
        [incrementButtonClass]="incrementButtonClass"
        [decrementButtonClass]="decrementButtonClass"
        [incrementButtonIcon]="incrementButtonIcon"
        [decrementButtonIcon]="decrementButtonIcon"
        [readonly]="readonly"
        [step]="step"
        [allowEmpty]="allowEmpty"
        [locale]="locale"
        [localeMatcher]="localeMatcher"
        [mode]="mode"
        [currency]="currency"
        [currencyDisplay]="currencyDisplay"
        [useGrouping]="useGrouping"
        [variant]="variant"
        [minFractionDigits]="minFractionDigits"
        [maxFractionDigits]="maxFractionDigits"
        [prefix]="prefix"
        [suffix]="suffix"
        [inputStyle]="inputStyle"
        [inputStyleClass]="inputStyleClass"
        [showClear]="showClear"
        [autofocus]="autofocus"
        [disabled]="disabled"
        [fluid]="fluid"
        (onInput)="_onInput($event)"
        (onFocus)="_onFocus($event)"
        (onBlur)="_onBlur($event)"
        (onKeyDown)="_onKeyDown($event)"
        (onClear)="_onClear()">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type">
              <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
            </ng-template>
          }
        }
      </p-inputNumber>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [pwTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </pw-form-field>
</div>
