<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear,
      'buttons-stacked': showButtons && buttonLayout == 'stacked',
      'buttons-horizontal': showButtons && buttonLayout == 'horizontal',
      'buttons-vertical': showButtons && buttonLayout == 'vertical'
    }" class="input-number-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-inputNumber
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [showButtons]="showButtons"
        [format]="format"
        [buttonLayout]="buttonLayout"
        [inputId]="inputId"
        [styleClass]="styleClass"
        [style]="style"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [size]="size"
        [maxlength]="maxlength"
        [tabindex]="tabindex"
        [title]="title"
        [ariaLabelledBy]="ariaLabelledBy"
        [ariaLabel]="ariaLabel"
        [ariaRequired]="ariaRequired"
        [name]="name"
        [required]="required"
        [autocomplete]="autocomplete"
        [min]="min"
        [max]="max"
        [incrementButtonClass]="incrementButtonClass"
        [decrementButtonClass]="decrementButtonClass"
        [incrementButtonIcon]="incrementButtonIcon"
        [decrementButtonIcon]="decrementButtonIcon"
        [readonly]="readonly"
        [step]="step"
        [allowEmpty]="allowEmpty"
        [locale]="locale"
        [localeMatcher]="localeMatcher"
        [mode]="mode"
        [currency]="currency"
        [currencyDisplay]="currencyDisplay"
        [useGrouping]="useGrouping"
        [minFractionDigits]="minFractionDigits"
        [maxFractionDigits]="maxFractionDigits"
        [prefix]="prefix"
        [suffix]="suffix"
        [inputStyle]="inputStyle"
        [inputStyleClass]="inputStyleClass"
        [showClear]="showClear"
        [disabled]="disabled"
        (onInput)="_onInput($event)"
        (onFocus)="_onFocus($event)"
        (onBlur)="_onBlur($event)"
        (onClear)="_onClear()"
        (onKeyDown)="_onKeyDown($event)">
        <ng-container *ngFor="let t of templates">
          <ng-template [pTemplate]="t.getType()" *ngIf="templateMap[t.getType()]">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()]"></ng-container>
          </ng-template>
        </ng-container>
      </p-inputNumber>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
