<div class="input-otp-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-element-additions
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [disabled]="disabled"
    [fluid]="true">
    <ng-template ngTemplate="element">
      <p-inputOtp
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [invalid]="isInvalid()"
        [disabled]="disabled"
        [readonly]="readonly"
        [variant]="variant"
        [tabindex]="tabindex"
        [length]="length"
        [styleClass]="styleClass"
        [mask]="mask"
        [integerOnly]="integerOnly"
        [autofocus]="autofocus"
        [size]="size"
        (onChange)="_onChange($event)"
        (onFocus)="_onFocus($event)"
        (onBlur)="_onBlur($event)"/>
    </ng-template>
  </ng-element-additions>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
