<div class="input-otp-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="true">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-inputOtp
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [invalid]="isInvalid"
        [disabled]="disabled"
        [readonly]="readonly"
        [variant]="variant"
        [tabindex]="tabindex"
        [length]="length"
        [styleClass]="styleClass"
        [mask]="mask"
        [integerOnly]="integerOnly"
        [autofocus]="autofocus"
        [size]="size"
        (onChange)="_onChange($event)"
        (onFocus)="_onFocus($event)"
        (onBlur)="_onBlur($event)"/>
    </ng-template>
  </ng-form-field>
</div>
