<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="input-otp-wrapper"
     [ngStyle]="style"
     [class]="styleClass">
  <div class="field">
    <div *ngIf="form?.controls"
         [ngClass]="{
          'p-input-filled': filled,
          'p-inputtext-sm': inputSize == 'sm',
          'p-inputtext-lg': inputSize == 'lg'
          }">
      <input
        *ngFor="let item of transformKeys(form.controls);let i=index"
        [formControl]="$any(form.controls[item])"
        [readonly]="readonly"
        [attr.disabled]="disabled ? true : null"
        [placeholder]="placeholder || ''"
        [ngStyle]="inputStyle"
        [class]="inputStyleClass"
        pInputText
        autocomplete="one-time-code"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [pattern]="numbersOnly ? '\\d*' : ''"
        [attr.inputmode]="numbersOnly ? 'decimal' : 'text'"
        [pKeyFilter]="getKeyFilter()"
        (paste)="_onPaste($event)"
        (keyup)="_onKeyUp($event,i)"
        (keydown)="_onKeyDown($event)"
        (blur)="_onBlur($event)">
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
