:host {
  display: block;

  ::ng-deep {
    .auto-complete-wrapper {
      display: flex;
      position: relative;

      .p-autocomplete-multiple-container .p-autocomplete-input-token input {
        font-family: inherit;
      }

      p-autoComplete,
      .p-autocomplete,
      .p-inputtext {
        width: 100%;
      }

      i {
        z-index: 200;
      }

      .message {
        position: absolute;
        top: calc(100% + 0.25rem);
        font-size: 0.875em;

        &:not(.p-error) {
          color: #6c757d;
        }
      }

      &.label-fix-top {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &.label-fix-side {
        flex-direction: row-reverse;
        align-items: center;

        .fix-label {
          margin-bottom: 0;
        }
      }

      .field {
        width: auto;
        flex-grow: 1;
        align-self: stretch;
        display: inline-flex;

        > div {
          display: block;
          flex-grow: 1;

          &.p-input-icon-right .p-autocomplete .p-inputtext {
            padding-right: 2.25rem;
          }

          &.p-input-icon-left .p-autocomplete .p-inputtext {
            padding-left: 2.25rem;
          }
        }

        &.has-before .p-autocomplete .p-inputtext {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.has-after .p-autocomplete .p-inputtext {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &.ltr {
        direction: ltr;

        .message {
          left: 0;
        }

        .fix-label {
          margin-right: 1rem;
        }

        .p-float-label {
          &.p-input-icon-left {
            label {
              left: 2.25rem;
            }
          }
        }

        &.clearable {
          .p-input-icon-right {
            .p-autocomplete-clear-icon {
              right: 2.25rem;
              left: auto;
            }

            .p-autocomplete .p-inputtext {
              padding-right: 3.75rem;
            }
          }
        }

        &.has-dropdown {
          .has-after {
            .p-autocomplete .p-autocomplete-dropdown {
              border-radius: 0;
            }
          }

          .p-input-icon-right > i {
            right: 3.75rem;
          }

          &.clearable {
            .p-autocomplete-clear-icon {
              right: 3.25rem;
            }

            .p-input-icon-right {
              .p-autocomplete-clear-icon {
                right: 5.25rem;
              }
            }
          }
        }
      }

      &.rtl {
        direction: rtl;

        .message {
          right: 0;
        }

        .field {
          flex-direction: row-reverse;
        }

        .fix-label {
          margin-left: 1rem;
        }

        .p-float-label {
          label {
            right: 0.75rem;
            left: auto;
          }

          &.p-input-icon-right {
            label {
              right: 2.25rem;
            }
          }
        }

        &.clearable {
          .p-autocomplete .p-inputtext {
            padding-right: 0.75rem;
            padding-left: 2.25rem;
          }

          .p-autocomplete-clear-icon {
            right: auto;
            left: 0.75rem;
          }

          .p-input-icon-left {
            .p-autocomplete-clear-icon {
              left: 2.25rem;
              right: auto;
            }

            .p-autocomplete .p-inputtext {
              padding-left: 3.75rem;
            }
          }
        }

        &.has-dropdown {
          .has-before {
            .p-autocomplete .p-autocomplete-dropdown {
              border-radius: 0;
            }
          }

          .p-inputtext {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
          }

          .p-autocomplete-dropdown {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
          }

          .p-input-icon-left > i {
            left: 3.75rem;
          }

          &.clearable {
            .p-autocomplete-clear-icon {
              left: 3.25rem;
            }

            .p-input-icon-left {
              .p-autocomplete-clear-icon {
                left: 5.25rem;
              }
            }
          }
        }

        .p-autocomplete {
          .p-autocomplete-token {
            margin-left: 0.5rem;
            margin-right: 0;
          }

          .p-autocomplete-token-icon {
            margin-right: 0.5rem;
            margin-left: 0;
          }

          .p-autocomplete-loader {
            right: auto;
            left: 1rem;
          }
        }
      }
    }
  }
}
