<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear,
      'has-dropdown': dropdown
    }" class="auto-complete-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-autoComplete
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [minLength]="minLength"
        [delay]="delay"
        [style]="style"
        [panelStyle]="panelStyle"
        [styleClass]="styleClass"
        [panelStyleClass]="panelStyleClass"
        [inputStyle]="inputStyle"
        [inputId]="inputId"
        [inputStyleClass]="inputStyleClass"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [readonly]="readonly"
        [disabled]="disabled"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [maxlength]="maxlength"
        [name]="name"
        [size]="size"
        [appendTo]="appendTo"
        [autoHighlight]="autoHighlight"
        [forceSelection]="forceSelection"
        [type]="type"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [ariaLabel]="ariaLabel"
        [dropdownAriaLabel]="dropdownAriaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [dropdownIcon]="dropdownIcon"
        [unique]="unique"
        [group]="group"
        [completeOnFocus]="completeOnFocus"
        [showClear]="showClear"
        [field]="field"
        [dropdown]="dropdown"
        [showEmptyMessage]="showEmptyMessage"
        [dropdownMode]="dropdownMode"
        [multiple]="multiple"
        [tabindex]="tabindex"
        [dataKey]="dataKey"
        [emptyMessage]="emptyMessage"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [autofocus]="autofocus"
        [autocomplete]="autocomplete"
        [optionGroupChildren]="optionGroupChildren"
        [optionGroupLabel]="optionGroupLabel"
        [overlayOptions]="overlayOptions"
        [suggestions]="suggestions"
        [itemSize]="itemSize"
        [optionLabel]="optionLabel"
        [id]="id"
        [searchMessage]="searchMessage"
        [emptySelectionMessage]="emptySelectionMessage"
        [selectionMessage]="selectionMessage"
        [autoOptionFocus]="autoOptionFocus"
        [selectOnFocus]="selectOnFocus"
        [searchLocale]="searchLocale"
        [optionDisabled]="optionDisabled"
        [focusOnHover]="focusOnHover"
        (completeMethod)="emitter('completeMethod', $event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onKeyUp)="_onKeyUp($event)"
        (onSelect)="_onSelect($event)"
        (onUnselect)="_onUnselect($event)"
        (onDropdownClick)="emitter('onDropdownClick', $event)"
        (onClear)="_onClear($event)"
        (onHide)="emitter('onHide', $event)"
        (onShow)="emitter('onShow', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)">
        <ng-container *ngFor="let t of templates">
          <ng-template [pTemplate]="t.getType()" let-item let-index="index" *ngIf="templateMap[t.getType()]">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,index}"></ng-container>
          </ng-template>
        </ng-container>
      </p-autoComplete>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
