<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPosition == 'fix-top',
      'label-fix-side': labelPosition == 'fix-side',
      'label-float': labelPosition == 'float',
      'clearable': showClear,
      'has-dropdown': dropdown
    }" class="auto-complete-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="size">
    <div [ngClass]="{
      'p-float-label': label && labelPosition == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right'
    }">
      @if (icon) {
        <i [class.p-disabled]="disabled" [ngClass]="icon"></i>
      }
      <p-autoComplete
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [minLength]="minLength"
        [delay]="delay"
        [style]="style"
        [panelStyle]="panelStyle"
        [styleClass]="styleClass"
        [panelStyleClass]="panelStyleClass"
        [inputStyle]="inputStyle"
        [inputId]="inputId"
        [inputStyleClass]="inputStyleClass"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [readonly]="readonly"
        [disabled]="disabled"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [maxlength]="maxlength"
        [name]="name"
        [size]="size"
        [appendTo]="appendTo"
        [autoHighlight]="autoHighlight"
        [forceSelection]="forceSelection"
        [type]="type"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [ariaLabel]="ariaLabel"
        [dropdownAriaLabel]="dropdownAriaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [dropdownIcon]="dropdownIcon"
        [unique]="unique"
        [group]="group"
        [completeOnFocus]="completeOnFocus"
        [showClear]="showClear"
        [dropdown]="dropdown"
        [showEmptyMessage]="showEmptyMessage"
        [dropdownMode]="dropdownMode"
        [multiple]="multiple"
        [tabindex]="tabindex"
        [dataKey]="dataKey"
        [emptyMessage]="emptyMessage"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [autofocus]="autofocus"
        [autocomplete]="autocomplete"
        [optionGroupChildren]="optionGroupChildren"
        [optionGroupLabel]="optionGroupLabel"
        [overlayOptions]="overlayOptions"
        [suggestions]="suggestions"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [id]="id"
        [searchMessage]="searchMessage"
        [emptySelectionMessage]="emptySelectionMessage"
        [selectionMessage]="selectionMessage"
        [autoOptionFocus]="autoOptionFocus"
        [selectOnFocus]="selectOnFocus"
        [searchLocale]="searchLocale"
        [optionDisabled]="optionDisabled"
        [focusOnHover]="focusOnHover"
        [variant]="variant"
        [fluid]="fluid"
        (completeMethod)="emitter('completeMethod', $event)"
        (onSelect)="_onSelect($event)"
        (onUnselect)="_onUnselect($event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onDropdownClick)="emitter('onDropdownClick', $event)"
        (onClear)="_onClear($event)"
        (onKeyUp)="_onKeyUp($event)"
        (onHide)="emitter('onHide', $event)"
        (onShow)="emitter('onShow', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()" let-item let-index="index">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,index}"/>
            </ng-template>
          }
        }
      </p-autoComplete>
      @if (label && labelPosition == 'float') {
        <label [class.p-disabled]="disabled" [attr.for]="inputId">
          {{ label | ngLabelStar:showRequiredStar:ngControl }}
        </label>
      }
    </div>
  </div>
  @if (label && labelPosition != 'float') {
    <label
      class="fix-label"
      [attr.for]="inputId"
      [class.p-disabled]="disabled"
      [style.minWidth.px]="labelPosition == 'fix-side' ? labelWidth : null"
      [style.maxWidth.px]="labelPosition == 'fix-side' ? labelWidth : null">
      {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
  }
  @if (hint && showHint()) {
    <div class="message">{{ hint }}</div>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <div>
          {{ v.value }}
        </div>
      }
    }
  </div>
</div>
