:host ::ng-deep {
  .p-dialog {
    direction: ltr;

    &.rtl {
      direction: rtl;

      .p-dialog-footer {
        text-align: left;
      }
    }
  }

  .p-dialog-mask {
    direction: ltr;
  }
}
