:host {
  display: block;

  ::ng-deep {
    .dual-label-switch-wrapper {
      display: flex;
      position: relative;

      .dual-label-switch-inner-wrapper {
        direction: ltr;
        display: inline-flex;
        align-items: flex-end;
        gap: 0.75rem;

        .dual-label-switch-inner {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        p-progressSpinner {
          &, .p-progressspinner {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
