<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="dual-label-switch-wrapper">
  <div class="field">
    <div class="field-inner">
      <span class="label-left" [class.text-muted]="disabled">{{ labelLeft }}</span>
      <p-inputSwitch
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [style]="style"
        [styleClass]="styleClass"
        [tabindex]="tabindex"
        [inputId]="inputId"
        [name]="name"
        [disabled]="disabled"
        [readonly]="readonly"
        [trueValue]="rightValue"
        [falseValue]="leftValue"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [autofocus]="autofocus"
        (onChange)="_onChange($event)"/>
        <span class="label-right" [class.text-muted]="disabled">{{ labelRight }}</span>
      </div>
      @if (loading && showAsyncLoading) {
        <p-progressSpinner strokeWidth="4"/>
      }
    </div>
    @if (label) {
      <label
        class="fix-label"
        [attr.for]="inputId"
        [class.p-disabled]="disabled"
        [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
        [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    }
    @if (hint && showHint()) {
      <div class="message">{{ hint }}</div>
    }
    <div class="message p-error">
      @for (v of validation | keyvalue; track v) {
        @if (hasError(v.key)) {
          <div>
            {{ v.value }}
          </div>
        }
      }
    </div>
  </div>
