:host {
  display: block;

  ::ng-deep {
    .dual-label-switch-wrapper {
      display: flex;
      position: relative;

      .field-inner {
        direction: ltr;
        display: inline-flex;
        align-items: flex-end;
        gap: 0.75rem;
      }

      p-progressSpinner {
        display: inline-flex;
        margin: 0 0.5rem;
        vertical-align: sub;

        .p-progress-spinner {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
