<div class="input-passowrd-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear
    }">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-password
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [disabled]="disabled"
        [promptLabel]="promptLabel"
        [mediumRegex]="mediumRegex"
        [strongRegex]="strongRegex"
        [weakLabel]="weakLabel"
        [mediumLabel]="mediumLabel"
        [maxLength]="maxLength"
        [strongLabel]="strongLabel"
        [inputId]="inputId"
        [feedback]="feedback"
        [appendTo]="appendTo"
        [toggleMask]="toggleMask"
        [size]="size"
        [inputStyleClass]="inputStyleClass"
        [styleClass]="styleClass"
        [style]="style"
        [inputStyle]="inputStyle"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [autocomplete]="autocomplete"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [showClear]="showClear"
        [autofocus]="autofocus"
        [variant]="variant"
        (change)="_onChange($event)"
        (input)="_onInput($event)"
        (onBlur)="_onBlur($event)"
        (onFocus)="_onFocus($event)"
        (keydown)="_onKeyDown($event)"
        (keyup)="_onKeyUp($event)"
        (onClear)="_onClear()">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()]"/>
            </ng-template>
          }
        }
      </p-password>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-form-field>
</div>
