<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear,
      'has-toggle-btn': toggleMask
    }" class="input-password-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': !toggleMask && icon && iconPos == 'left',
      'p-input-icon-right': !toggleMask && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="!toggleMask && icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-password
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [disabled]="disabled"
        [promptLabel]="promptLabel"
        [mediumRegex]="mediumRegex"
        [strongRegex]="strongRegex"
        [weakLabel]="weakLabel"
        [mediumLabel]="mediumLabel"
        [maxLength]="maxLength"
        [strongLabel]="strongLabel"
        [inputId]="inputId"
        [feedback]="feedback"
        [appendTo]="appendTo"
        [toggleMask]="toggleMask"
        [inputStyleClass]="inputStyleClass"
        [styleClass]="styleClass"
        [style]="style"
        [inputStyle]="inputStyle"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [autocomplete]="autocomplete"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [showClear]="showClear"
        (change)="_onChange($event)"
        (input)="_onInput($event)"
        (onBlur)="_onBlur($event)"
        (onFocus)="_onFocus($event)"
        (keydown)="_onKeyDown($event)"
        (keyup)="_onKeyUp($event)"
        (onClear)="_onClear()">
        <ng-container *ngFor="let t of templates">
          <ng-template [pTemplate]="t.getType()" *ngIf="templateMap[t.getType()]">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()]"></ng-container>
          </ng-template>
        </ng-container>
      </p-password>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
