<div class="container">
  <p-card header="Image"
          subheader="Image displays an image with preview and transformation options."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'width',
      'height',
      'preview',
      'pinchTransitionDuration',
      'pinchDoubleTap',
      'pinchDoubleTapScale',
      'pinchAutoZoomOut',
      'pinchLimitZoom',
      'pinchDisabled',
      'pinchDisablePan',
      'pinchOverflow',
      'pinchZoomControlScale',
      'pinchDisableZoomControl',
      'pinchLimitPan',
      'pinchMinPanScale',
      'pinchMinScale',
      'pinchListeners',
      'pinchWheel',
      'pinchAutoHeight',
      'pinchWheelZoomFactor',
      'pinchDraggableImage',
      ]"
      [(width)]="width"
      [(height)]="height"
      [(preview)]="preview"
      [(pinchTransitionDuration)]="pinchTransitionDuration"
      [(pinchDoubleTap)]="pinchDoubleTap"
      [(pinchDoubleTapScale)]="pinchDoubleTapScale"
      [(pinchAutoZoomOut)]="pinchAutoZoomOut"
      [(pinchLimitZoom)]="pinchLimitZoom"
      [(pinchDisabled)]="pinchDisabled"
      [(pinchDisablePan)]="pinchDisablePan"
      [(pinchOverflow)]="pinchOverflow"
      [(pinchZoomControlScale)]="pinchZoomControlScale"
      [(pinchDisableZoomControl)]="pinchDisableZoomControl"
      [(pinchLimitPan)]="pinchLimitPan"
      [(pinchMinPanScale)]="pinchMinPanScale"
      [(pinchMinScale)]="pinchMinScale"
      [(pinchListeners)]="pinchListeners"
      [(pinchWheel)]="pinchWheel"
      [(pinchAutoHeight)]="pinchAutoHeight"
      [(pinchWheelZoomFactor)]="pinchWheelZoomFactor"
      [(pinchDraggableImage)]="pinchDraggableImage"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <ng-image
      src="/assets/images/logo.png"
      [width]="width"
      [height]="height"
      [preview]="preview"
      [pinchTransitionDuration]="pinchTransitionDuration"
      [pinchDoubleTap]="pinchDoubleTap"
      [pinchDoubleTapScale]="pinchDoubleTapScale"
      [pinchAutoZoomOut]="pinchAutoZoomOut"
      [pinchLimitZoom]="pinchLimitZoom"
      [pinchDisabled]="pinchDisabled"
      [pinchDisablePan]="pinchDisablePan"
      [pinchOverflow]="pinchOverflow"
      [pinchZoomControlScale]="pinchZoomControlScale"
      [pinchDisableZoomControl]="pinchDisableZoomControl"
      [pinchLimitPan]="pinchLimitPan"
      [pinchMinPanScale]="pinchMinPanScale"
      [pinchMinScale]="pinchMinScale"
      [pinchListeners]="pinchListeners"
      [pinchWheel]="pinchWheel"
      [pinchAutoHeight]="pinchAutoHeight"
      [pinchWheelZoomFactor]="pinchWheelZoomFactor"
      [pinchDraggableImage]="pinchDraggableImage"
    ></ng-image>
  </p-panel>
</div>
