<div class="container">
  <p-card dir="ltr"
          header="ListBox"
          subheader="ListBox is used to select one or more values from a list of items."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'labelPos',
      'checkbox',
      'disabled',
      'filter',
      'filterPlaceHolder',
      'emptyFilterMessage',
      'multiple',
      'readonly',
      'emptyMessage',
      'showToggleAll',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(labelPos)]="labelPos"
      [(checkbox)]="checkbox"
      [(disabled)]="disabled"
      [(filter)]="filter"
      [(filterPlaceHolder)]="filterPlaceHolder"
      [(emptyFilterMessage)]="emptyFilterMessage"
      [(multiple)]="multiple"
      [(readonly)]="readonly"
      [(emptyMessage)]="emptyMessage"
      [(showToggleAll)]="showToggleAll"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <form [formGroup]="form">
    <ng-list-box
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
      [options]="options"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [checkbox]="checkbox"
      [disabled]="disabled"
      [filter]="filter"
      [filterPlaceHolder]="filterPlaceHolder"
      [emptyFilterMessage]="emptyFilterMessage"
      [multiple]="multiple"
      [readonly]="readonly"
      [emptyMessage]="emptyMessage"
      [showToggleAll]="showToggleAll"
    ></ng-list-box>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-list-box
    name="myInput"
    required
    [(ngModel)]="binding"
    [addon]="addon"
    [errors]="{ required: 'error' }"
    [options]="options"
    [label]="label"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [labelPos]="labelPos"
    [checkbox]="checkbox"
    [disabled]="disabled"
    [filter]="filter"
    [filterPlaceHolder]="filterPlaceHolder"
    [emptyFilterMessage]="emptyFilterMessage"
    [multiple]="multiple"
    [readonly]="readonly"
    [emptyMessage]="emptyMessage"
    [showToggleAll]="showToggleAll"
  ></ng-list-box>
</div>
