:host {
  .editor-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    .field {
      flex-grow: 1;
    }

    .p-hint , .p-error {
      display: block;
      width: 100%;
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .p-hint , .p-error {
        left: 0;
      }
    }

    &.rtl {
      label,
      .p-hint , .p-error {
        direction: rtl;
      }

      .p-hint , .p-error {
        right: 0;
      }
    }
  }
}
