<ng-preview
  header="SelectButton"
  subheader="SelectButton is a form component to choose a value from a list of options using button elements."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <ng-select-button formControlName="c1" [validation]="{ required: 'error' }" [options]="options">
        @if (additions.addonStart) {
          <ng-template ngTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template ngTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </ng-select-button>
    }
  </form>
</ng-preview>
