<preview
  component="TreeSelect"
  description="TreeSelect is a form component to choose from hierarchical data."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <pw-tree-select formControlName="c1" [validation]="{ required: 'error' }" [options]="options">
        @if (additions.addonStart) {
          <ng-template pwTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template pwTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconStart) {
          <ng-template pwTemplate="iconStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconEnd) {
          <ng-template pwTemplate="iconEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </pw-tree-select>
    }
  </form>
</preview>
