@if (!inlineMessage) {
  <p-messages
    [class.rtl]="rtl"
    [enableService]="false"
    [severity]="severity"
    [closable]="closable"
  [value]="[{
    summary:summary,
    detail:detail,
    icon:icon,
    severity:severity
  }]">
    @for (t of templates; track t) {
      @if (templateMap[t.getType()]) {
        <ng-template [pTemplate]="t.getType()" let-item>
          <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item}"/>
        </ng-template>
      }
    }
  </p-messages>
}

@if (inlineMessage) {
  <p-message [class.rtl]="rtl" [severity]="severity" [text]="inlineMessage"/>
}
