:host {
  display: block;

  ::ng-deep {
    .p-messages,
    .p-inline-message {
      direction: ltr;
    }

    p-messages.rtl {
      .p-messages {
        direction: rtl;

        .p-message {
          border-width: 0 6px 0 0;
        }

        .p-message-icon {
          margin-right: 0;
          margin-left: 0.5rem;
        }

        .p-message-detail {
          margin-left: 0;
          margin-right: 0.5rem;
        }

        .p-message-close {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    p-message.rtl {
      .p-inline-message {
        direction: rtl;

        .p-inline-message-icon {
          margin-right: 0;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
