<ng-button
  [ngClass]="defaultState == 1 ? 'default-state' : 'new-state'"
  [appearance]="_tmpAppearance"
  [rounded]="rounded"
  [raised]="raised"
  [color]="_tmpColor"
  [full]="full"
  [badgeColor]="badgeColor"
  [size]="size"
  [type]="type"
  [label]="_tmpLabel"
  [icon]="_tmpIcon"
  [iconPos]="iconPos"
  [badge]="badge"
  [badgeClass]="badgeClass"
  [loadingIcon]="loadingIcon"
  [disabled]="disabled"
  [style]="style"
  [styleClass]="styleClass"
  [loading]="loading"
  (onClick)="onClick()">
</ng-button>
