<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="wrapper">
  <div
    [ngClass]="{
      'w-100': labelPos == 'fix-top'
    }"
    class="field"
  >
    <p-toggleButton
      (onChange)="_onChange($event)"
      [(ngModel)]="value"
      [disabled]="disabled"
      [iconPos]="iconPos"
      [ngClass]="{
        'ng-invalid ng-dirty': isInvalid(),
        'justify-content-end': rtl
      }"
      [offIcon]="offIcon"
      [offLabel]="offLabel"
      [onIcon]="onIcon"
      [onLabel]="onLabel"
    ></p-toggleButton>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small *ngIf="showError(error.key)" [class.mt-4]="hint"
             class="p-error">
        {{ error.value }}
      </small>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null"
  >{{ label }}</label>
</div>

<small *ngIf="hint">{{ hint }}</small>
