:host {
  display: block;

  ::ng-deep {
    .status-wrapper {
      text-align: center;

      .status-icon {
        i {
          font-size: 5rem;

          &.pi-check-circle {
            color: #52c41a;
          }

          &.pi-info-circle {
            color: #1890ff;
          }

          &.pi-exclamation-triangle {
            color: #faad14;
          }

          &.pi-times-circle {
            color: #ff4d4f;
          }
        }

        img {
          max-width: 250px;
        }
      }

      .status-content {
        margin-top: 1.5rem;
      }

      .status-title {
        font-size: 1.5rem;
        line-height: 1.8;
      }

      .status-subtitle {
        color: #00000073;
        font-size: 14px;
        line-height: 1.6;
      }

      &.rtl {
        .status-content {
          direction: rtl;
        }
      }

      &.ltr {
        .status-content {
          direction: ltr;
        }
      }
    }
  }
}
