:host {
  display: block;
  padding: 30px;
}

h4 {
  background-color: var(--surface-d);
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

ng-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
