<ng-preview-options [previewItems]="[
'appearance',
'iconPos',
'color',
'badgeColor',
'label',
'icon',
'badge',
'disabled',
'rounded',
'raised',
'full',
'selectiveSize'
]"
                    [(appearance)]="appearance"
                    [(iconPos)]="iconPos"
                    [(color)]="color"
                    [(badgeColor)]="badgeColor"
                    [(label)]="label"
                    [(icon)]="icon"
                    [(disabled)]="disabled"
                    [(rounded)]="rounded"
                    [(raised)]="raised"
                    [(badge)]="badge"
                    [(full)]="full"
                    [(selectiveSize)]="size">
</ng-preview-options>

<div class="container">
  <h4>Preview</h4>
  <ng-button
    [appearance]="appearance"
    [iconPos]="iconPos"
    [color]="color"
    [badgeColor]="badgeColor"
    [label]="label"
    [icon]="icon"
    [disabled]="disabled"
    [rounded]="rounded"
    [raised]="raised"
    [badge]="badge"
    [full]="full"
    [size]="size">
  </ng-button>

  <h4>Other Actions</h4>
  <ng-button (click)="showDialog()" label="dialog"></ng-button>
  <ng-button (click)="showConfirm()" label="confirm"></ng-button>
  <ng-button (click)="showConfirmPopup($event)" label=" confirm popup"></ng-button>
  <ng-button (click)="showToast()" label="toast"></ng-button>
  <ng-button (click)="showMessage()" label="message"></ng-button>
  <ng-button (click)="showDialogForm()" label="dialog form"></ng-button>
  <ng-button (click)="request()" label="request"></ng-button>
  <ng-button (click)="modal.open()" label="custom dialog"></ng-button>
  <ng-button (click)="showCustomDynamicDialog()" label="custom dynamic dialog"></ng-button>
  <p>
    custom dialog result: {{customDialogResult}}
  </p>
</div>

<ng-dialog2 #modal>
  Custom Modal Content
</ng-dialog2>
