<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear,
      'has-toggle-btn': toggleMask
    }" class="input-password-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize"
       (onAfterBtnClick)="emitter('onAfterBtnClick',$event)"
       (onBeforeBtnClick)="emitter('onBeforeBtnClick',$event)">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': !toggleMask && icon && iconPos == 'left',
      'p-input-icon-right': !toggleMask && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="!toggleMask && icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-password
        [(ngModel)]="value"
        [inputId]="inputId"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [promptLabel]="promptLabel"
        [mediumRegex]="mediumRegex"
        [strongRegex]="strongRegex"
        [weakLabel]="weakLabel"
        [mediumLabel]="mediumLabel"
        [strongLabel]="strongLabel"
        [feedback]="feedback"
        [toggleMask]="toggleMask"
        [appendTo]="appendTo"
        [disabled]="disabled"
        [inputStyle]="inputStyle"
        [inputStyleClass]="inputStyleClass"
        [style]="style"
        [styleClass]="styleClass"
        [placeholder]="placeholder"
        [showClear]="showClear"
        (change)="_onChange($event)"
        (input)="_onInput($event)"
        (onBlur)="_onBlur()"
        (onFocus)="emitter('onFocus', $event)"
        (keydown)="_onKeyDown($event)"
        (keyup)="_onKeyUp($event)"
        (onClear)="_onClear()">
        <ng-template pTemplate="content" *ngIf="contentTemplate">
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </ng-template>
        <ng-template pTemplate="header" *ngIf="headerTemplate">
          <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="footerTemplate">
          <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </ng-template>
      </p-password>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
