<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl,
      'is-clearable': showClear,
      'has-value': value
    }" class="input-password-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <i *ngIf="icon && !addon" [ngClass]="icon"></i>
    <p-password
      [(ngModel)]="value"
      [ngAddon]="addon"
      [addonDisabled]="disabled"
      [inputId]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [promptLabel]="promptLabel"
      [mediumRegex]="mediumRegex"
      [strongRegex]="strongRegex"
      [weakLabel]="weakLabel"
      [mediumLabel]="mediumLabel"
      [strongLabel]="strongLabel"
      [feedback]="feedback"
      [toggleMask]="toggleMask"
      [appendTo]="appendTo"
      [disabled]="disabled"
      [inputStyle]="inputStyle"
      [inputStyleClass]="inputStyleClass"
      [style]="style"
      [styleClass]="styleClass"
      [placeholder]="placeholder"
      [showClear]="showClear"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (change)="_onChange($event)"
      (input)="_onInput($event)"
      (onBlur)="_onBlur()"
      (onFocus)="emitter('onFocus', $event)"
      (keydown)="_onKeyDown($event)"
      (keyup)="_onKeyUp($event)"
      (onClear)="_onClear()"
    >
      <ng-template pTemplate="content" *ngIf="contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </ng-template>
      <ng-template pTemplate="header" *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-template>
      <ng-template pTemplate="footer" *ngIf="footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
      </ng-template>
    </p-password>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
