<div class="container">
  <p-card dir="ltr"
          header="ToggleButton"
          subheader="ToggleButton is used to select a boolean value using a button."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-toggle-button
      formControlName="c1"
      [errors]="{ required: 'error' }"
    ></ng-toggle-button>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-toggle-button
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
  ></ng-toggle-button>
</div>
