<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="list-box-wrapper">
  <div
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-input-filled': filled
    }"
    class="field">
    <p-listbox
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onChange)="_onChange($event)"
      (onClick)="_onClick($event)"
      (onDblClick)="_onDblClick($event)"
      [(ngModel)]="value"
      [attr.id]="inputId"
      [checkbox]="checkbox"
      [dataKey]="dataKey"
      [disabled]="disabled"
      [filterMatchMode]="filterMatchMode"
      [filterPlaceHolder]="filterPlaceHolder"
      [filterValue]="filterValue"
      [filter]="filter"
      [multiple]="multiple"
      [ngAddon]="addon"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [optionDisabled]="optionDisabled"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [options]="options"
      [readonly]="readonly"
      [showToggleAll]="showToggleAll"
    >
      <ng-template pTemplate="header" *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-template>
      <ng-template pTemplate="item" let-item *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="group" let-group *ngIf="groupTemplate">
        <ng-container *ngTemplateOutlet="groupTemplate;context:{$implicit:group}"></ng-container>
      </ng-template>
      <ng-template pTemplate="filter" let-options="options" *ngIf="filterTemplate">
        <ng-container *ngTemplateOutlet="filterTemplate;context:{options:options}"></ng-container>
      </ng-template>
      <ng-template pTemplate="empty" *ngIf="emptyTemplate">
        <ng-container *ngTemplateOutlet="emptyTemplate;context"></ng-container>
      </ng-template>
      <ng-template pTemplate="emptyfilter" *ngIf="emptyFilterTemplate">
        <ng-container *ngTemplateOutlet="emptyFilterTemplate"></ng-container>
      </ng-template>
      <ng-template pTemplate="footer" *ngIf="footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate;context"></ng-container>
      </ng-template>
    </p-listbox>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
