<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(filled)]="filled"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{ 'rtl': rtl, 'ltr': !rtl }" class="tri-state-checkbox-wrapper">
  <div class="field">
    <p-triStateCheckbox
      [(ngModel)]="value"
      [inputId]="inputId"
      [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
      [disabled]="disabled"
      [tabindex]="tabindex"
      [style]="style"
      [styleClass]="styleClass"
      [readonly]="readonly"
      [checkboxTrueIcon]="checkboxTrueIcon"
      [checkboxFalseIcon]="checkboxFalseIcon"
      (onChange)="_onChange($event)"
    ></p-triStateCheckbox>
    <label
      [attr.for]="inputId"
      [class.p-disabled]="disabled">
      {{ label }}
    </label>
  </div>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
