<div class="main-content {{getClasses()}}">
  <ng-navbar-menu
    [sidebarType]="sidebarType"
    [sidebarVisible]="sidebarVisible"
    [sidebarLock]="sidebarLock"
    [sidebarItems]="sidebarItems"
    (sidebarTypeChange)="onSidebarTypeChange($event)"
    (sidebarVisibleChange)="onSidebarVisibleChange($event)"
    (sidebarLockChange)="onSidebarLockChange($event)">
  </ng-navbar-menu>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<ng-loading></ng-loading>
<p-scrollTop></p-scrollTop>
