:host {
  display: block;
  padding: 3rem 0;
}

p-card {
  &, ~ p-panel {
    margin-bottom: 1rem;
    display: block;

    ::ng-deep .p-panel-content {
      max-height: 500px;
      overflow: auto;
    }
  }

  ::ng-deep .p-card-content {
    padding: 0;
  }
}
