$baseUrl: "/assets/styles/fonts/vazirmatn-round-dots/plain";

@font-face {
  font-family: Vazirmatn;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-Thin.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-Thin.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-ExtraLight.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-ExtraLight.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-Light.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-Light.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-Regular.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-Regular.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-Medium.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-Medium.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-SemiBold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-SemiBold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-Bold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-Bold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-ExtraBold.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-ExtraBold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirmatn;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("#{$baseUrl}/woff2/Vazirmatn-RD-Black.woff2") format("woff2"),
  url("#{$baseUrl}/ttf/Vazirmatn-RD-Black.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}
