:host ::ng-deep {
  .chips-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    p-chips,
    .p-chips,
    .p-inputtext, {
      width: 100%;
    }

    .field {
      flex-grow: 1;

      &.p-input-icon-right {
        .p-inputtext {
          padding-right: 2rem;
        }
      }

      &.p-input-icon-left {
        .p-inputtext {
          padding-left: 2rem;
        }
      }

      p-chips {
        &.has-before {
          .p-chips {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &.has-after {
          .p-chips {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    i {
      z-index: 200;
    }

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .message {
        left: 0;
      }
    }

    &.rtl {
      .p-inputtext,
      label,
      .message {
        direction: rtl;
      }

      .field {
        &.p-float-label {
          label {
            right: 0.5rem;
            left: auto;
          }

          &.p-input-icon-right {
            label {
              right: 2rem;
            }
          }
        }
      }

      .message {
        right: 0;
      }

      .p-chips-clearable {
        .p-inputtext {
          padding-right: 0.75rem;
          padding-left: 2.5rem;
        }

        .p-chips-clear-icon {
          right: auto;
          left: 0.75rem;
        }
      }

      .p-chips-token {
        margin-left: 0.5rem;
        margin-right: 0;

        .p-chips-token-icon {
          margin-right: 0.5rem;
          margin-left: 0;
        }
      }
    }
  }
}
