$root: "p-chips";
$wrapper: "p-chips ::ng-deep .p-chips";
$inputEl: "p-chips ::ng-deep .p-inputtext";

#{$root},
#{$wrapper},
#{$inputEl},
small {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  position: relative;

  .field {
    flex-grow: 1;
  }

  #{$root} {
    &.has-before ::ng-deep .p-inputtext {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.has-after ::ng-deep .p-inputtext {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .field {
    position: relative;

    .error {
      position: absolute;
      top: 100%;
    }
  }

  &.ltr {
    .field {

      .error {
        left: 0;
      }
    }

    #{$inputEl},
    label, small {
      direction: ltr;
    }
  }

  &.rtl {
    text-align: right;

    .field {
      &.p-float-label {
        label {
          right: 0.5rem;
          left: auto;
        }

        &.p-input-icon-right {
          label {
            right: 2rem;
          }
        }
      }

      .error {
        right: 0;
      }

      &.p-input-icon-right #{$inputEl} {
        padding-right: 2rem;
      }

      #{$wrapper} {
        .p-chips-token {
          flex-direction: row-reverse;
          margin-left: 0.5rem;
          margin-right: 0;
        }
      }
    }

    #{$inputEl},
    label, small {
      direction: rtl;
    }
  }
}
