<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="dual-label-switch-wrapper">

  <div [ngClass]="{ 'w-100': labelPos == 'fix-top' }" class="field">
    <div class="field-inner">
      <span class="label-left">{{labelLeft}}</span>
      <p-inputSwitch
        [(ngModel)]="value"
        [inputId]="inputId"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [style]="style"
        [styleClass]="styleClass"
        [tabindex]="tabindex"
        [disabled]="disabled"
        [readonly]="readonly"
        [trueValue]="labelRightValue"
        [falseValue]="labelLeftValue"
        (onChange)="_onChange($event)"
      ></p-inputSwitch>
      <span class="label-right">{{labelRight}}</span>
    </div>
  </div>
  <label
    *ngIf="label"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{label}}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
