<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="dual-label-switch-wrapper">
  <div class="field">
    <span class="label-left" [class.text-muted]="disabled">{{labelLeft}}</span>
    <p-inputSwitch
      [(ngModel)]="value"
      [inputId]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [style]="style"
      [styleClass]="styleClass"
      [tabindex]="tabindex"
      [disabled]="disabled"
      [readonly]="readonly"
      [trueValue]="labelRightValue"
      [falseValue]="labelLeftValue"
      (onChange)="_onChange($event)"
    ></p-inputSwitch>
    <span class="label-right" [class.text-muted]="disabled">{{labelRight}}</span>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
