:host ::ng-deep {
  .dual-label-switch-wrapper {
    display: flex;
    position: relative;

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.label-fix-top {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &.label-fix-side {
      flex-direction: row-reverse;
      align-items: center;

      .fix-label {
        margin-bottom: 0;
      }
    }

    .field {
      flex-grow: 1;
      align-self: stretch;
      direction: ltr;
      display: inline-flex;
      align-items: center;

      .label-left {
        margin-right: 1rem;
      }

      .label-right {
        margin-left: 1rem;
      }
    }

    .p-inputswitch {
      .p-inputswitch-slider {
        background-color: var(--primary-color) !important;
      }
    }

    &.ltr {
      direction: ltr;

      .message {
        left: 0;
      }

      .fix-label {
        margin-right: 1rem;
      }

      .field {
        justify-content: flex-start;
      }
    }

    &.rtl {
      direction: rtl;

      .message {
        right: 0;
      }

      .field {
        justify-content: flex-end;
      }

      .fix-label {
        margin-left: 1rem;
      }
    }
  }
}
