<div class="container">
  <p-card dir="ltr"
          header="Map"
          subheader="Map component provides integration with Leaflet Maps API. This sample demontrates various uses cases like binding, overlays and events. Click the map to add a new item."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'fixLabelPos',
      'addon',
      'disabled',
      'readonly',
      'multiple',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(fixLabelPos)]="labelPos"
      [(addon)]="addon"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
      [(multiple)]="multiple"
    ></ng-preview-options>
  </p-panel>

  <p-panel dir="ltr" header="Preview">
    <p-divider align="center">
      <b>Using With Reactive Forms</b>
    </p-divider>
    <form [formGroup]="form">
      <ng-map
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [labelPos]="labelPos"
        [addon]="addon"
        [disabled]="disabled"
        [readonly]="readonly"
        [multiple]="multiple"
      ></ng-map>
    </form>

    <p-divider align="center">
      <b>Using With NgModel</b>
    </p-divider>
    <ng-map
      name="myInput"
      required
      [(ngModel)]="binding"
      [validation]="{ required: 'error' }"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [disabled]="disabled"
      [readonly]="readonly"
      [multiple]="multiple"
    ></ng-map>
    <pre class="mt-3 mb-0" dir="ltr"><b>Value :</b> {{binding | json}}</pre>
  </p-panel>
</div>
