<div class="input-mask-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear
    }">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="fluid">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-inputMask
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [type]="type"
        [slotChar]="slotChar"
        [autoClear]="autoClear"
        [showClear]="showClear"
        [style]="style"
        [inputId]="inputId"
        [styleClass]="styleClass"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [size]="size"
        [maxlength]="maxlength"
        [tabindex]="tabindex"
        [title]="title"
        [variant]="variant"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [ariaRequired]="ariaRequired"
        [disabled]="disabled"
        [readonly]="readonly"
        [unmask]="unmask"
        [name]="name"
        [required]="required"
        [characterPattern]="characterPattern"
        [autofocus]="autofocus"
        [autocomplete]="autocomplete"
        [keepBuffer]="keepBuffer"
        [mask]="mask"
        (onComplete)="emitter('onComplete', $event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onInput)="_onInput($event)"
        (onKeydown)="emitter('onKeydown', $event)"
        (onClear)="_onClear()">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type">
              <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
            </ng-template>
          }
        }
      </p-inputMask>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-form-field>
</div>
