<div [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [class]="{
     'input-mask-wrapper': true,
     'icon-start': templateMap['iconStart'] && !templateMap['iconEnd'],
     'icon-end': templateMap['iconEnd'] && !templateMap['iconStart'],
     'icon-both': templateMap['iconStart'] && templateMap['iconEnd'],
     'addon-start': templateMap['addonStart'] && !templateMap['addonEnd'],
     'addon-end': templateMap['addonEnd'] && !templateMap['addonStart'],
     'addon-both': templateMap['addonStart'] && templateMap['addonEnd'],
     'fluid': fluid,
     'clearable': showClear
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-inputMask
        [(ngModel)]="value"
        [invalid]="isInvalid"
        [placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
        [required]="required"
        [disabled]="disabled"
        [name]="name"
        [fluid]="fluid"
        [variant]="variant"
        [size]="size"
        [inputSize]="inputSize"
        [pattern]="pattern"
        [min]="min"
        [max]="max"
        [step]="step"
        [minlength]="minlength"
        [maxlength]="maxlength"
        [type]="type"
        [slotChar]="slotChar"
        [autoClear]="autoClear"
        [showClear]="showClear"
        [inputId]="inputId"
        [placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
        [tabindex]="tabindex"
        [title]="title"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [ariaRequired]="ariaRequired"
        [readonly]="readonly"
        [unmask]="unmask"
        [characterPattern]="characterPattern"
        [autofocus]="autofocus"
        [autocomplete]="autocomplete"
        [keepBuffer]="keepBuffer"
        [mask]="mask"
        (onComplete)="emitter('onComplete', $event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onInput)="_onInput($event)"
        (onKeydown)="emitter('onKeydown', $event)"
        (onClear)="_onClear()">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type">
              <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
            </ng-template>
          }
        }
      </p-inputMask>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [pwTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </pw-form-field>
</div>
