<div class="container py-6 [&_.p-card-content]:hidden [&>*]:block [&>*:not(:last-child)]:mb-4">
  <p-card header="Slider"
          subheader="Slider is an input component to provide a numerical input."/>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'fixLabelPos',
      'followConfig',
      'animate',
      'disabled',
      'min',
      'max',
      'orientation',
      'step',
      'range',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(fixLabelPos)]="labelPos"
      [(followConfig)]="followConfig"
      [(animate)]="animate"
      [(disabled)]="disabled"
      [(min)]="min"
      [(max)]="max"
      [(orientation)]="orientation"
      [(step)]="step"
      [(range)]="range"/>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-slider
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [labelPos]="labelPos"
        [followConfig]="followConfig"
        [animate]="animate"
        [disabled]="disabled"
        [min]="min"
        [max]="max"
        [orientation]="orientation"
        [step]="step"
        [range]="range"/>
    </form>
  </p-panel>
</div>
