<preview
  component="InputTextarea"
  description="InputTextarea is a multi-line text input element."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <form [formGroup]="form">
    @if (render) {
      <pw-input-textarea formControlName="c1" [validation]="{ required: 'error' }">
        @if (additions.addonStart) {
          <ng-template pwTemplate="addonStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.addonEnd) {
          <ng-template pwTemplate="addonEnd"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconStart) {
          <ng-template pwTemplate="iconStart"><i class="pi pi-prime"></i></ng-template>
        }
        @if (additions.iconEnd) {
          <ng-template pwTemplate="iconEnd"><i class="pi pi-prime"></i></ng-template>
        }
      </pw-input-textarea>
    }
  </form>
</preview>
