<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl,
      'is-clearable': showClear,
      'has-value': value
    }" class="dropdown-wrapper">
  <div
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <i *ngIf="icon && !addon" [ngClass]="icon"></i>
    <p-dropdown
      [(ngModel)]="value"
      [ngAddon]="addon"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [inputId]="inputId"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [optionGroupLabel]="optionGroupLabel"
      [optionGroupChildren]="optionGroupChildren"
      [scrollHeight]="scrollHeight"
      [style]="style"
      [panelStyle]="panelStyle"
      [styleClass]="styleClass"
      [panelStyleClass]="panelStyleClass"
      [filter]="filter"
      [filterValue]="filterValue"
      [filterBy]="filterBy"
      [filterMatchMode]="filterMatchMode"
      [filterPlaceholder]="filterPlaceholder"
      [filterLocale]="filterLocale"
      [disabled]="disabled"
      [readonly]="readonly"
      [emptyMessage]="emptyMessage"
      [emptyFilterMessage]="emptyFilterMessage"
      [editable]="editable"
      [maxlength]="maxlength"
      [appendTo]="appendTo"
      [tabindex]="tabindex"
      [placeholder]="placeholder"
      [dataKey]="dataKey"
      [autofocus]="autofocus"
      [autofocusFilter]="autofocusFilter"
      [resetFilterOnHide]="resetFilterOnHide"
      [dropdownIcon]="dropdownIcon"
      [autoDisplayFirst]="autoDisplayFirst"
      [group]="group"
      [showClear]="showClear"
      [baseZIndex]="baseZIndex"
      [autoZIndex]="autoZIndex"
      [showTransitionOptions]="showTransitionOptions"
      [hideTransitionOptions]="hideTransitionOptions"
      [tooltip]="tooltip"
      [tooltipStyleClass]="tooltipStyleClass"
      [tooltipPosition]="tooltipPosition"
      [tooltipPositionStyle]="tooltipPositionStyle"
      [virtualScroll]="virtualScroll"
      [virtualScrollItemSize]="virtualScrollItemSize"
      [lazy]="lazy"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onClick)="emitter('onClick',$event)"
      (onChange)="_onChange($event)"
      (onFilter)="emitter('onFilter',$event)"
      (onFocus)="emitter('onFocus',$event)"
      (onBlur)="_onBlur()"
      (onShow)="emitter('onShow',$event)"
      (onHide)="emitter('onHide',$event)"
      (onClear)="_onClear()"
      (onLazyLoad)="emitter('onLazyLoad',$event)"
    >
      <ng-template pTemplate="item" let-item *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="selectedItem" let-item *ngIf="selectedItemTemplate">
        <ng-container *ngTemplateOutlet="selectedItemTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="header" let-item *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="footer" let-item *ngIf="footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="emptyfilter" let-item *ngIf="emptyFilterTemplate">
        <ng-container *ngTemplateOutlet="emptyFilterTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="empty" let-item *ngIf="emptyTemplate">
        <ng-container *ngTemplateOutlet="emptyTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="group" let-item *ngIf="groupTemplate">
        <ng-container *ngTemplateOutlet="groupTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
    </p-dropdown>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
