:host ::ng-deep {
  .dropdown-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    p-dropdown,
    .p-dropdown,
    small {
      width: 100%;
    }

    .field {
      flex-grow: 1;

      &.p-input-icon-right {
        .p-inputtext {
          padding-right: 2rem;
        }
      }

      &.p-input-icon-left {
        .p-inputtext {
          padding-left: 2rem;
        }
      }

      p-dropdown {
        &.has-before {
          .p-dropdown {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &.has-after {
          .p-dropdown {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    i {
      z-index: 200;
    }

    small {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      small {
        left: 0;
      }

      .field.p-input-icon-right {
        i {
          right: calc(0.75rem + 3rem)
        }
      }
    }

    &.rtl {
      text-align: right;

      .p-inputtext,
      label,
      small {
        direction: rtl;
      }

      .field {
        &.p-float-label {
          label {
            right: 0.5rem;
            left: auto;
          }

          &.p-input-icon-right {
            label {
              right: calc(0.5rem + 2rem);
              left: auto;
            }

            i {
              left: auto;
              right: 0.75rem
            }
          }
        }

        &.p-input-icon-left {
          i {
            right: auto;
            left: calc(0.75rem + 3rem)
          }
        }
      }

      .p-dropdown {
        flex-direction: row-reverse;
      }

      .p-dropdown-clearable {
        .p-inputtext {
          padding-right: 0.75rem;
          padding-left: 1.75rem;
        }

        .p-dropdown-clear-icon {
          right: auto;
          left: 3rem;
        }
      }
    }
  }
}
