::ng-deep {
  .element-additions-wrapper {
    &, .p-inputtext {
      width: auto;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      user-select: none;

      label {
        opacity: 0.6;
      }
    }

    &.fluid {
      &, .p-inputtext, & > * {
        width: 100%;
      }
    }

    .field {
      flex: 1;
    }

    p-inputicon {
      z-index: 50;
    }

    .label-side {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;

      &.revers {
        flex-direction: row-reverse;
      }
    }

    .label-top {
      display: inline-flex;
      flex-direction: column;
    }
  }
}
