<p-image
  [imageClass]="imageClass"
  [imageStyle]="imageStyle"
  [styleClass]="styleClass"
  [style]="style"
  [src]="src"
  [srcSet]="srcSet"
  [sizes]="sizes"
  [previewImageSrc]="previewImageSrc"
  [previewImageSrcSet]="previewImageSrcSet"
  [previewImageSizes]="previewImageSizes"
  [alt]="alt"
  [width]="width"
  [height]="height"
  [loading]="loading"
  [appendTo]="appendTo"
  [preview]="preview"
  [showTransitionOptions]="showTransitionOptions"
  [hideTransitionOptions]="hideTransitionOptions">
  <ng-template pTemplate="preview" let-style="style" let-previewCallback="previewCallback">
    <ng-pinch-zoom [properties]="pinchProperties" (onZoomControlClick)="previewCallback()">
      <img [ngStyle]="style" [src]="src" [alt]="alt" (click)="previewCallback()"/>
    </ng-pinch-zoom>
  </ng-template>

  @for (t of templates; track t) {
    @if (templateMap[t.type]) {
      <ng-template [pTemplate]="t.type">
        <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
      </ng-template>
    }
  }
</p-image>
