<span [ngClass]="containerClass()" [class]="styleClass" [ngStyle]="style">
            <img [attr.src]="src" [attr.srcset]="srcSet" [attr.sizes]="sizes" [attr.alt]="alt" [attr.width]="width"
                 [attr.height]="height" [attr.loading]="loading" [ngStyle]="imageStyle" [class]="imageClass"
                 (error)="imageError($event)"/>
            <button *ngIf="preview" [attr.aria-label]="zoomImageAriaLabel" type="button"
                    class="p-image-preview-indicator" (click)="onImageClick()" #previewButton
                    [ngStyle]="{ height: height + 'px', width: width + 'px' }" style="border: 'none';">
                <ng-container *ngIf="indicatorTemplate; else defaultTemplate">
                    <ng-container *ngTemplateOutlet="indicatorTemplate"></ng-container>
                </ng-container>
                <ng-template #defaultTemplate>
                    <EyeIcon [styleClass]="'p-image-preview-icon'"/>
                </ng-template>
            </button>
            <div #mask class="p-image-mask p-component-overlay p-component-overlay-enter" *ngIf="maskVisible"
                 [attr.aria-modal]="maskVisible" role="dialog" (click)="onMaskClick()" (keydown)="onMaskKeydown($event)"
                 pFocusTrap>
                <div class="p-image-toolbar" (click)="handleToolbarClick($event)">
                    <button class="p-image-action p-link" (click)="rotateRight()" type="button"
                            [attr.aria-label]="rightAriaLabel()">
                        <RefreshIcon *ngIf="!rotateRightIconTemplate"/>
                        <ng-template *ngTemplateOutlet="rotateRightIconTemplate"></ng-template>
                    </button>
                    <button class="p-image-action p-link" (click)="rotateLeft()" type="button"
                            [attr.aria-label]="leftAriaLabel()">
                        <UndoIcon *ngIf="!rotateLeftIconTemplate"/>
                        <ng-template *ngTemplateOutlet="rotateLeftIconTemplate"></ng-template>
                    </button>
                    <button class="p-image-action p-link" (click)="zoomOut()" type="button"
                            [disabled]="isZoomOutDisabled" [attr.aria-label]="zoomOutAriaLabel()">
                        <SearchMinusIcon *ngIf="!zoomOutIconTemplate"/>
                        <ng-template *ngTemplateOutlet="zoomOutIconTemplate"></ng-template>
                    </button>
                    <button class="p-image-action p-link" (click)="zoomIn()" type="button" [disabled]="isZoomInDisabled"
                            [attr.aria-label]="zoomInAriaLabel()">
                        <SearchPlusIcon *ngIf="!zoomInIconTemplate"/>
                        <ng-template *ngTemplateOutlet="zoomInIconTemplate"></ng-template>
                    </button>
                    <button class="p-image-action p-link" type="button" (click)="closePreview()"
                            [attr.aria-label]="closeAriaLabel()" #closeButton>
                        <TimesIcon *ngIf="!closeIconTemplate"/>
                        <ng-template *ngTemplateOutlet="closeIconTemplate"></ng-template>
                    </button>
                </div>
                <div
                  *ngIf="previewVisible"
                  [@animation]="{ value: 'visible', params: { showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions } }"
                  (@animation.start)="onAnimationStart($event)"
                  (@animation.done)="onAnimationEnd($event)"
                >
                  <ng-pinch-zoom
                    [transitionDuration]="pinchTransitionDuration"
                    [doubleTap]="pinchDoubleTap"
                    [doubleTapScale]="pinchDoubleTapScale"
                    [autoZoomOut]="pinchAutoZoomOut"
                    [limitZoom]="pinchLimitZoom"
                    [disabled]="pinchDisabled"
                    [disablePan]="pinchDisablePan"
                    [overflow]="pinchOverflow"
                    [zoomControlScale]="pinchZoomControlScale"
                    [disableZoomControl]="pinchDisableZoomControl"
                    [limitPan]="pinchLimitPan"
                    [minPanScale]="pinchMinPanScale"
                    [minScale]="pinchMinScale"
                    [listeners]="pinchListeners"
                    [wheel]="pinchWheel"
                    [autoHeight]="pinchAutoHeight"
                    [wheelZoomFactor]="pinchWheelZoomFactor"
                    [draggableImage]="pinchDraggableImage"
                    [style]="previewStyle"
                    [styleClass]="previewStyleClass">
                    <span>
                                <img [attr.alt]="alt" [attr.src]="previewImageSrc ? previewImageSrc : src"
                                     [attr.srcset]="previewImageSrcSet"
                                     [attr.sizes]="previewImageSizes" class="p-image-preview" [ngStyle]="imagePreviewStyle()"
                                     (click)="onPreviewImageClick()"/>
                    </span>
                  </ng-pinch-zoom>
                </div>
            </div>
        </span>


