<p-image [src]="src" [preview]="true" alt="Image"
         width="250">
  <ng-template pTemplate="preview" let-style="style" let-previewCallback="previewCallback">
    <ng-pinch-zoom
      [transitionDuration]="pinchTransitionDuration"
      [doubleTap]="pinchDoubleTap"
      [doubleTapScale]="pinchDoubleTapScale"
      [autoZoomOut]="pinchAutoZoomOut"
      [limitZoom]="pinchLimitZoom"
      [disabled]="pinchDisabled"
      [disablePan]="pinchDisablePan"
      [overflow]="pinchOverflow"
      [zoomControlScale]="pinchZoomControlScale"
      [disableZoomControl]="pinchDisableZoomControl"
      [limitPan]="pinchLimitPan"
      [minPanScale]="pinchMinPanScale"
      [minScale]="pinchMinScale"
      [listeners]="pinchListeners"
      [wheel]="pinchWheel"
      [autoHeight]="pinchAutoHeight"
      [wheelZoomFactor]="pinchWheelZoomFactor"
      [draggableImage]="pinchDraggableImage"
      [style]="previewStyle"
      [styleClass]="previewStyleClass">
      <span [style]="style">
        <img [src]="src" [alt]="alt" (click)="previewCallback()"/>
      </span>
    </ng-pinch-zoom>
  </ng-template>

  @for (t of templates; track t) {
    @if (templateMap[t.type]) {
      <ng-template [pTemplate]="t.type">
        <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
      </ng-template>
    }
  }
</p-image>
