<p-table #dataTable
         [value]="items"
         [columns]="colDef"
         [frozenColumns]="frozenColumns"
         [frozenValue]="frozenValue"
         [responsiveLayout]="responsiveLayout"
         [breakpoint]="breakpoint"
         [style]="style"
         [styleClass]="styleClass"
         [tableStyle]="tableStyle"
         [tableStyleClass]="tableStyleClass"
         [paginator]="paginator"
         [totalRecords]="totalRecords"
         [pageLinks]="pageLinks"
         [rowsPerPageOptions]="rowsPerPageOptions"
         [alwaysShowPaginator]="alwaysShowPaginator"
         [showFirstLastIcon]="showFirstLastIcon"
         [paginatorPosition]="paginatorPosition"
         [currentPageReportTemplate]="currentPageReportTemplate"
         [showCurrentPageReport]="showCurrentPageReport"
         [showJumpToPageDropdown]="showJumpToPageDropdown"
         [showJumpToPageInput]="showJumpToPageInput"
         [showPageLinks]="showPageLinks"
         [sortMode]="sortMode"
         [sortField]="sortField"
         [sortOrder]="sortOrder"
         [multiSortMeta]="multiSortMeta"
         [rowGroupMode]="rowGroupMode"
         [groupRowsBy]="groupRowsBy"
         [groupRowsByOrder]="groupRowsByOrder"
         [defaultSortOrder]="defaultSortOrder"
         [customSort]="local"
         [showInitialSortBadge]="showInitialSortBadge"
         [selectionMode]="selectionMode"
         [selectionPageOnly]="selectionPageOnly"
         [contextMenuSelectionMode]="contextMenuSelectionMode"
         [dataKey]="dataKey"
         [metaKeySelection]="metaKeySelection"
         [rowSelectable]="rowSelectable"
         [rowTrackBy]="rowTrackBy"
         [lazy]="lazy"
         [lazyLoadOnInit]="lazyLoadOnInit"
         [compareSelectionBy]="compareSelectionBy"
         [csvSeparator]="csvSeparator"
         [exportFilename]="exportFilename"
         [filters]="filters"
         [filterDelay]="filterDelay"
         [globalFilterFields]="globalFilterFields"
         [filterLocale]="filterLocale"
         [expandedRowKeys]="expandedRowKeys"
         [rowExpandMode]="rowExpandMode"
         [scrollable]="scrollable"
         [scrollDirection]="scrollDirection"
         [scrollHeight]="scrollHeight"
         [virtualScroll]="virtualScroll"
         [virtualScrollDelay]="virtualScrollDelay"
         [virtualScrollItemSize]="virtualScrollItemSize"
         [virtualScrollOptions]="virtualScrollOptions"
         [contextMenu]="contextMenu"
         [resizableColumns]="resizableColumns"
         [columnResizeMode]="columnResizeMode"
         [reorderableColumns]="reorderableColumns"
         [loading]="loading"
         [loadingIcon]="loadingIcon"
         [showLoader]="showLoader"
         [rowHover]="rowHover"
         [paginatorDropdownAppendTo]="paginatorDropdownAppendTo"
         [paginatorDropdownScrollHeight]="paginatorDropdownScrollHeight"
         [autoLayout]="autoLayout"
         [resetPageOnSort]="resetPageOnSort"
         [exportFunction]="exportFunction"
         [stateKey]="stateKey"
         [stateStorage]="stateStorage"
         [editMode]="editMode"
         [editingRowKeys]="editingRowKeys"
         [exportHeader]="exportHeader"
         (onRowSelect)="emitter('onRowSelect',$event)"
         (onRowUnselect)="emitter('onRowUnselect',$event)"
         (onPage)="emitter('onPage',$event)"
         (onSort)="emitter('onSort',$event)"
         (onFilter)="_onFilter($event)"
         (onLazyLoad)="emitter('onLazyLoad',$event)"
         (onRowExpand)="emitter('onRowExpand',$event)"
         (onRowCollapse)="emitter('onRowCollapse',$event)"
         (onContextMenuSelect)="emitter('onContextMenuSelect',$event)"
         (onColResize)="emitter('onColResize',$event)"
         (onColReorder)="emitter('onColReorder',$event)"
         (onRowReorder)="emitter('onRowReorder',$event)"
         (onEditInit)="emitter('onEditInit',$event)"
         (onEditComplete)="emitter('onEditComplete',$event)"
         (onEditCancel)="emitter('onEditCancel',$event)"
         (onHeaderCheckboxToggle)="emitter('onHeaderCheckboxToggle',$event)"
         (onStateSave)="emitter('onStateSave',$event)"
         (onStateRestore)="emitter('onStateRestore',$event)"
         (sortFunction)="emitter('sortFunction',$event)"
         (firstChange)="onFirstChange($event)"
         (rowsChange)="onRowsChange($event)"
         (selectAllChange)="onSelectAllChange($event)"
         (selectionChange)="onSelectionChange($event)"
         (contextMenuSelectionChange)="onContextMenuSelectionChange($event)">

  <ng-template pTemplate="caption" let-item *ngIf="captionTemplate">
    <ng-container *ngTemplateOutlet="captionTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="headergrouped" let-item *ngIf="headerGroupedTemplate">
    <ng-container *ngTemplateOutlet="headerGroupedTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="groupheader" let-item *ngIf="groupHeaderTemplate">
    <ng-container *ngTemplateOutlet="groupHeaderTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <ng-container *ngIf="filterDisplay == 'menu'">
      <tr>
        <th style="width: 3rem" *ngIf="reorderableRows"></th>
        <th style="width: 3rem" *ngIf="selectionMode == 'radio' || selectionMode == 'checkbox'">
          <p-tableHeaderCheckbox *ngIf="selectionMode == 'checkbox'"></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of colDef" [pSortableColumn]="col.field" pReorderableColumn>
          {{ col.header }}
          <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>

          <p-columnFilter *ngIf="col.filter as filter"
                          [field]="col.field"
                          display="menu"
                          [matchMode]="filter.matchMode"
                          [showMatchModes]="false"
                          [showOperator]="false"
                          [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0"><span class="font-bold">{{filter.header}}</span></div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filterCallback="filterCallback" [ngSwitch]="filter.type">
              <ng-input-text
                *ngSwitchCase="'text'"
                [ngModel]="value"
                (onChange)="onChangeFilterValue($event,filterCallback,col)">
              </ng-input-text>

              <ng-input-number
                *ngSwitchCase="'number'"
                [ngModel]="value"
                (onInput)="onChangeFilterValue($event,filterCallback,col)">
              </ng-input-number>

              <ng-multi-select
                *ngSwitchCase="'multi-select'"
                [ngModel]="value"
                [options]="filter.options"
                [optionLabel]="filter.optionLabel"
                [optionValue]="filter.optionValue"
                [placeholder]="filter.placeholder"
                (onChange)="onChangeFilterValue($event,filterCallback,col)">
              </ng-multi-select>

              <p-dropdown
                *ngSwitchCase="'dropdown'"
                [ngModel]="value"
                [options]="filter.options"
                [optionLabel]="filter.optionLabel"
                [optionValue]="filter.optionValue"
                [placeholder]="filter.placeholder"
                (onChange)="onChangeFilterValue($event,filterCallback,col)">
              </p-dropdown>

              <ng-container *ngSwitchCase="'slider'">
                <ng-slider
                  [ngModel]="filter.sliderValue"
                  [min]="filter.min"
                  [max]="filter.max"
                  [range]="filter.range"
                  (onSlideEnd)="onChangeFilterValue($event,filterCallback,col)">
                </ng-slider>
                <span>11111: {{filter.sliderValue}}</span>
                <!--                <span>{{filter.sliderValue[1]}}</span>-->
              </ng-container>
              <ng-tri-state-checkbox
                *ngSwitchCase="'checkbox'"
                [ngModel]="value"
                (onChange)="onChangeFilterValue($event,filterCallback,col)">
              </ng-tri-state-checkbox>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-container>
    <ng-container *ngIf="filterDisplay == 'row'">
      <tr>
        <th style="width: 3rem" *ngIf="reorderableRows"></th>
        <th style="width: 3rem" *ngIf="selectionMode == 'radio' || selectionMode == 'checkbox'">
          <p-tableHeaderCheckbox *ngIf="selectionMode == 'checkbox'"></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of colDef" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 3rem" *ngIf="selectionMode == 'radio' || selectionMode == 'checkbox'">
          <p-tableHeaderCheckbox *ngIf="selectionMode == 'checkbox'"></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of colDef">
          <p-columnFilter *ngIf="col.filter" [type]="col.filter.type" [field]="col.field"></p-columnFilter>
        </th>
      </tr>
    </ng-container>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-item *ngIf="rowExpansionTemplate">
    <ng-container *ngTemplateOutlet="rowExpansionTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="frozenbody" let-item *ngIf="frozenBodyTemplate">
    <ng-container *ngTemplateOutlet="frozenBodyTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="frozenrowexpansion" let-item *ngIf="frozenRowExpansionTemplate">
    <ng-container *ngTemplateOutlet="frozenRowExpansionTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>

  <ng-template pTemplate="body" let-item let-columns="columns" let-index="rowIndex">
    <ng-container *ngIf="bodyTemplate; else defaultBodyTemplate">
      <ng-container *ngTemplateOutlet="bodyTemplate;context:{$implicit:item}"></ng-container>
    </ng-container>
    <ng-template #defaultBodyTemplate>
      <tr [pReorderableRow]="index">
        <td *ngIf="reorderableRows">
          <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
        </td>
        <td *ngIf="selectionMode == 'radio'">
          <p-tableRadioButton [value]="item" [disabled]="item[disableSelectionField]"></p-tableRadioButton>
        </td>
        <td *ngIf="selectionMode == 'checkbox'">
          <p-tableCheckbox [value]="item" [disabled]="item[disableSelectionField]"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of colDef">
          {{fromObj(item, col.field)}}
        </td>
      </tr>
    </ng-template>
  </ng-template>

  <ng-template pTemplate="footer" let-item *ngIf="footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="footergrouped" let-item *ngIf="footerGroupedTemplate">
    <ng-container *ngTemplateOutlet="footerGroupedTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="groupfooter" let-item *ngIf="groupFooterTemplate">
    <ng-container *ngTemplateOutlet="groupFooterTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="summary" let-item *ngIf="summaryTemplate">
    <ng-container *ngTemplateOutlet="summaryTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-item *ngIf="emptyMessageTemplate">
    <ng-container *ngTemplateOutlet="emptyMessageTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-item *ngIf="loadingBodyTemplate">
    <ng-container *ngTemplateOutlet="loadingBodyTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="paginatorleft" let-item *ngIf="paginatorLeftTemplate">
    <ng-container *ngTemplateOutlet="paginatorLeftTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
  <ng-template pTemplate="paginatorright" let-item *ngIf="paginatorRightTemplate">
    <ng-container *ngTemplateOutlet="paginatorRightTemplate;context:{$implicit:item}"></ng-container>
  </ng-template>
</p-table>


<!--<p-table-->
<!--  #dt-->
<!--  (contextMenuSelectionChange)="onContextMenuSelectionChange($event)"-->
<!--  (onColReorder)="emitter('onColReorder',$event)"-->
<!--  (onColResize)="emitter('onColResize',$event)"-->
<!--  (onContextMenuSelect)="emitter('onContextMenuSelect',$event)"-->
<!--  (onEditCancel)="emitter('onEditCancel',$event)"-->
<!--  (onEditComplete)="emitter('onEditComplete',$event)"-->
<!--  (onEditInit)="emitter('onEditInit',$event)"-->
<!--  (onFilter)="emitter('onFilter',$event)"-->
<!--  (onHeaderCheckboxToggle)="emitter('onHeaderCheckboxToggle',$event)"-->
<!--  (onPage)="emitter('onPage',$event)"-->
<!--  (onRowReorder)="emitter('onRowReorder',$event)"-->
<!--  (onRowSelect)="emitter('onRowSelect',$event)"-->
<!--  (onRowUnselect)="emitter('onRowUnselect',$event)"-->
<!--  (onSort)="emitter('onSort',$event)"-->
<!--  (onStateRestore)="emitter('onStateRestore',$event)"-->
<!--  (onStateSave)="emitter('onStateSave',$event)"-->
<!--  (selectionChange)="onSelectionChange($event)"-->
<!--  [alwaysShowPaginator]="alwaysShowPaginator"-->
<!--  [autoLayout]="autoLayout"-->
<!--  [columnResizeMode]="columnResizeMode"-->
<!--  [columns]="colDef"-->
<!--  [compareSelectionBy]="compareSelectionBy"-->
<!--  [contextMenuSelectionMode]="contextMenuSelectionMode"-->
<!--  [contextMenuSelection]="contextMenuSelection"-->
<!--  [contextMenu]="cm"-->
<!--  [csvSeparator]="csvSeparator"-->
<!--  [currentPageReportTemplate]="currentPageReportTemplate"-->
<!--  [dataKey]="dataKey"-->
<!--  [defaultSortOrder]="defaultSortOrder"-->
<!--  [exportFilename]="exportFilename"-->
<!--  [filterDelay]="filterDelay"-->
<!--  [first]="first"-->
<!--  [globalFilterFields]="globalFilterFields"-->
<!--  [loading]="loading"-->
<!--  [multiSortMeta]="multiSortMeta"-->
<!--  [pageLinks]="pageLinks"-->
<!--  [paginatorDropdownAppendTo]="paginatorDropdownAppendTo"-->
<!--  [paginatorPosition]="paginatorPosition"-->
<!--  [paginator]="paginator"-->
<!--  [reorderableColumns]="reorderableColumns"-->
<!--  [resetPageOnSort]="resetPageOnSort"-->
<!--  [resizableColumns]="resizableColumns"-->
<!--  [responsive]="responsive"-->
<!--  [rowHover]="rowHover"-->
<!--  [rowTrackBy]="rowTrackBy"-->
<!--  [rowsPerPageOptions]="rowsPerPageOptions"-->
<!--  [rows]="rows"-->
<!--  [scrollHeight]="scrollHeight"-->
<!--  [scrollable]="scrollable"-->
<!--  [selectionMode]="selectionMode"-->
<!--  [selection]="selection"-->
<!--  [showCurrentPageReport]="currentPageReportTemplate != null"-->
<!--  [showFirstLastIcon]="showFirstLastIcon"-->
<!--  [showJumpToPageDropdown]="showJumpToPageDropdown"-->
<!--  [showPageLinks]="showPageLinks"-->
<!--  [sortField]="sortField"-->
<!--  [sortMode]="sortMode"-->
<!--  [sortOrder]="sortOrder"-->
<!--  [stateKey]="stateKey"-->
<!--  [stateStorage]="stateStorage"-->
<!--  [totalRecords]="totalRecords"-->
<!--  [value]="items"-->
<!--  styleClass="custom-table {{ rtl ? 'rtl' : '' }} p-datatable-{{-->
<!--    striped ? 'striped' : ''-->
<!--  }} p-datatable-{{ size }} p-datatable-{{ gridlines ? 'gridlines' : '' }}"-->
<!--&gt;-->
<!--  <ng-template *ngIf="hasCaption" pTemplate="caption">-->
<!--    <div class="d-flex align-items-center g-search">-->
<!--      <span *ngIf="header">-->
<!--        {{ header }}-->
<!--      </span>-->
<!--      <div class="g-search-input">-->
<!--        <ng-input-text-->
<!--          (input)="dt.filterGlobal($event.target.value, 'contains')"-->
<!--          *ngIf="globalFilterFields"-->
<!--          [iconPos]="rtl ? 'left' : 'right'"-->
<!--          [placeholder]="globalFilterPlaceholder"-->
<!--          [rtl]="rtl"-->
<!--          icon="pi pi-search"-->
<!--        ></ng-input-text>-->
<!--      </div>-->
<!--      <div class="exports">-->
<!--        <ng-button-->
<!--          (click)="dt.exportCSV()"-->
<!--          *ngIf="exportCsvBtn"-->
<!--          icon="pi pi-file-o"-->
<!--          pTooltip="CSV"-->
<!--          tooltipPosition="bottom"-->
<!--        ></ng-button>-->
<!--        <ng-button-->
<!--          (click)="exportExcel()"-->
<!--          *ngIf="exportExcelBtn"-->
<!--          icon="pi pi-file-excel"-->
<!--          pTooltip="XLS"-->
<!--          tooltipPosition="bottom"-->
<!--        ></ng-button>-->
<!--        <ng-button-->
<!--          (click)="exportPdf()"-->
<!--          *ngIf="exportPdfBtn"-->
<!--          icon="pi pi-file-pdf"-->
<!--          pTooltip="PDF"-->
<!--          tooltipPosition="bottom"-->
<!--        ></ng-button>-->
<!--        <ng-button-->
<!--          (click)="dt.exportCSV({ selectionOnly: true })"-->
<!--          *ngIf="exportSelectionBtn"-->
<!--          icon="pi pi-filter"-->
<!--          pTooltip="Selection Only"-->
<!--          tooltipPosition="bottom"-->
<!--        ></ng-button>-->
<!--        <ng-button-->
<!--          (click)="dt.reset()"-->
<!--          *ngIf="resetBtn"-->
<!--          color="danger"-->
<!--          icon="pi pi-refresh"-->
<!--          pTooltip="Reset"-->
<!--          tooltipPosition="bottom"-->
<!--        ></ng-button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->


<!--  <ng-template pTemplate="header">-->
<!--    <tr [class.sticky]="stickyTopOffset">-->
<!--      <th-->
<!--        *ngIf="reorderableRows"-->
<!--        [style.top]="stickyTopOffset"-->
<!--        style="width: 3rem"-->
<!--      ></th>-->
<!--      <th-->
<!--        *ngIf="selectableRows && selectionMode == 'checkbox'"-->
<!--        [style.top]="stickyTopOffset"-->
<!--        style="width: 3rem"-->
<!--      >-->
<!--        <p-tableHeaderCheckbox *ngIf="selectionMode == 'checkbox'"></p-tableHeaderCheckbox>-->
<!--      </th>-->
<!--      <th-->
<!--        *ngFor="let col of colDef"-->
<!--        [pReorderableColumnDisabled]="!reorderableColumns"-->
<!--        [pResizableColumnDisabled]="!resizableColumns"-->
<!--        [pSortableColumnDisabled]="-->
<!--          !col.sortable || col.filter?.display == 'row'-->
<!--        "-->
<!--        [pSortableColumn]="col.field"-->
<!--        [style.top]="stickyTopOffset"-->
<!--        [style.width.px]="col.width"-->
<!--        pReorderableColumn-->
<!--        pResizableColumn-->
<!--      >-->
<!--        <div-->
<!--          [ngClass]="{-->
<!--            'flex-column': col.filter?.display == 'row',-->
<!--            'flex-row justify-content-between align-items-center':-->
<!--              col.filter?.display == 'menu' || !col.filter?.display-->
<!--          }"-->
<!--          class="d-flex filter-wrapper"-->
<!--        >-->
<!--          <div>-->
<!--            {{ col.header }}-->
<!--            <p-sortIcon-->
<!--              *ngIf="col.sortable && col.filter?.display != 'row'"-->
<!--              [field]="col.field"-->
<!--            ></p-sortIcon>-->
<!--          </div>-->
<!--          <ng-container [ngSwitch]="col.filter?.type">-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'text'"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [operator]="col.filter.operator"-->
<!--              [placeholder]="col.filter.placeholder || ''"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--              type="text"-->
<!--            ></p-columnFilter>-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'boolean'"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [operator]="col.filter.operator"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--              type="boolean"-->
<!--            ></p-columnFilter>-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'numeric'"-->
<!--              [currencyDisplay]="col.filter.currencyDisplay"-->
<!--              [currency]="col.filter.currency"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [maxConstraints]="col.filter.maxConstraints"-->
<!--              [maxFractionDigits]="col.filter.maxFractionDigits"-->
<!--              [minFractionDigits]="col.filter.minFractionDigits"-->
<!--              [operator]="col.filter.operator"-->
<!--              [prefix]="col.filter.prefix"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--              [suffix]="col.filter.suffix"-->
<!--              [useGrouping]="col.filter.useGrouping"-->
<!--              type="numeric"-->
<!--            ></p-columnFilter>-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'multi-select'"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [operator]="col.filter.operator"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--            >-->
<!--              <ng-template-->
<!--                let-filter="filterCallback"-->
<!--                let-value-->
<!--                pTemplate="filter"-->
<!--              >-->
<!--                <ng-multi-select-->
<!--                  (onChange)="filter($event.value)"-->
<!--                  [ngModel]="value"-->
<!--                  [optionLabel]="col.filter.optionLabel || 'label'"-->
<!--                  [optionValue]="col.filter.optionValue || 'value'"-->
<!--                  [options]="col.filter.options"-->
<!--                  [placeholder]="col.filter.placeholder"-->
<!--                  [rtl]="rtl"-->
<!--                ></ng-multi-select>-->
<!--              </ng-template>-->
<!--            </p-columnFilter>-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'dropdown'"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [operator]="col.filter.operator"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--            >-->
<!--              <ng-template-->
<!--                let-filter="filterCallback"-->
<!--                let-value-->
<!--                pTemplate="filter"-->
<!--              >-->
<!--                <ng-dropdown-->
<!--                  (onChange)="filter($event.value)"-->
<!--                  [ngModel]="value"-->
<!--                  [optionLabel]="col.filter.optionLabel || 'label'"-->
<!--                  [optionValue]="col.filter.optionValue || 'value'"-->
<!--                  [options]="col.filter.options"-->
<!--                  [placeholder]="col.filter.placeholder"-->
<!--                  [rtl]="rtl"-->
<!--                ></ng-dropdown>-->
<!--              </ng-template>-->
<!--            </p-columnFilter>-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'date'"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [operator]="col.filter.operator"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--              type="date"-->
<!--            >-->
<!--              <ng-template-->
<!--                let-filter="filterCallback"-->
<!--                let-value-->
<!--                pTemplate="filter"-->
<!--              >-->
<!--                &lt;!&ndash;                <ng-date-picker&ndash;&gt;-->
<!--                &lt;!&ndash;                  (onChange)="filter($event.dateObj)"&ndash;&gt;-->
<!--                &lt;!&ndash;                  [inline]="true"&ndash;&gt;-->
<!--                &lt;!&ndash;                  [locale]="col.renderer.locale"&ndash;&gt;-->
<!--                &lt;!&ndash;                ></ng-date-picker>&ndash;&gt;-->
<!--              </ng-template>-->
<!--            </p-columnFilter>-->
<!--            <p-columnFilter-->
<!--              *ngSwitchCase="'slider'"-->
<!--              [display]="col.filter.display || 'menu'"-->
<!--              [field]="col.field"-->
<!--              [matchMode]="col.filter.matchMode"-->
<!--              [operator]="col.filter.operator"-->
<!--              [showAddButton]="col.filter.showAddButton"-->
<!--              [showApplyButton]="col.filter.showApplyButton"-->
<!--              [showClearButton]="col.filter.showClearButton"-->
<!--              [showMatchModes]="col.filter.showMatchModes"-->
<!--              [showMenu]="col.filter.showMenu || true"-->
<!--              [showOperator]="col.filter.showOperator"-->
<!--            >-->
<!--              <ng-template let-filter="filterCallback" pTemplate="filter">-->
<!--                <ng-slider-->
<!--                  (onSlideEnd)="filter($event.values)"-->
<!--                  [ngModel]="col.filter.rangeValues"-->
<!--                  [range]="col.filter.range"-->
<!--                  styleClass="m-3"-->
<!--                ></ng-slider>-->
<!--                <div-->
<!--                  class="d-flex align-items-center justify-content-between px-2"-->
<!--                >-->
<!--                  <span>{{ col.filter.rangeValues[0] }}</span>-->
<!--                  <span>{{ col.filter.rangeValues[1] }}</span>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </p-columnFilter>-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </th>-->
<!--      <th-->
<!--        *ngIf="actions"-->
<!--        [style.top]="stickyTopOffset"-->
<!--        [style.width.px]="actions?.length * 70"-->
<!--        class="text-center"-->
<!--      >-->
<!--        {{ actionsColumnHeader }}-->
<!--      </th>-->
<!--    </tr>-->
<!--  </ng-template>-->


<!--  <ng-template-->
<!--    let-columns="columns"-->
<!--    let-rowData-->
<!--    let-rowIndex="rowIndex"-->
<!--    pTemplate="body">-->
<!--    <tr-->
<!--      [pContextMenuRowDisabled]="!contextMenuItems"-->
<!--      [pContextMenuRowIndex]="rowIndex"-->
<!--      [pContextMenuRow]="rowData"-->
<!--      [pReorderableRowDisabled]="!reorderableRows"-->
<!--      [pReorderableRow]="rowIndex"-->
<!--      [pSelectableRowDisabled]="!selectableRows"-->
<!--      [pSelectableRowIndex]="rowIndex"-->
<!--      [pSelectableRow]="rowData"-->
<!--    >-->
<!--      <td *ngIf="reorderableRows" style="width: 3rem">-->
<!--        <i class="pi pi-bars" pReorderableRowHandle></i>-->
<!--      </td>-->
<!--      <td-->
<!--        *ngIf="selectableRows"-->
<!--        style="width: 3rem"-->
<!--      >-->
<!--        <p-tableCheckbox *ngIf="selectionMode == 'checkbox'" [value]="rowData"></p-tableCheckbox>-->
<!--        <p-tableRadioButton *ngIf="selectionMode == 'radio'" [value]="rowData"></p-tableRadioButton>-->
<!--      </td>-->
<!--      <td-->
<!--        *ngFor="let col of colDef"-->
<!--        [pEditableColumnDisabled]="col.edit == null"-->
<!--        [pEditableColumnField]="col.field"-->
<!--        [pEditableColumnRowIndex]="rowIndex"-->
<!--        [pEditableColumn]="rowData"-->
<!--      >-->
<!--        <ng-container *ngIf="col.edit == null">-->
<!--          <ng-container *ngIf="col.renderer.type == 'file'">-->
<!--            <span class="p-column-title">{{col.header}}</span>-->
<!--            <div class="d-flex align-items-center justify-content-between">-->
<!--              <div>-->
<!--                <i class="pi pi-file mx-2"></i>-->
<!--                <span>{{ (fromObj(rowData, col.field) | fileName) || col.nullPlaceholder || '-' }}</span>-->
<!--              </div>-->
<!--              <ng-button (click)="fileButtonClick(rowData,col)"-->
<!--                         *ngIf="col.renderer.showFileButton"-->
<!--                         icon="pi pi-external-link"-->
<!--                         size="sm"-->
<!--              ></ng-button>-->
<!--            </div>-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.renderer.type == 'html'">-->
<!--            <span class="p-column-title">{{col.header}}</span>-->
<!--            <div-->
<!--              [innerHTML]="fromObj(rowData, col.field) || col.nullPlaceholder || '-'"-->
<!--              class="html-view-box"-->
<!--            ></div>-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.renderer.type == 'text'">-->
<!--            <span class="p-column-title">{{col.header}}</span>-->
<!--            {{ fromObj(rowData, col.field) != null ? fromObj(rowData, col.field) : (col.nullPlaceholder || '-') }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.renderer.type == 'date'">-->
<!--            <span class="p-column-title">{{col.header}}</span>-->
<!--            {{-->
<!--            (fromObj(rowData, col.field)-->
<!--              | ngDate: col.renderer.locale-->
<!--              | ngPerToEnNum) || col.nullPlaceholder || '-'-->
<!--            }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.renderer.type == 'boolean'">-->
<!--            <span class="p-column-title">{{col.header}}</span>-->
<!--            <i-->
<!--              [ngClass]="[-->
<!--                fromObj(rowData, col.field)-->
<!--                  ? col.renderer.trueIcon || 'pi pi-check'-->
<!--                  : col.renderer.falseIcon || 'pi pi-times',-->
<!--                'text-center d-block'-->
<!--              ]"-->
<!--            ></i>-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.renderer.type == 'image'">-->
<!--            <span class="p-column-title">{{col.header}}</span>-->
<!--            <div-->
<!--              [style.backgroundImage]="-->
<!--                'url(' +-->
<!--                (fromObj(rowData, col.field) | ngToBase64 | async) +-->
<!--                ')'-->
<!--              "-->
<!--              class="image-wrapper"-->
<!--            ></div>-->
<!--          </ng-container>-->
<!--        </ng-container>-->
<!--        <p-cellEditor *ngIf="col.edit != null">-->
<!--          <ng-template pTemplate="input">-->
<!--            <ng-container [ngSwitch]="col.edit.type">-->
<!--              <ng-dropdown-->
<!--                (onChange)="onCellEdit(rowData, col.field, $event.value)"-->
<!--                *ngSwitchCase="'dropdown'"-->
<!--                [ngModel]="fromObj(rowData, col.field)"-->
<!--                [options]="col.edit.options"-->
<!--                [rtl]="rtl"-->
<!--                appenTo="body"-->
<!--              ></ng-dropdown>-->
<!--              <ng-input-text-->
<!--                (onInput)="onCellEdit(rowData, col.field, $event.target.value)"-->
<!--                *ngSwitchCase="'text'"-->
<!--                [ngModel]="fromObj(rowData, col.field)"-->
<!--                [rtl]="rtl"-->
<!--                size="md"-->
<!--              ></ng-input-text>-->
<!--              <ng-checkbox-->
<!--                (onChange)="onCellEdit(rowData, col.field, $event.checked)"-->
<!--                *ngSwitchCase="'boolean'"-->
<!--                [ngModel]="fromObj(rowData, col.field)"-->
<!--              >-->
<!--              </ng-checkbox>-->
<!--              <ng-date-picker-->
<!--                (onChange)="onCellEdit(rowData, col.field, $event.dateObj)"-->
<!--                *ngSwitchCase="'date'"-->
<!--                [locale]="col.renderer.locale"-->
<!--                [rtl]="rtl"-->
<!--                appenTo="body"-->
<!--              ></ng-date-picker>-->
<!--              <ng-file-picker-->
<!--                (onSelect)="onCellEdit(rowData, col.field, $event)"-->
<!--                *ngSwitchCase="'file'"-->
<!--                [accept]="col.edit.accept"-->
<!--                [multiple]="false"-->
<!--                mode="basic"-->
<!--                resultType="file"-->
<!--              ></ng-file-picker>-->
<!--            </ng-container>-->
<!--          </ng-template>-->
<!--          <ng-template pTemplate="output">-->
<!--            <ng-container *ngIf="col.renderer.type == 'file'">-->
<!--              <span class="p-column-title">{{col.header}}</span>-->
<!--              <div class="d-flex align-items-center justify-content-between">-->
<!--                <div>-->
<!--                  <i class="pi pi-file mx-2"></i>-->
<!--                  <span>{{ fromObj(rowData, col.field) | fileName }}</span>-->
<!--                </div>-->
<!--                <a-->
<!--                  *ngIf="col.renderer.showFileButton"-->
<!--                  [href]="fromObj(rowData, col.field)"-->
<!--                  target="_blank"-->
<!--                >-->
<!--                  <ng-button-->
<!--                    icon="pi pi-external-link"-->
<!--                    size="sm"-->
<!--                  ></ng-button>-->
<!--                </a>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="col.renderer.type == 'html'">-->
<!--              <span class="p-column-title">{{col.header}}</span>-->
<!--              <div-->
<!--                [innerHTML]="fromObj(rowData, col.field) || col.nullPlaceholder || '-'"-->
<!--                class="html-view-box"-->
<!--              ></div>-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="col.renderer.type == 'text'">-->
<!--              <span class="p-column-title">{{col.header}}</span>-->
<!--              {{ fromObj(rowData, col.field) || col.nullPlaceholder || '-' }}-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="col.renderer.type == 'date'">-->
<!--              <span class="p-column-title">{{col.header}}</span>-->
<!--              {{-->
<!--              (fromObj(rowData, col.field)-->
<!--                | ngDate: col.renderer.locale-->
<!--                | ngPerToEnNum) || col.nullPlaceholder || '-'-->
<!--              }}-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="col.renderer.type == 'boolean'">-->
<!--              <span class="p-column-title">{{col.header}}</span>-->
<!--              <i-->
<!--                [ngClass]="[-->
<!--                  fromObj(rowData, col.field)-->
<!--                    ? col.renderer.trueIcon || 'pi pi-check'-->
<!--                    : col.renderer.falseIcon || 'pi pi-times',-->
<!--                  'text-center d-block'-->
<!--                ]"-->
<!--              ></i>-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="col.renderer.type == 'image'">-->
<!--              <span class="p-column-title">{{col.header}}</span>-->
<!--              <div-->
<!--                [style.backgroundImage]="-->
<!--                  'url(' +-->
<!--                  (fromObj(rowData, col.field) | ngToBase64 | async) +-->
<!--                  ')'-->
<!--                "-->
<!--                class="image-wrapper"-->
<!--              ></div>-->
<!--            </ng-container>-->
<!--          </ng-template>-->
<!--        </p-cellEditor>-->
<!--      </td>-->
<!--      <td *ngIf="actions" class="actions">-->
<!--        <ng-button-->
<!--          (click)="-->
<!--            onActionClick.emit({-->
<!--              rowData: rowData,-->
<!--              action: item.action,-->
<!--              rowIndex: rowIndex-->
<!--            })-->
<!--          "-->
<!--          *ngFor="let item of actions; let last = last"-->
<!--          [class.ml-2]="rtl && !last"-->
<!--          [class.mr-2]="!rtl && !last"-->
<!--          [color]="item.color"-->
<!--          [icon]="item.icon"-->
<!--          [ngClass]="getClass(rowData, item)"-->
<!--          [pTooltip]="item.tooltip"-->
<!--          tooltipPosition="top"-->
<!--        ></ng-button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template let-columns pTemplate="emptymessage">-->
<!--    <tr>-->
<!--      <td-->
<!--        [attr.colspan]="actions ? (selectableRows && (selectionMode == 'checkbox' || selectionMode == 'radio')) ? columns.length + 2 : columns.length + 1 : columns.length">-->
<!--        <ng-empty [message]="emptyMessage"></ng-empty>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-table>-->
<!--<p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>-->
