:host ::ng-deep {
  .color-picker-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    .field,
    ng-input-text {
      flex-grow: 1;
    }

    .p-colorpicker-preview {
      height: auto;
      width: 3rem;
    }

    p-colorPicker {
      &.has-before .p-inputtext {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.has-after .p-inputtext {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .message {
        left: 0;
      }

      .field {
        .p-colorpicker-preview {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        ng-input-text .p-inputtext {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .addon-after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.rtl {
      .p-colorpicker-preview,
      label,
      .message {
        direction: rtl;
      }

      .message {
        right: 0;
      }

      .field {
        ng-input-text .p-inputtext {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .p-colorpicker-preview {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .inline-wrapper {
        direction: rtl;
      }
    }
  }
}
