<ag-grid-angular
  (cellValueChanged)="onCellValueChanged($event)"
  (columnResized)="onColumnResized($event)"
  (gridReady)="onGridReady($event)"
  (paginationGoToNextPage)="goToNextPage.emit($event)"
  (paginationGoToPreviousPage)="goToPreviousPage.emit($event)"
  (rowDragEnd)="rowDragEnd.emit($event)"
  (rowDragEnter)="rowDragEnter.emit($event)"
  (rowDragMove)="rowDragMove.emit($event)"
  [animateRows]="true"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableRtl]="true"
  [frameworkComponents]="frameworkComponents"
  [paginationPageSize]="paginationPageSize"
  [pagination]="pagination"
  [rowData]="rowData"
  [rowDragManaged]="true"
  class="ag-theme-alpine"
  domLayout="autoHeight"
></ag-grid-angular>
