<div class="container">
  <p-card dir="ltr"
          header="Checkbox"
          subheader="Checkbox is an extension to standard checkbox element with theming."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'labelPos',
      'orientation',
      'disabled',
      'readonly',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(labelPos)]="labelPos"
      [(orientation)]="orientation"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <form [formGroup]="form">
    <ng-multi-checkbox
      formControlName="c1"
      [errors]="{ required: 'error' }"
      [options]="options"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [orientation]="orientation"
      [disabled]="disabled"
      [readonly]="readonly"
    ></ng-multi-checkbox>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-multi-checkbox
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [options]="options"
    [label]="label"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [labelPos]="labelPos"
    [orientation]="orientation"
    [disabled]="disabled"
    [readonly]="readonly"
  ></ng-multi-checkbox>
</div>
