:host {
  display: block;

  ::ng-deep {
    .multi-select-wrapper {
      display: flex;
      position: relative;

      p-multiSelect,
      .p-multiselect,
      .p-inputtext {
        width: 100%;
      }

      i {
        z-index: 200;
      }

      .message {
        position: absolute;
        top: calc(100% + 0.25rem);
        font-size: 0.875em;

        &:not(.p-error) {
          color: #6c757d;
        }
      }

      &.label-fix-top {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &.label-fix-side {
        flex-direction: row-reverse;
        align-items: center;

        .fix-label {
          margin-bottom: 0;
        }
      }

      .field {
        width: auto;
        flex-grow: 1;
        align-self: stretch;
        display: inline-flex;

        > div {
          display: block;
          flex-grow: 1;

          &.p-input-icon-right .p-multiselect .p-multiselect-label-container {
            padding-right: 2.25rem;
          }

          &.p-input-icon-left .p-multiselect .p-multiselect-label-container {
            padding-left: 2.25rem;
          }
        }

        &.has-before .p-multiselect {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.has-after .p-multiselect {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &.ltr {
        direction: ltr;

        .message {
          left: 0;
        }

        .fix-label {
          margin-right: 1rem;
        }

        .p-float-label {
          &.p-input-icon-left {
            label {
              left: 2.25rem;
            }
          }
        }

        .p-input-icon-right > i {
          right: 3rem;
        }

        &.clearable {
          .p-input-icon-right {
            .p-multiselect-clear-icon {
              right: 4.5rem;
              left: auto;
            }

            .p-multiselect .p-multiselect-label-container {
              padding-right: 3.75rem;
            }
          }
        }
      }

      &.rtl {
        direction: rtl;

        .message {
          right: 0;
        }

        .field {
          flex-direction: row-reverse;
        }

        .fix-label {
          margin-left: 1rem;
        }

        .p-float-label {
          label {
            right: 0.75rem;
            left: auto;
          }

          &.p-input-icon-right {
            label {
              right: 2.25rem;
            }
          }
        }

        .p-input-icon-left > i {
          left: 3rem;
        }

        &.clearable {
          .p-multiselect .p-multiselect-label-container {
            padding-right: 0;
            padding-left: 2.25rem;
          }

          .p-multiselect-clear-icon {
            right: auto;
            left: 3rem;
          }

          .p-input-icon-left {
            .p-multiselect-clear-icon {
              left: 4.5rem;
              right: auto;
            }

            .p-multiselect .p-multiselect-label-container {
              padding-left: 3.75rem;
            }
          }
        }

        .p-multiselect {
          .p-chips-token {
            margin-left: 0.5rem;
            margin-right: 0;

            .p-chips-token-icon {
              margin-right: 0.5rem;
              margin-left: 0;
            }
          }

          .p-multiselect-panel {
            .p-multiselect-close {
              margin-right: 0.5rem;
              margin-left: 0;
            }

            .p-multiselect-items .p-checkbox {
              margin-right: 0;
              margin-left: 0.5rem;
            }

            .p-multiselect-header {
              .p-checkbox {
                margin-right: 0;
                margin-left: 0.5rem;
              }
            }

            .p-multiselect-filter-container {
              .p-multiselect-filter {
                padding-right: 0.5rem;
                padding-left: 1.5rem;
              }

              .p-multiselect-filter-icon {
                right: auto;
                left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
