<div class="multi-select-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear
    }">
  <ng-form-field
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template ngTemplate="element">
      <p-multiSelect
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [id]="id"
        [ariaLabel]="ariaLabel"
        [style]="style"
        [styleClass]="styleClass"
        [panelStyle]="panelStyle"
        [panelStyleClass]="panelStyleClass"
        [inputId]="inputId"
        [disabled]="disabled"
        [fluid]="fluid"
        [readonly]="readonly"
        [group]="group"
        [filter]="filter"
        [filterPlaceHolder]="filterPlaceHolder"
        [filterLocale]="filterLocale"
        [overlayVisible]="overlayVisible"
        [tabindex]="tabindex"
        [variant]="variant"
        [appendTo]="appendTo"
        [dataKey]="dataKey"
        [name]="name"
        [ariaLabelledBy]="ariaLabelledBy"
        [displaySelectedLabel]="displaySelectedLabel"
        [maxSelectedLabels]="maxSelectedLabels"
        [selectionLimit]="selectionLimit"
        [selectedItemsLabel]="selectedItemsLabel"
        [showToggleAll]="showToggleAll"
        [emptyFilterMessage]="emptyFilterMessage"
        [emptyMessage]="emptyMessage"
        [resetFilterOnHide]="resetFilterOnHide"
        [dropdownIcon]="dropdownIcon"
        [chipIcon]="chipIcon"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionDisabled]="optionDisabled"
        [optionGroupLabel]="optionGroupLabel"
        [optionGroupChildren]="optionGroupChildren"
        [showHeader]="showHeader"
        [filterBy]="filterBy"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [loading]="loading"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [loadingIcon]="loadingIcon"
        [virtualScrollOptions]="virtualScrollOptions"
        [overlayOptions]="overlayOptions"
        [ariaFilterLabel]="ariaFilterLabel"
        [filterMatchMode]="filterMatchMode"
        [tooltip]="tooltip"
        [tooltipPosition]="tooltipPosition"
        [tooltipPositionStyle]="tooltipPositionStyle"
        [tooltipStyleClass]="tooltipStyleClass"
        [autofocusFilter]="autofocusFilter"
        [display]="display"
        [autocomplete]="autocomplete"
        [size]="size"
        [showClear]="showClear"
        [autofocus]="autofocus"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [options]="options"
        [filterValue]="filterValue"
        [selectAll]="selectAll"
        [focusOnHover]="focusOnHover"
        [filterFields]="filterFields"
        [selectOnFocus]="selectOnFocus"
        [autoOptionFocus]="autoOptionFocus"
        (onChange)="_onChange($event)"
        (onFilter)="emitter('onFilter',$event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onClick)="emitter('onClick', $event)"
        (onClear)="_onClear()"
        (onPanelShow)="emitter('onPanelShow', $event)"
        (onPanelHide)="emitter('onPanelHide', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)"
        (onRemove)="emitter('onRemove', $event)"
        (onSelectAllChange)="emitter('onSelectAllChange', $event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()" let-item let-removeChip="removeChip" let-options="options">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,removeChip,options}"/>
            </ng-template>
          }
        }
      </p-multiSelect>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-form-field>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
