<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="multi-select-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg'
    }">
      @if (icon) {
        <i [class.p-disabled]="disabled" [ngClass]="icon"></i>
      }
      <p-multiSelect
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [id]="id"
        [ariaLabel]="ariaLabel"
        [style]="style"
        [styleClass]="styleClass"
        [panelStyle]="panelStyle"
        [panelStyleClass]="panelStyleClass"
        [inputId]="inputId"
        [disabled]="disabled"
        [readonly]="readonly"
        [group]="group"
        [filter]="filter"
        [filterPlaceHolder]="filterPlaceHolder"
        [filterLocale]="filterLocale"
        [overlayVisible]="overlayVisible"
        [tabindex]="tabindex"
        [variant]="variant"
        [appendTo]="appendTo"
        [dataKey]="dataKey"
        [name]="name"
        [ariaLabelledBy]="ariaLabelledBy"
        [displaySelectedLabel]="displaySelectedLabel"
        [maxSelectedLabels]="maxSelectedLabels"
        [selectionLimit]="selectionLimit"
        [selectedItemsLabel]="selectedItemsLabel"
        [showToggleAll]="showToggleAll"
        [emptyFilterMessage]="emptyFilterMessage"
        [emptyMessage]="emptyMessage"
        [resetFilterOnHide]="resetFilterOnHide"
        [dropdownIcon]="dropdownIcon"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionDisabled]="optionDisabled"
        [optionGroupLabel]="optionGroupLabel"
        [optionGroupChildren]="optionGroupChildren"
        [showHeader]="showHeader"
        [filterBy]="filterBy"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [overlayOptions]="overlayOptions"
        [ariaFilterLabel]="ariaFilterLabel"
        [filterMatchMode]="filterMatchMode"
        [tooltip]="tooltip"
        [tooltipPosition]="tooltipPosition"
        [tooltipPositionStyle]="tooltipPositionStyle"
        [tooltipStyleClass]="tooltipStyleClass"
        [autofocusFilter]="autofocusFilter"
        [display]="display"
        [autocomplete]="autocomplete"
        [showClear]="showClear"
        [autofocus]="autofocus"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [defaultLabel]="defaultLabel"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [options]="options"
        [filterValue]="filterValue"
        [itemSize]="itemSize"
        [selectAll]="selectAll"
        [focusOnHover]="focusOnHover"
        [filterFields]="filterFields"
        [selectOnFocus]="selectOnFocus"
        [autoOptionFocus]="autoOptionFocus"
        (onChange)="_onChange($event)"
        (onFilter)="emitter('onFilter',$event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onClick)="emitter('onClick', $event)"
        (onClear)="_onClear()"
        (onPanelShow)="emitter('onPanelShow', $event)"
        (onPanelHide)="emitter('onPanelHide', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)"
        (onRemove)="emitter('onRemove', $event)"
        (onSelectAllChange)="emitter('onSelectAllChange', $event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()" let-item let-removeChip="removeChip" let-options="options">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,removeChip,options}"/>
            </ng-template>
          }
        }
      </p-multiSelect>
      @if (label && labelPos == 'float') {
        <label [attr.for]="inputId">
          {{ label | ngLabelStar:showRequiredStar:ngControl }}
        </label>
      }
    </div>
  </div>
  @if (label && labelPos != 'float') {
    <label
      class="fix-label"
      [attr.for]="inputId"
      [class.p-disabled]="disabled"
      [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
      [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
      {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
  }
  @if (hint && showHint()) {
    <div class="message">{{ hint }}</div>
  }
  <div class="message p-error">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <div>
          {{ v.value }}
        </div>
      }
    }
  </div>
</div>
