<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="multi-select-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-multiSelect
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [id]="id"
        [ariaLabel]="ariaLabel"
        [style]="style"
        [styleClass]="styleClass"
        [panelStyle]="panelStyle"
        [panelStyleClass]="panelStyleClass"
        [inputId]="inputId"
        [disabled]="disabled"
        [readonly]="readonly"
        [group]="group"
        [filter]="filter"
        [filterPlaceHolder]="filterPlaceHolder"
        [filterLocale]="filterLocale"
        [overlayVisible]="overlayVisible"
        [tabindex]="tabindex"
        [appendTo]="appendTo"
        [dataKey]="dataKey"
        [name]="name"
        [ariaLabelledBy]="ariaLabelledBy"
        [displaySelectedLabel]="displaySelectedLabel"
        [maxSelectedLabels]="maxSelectedLabels"
        [selectionLimit]="selectionLimit"
        [selectedItemsLabel]="selectedItemsLabel"
        [showToggleAll]="showToggleAll"
        [emptyFilterMessage]="emptyFilterMessage"
        [emptyMessage]="emptyMessage"
        [resetFilterOnHide]="resetFilterOnHide"
        [dropdownIcon]="dropdownIcon"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionDisabled]="optionDisabled"
        [optionGroupLabel]="optionGroupLabel"
        [optionGroupChildren]="optionGroupChildren"
        [showHeader]="showHeader"
        [filterBy]="filterBy"
        [scrollHeight]="scrollHeight"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [overlayOptions]="overlayOptions"
        [ariaFilterLabel]="ariaFilterLabel"
        [filterMatchMode]="filterMatchMode"
        [tooltip]="tooltip"
        [tooltipPosition]="tooltipPosition"
        [tooltipPositionStyle]="tooltipPositionStyle"
        [tooltipStyleClass]="tooltipStyleClass"
        [autofocusFilter]="autofocusFilter"
        [display]="display"
        [autocomplete]="autocomplete"
        [showClear]="showClear"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [defaultLabel]="defaultLabel"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [options]="options"
        [filterValue]="filterValue"
        [itemSize]="itemSize"
        [selectAll]="selectAll"
        [focusOnHover]="focusOnHover"
        [filterFields]="filterFields"
        [selectOnFocus]="selectOnFocus"
        [autoOptionFocus]="autoOptionFocus"
        (onChange)="_onChange($event)"
        (onFilter)="emitter('onFilter',$event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="_onBlur($event)"
        (onClick)="emitter('onClick', $event)"
        (onClear)="_onClear()"
        (onPanelShow)="emitter('onPanelShow', $event)"
        (onPanelHide)="emitter('onPanelHide', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)"
        (onRemove)="emitter('onRemove', $event)"
        (onSelectAllChange)="emitter('onSelectAllChange', $event)">
        <ng-container *ngFor="let t of templates">
          <ng-template [pTemplate]="t.getType()" let-item let-removeChip="removeChip" let-options="options" *ngIf="templateMap[t.getType()]">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item,removeChip,options}"></ng-container>
          </ng-template>
        </ng-container>
      </p-multiSelect>
      <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
