<div class="container">
  <p-card dir="ltr"
          header="Knob"
          subheader="Knob is a form component to define number inputs with a dial."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <ng-knob
      formControlName="c1"
      [errors]="{ required: 'error' }"
    ></ng-knob>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-knob
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
  ></ng-knob>
</div>
