<ng-preview-options
  [previewItems]="[
  'hint',
  'label',
  'labelPos',
  'labelWidth',
  'icon',
  'iconPos',
  'selectiveSize',
  'rtl',
  'readonly',
  'disabled',
  'step',
  'min',
  'max',
  ]"
  [(label)]="label"
  [(labelWidth)]="labelWidth"
  [(hint)]="hint"
  [(rtl)]="rtl"
  [(labelPos)]="labelPos"
  [(size)]="size"
  [(disabled)]="disabled"
  [(readonly)]="readonly"
  [(step)]="step"
  [(min)]="min"
  [(max)]="max"
></ng-preview-options>
<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-knob
      formControlName="c1"
      [errors]="{ required: 'error' }"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [size]="size"
      [disabled]="disabled"
      [readonly]="readonly"
      [step]="step"
      [min]="min"
      [max]="max"
      [valueColor]="valueColor"
      [rangeColor]="rangeColor"
      [textColor]="textColor"
      [strokeWidth]="strokeWidth"
      [showValue]="showValue"
      [valueTemplate]="valueTemplate"
      [style]="style"
      [styleClass]="styleClass"
    >
    </ng-knob>
    <ng-button type="submit" label="submit"></ng-button>
  </form>
  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-knob
    name="myInput"
    required
    [(ngModel)]="binding"
    field="name"
    [errors]="{ required: 'error' }"
    [label]="label"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [labelPos]="labelPos"
    [size]="size"
    [disabled]="disabled"
    [readonly]="readonly"
    [step]="step"
    [min]="min"
    [max]="max"
    [valueColor]="valueColor"
    [rangeColor]="rangeColor"
    [textColor]="textColor"
    [strokeWidth]="strokeWidth"
    [showValue]="showValue"
    [valueTemplate]="valueTemplate"
    [style]="style"
    [styleClass]="styleClass">
  </ng-knob>
</div>
