<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="radio-wrapper">
  <div
    [attr.id]="inputId"
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'flex-row': orientation == 'horizontal',
      'flex-column': orientation == 'vertical'
    }"
    class="field d-flex">
    <div
      *ngFor="let item of options"
      [ngClass]="{
        'mr-4': orientation == 'horizontal' && !rtl,
        'ml-4': orientation == 'horizontal' && rtl,
        'mb-2': orientation == 'vertical'
      }"
      class="d-flex align-items-center"
    >
      <p-radioButton
        [(ngModel)]="value"
        [inputId]="'id'+item[optionValue]"
        [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
        [disabled]="item[optionDisabled]"
        [name]="groupName"
        [value]="item[optionValue]"
        [style]="style"
        [styleClass]="styleClass"
        (onBlur)="_onBlur()"
        (onClick)="_onChange($event)"
        (onFocus)="emitter('onFocus',$event)"
      ></p-radioButton>
      <label
        [attr.for]="'id'+item[optionValue]"
        [ngClass]="{
          'ml-2': !rtl,
          'mr-2': rtl
        }"
        class="mb-0">
        {{ item[optionLabel] }}
      </label>
    </div>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
