<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'layout-horizontal':orientation == 'horizontal',
      'layout-vertical':orientation == 'vertical'
    }" class="radio-wrapper">
  <div [attr.id]="inputId" class="field">
    <div *ngFor="let item of options" class="option-item">
      <p-radioButton
        [(ngModel)]="value"
        [inputId]="'id'+item[optionValue]"
        [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
        [disabled]="item[optionDisabled]"
        [name]="groupName"
        [value]="item[optionValue]"
        [style]="style"
        [styleClass]="styleClass"
        (onBlur)="_onBlur()"
        (onClick)="_onChange($event)"
        (onFocus)="emitter('onFocus',$event)"
      ></p-radioButton>
      <label [attr.for]="'id'+item[optionValue]" [class.p-disabled]="disabled || item[optionDisabled]">
        {{ item[optionLabel] }}
      </label>
    </div>
  </div>
  <label
    class="fix-label align-self-start"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
