<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="rating-wrapper">
  <div class="field">
    <p-rating
      [attr.id]="id"
      [(ngModel)]="value"
      [disabled]="disabled"
      [readonly]="readonly"
      [stars]="stars"
      [cancel]="cancel"
      [iconOnClass]="iconOnClass"
      [iconOnStyle]="iconOnStyle"
      [iconOffClass]="iconOffClass"
      [iconOffStyle]="iconOffStyle"
      [iconCancelClass]="iconCancelClass"
      [iconCancelStyle]="iconCancelStyle"
      [autofocus]="autofocus"
      (onRate)="_onRate($event)"
      (onCancel)="_onCancel($event)"
      (onFocus)="emitter('onFocus',$event)"
      (onBlur)="emitter('onBlur',$event)">
      @for (t of templates; track t) {
        @if (templateMap[t.getType()]) {
          <ng-template [pTemplate]="t.getType()">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()]"/>
          </ng-template>
        }
      }
    </p-rating>
  </div>
  @if (label) {
    <label
      class="fix-label"
      [attr.for]="id"
      [class.p-disabled]="disabled"
      [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
      [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
      {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
  }
  @if (hint && showHint()) {
    <div class="message">{{ hint }}</div>
  }
  <div class="message p-error">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <div>
          {{ v.value }}
        </div>
      }
    }
  </div>
</div>
