<div class="rating-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [readonly]="readonly">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-rating
        [attr.id]="id"
        [(ngModel)]="value"
        [disabled]="disabled"
        [readonly]="readonly"
        [stars]="stars"
        [iconOnClass]="iconOnClass"
        [iconOnStyle]="iconOnStyle"
        [iconOffClass]="iconOffClass"
        [iconOffStyle]="iconOffStyle"
        [autofocus]="autofocus"
        (onRate)="_onRate($event)"
        (onCancel)="_onCancel($event)"
        (onFocus)="emitter('onFocus',$event)"
        (onBlur)="emitter('onBlur',$event)">
        @for (t of templates; track t) {
          @if (templateMap[t.getType()]) {
            <ng-template [pTemplate]="t.getType()">
              <ng-container *ngTemplateOutlet="templateMap[t.getType()]"/>
            </ng-template>
          }
        }
      </p-rating>
    </ng-template>
  </ng-form-field>
</div>
