<div class="container">
  <p-card header="InputSwitch"
          subheader="InputSwitch is used to select a boolean value."/>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'fixLabelPos',
      'followConfig',
      'disabled',
      'readonly',
      'async',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(fixLabelPos)]="labelPos"
      [(followConfig)]="followConfig"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
      [(async)]="async"/>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-switch
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [labelPos]="labelPos"
        [followConfig]="followConfig"
        [disabled]="disabled"
        [readonly]="readonly"
        [async]="async"
        (onChangeAsync)="onChangeAsync($event)"/>
    </form>
  </p-panel>
</div>
