<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="auto-complete-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled,
      'has-dropdown': dropdown
    }" class="field">
    <i *ngIf="icon && !addon" [ngClass]="icon"></i>
    <p-autoComplete
      [(ngModel)]="value"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [ngAddon]="addon"
      [suggestions]="suggestions"
      [field]="field"
      [scrollHeight]="scrollHeight"
      [dropdown]="dropdown"
      [multiple]="multiple"
      [dropdownIcon]="dropdownIcon"
      [minLength]="minlength"
      [completeOnFocus]="completeOnFocus"
      [style]="style"
      [inputStyle]="inputStyle"
      [panelStyle]="panelStyle"
      [styleClass]="styleClass"
      [inputStyleClass]="inputStyleClass"
      [panelStyleClass]="panelStyleClass"
      [optionGroupLabel]="optionGroupLabel"
      [group]="group"
      [optionGroupChildren]="optionGroupChildren"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [disabled]="disabled"
      [maxlength]="maxlength"
      [size]="size"
      [appendTo]="appendTo"
      [tabindex]="tabindex"
      [dataKey]="dataKey"
      [autoHighlight]="autoHighlight"
      [type]="type"
      [showEmptyMessage]="showEmptyMessage"
      [emptyMessage]="emptyMessage"
      [autofocus]="autofocus"
      [forceSelection]="forceSelection"
      [dropdownMode]="dropdownMode"
      [baseZIndex]="baseZIndex"
      [autoZIndex]="autoZIndex"
      [showTransitionOptions]="showTransitionOptions"
      [hideTransitionOptions]="hideTransitionOptions"
      [ariaLabel]="ariaLabel"
      [ariaLabelledBy]="ariaLabelledBy"
      [dropdownAriaLabel]="dropdownAriaLabel"
      [unique]="unique"
      [autocomplete]="autocomplete"
      [virtualScroll]="virtualScroll"
      [itemSize]="itemSize"
      [delay]="delay"
      [immutable]="immutable"
      [showClear]="showClear"
      [virtualScrollItemSize]="virtualScrollItemSize"
      [lazy]="lazy"
      (completeMethod)="_completeMethod($event)"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onBlur)="_onBlur()"
      (onClear)="_onClear()"
      (onDropdownClick)="_onDropdownClick($event)"
      (onFocus)="emitter('onFocus', $event)"
      (onHide)="emitter('onHide', $event)"
      (onKeyUp)="_onKeyUp($event)"
      (onSelect)="_onSelect($event)"
      (onShow)="emitter('onShow', $event)"
      (onUnselect)="_onUnselect($event)"
    >
      <ng-template pTemplate="item" let-item let-index="index" *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{$implicit:item,index:index}"></ng-container>
      </ng-template>
      <ng-template pTemplate="group" let-item *ngIf="groupTemplate">
        <ng-container *ngTemplateOutlet="groupTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="empty" let-item *ngIf="emptyTemplate">
        <ng-container *ngTemplateOutlet="emptyTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="selectedItem" let-item *ngIf="selectedItemTemplate">
        <ng-container *ngTemplateOutlet="selectedItemTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="header" let-item *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="footer" let-item *ngIf="footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
    </p-autoComplete>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
