:host {
  display: block;

  ::ng-deep {
    .p-breadcrumb {
      direction: ltr;
    }

    .rtl {
      .p-breadcrumb ul {
        flex-direction: row-reverse;

        .p-breadcrumb-chevron {
          transform: rotate(180deg);
        }
      }
    }
  }
}
