<ng-preview
  header="BottomSheet"
  subheader="BottomSheet can be used to open panels to the bottom of the screen."
  [previewOptions]="previewOptions"
  (onOptionChange)="onOptionChange($event)">
  <ng-button (click)="visible = true" label="Open Bottom Sheet"/>
</ng-preview>

<ng-bottom-sheet
  [rtl]="getOption('rtl')"
  [followConfig]="getOption('followConfig')"
  [blockScroll]="getOption('blockScroll')"
  [modal]="getOption('modal')"
  [dismissible]="getOption('dismissible')"
  [closeOnEscape]="getOption('closeOnEscape')"
  [fullScreen]="getOption('fullScreen')"
  [header]="getOption('header')"
  [closable]="getOption('closable')"
  [(visible)]="visible">
  <ng-template ngTemplate="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
  </ng-template>
  <ng-template ngTemplate="footer">
    <ng-button
      (onClick)="visible2=true"
      appearance="outlined"
      severity="secondary"
      label="Open Second Bottom Sheet"
      [fluid]="true"/>
  </ng-template>
</ng-bottom-sheet>

<ng-bottom-sheet
  [rtl]="getOption('rtl')"
  [followConfig]="getOption('followConfig')"
  [blockScroll]="getOption('blockScroll')"
  [modal]="getOption('modal')"
  [dismissible]="getOption('dismissible')"
  [closeOnEscape]="getOption('closeOnEscape')"
  [fullScreen]="getOption('fullScreen')"
  [header]="getOption('header')"
  [closable]="getOption('closable')"
  [(visible)]="visible2">
  <ng-template ngTemplate="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
  </ng-template>
  <ng-template ngTemplate="footer">
    <ng-button (onClick)="visible3=true" appearance="outlined" severity="success" label="Open Third Bottom Sheet"
               [fluid]="true"/>
  </ng-template>
</ng-bottom-sheet>

<ng-bottom-sheet
  [rtl]="getOption('rtl')"
  [followConfig]="getOption('followConfig')"
  [blockScroll]="getOption('blockScroll')"
  [modal]="getOption('modal')"
  [dismissible]="getOption('dismissible')"
  [closeOnEscape]="getOption('closeOnEscape')"
  [fullScreen]="getOption('fullScreen')"
  [header]="getOption('header')"
  [closable]="getOption('closable')"
  [(visible)]="visible3">
  <ng-template ngTemplate="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
  </ng-template>
  <ng-template ngTemplate="footer">
    <ng-button (onClick)="openDialog()" appearance="outlined" severity="success" label="Open Dialog"
               [fluid]="true"/>
  </ng-template>
</ng-bottom-sheet>

<ng-bottom-sheet
  [rtl]="getOption('rtl')"
  [followConfig]="getOption('followConfig')"
  [blockScroll]="getOption('blockScroll')"
  [modal]="getOption('modal')"
  [dismissible]="getOption('dismissible')"
  [closeOnEscape]="getOption('closeOnEscape')"
  [fullScreen]="getOption('fullScreen')"
  [header]="getOption('header')"
  [closable]="getOption('closable')"
  [(visible)]="visible4">
  <ng-template ngTemplate="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda aut consequatur doloribus earum fugiat
      fugit illo itaque, laborum, libero nisi nulla odit rerum voluptate voluptatem! Laborum odit reiciendis
      voluptas?</p>
  </ng-template>
</ng-bottom-sheet>
