<div class="container">
  <p-card dir="ltr"
          header="Slider"
          subheader="Slider is an input component to provide a numerical input."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ng-slider
      formControlName="c1"
      [errors]="{ required: 'error' }"
    ></ng-slider>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-slider
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
  ></ng-slider>
</div>
