<ng-preview-options
  [previewItems]="[
'label',
'labelWidth',
'hint',
'rtl',
'showRequiredStar',
'labelPos',
'disabled',
'min',
'max',
'orientation',
'step',
'range',
]"
  [(label)]="label"
  [(labelWidth)]="labelWidth"
  [(hint)]="hint"
  [(rtl)]="rtl"
  [(showRequiredStar)]="showRequiredStar"
  [(labelPos)]="labelPos"
  [(disabled)]="disabled"
  [(min)]="min"
  [(max)]="max"
  [(orientation)]="orientation"
  [(step)]="step"
  [(range)]="range"
></ng-preview-options>
<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-slider
      formControlName="c1"
      [errors]="{ required: 'error' }"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [showRequiredStar]="showRequiredStar"
      [labelPos]="labelPos"
      [animate]="animate"
      [disabled]="disabled"
      [min]="min"
      [max]="max"
      [orientation]="orientation"
      [step]="step"
      [range]="range"
      [style]="style"
      [styleClass]="styleClass"
      [tabindex]="tabindex"
      [ariaLabelledBy]="ariaLabelledBy"
    >
    </ng-slider>
    <ng-button type="submit" label="submit"></ng-button>
  </form>
  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-slider
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [label]="label"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [showRequiredStar]="showRequiredStar"
    [labelPos]="labelPos"
    [animate]="animate"
    [disabled]="disabled"
    [min]="min"
    [max]="max"
    [orientation]="orientation"
    [step]="step"
    [range]="range"
    [style]="style"
    [styleClass]="styleClass"
    [tabindex]="tabindex"
    [ariaLabelledBy]="ariaLabelledBy">
  </ng-slider>
</div>
