<div class="container">
  <p-card dir="ltr"
          header="SplitButton"
          subheader="SplitButton groups a set of commands in an overlay with a default command."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <ng-split-button
    [items]="[
            {label: 'Update', icon: 'pi pi-refresh'},
            {label: 'Delete', icon: 'pi pi-times'},
            {label: 'Angular.io', icon: 'pi pi-info', url: 'http://angular.io'},
            {separator: true},
            {label: 'Setup', icon: 'pi pi-cog', routerLink: ['/setup']}
        ]"
  ></ng-split-button>
</div>
