<div class="container">
  <p-card header="Utils"
          subheader="Utils is a helper utility service to implement different things. Example below demonstrates how to use methods of it."></p-card>
  <p-panel [header]="'preview' | translate">
    <ng-button [async]="true" (onClickAsync)="request($event)" label="HTTP Request"></ng-button>
  </p-panel>
  <p-panel [header]="'preview' | translate">
    <ng-button (click)="modal.open()" label="Custom Dialog"></ng-button>
  </p-panel>
  <p-panel [header]="'preview' | translate">
    <ng-button (click)="showCustomDynamicDialog()" label="Custom Dynamic Dialog"></ng-button>
    <p class="mb-0"><b> Custom Dynamic Dialog Result: </b> {{customDynamicDialogResult}} </p>
  </p-panel>
  <p-panel [header]="'preview' | translate">
    <ng-input-number (onInput)="onInputChange($event)"></ng-input-number>
    <p class="mt-3 border rounded p-2">{{persianWord || '-'}}</p>
  </p-panel>
</div>
<ng-dialog2 #modal>
  Custom Modal Content
</ng-dialog2>
