<div class="container">
  <p-card header="Utils"
          subheader="Utils is a helper utility service to implement different things. Example below demonstrates how to use methods of it."></p-card>
  <p-panel [header]="'preview' | translate">
    <p-divider align="left"><h6 class="mb-0">{{'httpRequest' | translate}}</h6></p-divider>
    <ng-button [async]="true" (onClickAsync)="request($event)" label="HTTP Request"></ng-button>

    <p-divider align="left"><h6 class="mb-0">{{'customDialog' | translate}}</h6></p-divider>
    <ng-button (click)="modal.open()" label="Custom Dialog"></ng-button>

    <p-divider align="left"><h6 class="mb-0">{{'customDynamicDialog' | translate}}</h6></p-divider>
    <ng-button (click)="showCustomDynamicDialog()" label="Custom Dynamic Dialog"></ng-button>
    <p class="mt-3 border rounded p-1" *ngIf="customDynamicDialogResult">
      <b> Custom Dynamic Dialog Result: </b>
      {{customDynamicDialogResult}}
    </p>

    <p-divider align="left"><h6 class="mb-0">{{'numberToPersianWord' | translate}}</h6></p-divider>
    <ng-input-number [placeholder]="'typeNumber' | translate" (onInput)="onInputChange($event)"></ng-input-number>
    <p class="mt-3 border rounded p-1">{{persianWord || '-'}}</p>

    <p-divider align="left"><h6 class="mb-0">{{'networkStatus' | translate}}</h6></p-divider>
    <p class="mt-3 border rounded p-1 text-white"
       [ngClass]="{'bg-success':networkStatus == 'online', 'bg-danger':networkStatus == 'offline'}">
      {{networkStatus}}
    </p>
  </p-panel>
</div>
<ng-dialog2 #modal>
  Custom Modal Content
</ng-dialog2>
