<div class="container">
  <p-card header="Utils"
          subheader="Utils is a helper utility service to implement different things. Example below demonstrates how to use methods of it."></p-card>
  <p-panel header="Preview">
    <ng-button (click)="request()" label="HTTP Request"></ng-button>
    <ng-button (click)="modal.open()" label="Custom Dialog"></ng-button>
    <ng-button (click)="showCustomDynamicDialog()" label="Custom Dynamic Dialog"></ng-button>
    <p class="mb-0"><b> Custom Dynamic Dialog Result: </b> {{customDynamicDialogResult}} </p>
  </p-panel>
</div>
<ng-dialog2 #modal>
  Custom Modal Content
</ng-dialog2>
