<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="rating-wrapper">
  <div [ngClass]="{ 'w-100': labelPos == 'fix-top' }" class="field">
    <p-rating
      [id]="inputId"
      [(ngModel)]="value"
      [stars]="stars"
      [cancel]="cancel"
      [disabled]="disabled"
      [readonly]="readonly"
      [iconOnClass]="iconOnClass"
      [iconOffClass]="iconOffClass"
      [iconCancelClass]="iconCancelClass"
      [iconOnStyle]="iconOnStyle"
      [iconOffStyle]="iconOffStyle"
      [iconCancelStyle]="iconCancelStyle"
      (onCancel)="_onCancel($event)"
      (onRate)="_onRate($event)"
    ></p-rating>
  </div>
  <label
    *ngIf="label"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let error of errors | keyvalue">
      <div *ngIf="showError(error.key)" class="p-error">
        {{ error.value }}
      </div>
    </ng-container>
  </div>
</div>
