<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="chips-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-chips
        [(ngModel)]="value"
        [style]="style"
        [styleClass]="styleClass"
        [disabled]="disabled"
        [field]="field"
        [placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [max]="max"
        [maxLength]="maxLength"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [tabindex]="tabindex"
        [inputId]="inputId"
        [allowDuplicate]="allowDuplicate"
        [caseSensitiveDuplication]="caseSensitiveDuplication"
        [inputStyle]="inputStyle"
        [inputStyleClass]="inputStyleClass"
        [addOnTab]="addOnTab"
        [addOnBlur]="addOnBlur"
        [separator]="separator"
        [showClear]="showClear"
        (onAdd)="_onAdd($event)"
        (onRemove)="_onRemove($event)"
        (onFocus)="emitter('onFocus', $event)"
        (onChipClick)="emitter('onChipClick', $event)"
        (onBlur)="_onBlur($event)"
        (onClear)="_onClear()">
        <ng-container *ngFor="let t of templates">
          <ng-template [pTemplate]="t.getType()" let-item *ngIf="templateMap[t.getType()]">
            <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item}"></ng-container>
          </ng-template>
        </ng-container>
      </p-chips>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
