<div class="container">
  <p-card header="SplitButton"
          subheader="SplitButton groups a set of commands in an overlay with a default command."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'appearance',
      'rounded',
      'raised',
      'color',
      'full',
      'selectiveSize',
      'rtl',
      'disableConfigChangeEffect',
      'label',
      'icon',
      'iconPos',
      'disabled',
      ]"
      [(appearance)]="appearance"
      [(rounded)]="rounded"
      [(raised)]="raised"
      [(color)]="color"
      [(full)]="full"
      [(selectiveSize)]="size"
      [(rtl)]="rtl"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(label)]="label"
      [(icon)]="icon"
      [(iconPos)]="iconPos"
      [(disabled)]="disabled"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <ng-split-button
      [items]="items"
      [appearance]="appearance"
      [rounded]="rounded"
      [raised]="raised"
      [color]="color"
      [full]="full"
      [size]="size"
      [rtl]="rtl"
      [disableConfigChangeEffect]="disableConfigChangeEffect"
      [label]="label"
      [icon]="icon"
      [iconPos]="iconPos"
      [disabled]="disabled"
    ></ng-split-button>
  </p-panel>
</div>
