<div class="container">
  <p-card dir="ltr"
          header="InputText"
          subheader="InputText renders a text field to enter data."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ng-input-text
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
    ></ng-input-text>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-input-text
    name="myInput"
    required
    [(ngModel)]="binding"
    [addon]="addon"
    [errors]="{ required: 'error' }"
  ></ng-input-text>
</div>
