<ng-preview-options
  [previewItems]="[]"></ng-preview-options>
<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-chips
      formControlName="c1"
      field="name"
      [errors]="{ required: 'error' }"
    >
    </ng-chips>
    <ng-button type="submit" label="submit"></ng-button>
  </form>
  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-chips
    name="myInput"
    required
    [(ngModel)]="binding"
    field="name"
    [errors]="{ required: 'error' }">
  </ng-chips>
</div>
