<ng-preview-options
  [previewItems]="[]"></ng-preview-options>
<div class="container">
  <form [formGroup]="form">
    <p-panel dir="ltr" header="Preview"></p-panel>
    <ng-chips
      formControlName="c1"
      field="name"
      [errors]="{ required: 'error' }"
    >
    </ng-chips>
  </form>

      <p-divider align="center">
      <b>Using With NgModel</b>
    </p-divider>
  <pre dir="ltr"><b>Value :</b> {{binding | json}}</pre>
  <ng-chips
    name="myInput"
    required
    [(ngModel)]="binding"
    field="name"
    [errors]="{ required: 'error' }">
  </ng-chips>
</div>
