<ng-preview-options
  [previewItems]="[]"></ng-preview-options>
<div class="container">
  <form [formGroup]="form">
    <p-panel dir="ltr" header="Preview"></p-panel>
    <ng-chips
      formControlName="c1"
      field="name"
      [errors]="{ required: 'error' }"
    >
    </ng-chips>
  </form>

  <h4>NG MODEL</h4>
  <pre dir="ltr">Value : {{binding | json}}</pre>
  <ng-chips
    name="myInput"
    required
    [(ngModel)]="binding"
    field="name"
    [errors]="{ required: 'error' }">
  </ng-chips>
</div>
