<div class="container">
  <p-card dir="ltr"
          header="ButtonAsync"
          subheader="ButtonAsync is an extension to standard button element with icons and theming."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'icon',
      'full',
      'badge',
      'rounded',
      'raised',
      'appearance',
      'disabled',
      'iconPos',
      'color',
      'badgeColor',
      'selectiveSize',
      'newLabel',
      'newColor',
      ]"
      [(label)]="label"
      [(icon)]="icon"
      [(full)]="full"
      [(badge)]="badge"
      [(rounded)]="rounded"
      [(raised)]="raised"
      [(appearance)]="appearance"
      [(disabled)]="disabled"
      [(iconPos)]="iconPos"
      [(color)]="color"
      [(badgeColor)]="badgeColor"
      [(selectiveSize)]="size"
      [(newLabel)]="newLabel"
      [(newColor)]="newColor"
    ></ng-preview-options>
  </p-panel>

  <h4>Preview</h4>
  <ng-button-async [label]="label"
                   [icon]="icon"
                   [full]="full"
                   [badge]="badge"
                   [rounded]="rounded"
                   [raised]="raised"
                   [appearance]="appearance"
                   [disabled]="disabled"
                   [iconPos]="iconPos"
                   [color]="color"
                   [badgeColor]="badgeColor"
                   [size]="size"
                   [newLabel]="newLabel"
                   [newColor]="newColor"
                   (clickAsync)="onClick($event)">
  </ng-button-async>
</div>
