<ng-preview-options
  [previewItems]="[]"
></ng-preview-options>
<ng-button-async [newLabel]="newLabel"
                 [newColor]="newColor"
                 [appearance]="appearance"
                 [iconPos]="iconPos"
                 [color]="color"
                 [badgeColor]="badgeColor"
                 [label]="label"
                 [icon]="icon"
                 [disabled]="disabled"
                 [rounded]="rounded"
                 [raised]="raised"
                 [full]="full"
                 [badge]="badge"
                 [size]="size"
                 (clickAsync)="onClick($event)">
</ng-button-async>
