<div [ngClass]="{ 'rtl': rtl, 'ltr': !rtl }" class="table-wrapper">
  <p-table
    #dataTable
    [frozenColumns]="frozenColumns"
    [frozenValue]="frozenValue"
    [style]="style"
    styleClass="
           {{styleClass}}
           p-datatable-{{size}}
           p-datatable-{{gridlines ? 'gridlines' : null}}
           p-datatable-{{striped ? 'striped' : null}}"
    [tableStyle]="tableStyle"
    [tableStyleClass]="tableStyleClass"
    [paginator]="paginator"
    [pageLinks]="pageLinks"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [alwaysShowPaginator]="alwaysShowPaginator"
    [paginatorPosition]="paginatorPosition"
    [paginatorStyleClass]="paginatorStyleClass"
    [paginatorDropdownAppendTo]="paginatorDropdownAppendTo"
    [paginatorDropdownScrollHeight]="paginatorDropdownScrollHeight"
    [currentPageReportTemplate]="loading ? '' : currentPageReportTemplate"
    [showCurrentPageReport]="showCurrentPageReport"
    [showJumpToPageDropdown]="showJumpToPageDropdown"
    [showJumpToPageInput]="showJumpToPageInput"
    [showFirstLastIcon]="showFirstLastIcon"
    [showPageLinks]="showPageLinks"
    [defaultSortOrder]="defaultSortOrder"
    [sortMode]="sortMode"
    [resetPageOnSort]="resetPageOnSort"
    [selectionMode]="$any(selectionMode)"
    [selectionPageOnly]="selectionPageOnly"
    [contextMenuSelection]="contextMenuSelection"
    [contextMenuSelectionMode]="contextMenuSelectionMode"
    [dataKey]="dataKey"
    [metaKeySelection]="metaKeySelection"
    [rowSelectable]="rowSelectable"
    [rowTrackBy]="rowTrackBy"
    [lazy]="lazy"
    [lazyLoadOnInit]="lazyLoadOnInit"
    [compareSelectionBy]="compareSelectionBy"
    [csvSeparator]="csvSeparator"
    [exportFilename]="exportFilename"
    [filters]="filters"
    [globalFilterFields]="globalFilterFields"
    [filterDelay]="filterDelay"
    [filterLocale]="filterLocale"
    [expandedRowKeys]="expandedRowKeys"
    [rowExpandMode]="rowExpandMode"
    [scrollable]="scrollable"
    [scrollDirection]="scrollDirection"
    [rowGroupMode]="rowGroupMode"
    [scrollHeight]="scrollHeight"
    [virtualScroll]="virtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [virtualScrollOptions]="virtualScrollOptions"
    [virtualScrollDelay]="virtualScrollDelay"
    [frozenWidth]="frozenWidth"
    [responsive]="responsive"
    [contextMenu]="contextMenu"
    [resizableColumns]="resizableColumns"
    [columnResizeMode]="columnResizeMode"
    [reorderableColumns]="reorderableColumns"
    [loading]="loading"
    [loadingIcon]="loadingIcon"
    [showLoader]="showLoader"
    [rowHover]="rowHover"
    [customSort]="customSort"
    [showInitialSortBadge]="showInitialSortBadge"
    [autoLayout]="autoLayout"
    [exportFunction]="exportFunction"
    [exportHeader]="exportHeader"
    [stateKey]="stateKey"
    [stateStorage]="stateStorage"
    [groupRowsBy]="groupRowsBy"
    [groupRowsByOrder]="groupRowsByOrder"
    [responsiveLayout]="responsiveLayout"
    [breakpoint]="breakpoint"
    [paginatorLocale]="paginatorLocale"
    [value]="items"
    [columns]="colDef"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [multiSortMeta]="multiSortMeta"
    [selection]="selection"
    [selectAll]="selectAll"
    [virtualRowHeight]="virtualRowHeight"
    (selectionChange)="onSelectionChange($event)"
    (selectAllChange)="onSelectAllChange($event)"
    (onRowSelect)="emitter('onRowSelect',$event)"
    (onRowUnselect)="emitter('onRowUnselect',$event)"
    (onSort)="_onSort($event)"
    (onPage)="emitter('onPage',$event)"
    (onFilter)="emitter('onFilter',$event)"
    (onLazyLoad)="_onLazyLoad($event)"
    (onRowExpand)="emitter('onRowExpand',$event)"
    (onRowCollapse)="emitter('onRowCollapse',$event)"
    (onContextMenuSelect)="emitter('onContextMenuSelect',$event)"
    (onColResize)="emitter('onColResize',$event)"
    (onColReorder)="emitter('onColReorder',$event)"
    (onRowReorder)="emitter('onRowReorder',$event)"
    (onHeaderCheckboxToggle)="emitter('onHeaderCheckboxToggle',$event)"
    (sortFunction)="emitter('sortFunction',$event)"
    (firstChange)="onFirstChange($event)"
    (rowsChange)="onRowsChange($event)"
    (onStateSave)="emitter('onStateSave',$event)"
    (onStateRestore)="emitter('onStateRestore',$event)"
    (contextMenuSelectionChange)="onContextMenuSelectionChange($event)">
    <ng-template pTemplate="header">
      @if (filterDisplay == 'menu') {
        <tr>
          @if (reorderableRows) {
            <th scope="col" style="width: 3rem"></th>
          }
          @if (selectionMode == 'radio' || selectionMode == 'checkbox') {
            <th scope="col" style="width: 3rem">
              @if (selectionMode == 'checkbox') {
                <p-tableHeaderCheckbox/>
              }
            </th>
          }
          @for (col of colDef; track col) {
            <th scope="col"
                [pSortableColumn]="col.sort && col.field"
                pReorderableColumn
                [pReorderableColumnDisabled]="!reorderableColumns">
              {{ col.header }}
              @if (col.sort) {
                <p-sortIcon [field]="col.field"/>
              }
              @if (col.sort && activeSortField == col.field) {
                <ng-button
                  class="sort-reset"
                  [rounded]="true"
                  appearance="text"
                  size="sm"
                  (onClick)="onResetSort($event)">
                  <ng-template ngTemplate="icon">
                    <TimesIcon/>
                  </ng-template>
                </ng-button>
              }
              @if (col.filter; as filter) {
                <p-columnFilter [field]="col.field"
                                display="menu"
                                [matchMode]="filter.matchMode"
                                [showApplyButton]="false"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false">
                  <ng-template pTemplate="header">
                    <div class="filter-header"><span>{{ filter.header }}</span></div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filterCallback="filterCallback">
                    @switch (filter.type) {
                      @case ('text') {
                        <ng-input-text
                          [value]="value"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-text>
                      }
                      @case ('numeric') {
                        <ng-input-number
                          (onInput)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-number>
                      }
                      @case ('multi-select') {
                        <ng-multi-select
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-multi-select>
                      }
                      @case ('dropdown') {
                        <ng-dropdown
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-dropdown>
                      }
                      @case ('slider') {
                        <ng-slider
                          [ngModel]="filter.sliderValue"
                          [min]="filter.min"
                          [max]="filter.max"
                          [range]="filter.range"
                          (onSlideEnd)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-slider>
                        <div class="text-center" dir="ltr">{{ filter.sliderValue[0] }}- {{ filter.sliderValue[1] }}
                        </div>
                      }
                      @case ('boolean') {
                        <ng-checkbox
                          [ngModel]="value == 'true' ? true : false"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-checkbox>
                      }
                      @case ('gregorian-datepicker') {
                        <ng-gregorian-datepicker
                          [dateFormat]="filter.dateFormat"
                          (onSelect)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-gregorian-datepicker>
                      }
                    }
                  </ng-template>
                </p-columnFilter>
              }
            </th>
          }
          @if (actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            <th class="text-center">{{ actionsConfig.header }}</th>
          }
          @if (!actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            @for (action of actionsConfig?.actions; track action) {
              @if (action.visible ?? true) {
                <th class="text-center">{{ action.header }}</th>
              }
            }
          }
        </tr>
      }
      @if (filterDisplay == 'row') {
        <tr>
          @if (reorderableRows) {
            <th scope="col" style="width: 3rem"></th>
          }
          @if (selectionMode == 'radio' || selectionMode == 'checkbox') {
            <th scope="col" style="width: 3rem">
              @if (selectionMode == 'checkbox') {
                <p-tableHeaderCheckbox/>
              }
            </th>
          }
          @for (col of colDef; track col) {
            <th scope="col"
                [pSortableColumn]="col.field"
                pReorderableColumn
                [pReorderableColumnDisabled]="!reorderableColumns">
              {{ col.header }}
              @if (col.sort) {
                <p-sortIcon [field]="col.field"/>
              }
            </th>
          }
          @if (actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            <th>{{ actionsConfig.header }}</th>
          }
          @if (!actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            @for (action of actionsConfig?.actions; track action) {
              @if (action.visible ?? true) {
                <th class="text-center">{{ action.header }}</th>
              }
            }
          }
        </tr>
        <tr>
          @if (selectionMode == 'radio' || selectionMode == 'checkbox') {
            <th scope="col" style="width: 3rem">
            </th>
          }
          @for (col of colDef; track col) {
            <th scope="col" class="row-filter-wrapper">
              @if (col.filter; as filter) {
                <p-columnFilter [field]="col.field"
                                [showMenu]="filter.rowFilterShowMenu"
                                [matchMode]="filter.matchMode"
                                [showApplyButton]="false"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false">
                  <ng-template pTemplate="header">
                    <div class="filter-header"><span>{{ filter.header }}</span></div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filterCallback="filterCallback">
                    @switch (filter.type) {
                      @case ('text') {
                        <ng-input-text
                          [value]="value"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-text>
                      }
                      @case ('numeric') {
                        <ng-input-number
                          (onInput)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-number>
                      }
                      @case ('multi-select') {
                        <ng-multi-select
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-multi-select>
                      }
                      @case ('dropdown') {
                        <ng-dropdown
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-dropdown>
                      }
                      @case ('slider') {
                        <ng-slider
                          [ngModel]="filter.sliderValue"
                          [min]="filter.min"
                          [max]="filter.max"
                          [range]="filter.range"
                          (onSlideEnd)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-slider>
                        <div class="text-center mt-3" dir="ltr">{{ filter.sliderValue[0] }}- {{ filter.sliderValue[1] }}
                        </div>
                      }
                      @case ('boolean') {
                        <ng-checkbox
                          [ngModel]="value == 'true' ? true : false"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-checkbox>
                      }
                      @case ('gregorian-datepicker') {
                        <ng-gregorian-datepicker
                          [dateFormat]="filter.dateFormat"
                          (onSelect)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-gregorian-datepicker>
                      }
                    }
                  </ng-template>
                </p-columnFilter>
              }
            </th>
          }
          @if (actionsConfig && actionsConfig.inSameColumn) {
            <th></th>
          }
          @if (actionsConfig && !actionsConfig.inSameColumn) {
            @for (action of actionsConfig.actions; track action) {
              <th></th>
            }
          }
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="body" let-item let-frozen="frozen" let-index="rowIndex">
      @if (bodyTemplate) {
        <ng-container *ngTemplateOutlet="bodyTemplate;context:{$implicit:item,frozen,index}"/>
      } @else {
        <tr [pReorderableRow]="index"
            [pReorderableRowDisabled]="!reorderableRows"
            [pSelectableRow]="item"
            [pSelectableRowDisabled]="!selectionMode"
            [pSelectableRowIndex]="index">
          @if (reorderableRows) {
            <td>
              <BarsIcon/>
            </td>
          }
          @if (selectionMode == 'radio') {
            <td>
              <p-tableRadioButton [value]="item"/>
            </td>
          }
          @if (selectionMode == 'checkbox') {
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
          }
          @for (col of colDef; track col) {
            <td
              [ngClass]="handleCellStyleClass(col.cellStyleClass,item)"
              [ngStyle]="handleCellStyle(col.cellStyle,item)">
              @switch (col.render?.as) {
                @case ('image') {
                  <ng-image
                    imageClass="image-cell"
                    [preview]="col.render.preview"
                    [width]="col.render.width || '100px'"
                    [height]="col.render.height"
                    [src]="resolveFieldData(item, col.field)">
                  </ng-image>
                }
                @case ('ng-template') {
                  <ng-container *ngTemplateOutlet="cellTemplates[col.field];context:{$implicit:item}"/>
                }
                @default {
                  <span [innerHTML]="handleCellRenderer(col,item)"></span>
                }
              }
            </td>
          }
          @if (actionsConfig && actionsConfig.inSameColumn) {
            <td class="same-column-actions-wrapper">
              <div>
                @for (action of actionsConfig.actions; track action) {
                  @if (handleActionVisibility(action, item)) {
                    <ng-button
                      [icon]="action.icon"
                      [label]="action.label"
                      [appearance]="action.appearance"
                      [iconPos]="action.iconPos"
                      [rounded]="action.rounded"
                      [async]="action.async"
                      [full]="action.full"
                      [styleClass]="action.styleClass"
                      [color]="action.color"
                      [size]="action.size"
                      [pTooltip]="action.tooltip"
                      [tooltipPosition]="action.tooltipPosition ?? 'top'"
                      (onClick)="action.onClick(item,index,$event)"
                      (onClickAsync)="action.onClickAsync(item,index,$event)">
                    </ng-button>
                  }
                }
              </div>
            </td>
          }
          @if (actionsConfig && !actionsConfig.inSameColumn) {
            @for (action of actionsConfig.actions; track action) {
              <td class="action-wrapper">
                @if (handleActionVisibility(action, item)) {
                  <ng-button
                    [icon]="action.icon"
                    [label]="action.label"
                    [appearance]="action.appearance"
                    [iconPos]="action.iconPos"
                    [rounded]="action.rounded"
                    [async]="action.async"
                    [full]="action.full"
                    [styleClass]="action.styleClass"
                    [color]="action.color"
                    [size]="action.size"
                    [pTooltip]="action.tooltip"
                    [tooltipPosition]="action.tooltipPosition ?? 'top'"
                    (onClick)="action.onClick(item,index,$event)"
                    (onClickAsync)="action.onClickAsync(item,index,$event)">
                  </ng-button>
                }
              </td>
            }
          }
        </tr>
      }
    </ng-template>

    @if (captionTemplate || header) {
      <ng-template pTemplate="caption">
        @if (captionTemplate) {
          <ng-container *ngTemplateOutlet="captionTemplate"/>
        } @else {
          <div class="caption">
            <h5>{{ header }}</h5>
            @if (globalFilter) {
              <ng-input-text
                [placeholder]="globalFilterPlaceholder"
                (onKeyDown)="onGlobalFilterChange($event)">
              </ng-input-text>
            }
          </div>
        }
      </ng-template>
    }
    @if (headerGroupedTemplate) {
      <ng-template pTemplate="headergrouped"
                   let-item
                   let-rowIndex="rowIndex"
                   let-columns="columns"
                   let-editing="editing"
                   let-frozen="frozen">
        <ng-container
          *ngTemplateOutlet="headerGroupedTemplate;context:{$implicit:item,rowIndex,columns,editing,frozen}"/>
      </ng-template>
    }
    @if (headerTemplate) {
      <ng-template pTemplate="header" let-item>
        <ng-container *ngTemplateOutlet="headerTemplate;context:{$implicit:item}"/>
      </ng-template>
    }
    @if (loadingBodyTemplate) {
      <ng-template pTemplate="loadingbody" let-rowspan="rowspan" let-rowgroup="rowgroup">
        <ng-container *ngTemplateOutlet="loadingBodyTemplate;context:{rowspan,rowgroup}"/>
      </ng-template>
    }
    @if (footerTemplate) {
      <ng-template pTemplate="footer" let-item>
        <ng-container *ngTemplateOutlet="footerTemplate;context:{$implicit:item}"/>
      </ng-template>
    }
    @if (footerGroupedTemplate) {
      <ng-template pTemplate="footergrouped" let-item>
        <ng-container *ngTemplateOutlet="footerGroupedTemplate;context:{$implicit:item}"/>
      </ng-template>
    }
    @if (colGroupTemplate) {
      <ng-template pTemplate="colgroup" let-item>
        <ng-container *ngTemplateOutlet="colGroupTemplate;context:{$implicit:item}"/>
      </ng-template>
    }
    @if (summaryTemplate) {
      <ng-template pTemplate="summary">
        <ng-container *ngTemplateOutlet="summaryTemplate"/>
      </ng-template>
    }
    @if (rowExpansionTemplate) {
      <ng-template pTemplate="rowexpansion" let-rowspan="rowspan" let-rowgroup="rowgroup" let-expanded="expanded">
        <ng-container *ngTemplateOutlet="rowExpansionTemplate;context:{rowspan,rowgroup,expanded}"/>
      </ng-template>
    }
    @if (groupHeaderTemplate) {
      <ng-template pTemplate="groupheader" let-item let-rowIndex="rowIndex" let-columns="columns" let-editing="editing"
                   let-frozen="frozen">
        <ng-container
          *ngTemplateOutlet="groupHeaderTemplate;context:{$implicit:item,rowIndex,columns,editing,frozen}"/>
      </ng-template>
    }
    @if (groupFooterTemplate) {
      <ng-template pTemplate="groupfooter" let-item let-rowIndex="rowIndex" let-columns="columns" let-editing="editing"
                   let-frozen="frozen">
        <ng-container
          *ngTemplateOutlet="groupFooterTemplate;context:{$implicit:item,rowIndex,columns,editing,frozen}"/>
      </ng-template>
    }
    @if (frozenHeaderTemplate) {
      <ng-template pTemplate="frozenheader">
        <ng-container *ngTemplateOutlet="frozenHeaderTemplate"/>
      </ng-template>
    }
    @if (frozenBodyTemplate) {
      <ng-template pTemplate="frozenbody" let-item let-rowIndex="rowIndex" let-columns="columns" let-editing="editing"
                   let-frozen="frozen">
        <ng-container
          *ngTemplateOutlet="frozenBodyTemplate;context:{$implicit:item,rowIndex,columns,editing,frozen}"/>
      </ng-template>
    }
    @if (frozenFooterTemplate) {
      <ng-template pTemplate="frozenfooter">
        <ng-container *ngTemplateOutlet="frozenFooterTemplate"/>
      </ng-template>
    }
    @if (frozenColGroupTemplate) {
      <ng-template pTemplate="frozencolgroup">
        <ng-container *ngTemplateOutlet="frozenColGroupTemplate"/>
      </ng-template>
    }
    @if (frozenColGroupTemplate) {
      <ng-template pTemplate="frozenexpandedrow" let-rowspan="rowspan" let-rowgroup="rowgroup" let-expanded="expanded">
        <ng-container *ngTemplateOutlet="frozenColGroupTemplate;context:{rowspan,rowgroup,expanded}"/>
      </ng-template>
    }
    @if (paginatorLeftTemplate) {
      <ng-template pTemplate="paginatorleft">
        <ng-container *ngTemplateOutlet="paginatorLeftTemplate"/>
      </ng-template>
    }
    @if (paginatorRightTemplate) {
      <ng-template pTemplate="paginatorright">
        <ng-container *ngTemplateOutlet="paginatorRightTemplate"/>
      </ng-template>
    }
    @if (paginatorDropdownIconTemplate) {
      <ng-template pTemplate="paginatordropdownicon">
        <ng-container *ngTemplateOutlet="paginatorDropdownIconTemplate"/>
      </ng-template>
    }
    @if (paginatorDropdownItemTemplate) {
      <ng-template pTemplate="paginatordropdownitem">
        <ng-container *ngTemplateOutlet="paginatorDropdownItemTemplate"/>
      </ng-template>
    }
    @if (paginatorFirstPageLinkIconTemplate) {
      <ng-template pTemplate="paginatorfirstpagelinkicon">
        <ng-container *ngTemplateOutlet="paginatorFirstPageLinkIconTemplate"/>
      </ng-template>
    }
    @if (paginatorLastPageLinkIconTemplate) {
      <ng-template pTemplate="paginatorlastpagelinkicon">
        <ng-container *ngTemplateOutlet="paginatorLastPageLinkIconTemplate"/>
      </ng-template>
    }
    @if (paginatorPreviousPageLinkIconTemplate) {
      <ng-template pTemplate="paginatorpreviouspagelinkicon">
        <ng-container *ngTemplateOutlet="paginatorPreviousPageLinkIconTemplate"/>
      </ng-template>
    }
    @if (paginatorNextPageLinkIconTemplate) {
      <ng-template pTemplate="paginatornextpagelinkicon">
        <ng-container *ngTemplateOutlet="paginatorNextPageLinkIconTemplate"/>
      </ng-template>
    }
    @if (loadingIconTemplate) {
      <ng-template pTemplate="loadingicon">
        <ng-container *ngTemplateOutlet="loadingIconTemplate"/>
      </ng-template>
    }
    @if (reorderIndicatorUpIconTemplate) {
      <ng-template pTemplate="reorderindicatorupicon">
        <ng-container *ngTemplateOutlet="reorderIndicatorUpIconTemplate"/>
      </ng-template>
    }
    @if (reorderIndicatorDownIconTemplate) {
      <ng-template pTemplate="reorderindicatordownicon">
        <ng-container *ngTemplateOutlet="reorderIndicatorDownIconTemplate"/>
      </ng-template>
    }
    @if (sortIconTemplate) {
      <ng-template pTemplate="sorticon" let-item>
        <ng-container *ngTemplateOutlet="sortIconTemplate;context:{$implicit:item}"/>
      </ng-template>
    }
    @if (checkboxIconTemplate) {
      <ng-template pTemplate="checkboxicon" let-item let-partialSelected="partialSelected">
        <ng-container *ngTemplateOutlet="checkboxIconTemplate;context:{$implicit:item,partialSelected}"/>
      </ng-template>
    }
    @if (headerCheckboxIconTemplate) {
      <ng-template pTemplate="headercheckboxicon" let-item>
        <ng-container *ngTemplateOutlet="headerCheckboxIconTemplate;context:{$implicit:item}"/>
      </ng-template>
    }

    <ng-template let-columns let-frozen="frozen" pTemplate="emptymessage">
      @if (emptyMessageTemplate) {
        <ng-container *ngTemplateOutlet="emptyMessageTemplate;context:{columns,frozen}"/>
      } @else {
        <tr>
          <td class="empty-message-wrapper"
              [attr.colspan]="columns.length +
              (actionsConfig?.inSameColumn ? 1 : actionsConfig?.actions?.length) +
              (selectableRows && (selectionMode == 'checkbox' || selectionMode == 'radio') ? 1 : 0)">
            <ng-empty [title]="emptyMessage"
                      [icon]="emptyIcon"
                      [imageSrc]="emptyImageSrc"
                      [imageType]="emptyImageType">
            </ng-empty>
          </td>
        </tr>
      }
    </ng-template>
  </p-table>
</div>
<!--<p-contextMenu #cm [model]="contextMenuItems" appendTo="body"/>-->
