<div [attr.dir]="rtl ? 'rtl' : 'ltr'" class="table-wrapper">
  <p-table
    #dataTable
    [value]="items"
    [columns]="colDef"
    [frozenColumns]="frozenColumns"
    [frozenValue]="frozenValue"
    [style]="style"
    [styleClass]="styleClass"
    [tableStyle]="tableStyle"
    [tableStyleClass]="tableStyleClass"
    [paginator]="paginator"
    [pageLinks]="pageLinks"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [alwaysShowPaginator]="alwaysShowPaginator"
    [paginatorPosition]="paginatorPosition"
    [paginatorStyleClass]="paginatorStyleClass"
    [paginatorDropdownAppendTo]="paginatorDropdownAppendTo"
    [paginatorDropdownScrollHeight]="paginatorDropdownScrollHeight"
    [currentPageReportTemplate]="loading ? '' : currentPageReportTemplate"
    [showCurrentPageReport]="showCurrentPageReport"
    [showJumpToPageDropdown]="showJumpToPageDropdown"
    [showJumpToPageInput]="showJumpToPageInput"
    [showFirstLastIcon]="showFirstLastIcon"
    [showPageLinks]="showPageLinks"
    [defaultSortOrder]="defaultSortOrder"
    [sortMode]="sortMode"
    [resetPageOnSort]="resetPageOnSort"
    [selectionMode]="selectionMode"
    [selectionPageOnly]="selectionPageOnly"
    [contextMenuSelection]="contextMenuSelection"
    [contextMenuSelectionMode]="contextMenuSelectionMode"
    [dataKey]="dataKey"
    [metaKeySelection]="metaKeySelection"
    [rowSelectable]="rowSelectable"
    [rowTrackBy]="rowTrackBy"
    [lazy]="lazy"
    [lazyLoadOnInit]="lazyLoadOnInit"
    [compareSelectionBy]="compareSelectionBy"
    [csvSeparator]="csvSeparator"
    [exportFilename]="exportFilename"
    [filters]="filters"
    [globalFilterFields]="globalFilterFields"
    [filterDelay]="filterDelay"
    [filterLocale]="filterLocale"
    [expandedRowKeys]="expandedRowKeys"
    [rowExpandMode]="rowExpandMode"
    [scrollable]="scrollable"
    [rowGroupMode]="rowGroupMode"
    [scrollHeight]="scrollHeight"
    [virtualScroll]="virtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [virtualScrollOptions]="virtualScrollOptions"
    [virtualScrollDelay]="virtualScrollDelay"
    [frozenWidth]="frozenWidth"
    [contextMenu]="contextMenu"
    [resizableColumns]="resizableColumns"
    [columnResizeMode]="columnResizeMode"
    [reorderableColumns]="reorderableColumns"
    [loadingIcon]="loadingIcon"
    [showLoader]="showLoader"
    [rowHover]="rowHover"
    [customSort]="customSort"
    [showInitialSortBadge]="showInitialSortBadge"
    [autoLayout]="autoLayout"
    [exportFunction]="exportFunction"
    [exportHeader]="exportHeader"
    [stateKey]="stateKey"
    [stateStorage]="stateStorage"
    [groupRowsBy]="groupRowsBy"
    [size]="size"
    [showGridlines]="showGridlines"
    [stripedRows]="stripedRows"
    [groupRowsByOrder]="groupRowsByOrder"
    [responsiveLayout]="responsiveLayout"
    [breakpoint]="breakpoint"
    [paginatorLocale]="paginatorLocale"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [multiSortMeta]="multiSortMeta"
    [selection]="selection"
    [selectAll]="selectAll"
    (contextMenuSelectionChange)="onContextMenuSelectionChange($event)"
    (selectAllChange)="onSelectAllChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (onRowSelect)="emitter('onRowSelect',$event)"
    (onRowUnselect)="emitter('onRowUnselect',$event)"
    (onSort)="_onSort($event)"
    (onPage)="emitter('onPage',$event)"
    (onFilter)="emitter('onFilter',$event)"
    (onLazyLoad)="_onLazyLoad($event)"
    (onRowExpand)="emitter('onRowExpand',$event)"
    (onRowCollapse)="emitter('onRowCollapse',$event)"
    (onContextMenuSelect)="emitter('onContextMenuSelect',$event)"
    (onColResize)="emitter('onColResize',$event)"
    (onColReorder)="emitter('onColReorder',$event)"
    (onRowReorder)="emitter('onRowReorder',$event)"
    (onHeaderCheckboxToggle)="emitter('onHeaderCheckboxToggle',$event)"
    (sortFunction)="emitter('sortFunction',$event)"
    (firstChange)="onFirstChange($event)"
    (rowsChange)="onRowsChange($event)"
    (onStateSave)="emitter('onStateSave',$event)"
    (onStateRestore)="emitter('onStateRestore',$event)">
    @for (t of templates; track t) {
      @if (templateMap[t.type]) {
        <ng-template [pTemplate]="t.type">
          <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
        </ng-template>
      }
    }
    <ng-template pTemplate="header">
      @if (filterDisplay == 'menu') {
        <tr>
          @if (reorderableRows) {
            <th scope="col" style="width: 3rem"></th>
          }
          @if (selectionMode == 'multiple' && showSelectionIndicator) {
            <th scope="col" style="width: 3rem">
              <p-tableHeaderCheckbox/>
            </th>
          }
          @for (col of colDef; track col) {
            <th scope="col"
                [pSortableColumn]="col.sort && col.field"
                pReorderableColumn
                [pReorderableColumnDisabled]="!reorderableColumns">
              {{ col.header }}
              @if (col.sort) {
                <p-sortIcon [field]="col.field"/>
              }
              @if (col.sort && activeSortField == col.field) {
                <ng-button
                  class="sort-reset"
                  [rounded]="true"
                  appearance="text"
                  size="small"
                  (onClick)="onResetSort($event)">
                  <ng-template ngTemplate="icon">
                    <TimesIcon/>
                  </ng-template>
                </ng-button>
              }
              @if (col.filter; as filter) {
                <p-columnFilter [field]="col.field"
                                display="menu"
                                [matchMode]="filter.matchMode"
                                [showApplyButton]="false"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false">
                  <ng-template pTemplate="header">
                    <div class="filter-header"><span>{{ filter.header }}</span></div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filterCallback="filterCallback">
                    @switch (filter.type) {
                      @case ('text') {
                        <ng-input-text
                          labelPosition="side"
                          [fluid]="true"
                          [value]="value"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-text>
                      }
                      @case ('numeric') {
                        <ng-input-number
                          labelPosition="side"
                          [fluid]="true"
                          (onInput)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-number>
                      }
                      @case ('multi-select') {
                        <ng-multi-select
                          labelPosition="side"
                          [fluid]="true"
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-multi-select>
                      }
                      @case ('select') {
                        <ng-select
                          labelPosition="side"
                          [fluid]="true"
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-select>
                      }
                      @case ('slider') {
                        <ng-slider
                          [ngModel]="filter.sliderValue"
                          [min]="filter.min"
                          [max]="filter.max"
                          [range]="filter.range"
                          (onSlideEnd)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-slider>
                        <div dir="ltr">{{ filter.sliderValue[0] }}- {{ filter.sliderValue[1] }}
                        </div>
                      }
                      @case ('boolean') {
                        <ng-checkbox
                          [ngModel]="value == 'true'"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-checkbox>
                      }
                      @case ('datepicker') {
                        <ng-datepicker
                          labelPosition="side"
                          [fluid]="true"
                          [dateFormat]="filter.dateFormat"
                          (onSelect)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-datepicker>
                      }
                    }
                  </ng-template>
                </p-columnFilter>
              }
            </th>
          }
          @if (actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            <th class="action-header">{{ actionsConfig.header }}</th>
          }
          @if (!actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            @for (action of actionsConfig?.actions; track action) {
              @if (action.visible ?? true) {
                <th class="action-header">{{ action.header }}</th>
              }
            }
          }
        </tr>
      }
      @if (filterDisplay == 'row') {
        <tr>
          @if (reorderableRows) {
            <th scope="col" style="width: 3rem"></th>
          }
          @if (selectionMode == 'multiple' && showSelectionIndicator) {
            <th scope="col" style="width: 3rem">
              <p-tableHeaderCheckbox/>
            </th>
          }
          @for (col of colDef; track col) {
            <th scope="col"
                [pSortableColumn]="col.field"
                pReorderableColumn
                [pReorderableColumnDisabled]="!reorderableColumns">
              {{ col.header }}
              @if (col.sort) {
                <p-sortIcon [field]="col.field"/>
              }
            </th>
          }
          @if (actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            <th>{{ actionsConfig.header }}</th>
          }
          @if (!actionsConfig?.inSameColumn && actionsConfig?.actions.length) {
            @for (action of actionsConfig?.actions; track action) {
              @if (action.visible ?? true) {
                <th class="action-header">{{ action.header }}</th>
              }
            }
          }
        </tr>
        <tr>
          @if (showSelectionIndicator) {
            <th scope="col" style="width: 3rem">
            </th>
          }
          @for (col of colDef; track col) {
            <th scope="col" class="row-filter-wrapper">
              @if (col.filter; as filter) {
                <p-columnFilter [field]="col.field"
                                [showMenu]="filter.rowFilterShowMenu"
                                [matchMode]="filter.matchMode"
                                [showApplyButton]="false"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false">
                  <ng-template pTemplate="header">
                    <div class="filter-header"><span>{{ filter.header }}</span></div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filterCallback="filterCallback">
                    @switch (filter.type) {
                      @case ('text') {
                        <ng-input-text
                          [value]="value"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-text>
                      }
                      @case ('numeric') {
                        <ng-input-number
                          (onInput)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-input-number>
                      }
                      @case ('multi-select') {
                        <ng-multi-select
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-multi-select>
                      }
                      @case ('select') {
                        <ng-select
                          [value]="value"
                          [options]="filter.options"
                          [optionLabel]="filter.optionLabel"
                          [optionValue]="filter.optionValue"
                          [placeholder]="filter.placeholder"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-select>
                      }
                      @case ('slider') {
                        <ng-slider
                          [ngModel]="filter.sliderValue"
                          [min]="filter.min"
                          [max]="filter.max"
                          [range]="filter.range"
                          (onSlideEnd)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-slider>
                        <div class="text-center mt-3" dir="ltr">{{ filter.sliderValue[0] }}- {{ filter.sliderValue[1] }}
                        </div>
                      }
                      @case ('boolean') {
                        <ng-checkbox
                          [ngModel]="value == 'true'"
                          (onChange)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-checkbox>
                      }
                      @case ('datepicker') {
                        <ng-datepicker
                          [dateFormat]="filter.dateFormat"
                          (onSelect)="onChangeFilterValue($event,filterCallback,col)">
                        </ng-datepicker>
                      }
                    }
                  </ng-template>
                </p-columnFilter>
              }
            </th>
          }
          @if (actionsConfig && actionsConfig.inSameColumn) {
            <th></th>
          }
          @if (actionsConfig && !actionsConfig.inSameColumn) {
            @for (action of actionsConfig.actions; track action) {
              <th></th>
            }
          }
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="body" let-item let-frozen="frozen" let-index="rowIndex">
      @if (templateMap.body) {
        <ng-container *ngTemplateOutlet="templateMap.body;context:{$implicit:item,frozen,index}"/>
      } @else {
        <tr [pReorderableRow]="index"
            [pReorderableRowDisabled]="!reorderableRows"
            [pSelectableRow]="item"
            [pSelectableRowDisabled]="!selectionMode"
            [pSelectableRowIndex]="index">
          @if (reorderableRows) {
            <td>
              <BarsIcon/>
            </td>
          }
          @if (selectionMode == 'single' && showSelectionIndicator) {
            <td>
              <p-tableRadioButton [value]="item"/>
            </td>
          }
          @if (selectionMode == 'multiple' && showSelectionIndicator) {
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
          }
          @for (col of colDef; track col.header) {
            <td
              [ngClass]="handleCellStyleClass(col.cellStyleClass,item)"
              [ngStyle]="handleCellStyle(col.cellStyle,item)">
              @switch (col.render) {
                @case ('ng-template') {
                  <ng-container *ngTemplateOutlet="cellTemplates[col.field];context:{$implicit:item}"/>
                }
                @default {
                  <span [innerHTML]="handleCellRenderer(col,item)"></span>
                }
              }
            </td>
          }
          @if (actionsConfig && actionsConfig.inSameColumn) {
            <td class="same-column-actions-wrapper">
              <div>
                @for (action of actionsConfig.actions; track action) {
                  @if (handleActionVisibility(action, item)) {
                    <ng-button
                      [icon]="action.icon"
                      [label]="action.label"
                      [appearance]="action.appearance"
                      [iconPos]="action.iconPos"
                      [rounded]="action.rounded"
                      [async]="action.async"
                      [fluid]="action.full"
                      [styleClass]="action.styleClass"
                      [severity]="action.severity"
                      [size]="action.size"
                      [pTooltip]="action.tooltip"
                      [tooltipPosition]="action.tooltipPosition ?? 'top'"
                      (onClick)="action.onClick(item,index,$event)"
                      (onClickAsync)="action.onClickAsync(item,index,$event)">
                    </ng-button>
                  }
                }
              </div>
            </td>
          }
          @if (actionsConfig && !actionsConfig.inSameColumn) {
            @for (action of actionsConfig.actions; track action) {
              <td class="action-wrapper">
                @if (handleActionVisibility(action, item)) {
                  <ng-button
                    [icon]="action.icon"
                    [label]="action.label"
                    [appearance]="action.appearance"
                    [iconPos]="action.iconPos"
                    [rounded]="action.rounded"
                    [async]="action.async"
                    [fluid]="action.full"
                    [styleClass]="action.styleClass"
                    [severity]="action.severity"
                    [size]="action.size"
                    [pTooltip]="action.tooltip"
                    [tooltipPosition]="action.tooltipPosition ?? 'top'"
                    (onClick)="action.onClick(item,index,$event)"
                    (onClickAsync)="action.onClickAsync(item,index,$event)">
                  </ng-button>
                }
              </td>
            }
          }
        </tr>
      }
    </ng-template>

    @if (templateMap.caption || header) {
      <ng-template pTemplate="caption">
        @if (templateMap.caption) {
          <ng-container *ngTemplateOutlet="templateMap.caption"/>
        } @else {
          <div class="caption">
            <h5>{{ header }}</h5>
            @if (globalFilter) {
              <ng-input-text
                [placeholder]="globalFilterPlaceholder"
                (onKeyDown)="onGlobalFilterChange($event)">
              </ng-input-text>
            }
          </div>
        }
      </ng-template>
    }

    <ng-template let-columns let-frozen="frozen" pTemplate="emptymessage">
      @if (templateMap.emptymessage) {
        <ng-container *ngTemplateOutlet="templateMap.emptymessage;context:{columns,frozen}"/>
      } @else {
        <tr>
          <td class="empty-message-wrapper"
              [attr.colspan]="columns.length +
              (actionsConfig?.inSameColumn ? 1 : actionsConfig?.actions?.length) +
              (selectableRows && showSelectionIndicator ? 1 : 0)">
            <ng-empty [title]="emptyMessage"
                      [icon]="emptyIcon"
                      [imageSrc]="emptyImageSrc"
                      [imageType]="emptyImageType">
            </ng-empty>
          </td>
        </tr>
      }
    </ng-template>
  </p-table>
</div>
