<div class="input-textarea-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap['iconStart'] && !templateMap['iconEnd'],
     'icon-end': templateMap['iconEnd'] && !templateMap['iconStart'],
     'icon-both': templateMap['iconStart'] && templateMap['iconEnd'],
     'addon-start': templateMap['addonStart'] && !templateMap['addonEnd'],
     'addon-end': templateMap['addonEnd'] && !templateMap['addonStart'],
     'addon-both': templateMap['addonStart'] && templateMap['addonEnd'],
     'fluid': fluid
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
       <textarea
         pTextarea
         [(ngModel)]="value"
         [invalid]="isInvalid"
         [attr.id]="inputId"
         [attr.aria-label]="ariaLabel"
         [attr.aria-labelledBy]="ariaLabelledBy"
         [attr.maxlength]="maxlength"
         [attr.placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
         [cols]="cols"
         [disabled]="disabled"
         [readonly]="readonly"
         [rows]="rows"
         [ngStyle]="inputStyle"
         [class]="inputStyleClass"
         [autoResize]="autoResize"
         [variant]="variant"
         [fluid]="fluid"
         [pSize]="size"
         (blur)="_onBlur($event)"
         (change)="_onChange($event)"
         (focus)="_onFocus($event)"
         (input)="_onInput($event)"
         (keydown)="_onKeyDown($event)"
         (keyup)="_onKeyUp($event)"
         (onResize)="_onResize($event)"
       ></textarea>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [pwTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </pw-form-field>
</div>
