<div class="input-textarea-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid
    }">
  <ng-element-additions
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template ngTemplate="element">
       <textarea
         pTextarea
         [(ngModel)]="value"
         [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
         [attr.id]="inputId"
         [attr.aria-label]="ariaLabel"
         [attr.aria-labelledBy]="ariaLabelledBy"
         [attr.maxlength]="maxlength"
         [attr.placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
         [cols]="cols"
         [disabled]="disabled"
         [readonly]="readonly"
         [rows]="rows"
         [ngStyle]="inputStyle"
         [class]="inputStyleClass"
         [autoResize]="autoResize"
         [variant]="variant"
         [fluid]="fluid"
         [pSize]="size"
         (blur)="_onBlur($event)"
         (change)="_onChange($event)"
         (focus)="_onFocus($event)"
         (input)="_onInput($event)"
         (keydown)="_onKeyDown($event)"
         (keyup)="_onKeyUp($event)"
         (onResize)="_onResize($event)"
       ></textarea>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-element-additions>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
