<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float'
    }" class="input-textarea-wrapper"
     [ngStyle]="style"
     [class]="styleClass">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <textarea
        pInputTextarea
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [attr.id]="inputId"
        [attr.aria-label]="ariaLabel"
        [attr.aria-labelledBy]="ariaLabelledBy"
        [attr.maxlength]="maxlength"
        [attr.placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [autoResize]="autoResize"
        [cols]="cols"
        [disabled]="disabled"
        [readonly]="readonly"
        [rows]="rows"
        [ngStyle]="inputStyle"
        [class]="inputStyleClass"
        (blur)="_onBlur($event)"
        (change)="_onChange($event)"
        (focus)="_onFocus($event)"
        (input)="_onInput($event)"
        (keydown)="_onKeyDown($event)"
        (keyup)="_onKeyUp($event)"
        (onResize)="_onResize($event)"
      ></textarea>
      <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
        {{ label | ngLabelStar:showRequiredStar:ngControl }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
