<div class="container">
  <p-card dir="ltr"
          header="Rating"
          subheader="Rating component is a star based selection input."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-rating
      formControlName="c1"
      [errors]="{ required: 'error' }"
    ></ng-rating>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-rating
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
  ></ng-rating>
</div>
