<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  [style.direction]="formOptions.rtl ? 'rtl' : 'ltr'"
  class="pt-4 form-row"
>
  <ng-container *ngFor="let item of formConfig">
    <ng-container *ngIf="item.visible != null ? item.visible == true : true">
      <ng-container [ngSwitch]="item.component">
        <input
          *ngSwitchCase="'hidden'"
          [formControlName]="item.formControlName"
          [ngClass]="item.className || 'col-12'"
          type="hidden"
        />
        <ng-auto-complete
          *ngSwitchCase="'auto-complete'"
          [addon]="item.addon"
          [appendTo]="item.appendTo"
          [autoHighlight]="item.autoHighlight"
          [autofocus]="item.autofocus"
          [completeOnFocus]="item.completeOnFocus"
          [dataKey]="item.dataKey"
          [disabled]="item.disabled"
          [dropdownMode]="item.dropdownMode"
          [dropdown]="item.dropdown"
          [emptyMessage]="item.emptyMessage"
          [errors]="getValidatorErrors(item)"
          [field]="item.field"
          [filled]="item.filled"
          [forceSelection]="item.forceSelection"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxlength]="item.maxlength"
          [minlength]="item.minlength"
          [multiple]="item.multiple"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [scrollHeight]="item.scrollHeight || '200px'"
          [showRequiredStar]="item.showRequiredStar || true"
          [size]="item.size"
          [suggestions]="item.suggestions"
          [unique]="item.unique"
          [value]="item.value"
        ></ng-auto-complete>
        <ng-cascade-select
          *ngSwitchCase="'cascade-select'"
          [addon]="item.addon"
          [appendTo]="item.appendTo"
          [dataKey]="item.dataKey"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionGroupChildren]="item.optionGroupChildren"
          [optionGroupLabel]="item.optionGroupLabel"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-cascade-select>
        <ng-chips
          *ngSwitchCase="'chips'"
          [addOnBlur]="item.addOnBlur"
          [addOnTab]="item.addOnTab"
          [addon]="item.addon"
          [allowDuplicate]="item.allowDuplicate"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [field]="item.field"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [max]="item.max"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-chips>
        <ng-color-picker
          *ngSwitchCase="'color-picker'"
          [addon]="item.addon"
          [appendTo]="item.appendTo"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [format]="item.format"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inline]="item.inline"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxlength]="item.maxlength"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-color-picker>
        <ng-dropdown
          *ngSwitchCase="'dropdown'"
          [addon]="item.addon"
          [appendTo]="item.appendTo"
          [autoDisplayFirst]="item.autoDisplayFirst"
          [autofocusFilter]="item.autofocusFilter"
          [autofocus]="item.autofocus"
          [dataKey]="item.dataKey"
          [disabled]="item.disabled"
          [editable]="item.editable"
          [emptyFilterMessage]="item.emptyFilterMessage"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [filterBy]="item.filterBy"
          [filterMatchMode]="item.filterMatchMode"
          [filterPlaceholder]="item.filterPlaceholder"
          [filterValue]="item.filterValue"
          [filter]="item.filter"
          [formControlName]="item.formControlName"
          [group]="item.group"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxlength]="item.maxlength"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionGroupChildren]="item.optionGroupChildren"
          [optionGroupLabel]="item.optionGroupLabel"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [resetFilterOnHide]="item.resetFilterOnHide"
          [rtl]="formOptions.rtl"
          [scrollHeight]="item.scrollHeight || '200px'"
          [showClear]="item.showClear"
          [showRequiredStar]="item.showRequiredStar || true"
          [tooltipPosition]="item.tooltipPosition"
          [tooltip]="item.tooltip"
          [value]="item.value"
        ></ng-dropdown>
        <ng-editor
          *ngSwitchCase="'editor'"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-editor>
        <ng-file-picker
          *ngSwitchCase="'file-picker'"
          [accept]="item.accept"
          [auto]="item.auto"
          [cancelLabel]="item.cancelLabel"
          [chooseLabel]="item.chooseLabel"
          [customUpload]="item.customUpload"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [fileLimit]="item.fileLimit"
          [formControlName]="item.formControlName"
          [headers]="item.headers"
          [hint]="item.hint"
          [invalidFileLimitMessageDetail]="item.invalidFileLimitMessageDetail"
          [invalidFileLimitMessageSummary]="item.invalidFileLimitMessageSummary"
          [invalidFileSizeMessageDetail]="item.invalidFileSizeMessageDetail"
          [invalidFileSizeMessageSummary]="item.invalidFileSizeMessageSummary"
          [invalidFileTypeMessageDetail]="item.invalidFileTypeMessageDetail"
          [invalidFileTypeMessageSummary]="item.invalidFileTypeMessageSummary"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxFileSize]="item.maxFileSize"
          [method]="item.method"
          [mode]="item.mode || 'advanced'"
          [multiple]="item.multiple"
          [name]="item.name"
          [ngClass]="item.className || 'col-12'"
          [previewWidth]="item.previewWidth || 50"
          [resultType]="item.resultType || 'base64'"
          [rtl]="formOptions.rtl"
          [showCancelButton]="item.showCancelButton"
          [showRequiredStar]="item.showRequiredStar || true"
          [showUploadButton]="item.showUploadButton"
          [uploadLabel]="item.uploadLabel"
          [url]="item.url"
          [value]="item.value"
          [withCredentials]="item.withCredentials"
        ></ng-file-picker>
        <ng-file-picker2
          *ngSwitchCase="'file-picker2'"
          [accept]="item.accept"
          [chooseLabel]="item.chooseLabel || 'انتخاب'"
          [color]="item.color || 'primary'"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [fileLimit]="item.fileLimit"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [multiple]="item.multiple"
          [ngClass]="item.className || 'col-12'"
          [readonly]="item.readonly"
          [resultType]="item.resultType || 'base64'"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-file-picker2>
        <ng-input-text
          *ngSwitchCase="'text'"
          [addon]="item.addon"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [keyFilter]="item.keyFilter"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxlength]="item.maxlength"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [type]="item.type"
          [value]="item.value"
        ></ng-input-text>
        <ng-input-mask
          *ngSwitchCase="'mask'"
          [addon]="item.addon"
          [autoClear]="item.autoClear"
          [autoFocus]="item.autoFocus"
          [autocomplete]="item.autocomplete"
          [characterPattern]="item.characterPattern"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [mask]="item.mask"
          [maxlength]="item.maxlength"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [size]="item.size"
          [slotChar]="item.slotChar"
          [title]="item.title"
          [unmask]="item.unmask"
          [value]="item.value"
        ></ng-input-mask>
        <ng-input-number
          *ngSwitchCase="'number'"
          [addon]="item.addon"
          [buttonLayout]="item.buttonLayout"
          [currencyDisplay]="item.currencyDisplay"
          [currency]="item.currency"
          [decrementButtonIcon]="item.decrementButtonIcon"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [format]="item.format"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [incrementButtonIcon]="item.incrementButtonIcon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxFractionDigits]="item.maxFractionDigits"
          [max]="item.max"
          [maxlength]="item.maxlength"
          [minFractionDigits]="item.minFractionDigits"
          [min]="item.min"
          [mode]="item.mode"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [prefix]="item.prefix"
          [rtl]="formOptions.rtl"
          [showButtons]="item.showButtons"
          [showRequiredStar]="item.showRequiredStar || true"
          [size]="item.size"
          [step]="item.step"
          [suffix]="item.suffix"
          [title]="item.title"
          [useGrouping]="item.useGrouping"
          [value]="item.value"
        ></ng-input-number>
        <ng-input-password
          *ngSwitchCase="'password'"
          [addon]="item.addon"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [feedback]="item.feedback"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxlength]="item.maxlength"
          [mediumLabel]="item.mediumLabel"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [promptLabel]="item.promptLabel"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [toggleMask]="item.toggleMask"
          [showRequiredStar]="item.showRequiredStar || true"
          [strongLabel]="item.strongLabel"
          [value]="item.value"
          [weakLabel]="item.weakLabel"
        ></ng-input-password>
        <ng-input-textarea
          *ngSwitchCase="'textarea'"
          [addon]="item.addon"
          [autoResize]="item.autoResize"
          [cols]="item.cols"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxlength]="item.maxlength"
          [ngClass]="item.className || 'col-12'"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [rows]="item.rows"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-input-textarea>
        <ng-listbox
          *ngSwitchCase="'listbox'"
          [addon]="item.addon"
          [checkbox]="item.checkbox"
          [dataKey]="item.dataKey"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [filterMatchMode]="item.filterMatchMode"
          [filterPlaceHolder]="item.filterPlaceHolder"
          [filterValue]="item.filterValue"
          [filter]="item.filter"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [multiple]="item.multiple"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [showToggleAll]="item.showToggleAll"
          [value]="item.value"
        ></ng-listbox>
        <ng-multi-checkbox
          *ngSwitchCase="'multi-checkbox'"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [orientation]="item.orientation"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-multi-checkbox>
        <ng-multi-select
          *ngSwitchCase="'multi-select'"
          [addon]="item.addon"
          [appendTo]="item.appendTo"
          [autofocusFilter]="item.autofocusFilter"
          [dataKey]="item.dataKey"
          [defaultLabel]="item.defaultLabel"
          [disabled]="item.disabled"
          [displaySelectedLabel]="item.displaySelectedLabel || true"
          [emptyFilterMessage]="item.emptyFilterMessage"
          [errors]="getValidatorErrors(item)"
          [filled]="item.filled"
          [filterBy]="item.filterBy"
          [filterMatchMode]="item.filterMatchMode"
          [filterPlaceHolder]="item.filterPlaceHolder"
          [filterValue]="item.filterValue"
          [filter]="item.filter"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [icon]="item.icon"
          [inputSize]="item.inputSize"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [maxSelectedLabels]="item.maxSelectedLabels || 3"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [overlayVisible]="item.overlayVisible"
          [placeholder]="item.placeholder"
          [readonly]="item.readonly"
          [resetFilterOnHide]="item.resetFilterOnHide"
          [rtl]="formOptions.rtl"
          [scrollHeight]="item.scrollHeight || '200px'"
          [selectedItemsLabel]="item.selectedItemsLabel || '{0} مورد انتخاب شد'"
          [selectionLimit]="item.selectionLimit"
          [showHeader]="item.showHeader"
          [showRequiredStar]="item.showRequiredStar || true"
          [showToggleAll]="item.showToggleAll"
          [tooltipPosition]="item.tooltipPosition"
          [tooltip]="item.tooltip"
          [value]="item.value"
          [virtualScroll]="item.virtualScroll"
        ></ng-multi-select>
        <ng-radio
          *ngSwitchCase="'radio'"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [orientation]="item.orientation"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-radio>
        <ng-rating
          *ngSwitchCase="'rating'"
          [cancel]="item.cancel"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconCancelClass]="item.iconCancelClass"
          [iconOffClass]="item.iconOffClass"
          [iconOnClass]="item.iconOnClass"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [stars]="item.stars"
          [value]="item.value"
        ></ng-rating>
        <ng-select-button
          *ngSwitchCase="'select-button'"
          [addon]="item.addon"
          [dataKey]="item.dataKey"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [multiple]="item.multiple"
          [ngClass]="item.className || 'col-12'"
          [optionDisabled]="item.optionDisabled"
          [optionLabel]="item.optionLabel || 'label'"
          [optionValue]="item.optionValue || 'value'"
          [options]="item.options"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-select-button>
        <ng-checkbox
          *ngSwitchCase="'checkbox'"
          [binary]="item.binary"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-checkbox>
        <ng-slider
          *ngSwitchCase="'slider'"
          [animate]="item.animate"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [max]="item.max"
          [min]="item.min"
          [ngClass]="item.className || 'col-12'"
          [orientation]="item.orientation"
          [range]="item.range"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [step]="item.step"
          [value]="item.value"
        ></ng-slider>
        <ng-switch
          *ngSwitchCase="'switch'"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-switch>
        <ng-toggle-button
          *ngSwitchCase="'toggle-button'"
          [disabled]="item.disabled"
          [errors]="getValidatorErrors(item)"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [iconPos]="item.iconPos || 'left'"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [ngClass]="item.className || 'col-12'"
          [offIcon]="item.offIcon"
          [offLabel]="item.offLabel"
          [onIcon]="item.onIcon"
          [onLabel]="item.onLabel"
          [readonly]="item.readonly"
          [rtl]="formOptions.rtl"
          [showRequiredStar]="item.showRequiredStar || true"
          [value]="item.value"
        ></ng-toggle-button>
        <ng-tree
          *ngSwitchCase="'tree'"
          [contextMenu]="item.contextMenu"
          [draggableNodes]="item.draggableNodes"
          [draggableScope]="item.draggableScope"
          [droppableNodes]="item.droppableNodes"
          [droppableScope]="item.droppableScope"
          [emptyMessage]="item.emptyMessage"
          [errors]="getValidatorErrors(item)"
          [filterBy]="item.filterBy"
          [filterLocale]="item.filterLocale"
          [filterMode]="item.filterMode"
          [filterPlaceholder]="item.filterPlaceholder"
          [filter]="item.filter"
          [formControlName]="item.formControlName"
          [hint]="item.hint"
          [indentation]="item.indentation"
          [items]="item.items"
          [labelPos]="item.labelPos || 'fix-top'"
          [labelWidth]="item.labelWidth || 110"
          [label]="item.label"
          [layout]="item.layout"
          [loading]="item.loading"
          [maxBufferPx]="item.maxBufferPx"
          [metaKeySelection]="item.metaKeySelection"
          [minBufferPx]="item.minBufferPx"
          [ngClass]="item.className || 'col-12'"
          [propagateSelectionDown]="item.propagateSelectionDown"
          [propagateSelectionUp]="item.propagateSelectionUp"
          [rtl]="formOptions.rtl"
          [scrollHeight]="item.scrollHeight || '200px'"
          [selectionMode]="item.selectionMode"
          [selection]="item.selection"
          [showRequiredStar]="item.showRequiredStar || true"
          [trackBy]="item.trackBy"
          [validateDrop]="item.validateDrop"
          [virtualNodeHeight]="item.virtualNodeHeight"
          [virtualScroll]="item.virtualScroll"
        ></ng-tree>
        <div
          *ngSwitchCase="'template'"
          [innerHTML]="item.template"
          [ngClass]="item.className || 'col-12'"
          [ngStyle]="item.style"
        ></div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="formOptions.formValidator">
    <div class="col-12" *ngIf="form.hasError(formOptions.formValidator.error)">
      <div class="p-error">{{formOptions.formValidator.message}}</div>
    </div>
  </ng-container>
  <div class="col-12 footer d-flex align-content-center justify-content-start border-top pt-4 mt-4">
    <ng-button
      *ngIf="formOptions.acceptVisible"
      [appearance]="formOptions.acceptAppearance"
      [color]="formOptions.acceptColor"
      [iconPos]="formOptions.rtl ? 'right' : 'left'"
      [icon]="formOptions.acceptIcon"
      [label]="formOptions.acceptLabel"
      type="submit"
    ></ng-button>
    <ng-button
      (click)="onCancel()"
      *ngIf="formOptions.rejectVisible"
      [appearance]="formOptions.rejectAppearance"
      [color]="formOptions.rejectColor"
      [iconPos]="formOptions.rtl ? 'right' : 'left'"
      [icon]="formOptions.rejectIcon"
      [label]="formOptions.rejectLabel"
    ></ng-button>
  </div>
</form>
