<p-splitButton
  [class.rtl]="rtl"
  [class.full]="full"
  [model]="items"
  [label]="label"
  [icon]="icon"
  [iconPos]="iconPos"
  [style]="style"
  [menuStyle]="menuStyle"
  [menuStyleClass]="menuStyleClass"
  [appendTo]="appendTo"
  [disabled]="disabled"
  [tabindex]="tabindex"
  [showTransitionOptions]="showTransitionOptions"
  [hideTransitionOptions]="hideTransitionOptions"
  styleClass="
  {{styleClass}}
  p-button-{{ appearance }}
  p-button-{{ color }}
  p-button-{{ size }}
  p-button-{{ rounded ? 'rounded' : '' }}
  p-button-{{ raised ? 'raised' : '' }}"
  (onClick)="emitter('onClick',$event)"
  (onDropdownClick)="emitter('onDropdownClick',$event)">
  <ng-template pTemplate="content" *ngIf="contentTemplate">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </ng-template>
</p-splitButton>
