<div class="checkbox-wrapper" [attr.dir]="rtl ? 'rtl' : 'ltr'">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    labelPosition="side"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly"
    [reverseLabel]="true">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <div class="checkbox-inner-wrapper">
        <p-checkbox
          [(ngModel)]="value"
          [invalid]="isInvalid"
          [name]="name"
          [disabled]="disabled"
          [binary]="binary"
          [ariaLabelledBy]="ariaLabelledBy"
          [ariaLabel]="ariaLabel"
          [tabindex]="tabindex"
          [inputId]="inputId"
          [inputStyle]="inputStyle"
          [inputClass]="inputClass"
          [indeterminate]="indeterminate"
          [checkboxIcon]="checkboxIcon"
          [readonly]="readonly"
          [autofocus]="autofocus"
          [trueValue]="trueValue"
          [falseValue]="falseValue"
          [variant]="variant"
          [size]="size"
          (onChange)="_onChange($event)"
          (onFocus)="_onFocus($event)"
          (onBlur)="_onBlur($event)">
          @for (t of templates; track t) {
            @if (templateMap[t.type]) {
              <ng-template [pTemplate]="t.type">
                <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
              </ng-template>
            }
          }
        </p-checkbox>
        @if (loading && showAsyncLoading) {
          <p-progressSpinner strokeWidth="4"/>
        }
      </div>
    </ng-template>
  </pw-form-field>
</div>
