<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(filled)]="filled"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
       'rtl': rtl,
       'ltr': !rtl,
       'p-input-filled': filled
     }" class="checkbox-wrapper">
  <div class="field">
    <p-checkbox
      [(ngModel)]="value"
      [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
      [disabled]="disabled"
      [binary]="true"
      [ariaLabelledBy]="ariaLabelledBy"
      [ariaLabel]="ariaLabel"
      [tabindex]="tabindex"
      [inputId]="inputId"
      [style]="style"
      [styleClass]="styleClass"
      [labelStyleClass]="labelStyleClass"
      [checkboxIcon]="checkboxIcon"
      [readonly]="readonly"
      [trueValue]="trueValue"
      [falseValue]="falseValue"
      (onChange)="_onChange($event)"
      (onFocus)="_onFocus($event)"
      (onBlur)="_onBlur($event)">
      <ng-container *ngFor="let t of templates">
        <ng-template [pTemplate]="t.getType()" *ngIf="templateMap[t.getType()]">
          <ng-container *ngTemplateOutlet="templateMap[t.getType()]"></ng-container>
        </ng-template>
      </ng-container>
    </p-checkbox>
    <label
      [attr.for]="inputId"
      [class.p-disabled]="disabled">
      {{ label | ngLabelStar:showRequiredStar:ngControl }}
    </label>
    <p-progressSpinner *ngIf="loading && showAsyncLoading" strokeWidth="4"></p-progressSpinner>
  </div>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
