<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="file-picker-wrapper">
  <div class="field">
    <p-fileUpload
      [attr.id]="id"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [name]="name"
      [url]="url"
      [method]="method"
      [multiple]="multiple"
      [accept]="accept"
      [disabled]="disabled"
      [auto]="auto"
      [withCredentials]="withCredentials"
      [maxFileSize]="maxFileSize"
      [invalidFileSizeMessageSummary]="invalidFileSizeMessageSummary"
      [invalidFileSizeMessageDetail]="invalidFileSizeMessageDetail"
      [invalidFileTypeMessageSummary]="invalidFileTypeMessageSummary"
      [invalidFileTypeMessageDetail]="invalidFileTypeMessageDetail"
      [invalidFileLimitMessageDetail]="invalidFileLimitMessageDetail"
      [invalidFileLimitMessageSummary]="invalidFileLimitMessageSummary"
      [style]="style"
      [styleClass]="styleClass"
      [previewWidth]="previewWidth"
      [chooseLabel]="chooseLabel"
      [uploadLabel]="uploadLabel"
      [cancelLabel]="cancelLabel"
      [chooseIcon]="chooseIcon"
      [uploadIcon]="uploadIcon"
      [cancelIcon]="cancelIcon"
      [showUploadButton]="showUploadButton"
      [showCancelButton]="showCancelButton"
      [mode]="mode"
      [headers]="headers"
      [customUpload]="customUpload"
      [fileLimit]="fileLimit"
      [uploadStyleClass]="uploadStyleClass"
      [cancelStyleClass]="cancelStyleClass"
      [removeStyleClass]="removeStyleClass"
      [chooseStyleClass]="chooseStyleClass"
      (onBeforeUpload)="emitter('onBeforeUpload',$event)"
      (onSend)="emitter('onSend',$event)"
      (onUpload)="emitter('onUpload',$event)"
      (onError)="emitter('onError',$event)"
      (onClear)="_onClear()"
      (onRemove)="_onRemove($event)"
      (onSelect)="_onSelect($event)"
      (onProgress)="emitter('onProgress',$event)"
      (uploadHandler)="emitter('uploadHandler',$event)"
      (onImageError)="emitter('onImageError',$event)">
      <ng-container *ngFor="let t of templates">
        <ng-template [pTemplate]="t.getType()" let-item *ngIf="templateMap[t.getType()]">
          <ng-container *ngTemplateOutlet="templateMap[t.getType()];context:{$implicit:item}"></ng-container>
        </ng-template>
      </ng-container>
    </p-fileUpload>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="id"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
