<div class="file-picker-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [fluid]="true">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-fileUpload
        [attr.id]="id"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [name]="name"
        [url]="url"
        [method]="method"
        [multiple]="multiple"
        [accept]="accept"
        [disabled]="disabled"
        [auto]="auto"
        [withCredentials]="withCredentials"
        [maxFileSize]="maxFileSize"
        [invalidFileSizeMessageSummary]="invalidFileSizeMessageSummary"
        [invalidFileSizeMessageDetail]="invalidFileSizeMessageDetail"
        [invalidFileTypeMessageSummary]="invalidFileTypeMessageSummary"
        [invalidFileTypeMessageDetail]="invalidFileTypeMessageDetail"
        [invalidFileLimitMessageDetail]="invalidFileLimitMessageDetail"
        [invalidFileLimitMessageSummary]="invalidFileLimitMessageSummary"
        [style]="style"
        [styleClass]="styleClass"
        [previewWidth]="previewWidth"
        [chooseLabel]="chooseLabel"
        [uploadLabel]="uploadLabel"
        [cancelLabel]="cancelLabel"
        [chooseIcon]="chooseIcon"
        [uploadIcon]="uploadIcon"
        [cancelIcon]="cancelIcon"
        [showUploadButton]="showUploadButton"
        [showCancelButton]="showCancelButton"
        [mode]="mode"
        [headers]="headers"
        [customUpload]="customUpload"
        [fileLimit]="fileLimit"
        [uploadStyleClass]="uploadStyleClass"
        [cancelStyleClass]="cancelStyleClass"
        [removeStyleClass]="removeStyleClass"
        [chooseStyleClass]="chooseStyleClass"
        [chooseButtonProps]="chooseButtonProps"
        [uploadButtonProps]="uploadButtonProps"
        [cancelButtonProps]="cancelButtonProps"
        (onBeforeUpload)="emitter('onBeforeUpload',$event)"
        (onSend)="emitter('onSend',$event)"
        (onUpload)="emitter('onUpload',$event)"
        (onError)="emitter('onError',$event)"
        (onClear)="_onClear()"
        (onRemove)="_onRemove($event)"
        (onSelect)="_onSelect($event)"
        (onProgress)="emitter('onProgress',$event)"
        (uploadHandler)="emitter('uploadHandler',$event)"
        (onImageError)="emitter('onImageError',$event)"
        (onRemoveUploadedFile)="emitter('onRemoveUploadedFile',$event)">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type" let-item>
              <ng-container *ngTemplateOutlet="templateMap[t.type];context:{$implicit:item}"/>
            </ng-template>
          }
        }
      </p-fileUpload>
    </ng-template>
  </ng-form-field>
</div>
