form {
  .box {
    background-color: var(--surface-b);
    border: 1px solid var(--surface-d);
    width: 400px;
    z-index: 20000;

    > *:not(small) {
      display: block;
      margin-bottom: 2rem;
    }
  }
}
