<form class="row justify-content-center" [formGroup]="form">
  <div class="p-4 box rounded-4 shadow">
    <ng-logo [disableNavigation]="true" class="text-center mb-2"></ng-logo>
    <h3 class="text-center">ثبت نام</h3>
    <ng-input-text
      formControlName="email"
      [showRequiredStar]="false"
      icon="pi pi-user"
      placeholder="نام کاربری"
      [validation]="{'required':'این فیلد الزامیست.','email':'ایمیل نامعتبر است.'}"
    ></ng-input-text>
    <ng-input-text
      type="password"
      icon="pi pi-key"
      [showRequiredStar]="false"
      formControlName="password"
      placeholder="رمز عبور"
      [validation]="{'required': 'این فیلد الزامیست.'}"
    ></ng-input-text>
    <ng-input-text
      type="password"
      icon="pi pi-key"
      [showRequiredStar]="false"
      formControlName="confirmPassword"
      placeholder="تکرار رمز عبور"
      [validation]="{'required': 'این فیلد الزامیست.'}"
    ></ng-input-text>
    <p class="p-error small text-center"
           *ngIf="form.hasError('notSame') && !form.get('confirmPassword').hasError('required')">
      رمزعبور و تکرار مطابقت ندارند
    </p>
    <ng-button
      [full]="true"
      [async]="true"
      type="submit"
      label="ثبت نام"
      (onClickAsync)="onSubmit($event)"
    ></ng-button>
    <small class="text-muted d-flex align-items-center justify-content-center">
      <ng-button size="sm" appearance="link" routerLink="/auth/login" label="وارد شوید"></ng-button>
      حساب کاربری دارید؟
    </small>
  </div>
</form>

