form {
  .box {
    background-color: var(--surface-b);
    border: 1px solid var(--surface-d);
    width: 400px;
    z-index: 20000;

    > *:not(ng-button) {
      display: block;
      margin-bottom: 25px;
    }
  }
}
