<ng-template [ngIf]="!inline">
  <input
    #inputfield
    pInputText
    [pSize]="size()"
    [attr.size]="inputSize()"
    type="text"
    role="combobox"
    [attr.id]="inputId"
    [attr.name]="name()"
    [attr.aria-required]="required()"
    aria-autocomplete="none"
    aria-haspopup="dialog"
    [attr.aria-expanded]="overlayVisible ?? false"
    [attr.aria-controls]="overlayVisible ? panelId : null"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-label]="ariaLabel"
    [value]="inputFieldValue"
    (focus)="onInputFocus($event)"
    (keydown)="onInputKeydown($event)"
    (click)="onInputClick()"
    (blur)="onInputBlur($event)"
    [attr.required]="required() ? '' : undefined"
    [attr.readonly]="readonlyInput ? '' : undefined"
    [attr.disabled]="$disabled() ? '' : undefined"
    (input)="onUserInput($event)"
    [style]="inputStyle"
    [class]="cn(cx('pcInputText'), inputStyleClass)"
    [attr.placeholder]="placeholder"
    [attr.tabindex]="tabindex"
    [attr.inputmode]="touchUI ? 'off' : null"
    autocomplete="off"
    [pAutoFocus]="autofocus"
    [variant]="$variant()"
    [fluid]="hasFluid"
    [invalid]="invalid()"
  />
  <ng-container *ngIf="showClear && !$disabled() && inputfieldViewChild?.nativeElement?.value">
    <svg data-p-icon="times" *ngIf="!clearIconTemplate && !_clearIconTemplate" [class]="cx('clearIcon')"
         (click)="clear()"/>
    <span *ngIf="clearIconTemplate || _clearIconTemplate" [class]="cx('clearIcon')" (click)="clear()">
        <ng-template *ngTemplateOutlet="clearIconTemplate || _clearIconTemplate"></ng-template>
    </span>
  </ng-container>
  <button
    type="button"
    [attr.aria-label]="iconButtonAriaLabel"
    aria-haspopup="dialog"
    [attr.aria-expanded]="overlayVisible ?? false"
    [attr.aria-controls]="overlayVisible ? panelId : null"
    *ngIf="showIcon && iconDisplay === 'button'"
    (click)="onButtonClick($event, inputfield)"
    [class]="cx('dropdown')"
    [disabled]="$disabled()"
    tabindex="0"
  >
    <span *ngIf="icon" [class]="icon"></span>
    <ng-container *ngIf="!icon">
      <svg data-p-icon="calendar" *ngIf="!triggerIconTemplate && !_triggerIconTemplate"/>
      <ng-template *ngTemplateOutlet="triggerIconTemplate || _triggerIconTemplate"></ng-template>
    </ng-container>
  </button>
  <ng-container *ngIf="iconDisplay === 'input' && showIcon">
    <span [class]="cx('inputIconContainer')">
        <svg data-p-icon="calendar" (click)="onButtonClick($event)"
             *ngIf="!inputIconTemplate && !_inputIconTemplate" [class]="cx('inputIcon')"/>

        <ng-container
          *ngTemplateOutlet="inputIconTemplate || _inputIconTemplate; context: { clickCallBack: onButtonClick.bind(this) }"></ng-container>
    </span>
  </ng-container>
</ng-template>
<div
  #contentWrapper
  [attr.id]="panelId"
  [style]="panelStyle"
  [class]="cn(cx('panel'), panelStyleClass)"
  [@overlayAnimation]="{
      value: 'visible',
      params: { showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions }
  }"
  [attr.aria-label]="getTranslation('chooseDate')"
  [attr.role]="inline ? null : 'dialog'"
  [attr.aria-modal]="inline ? null : 'true'"
  [@.disabled]="inline === true"
  (@overlayAnimation.start)="onOverlayAnimationStart($event)"
  (@overlayAnimation.done)="onOverlayAnimationDone($event)"
  (click)="onOverlayClick($event)"
  *ngIf="inline || overlayVisible"
>
  <ng-content select="p-header"></ng-content>
  <ng-container *ngTemplateOutlet="headerTemplate || _headerTemplate"></ng-container>
  <ng-container *ngIf="!timeOnly">
    <div [class]="cx('calendarContainer')">
      <div [class]="cx('calendar')" *ngFor="let month of months; let i = index">
        <div [class]="cx('header')">
          <p-button
            rounded
            variant="text"
            severity="secondary"
            (keydown)="onContainerButtonKeydown($event)"
            [styleClass]="cx('pcPrevButton')"
            (onClick)="onPrevButtonClick($event)"
            [style]="{ visibility: i === 0 ? 'visible' : 'hidden' }"
            type="button"
            [ariaLabel]="prevIconAriaLabel"
          >
            <ng-template #icon>
              <svg data-p-icon="chevron-left" *ngIf="!previousIconTemplate && !_previousIconTemplate"/>
              <span *ngIf="previousIconTemplate || _previousIconTemplate">
                  <ng-template
                    *ngTemplateOutlet="previousIconTemplate || _previousIconTemplate"></ng-template>
              </span>
            </ng-template>
          </p-button>
          <div [class]="cx('title')">
            <button
              *ngIf="currentView === 'date'"
              type="button"
              (click)="switchToMonthView($event)"
              (keydown)="onContainerButtonKeydown($event)"
              [class]="cx('selectMonth')"
              [attr.disabled]="switchViewButtonDisabled() ? '' : undefined"
              [attr.aria-label]="this.getTranslation('chooseMonth')"
              pRipple
            >
              {{ getMonthName(month.month) }}
            </button>
            <button
              *ngIf="currentView !== 'year'"
              type="button"
              (click)="switchToYearView($event)"
              (keydown)="onContainerButtonKeydown($event)"
              [class]="cx('selectYear')"
              [attr.disabled]="switchViewButtonDisabled() ? '' : undefined"
              [attr.aria-label]="getTranslation('chooseYear')"
              pRipple
            >
              {{ getYear(month) }}
            </button>
            <span [class]="cx('decade')" *ngIf="currentView === 'year'">
                <ng-container
                  *ngIf="!decadeTemplate && !_decadeTemplate">{{ yearPickerValues()[0] }}
                  - {{ yearPickerValues()[yearPickerValues().length - 1] }}</ng-container>
                <ng-container
                  *ngTemplateOutlet="decadeTemplate || _decadeTemplate; context: { $implicit: yearPickerValues }"></ng-container>
            </span>
          </div>
          <p-button
            rounded
            variant="text"
            severity="secondary"
            (keydown)="onContainerButtonKeydown($event)"
            [styleClass]="cx('pcNextButton')"
            (onClick)="onNextButtonClick($event)"
            [style]="{ visibility: i === months.length - 1 ? 'visible' : 'hidden' }"
            [ariaLabel]="nextIconAriaLabel"
          >
            <ng-template #icon>
              <svg data-p-icon="chevron-right" *ngIf="!nextIconTemplate && !_nextIconTemplate"/>
              <ng-container *ngIf="nextIconTemplate || _nextIconTemplate">
                <ng-template *ngTemplateOutlet="nextIconTemplate || _nextIconTemplate"></ng-template>
              </ng-container>
            </ng-template>
          </p-button>
        </div>
        <table [class]="cx('dayView')" role="grid" *ngIf="currentView === 'date'">
          <thead>
            <tr>
              <th *ngIf="showWeek" [class]="cx('weekHeader')">
                <span>{{ getTranslation('weekHeader') }}</span>
              </th>
              <th [class]="cx('weekDayCell')" scope="col"
                  *ngFor="let weekDay of weekDays; let begin = first; let end = last">
                <span [class]="cx('weekDay')">{{ weekDay }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of month.dates; let j = index">
              <td *ngIf="showWeek" [class]="cx('weekNumber')">
                <span [class]="cx('weekLabelContainer')">
                    {{ month.weekNumbers[j] }}
                </span>
              </td>
              <td *ngFor="let date of $any(week)" [attr.aria-label]="date.day" [class]="cx('dayCell', { date })">
                <ng-container *ngIf="date.otherMonth ? showOtherMonths : true">
                  <span [class]="dayClass(date)" (click)="onDateSelect($event, date)"
                        draggable="false"
                        [attr.data-date]="formatDateKey(formatDateMetaToDate(date))"
                        (keydown)="onDateCellKeydown($event, date, i)" pRipple>
                      <ng-container
                        *ngIf="!dateTemplate && !_dateTemplate && (date.selectable || (!disabledDateTemplate && !_disabledDateTemplate))">{{ date.day }}</ng-container>
                      <ng-container
                        *ngIf="date.selectable || (!disabledDateTemplate && !_disabledDateTemplate)">
                          <ng-container
                            *ngTemplateOutlet="dateTemplate || _dateTemplate; context: { $implicit: date }"></ng-container>
                      </ng-container>
                      <ng-container *ngIf="!date.selectable">
                          <ng-container
                            *ngTemplateOutlet="disabledDateTemplate || _disabledDateTemplate; context: { $implicit: date }"></ng-container>
                      </ng-container>
                  </span>
                  <!--                  <div *ngIf="isSelected(date)" class="p-hidden-accessible" aria-live="polite">-->
                  <!--                    {{ date.day }}-->
                  <!--                  </div>-->
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div [class]="cx('monthView')" *ngIf="currentView === 'month'">
      <span *ngFor="let m of monthPickerValues(); let i = index" (click)="onMonthSelect($event, i)"
            (keydown)="onMonthCellKeydown($event, i)" [class]="cx('month', { month: m, index: i })"
            pRipple>
          {{ m }}
        <div *ngIf="isMonthSelected(i)" class="p-hidden-accessible" aria-live="polite">
              {{ m }}
          </div>
      </span>
    </div>
    <div [class]="cx('yearView')" *ngIf="currentView === 'year'">
      <span *ngFor="let y of yearPickerValues()" (click)="onYearSelect($event, y)"
            (keydown)="onYearCellKeydown($event, y)" [class]="cx('year', { year: y })" pRipple>
          {{ y }}
        <div *ngIf="isYearSelected(y)" class="p-hidden-accessible" aria-live="polite">
              {{ y }}
          </div>
      </span>
    </div>
  </ng-container>
  <div [class]="cx('timePicker')" *ngIf="(showTime || timeOnly) && currentView === 'date'">
    <div [class]="cx('hourPicker')">
      <p-button
        rounded
        variant="text"
        severity="secondary"
        [styleClass]="cx('pcIncrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="incrementHour($event)"
        (keydown.space)="incrementHour($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 0, 1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('nextHour')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-up" *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
      <span><ng-container *ngIf="currentHour < 10">0</ng-container>
        {{ currentHour }}</span>
      <p-button
        rounded
        variant="text"
        severity="secondary"
        [styleClass]="cx('pcDecrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="decrementHour($event)"
        (keydown.space)="decrementHour($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 0, -1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('prevHour')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-down" *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
    </div>
    <div class="p-datepicker-separator">
      <span>{{ timeSeparator }}</span>
    </div>
    <div [class]="cx('minutePicker')">
      <p-button
        rounded
        variant="text"
        severity="secondary"
        [styleClass]="cx('pcIncrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="incrementMinute($event)"
        (keydown.space)="incrementMinute($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 1, 1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('nextMinute')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-up" *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
      <span><ng-container *ngIf="currentMinute < 10">0</ng-container>
        {{ currentMinute }}</span>
      <p-button
        rounded
        variant="text"
        severity="secondary"
        [styleClass]="cx('pcDecrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="decrementMinute($event)"
        (keydown.space)="decrementMinute($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 1, -1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('prevMinute')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-down" *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
    </div>
    <div [class]="cx('separator')" *ngIf="showSeconds">
      <span>{{ timeSeparator }}</span>
    </div>
    <div [class]="cx('secondPicker')" *ngIf="showSeconds">
      <p-button
        rounded
        variant="text"
        severity="secondary"
        [styleClass]="cx('pcIncrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="incrementSecond($event)"
        (keydown.space)="incrementSecond($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 2, 1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('nextSecond')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-up" *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
      <span><ng-container *ngIf="currentSecond < 10">0</ng-container>
        {{ currentSecond }}</span>
      <p-button
        rounded
        variant="text"
        severity="secondary"
        [styleClass]="cx('pcDecrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="decrementSecond($event)"
        (keydown.space)="decrementSecond($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 2, -1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('prevSecond')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-down" *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
    </div>
    <div [class]="cx('separator')" *ngIf="hourFormat == '12'">
      <span>{{ timeSeparator }}</span>
    </div>
    <div [class]="cx('ampmPicker')" *ngIf="hourFormat == '12'">
      <p-button
        text
        rounded
        severity="secondary"
        [styleClass]="cx('pcIncrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (onClick)="toggleAMPM($event)"
        (keydown.enter)="toggleAMPM($event)"
        [attr.aria-label]="getTranslation('am')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-up" *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
      <span>{{ pm ? 'PM' : 'AM' }}</span>
      <p-button
        text
        rounded
        severity="secondary"
        [styleClass]="cx('pcDecrementButton')"
        (keydown)="onContainerButtonKeydown($event)"
        (click)="toggleAMPM($event)"
        (keydown.enter)="toggleAMPM($event)"
        [attr.aria-label]="getTranslation('pm')"
      >
        <ng-template #icon>
          <svg data-p-icon="chevron-down" *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>
          <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
        </ng-template>
      </p-button>
    </div>
  </div>
  <div [class]="cx('buttonbar')" *ngIf="showButtonBar">
    @if (buttonBarTemplate || _buttonBarTemplate) {
      <ng-container
        *ngTemplateOutlet="buttonBarTemplate || _buttonBarTemplate; context: { todayCallback: onTodayButtonClick.bind(this), clearCallback: onClearButtonClick.bind(this) }"></ng-container>
    } @else {
      <p-button
        size="small"
        [styleClass]="cx('pcTodayButton')"
        [label]="getTranslation('today')"
        (keydown)="onContainerButtonKeydown($event)"
        (onClick)="onTodayButtonClick($event)"
        [class]="todayButtonStyleClass"
        severity="secondary"
        variant="text"
      />
      <p-button
        size="small"
        [styleClass]="cx('pcClearButton')"
        [label]="getTranslation('clear')"
        (keydown)="onContainerButtonKeydown($event)"
        (onClick)="onClearButtonClick($event)"
        [class]="clearButtonStyleClass"
        severity="secondary"
        variant="text"
      />
    }
  </div>
  <ng-content select="p-footer"></ng-content>
  <ng-container *ngTemplateOutlet="footerTemplate || _footerTemplate"></ng-container>
</div>
