<span #container [ngClass]="rootClass" [ngStyle]="style" [class]="styleClass">
  @if (!inline) {
    <input
      #inputfield
      pInputText
      type="text"
      role="combobox"
      [attr.id]="inputId"
      [attr.name]="name"
      [attr.required]="required"
      [attr.aria-required]="required"
      aria-autocomplete="none"
      aria-haspopup="dialog"
      [attr.aria-expanded]="overlayVisible ?? false"
      [attr.aria-controls]="overlayVisible ? panelId : null"
      [attr.aria-labelledby]="ariaLabelledBy"
      [attr.aria-label]="ariaLabel"
      [value]="inputFieldValue"
      (focus)="onInputFocus($event)"
      (keydown)="onInputKeydown($event)"
      (click)="onInputClick()"
      (blur)="onInputBlur($event)"
      [readonly]="readonlyInput"
      (input)="onUserInput($event)"
      [ngStyle]="inputStyle"
      [class]="inputStyleClass"
      [ngClass]="'p-datepicker-input'"
      [placeholder]="placeholder || ''"
      [disabled]="disabled"
      [attr.tabindex]="tabindex"
      [attr.inputmode]="touchUI ? 'off' : null"
      autocomplete="off"
      [pAutoFocus]="autofocus"
      [variant]="variant"
      [fluid]="hasFluid"
    />
    @if (showClear && !disabled && value != null) {
      @if (!clearIconTemplate && !_clearIconTemplate) {
        <TimesIcon class="p-datepicker-clear-icon" (click)="clear()"/>
      }
      @if (clearIconTemplate || _clearIconTemplate) {
        <span class="p-datepicker-clear-icon" (click)="clear()">
          <ng-template *ngTemplateOutlet="clearIconTemplate || _clearIconTemplate"/>
        </span>
      }
    }
    @if (showIcon && iconDisplay === 'button') {
      <button
        type="button"
        [attr.aria-label]="iconButtonAriaLabel"
        aria-haspopup="dialog"
        [attr.aria-expanded]="overlayVisible ?? false"
        [attr.aria-controls]="overlayVisible ? panelId : null"
        (click)="onButtonClick($event, inputfield)"
        class="p-datepicker-dropdown"
        [disabled]="disabled"
        tabindex="0"
      >
        @if (icon) {
          <span [ngClass]="icon"></span>
        }
        @if (!icon) {
          @if (!triggerIconTemplate && !_triggerIconTemplate) {
            <CalendarIcon/>
          }
          <ng-template *ngTemplateOutlet="triggerIconTemplate || _triggerIconTemplate"/>
        }
      </button>
    }
    @if (iconDisplay === 'input' && showIcon) {
      <span class="p-datepicker-input-icon-container">
        @if (!inputIconTemplate && !_inputIconTemplate) {
          <CalendarIcon
            (click)="onButtonClick($event)"
            [ngClass]="{'p-datepicker-input-icon': showOnFocus}"
          />
        }
        <ng-container
          *ngTemplateOutlet="inputIconTemplate || _inputIconTemplate; context: { clickCallBack: onButtonClick.bind(this) }"/>
    </span>
    }
  }
  @if (inline || overlayVisible) {
    <div
      #contentWrapper
      [attr.id]="panelId"
      [class]="panelStyleClass"
      [ngStyle]="panelStyle"
      [ngClass]="panelClass"
      [@overlayAnimation]="{
        value: 'visible',
        params: { showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions }
      }"
      [attr.aria-label]="getTranslation('chooseDate')"
      [attr.role]="inline ? null : 'dialog'"
      [attr.aria-modal]="inline ? null : 'true'"
      [@.disabled]="inline === true"
      (@overlayAnimation.start)="onOverlayAnimationStart($event)"
      (@overlayAnimation.done)="onOverlayAnimationDone($event)"
      (click)="onOverlayClick($event)">
    <ng-content select="p-header"/>
    <ng-container *ngTemplateOutlet="headerTemplate || _headerTemplate"/>
      @if (!timeOnly) {
        <div class="p-datepicker-calendar-container">
        @for (month of months; track month; let i = $index) {
          <div class="p-datepicker-calendar">
            <div class="p-datepicker-header">
              <p-button
                size="small"
                rounded
                text
                (keydown)="onContainerButtonKeydown($event)"
                styleClass="p-datepicker-prev-button p-button-icon-only"
                (onClick)="onPrevButtonClick($event)"
                [ngStyle]="{ visibility: i === 0 ? 'visible' : 'hidden' }"
                type="button"
                [attr.aria-label]="prevIconAriaLabel">
                @if (!previousIconTemplate && !_previousIconTemplate) {
                  <ChevronLeftIcon/>
                }
                @if (previousIconTemplate || !_previousIconTemplate) {
                  <span>
                    <ng-template *ngTemplateOutlet="previousIconTemplate || _previousIconTemplate"/>
                  </span>
                }
              </p-button>
              <div class="p-datepicker-title">
                @if (currentView === 'date') {
                  <button
                    type="button"
                    (click)="switchToMonthView($event)"
                    (keydown)="onContainerButtonKeydown($event)"
                    class="p-datepicker-select-month"
                    [disabled]="switchViewButtonDisabled()"
                    [attr.aria-label]="this.getTranslation('chooseMonth')"
                    pRipple>
                    {{ getMonthName(month.month) }}
                  </button>
                }
                @if (currentView !== 'year') {
                  <button
                    type="button"
                    (click)="switchToYearView($event)"
                    (keydown)="onContainerButtonKeydown($event)"
                    class="p-datepicker-select-year"
                    [disabled]="switchViewButtonDisabled()"
                    [attr.aria-label]="getTranslation('chooseYear')"
                    pRipple>
                    {{ getYear(month) }}
                  </button>
                }
                @if (currentView === 'year') {
                  <span class="p-datepicker-decade">
                    @if (!decadeTemplate && _decadeTemplate) {
                      {{ yearPickerValues()[0] }} - {{ yearPickerValues()[yearPickerValues().length - 1] }}
                    }
                    <ng-container
                      *ngTemplateOutlet="decadeTemplate || _decadeTemplate; context: { $implicit: yearPickerValues }"/>
                  </span>
                }
              </div>
              <p-button
                rounded
                text
                size="small"
                (keydown)="onContainerButtonKeydown($event)"
                styleClass="p-datepicker-next-button p-button-icon-only"
                (onClick)="onNextButtonClick($event)"
                [ngStyle]="{ visibility: i === months.length - 1 ? 'visible' : 'hidden' }"
                [attr.aria-label]="nextIconAriaLabel">
                @if (!decadeTemplate && !_decadeTemplate) {
                  <ChevronRightIcon/>
                }
                @if (nextIconTemplate || !_nextIconTemplate) {
                  <span>
                    <ng-template *ngTemplateOutlet="nextIconTemplate || _nextIconTemplate"/>
                  </span>
                }
              </p-button>
            </div>
            @if (currentView === 'date') {
              <table class="p-datepicker-day-view" role="grid">
                <thead>
                  <tr>
                    @if (showWeek) {
                      <th class="p-datepicker-weekheader p-disabled">
                        <span>{{ getTranslation('weekHeader') }}</span>
                      </th>
                    }
                    @for (weekDay of weekDays; track weekDay; let begin = $first; let end = $last) {
                      <th class="p-datepicker-weekday-cell" scope="col">
                        <span class="p-datepicker-weekday">{{ weekDay }}</span>
                      </th>
                    }
                  </tr>
                </thead>
                <tbody>
                  @for (week of month.dates; track week; let j = $index) {
                    <tr>
                      @if (showWeek) {
                        <td class="p-datepicker-weeknumber">
                          <span class="p-datepicker-weeklabel-container p-disabled">
                            {{ month.weekNumbers[j] }}
                          </span>
                        </td>
                      }
                      @for (date of $any(week); track date) {
                        <td
                          [attr.aria-label]="date.day"
                          [ngClass]="{
                            'p-datepicker-day-cell': true,
                            'p-datepicker-other-month': date.otherMonth,
                            'p-datepicker-today': date.today
                          }">
                          @if (date.otherMonth ? showOtherMonths : true) {
                            <span
                              [ngClass]="dayClass(date)"
                              (click)="onDateSelect($event, date)"
                              draggable="false"
                              [attr.data-date]="formatDateKey(formatDateMetaToDate(date))"
                              (keydown)="onDateCellKeydown($event, date, i)"
                              pRipple>
                              @if (!dateTemplate && !_dateTemplate && (date.selectable || (!disabledDateTemplate && !_disabledDateTemplate))) {
                                {{ date.day }}
                              }
                              @if (date.selectable || (!disabledDateTemplate && !_disabledDateTemplate)) {
                                <ng-container
                                  *ngTemplateOutlet="dateTemplate || _dateTemplate; context: { $implicit: date }"/>
                              }
                              @if (!date.selectable) {
                                <ng-container
                                  *ngTemplateOutlet="disabledDateTemplate || _disabledDateTemplate; context: { $implicit: date }"/>
                              }
                            </span>
                            @if (isSelected(date)) {
                              <div class="p-hidden-accessible" aria-live="polite">
                                {{ date.day }}
                              </div>
                            }
                          }
                        </td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            }
          </div>
        }
      </div>
        @if (currentView === 'month') {
          <div class="p-datepicker-month-view">
          @for (m of monthPickerValues(); track m; let i = $index) {
            <span
              (click)="onMonthSelect($event, i)"
              (keydown)="onMonthCellKeydown($event, i)"
              [ngClass]="{
                'p-datepicker-month': true,
                'p-datepicker-month-selected': isMonthSelected(i),
                'p-disabled': isMonthDisabled(i)
              }"
              pRipple>
              {{ m }}
              @if (isMonthSelected(i)) {
                <div class="p-hidden-accessible" aria-live="polite">
                  {{ m }}
                </div>
              }
            </span>
          }
        </div>
        }
        @if (currentView === 'year') {
          <div class="p-datepicker-year-view">
          @for (y of yearPickerValues(); track y) {
            <span
              (click)="onYearSelect($event, y)"
              (keydown)="onYearCellKeydown($event, y)"
              [ngClass]="{
                'p-datepicker-year': true,
                'p-datepicker-year-selected': isYearSelected(y),
                'p-disabled': isYearDisabled(y)
              }"
              pRipple>
              {{ y }}
              @if (isYearSelected(y)) {
                <div class="p-hidden-accessible" aria-live="polite">
                  {{ y }}
                </div>
              }
            </span>
          }
        </div>
        }
      }
      @if ((showTime || timeOnly) && currentView === 'date') {
        <div class="p-datepicker-time-picker">
        <div class="p-datepicker-hour-picker">
          <p-button
            rounded
            text
            size="small"
            styleClass="p-datepicker-increment-button p-button-icon-only"
            (keydown)="onContainerButtonKeydown($event)"
            (keydown.enter)="incrementHour($event)"
            (keydown.space)="incrementHour($event)"
            (mousedown)="onTimePickerElementMouseDown($event, 0, 1)"
            (mouseup)="onTimePickerElementMouseUp($event)"
            (keyup.enter)="onTimePickerElementMouseUp($event)"
            (keyup.space)="onTimePickerElementMouseUp($event)"
            (mouseleave)="onTimePickerElementMouseLeave()"
            [attr.aria-label]="getTranslation('nextHour')">
            @if (!incrementIconTemplate && !_incrementIconTemplate) {
              <ChevronUpIcon/>
            }
            <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"/>
          </p-button>
          <span>
            @if (currentHour < 10) {
              0
            }
            {{ currentHour }}
          </span>
        <p-button
          rounded
          text
          size="small"
          styleClass="p-datepicker-increment-button p-button-icon-only"
          (keydown)="onContainerButtonKeydown($event)"
          (keydown.enter)="decrementHour($event)"
          (keydown.space)="decrementHour($event)"
          (mousedown)="onTimePickerElementMouseDown($event, 0, -1)"
          (mouseup)="onTimePickerElementMouseUp($event)"
          (keyup.enter)="onTimePickerElementMouseUp($event)"
          (keyup.space)="onTimePickerElementMouseUp($event)"
          (mouseleave)="onTimePickerElementMouseLeave()"
          [attr.aria-label]="getTranslation('prevHour')">
          @if (!decrementIconTemplate && !_decrementIconTemplate) {
            <ChevronDownIcon/>
          }
          <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"/>
        </p-button>
      </div>
      <div class="p-datepicker-separator">
        <span>{{ timeSeparator }}</span>
      </div>
      <div class="p-datepicker-minute-picker">
        <p-button
          rounded
          text
          size="small"
          styleClass="p-datepicker-increment-button p-button-icon-only"
          (keydown)="onContainerButtonKeydown($event)"
          (keydown.enter)="incrementMinute($event)"
          (keydown.space)="incrementMinute($event)"
          (mousedown)="onTimePickerElementMouseDown($event, 1, 1)"
          (mouseup)="onTimePickerElementMouseUp($event)"
          (keyup.enter)="onTimePickerElementMouseUp($event)"
          (keyup.space)="onTimePickerElementMouseUp($event)"
          (mouseleave)="onTimePickerElementMouseLeave()"
          [attr.aria-label]="getTranslation('nextMinute')">
          @if (!incrementIconTemplate && !_incrementIconTemplate) {
            <ChevronUpIcon/>
          }
          <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"/>
        </p-button>
        <span>
          @if (currentMinute < 10) {
            0
          }
          {{ currentMinute }}
        </span>
      <p-button
        rounded
        text
        size="small"
        styleClass="p-datepicker-increment-button p-button-icon-only"
        (keydown)="onContainerButtonKeydown($event)"
        (keydown.enter)="decrementMinute($event)"
        (keydown.space)="decrementMinute($event)"
        (mousedown)="onTimePickerElementMouseDown($event, 1, -1)"
        (mouseup)="onTimePickerElementMouseUp($event)"
        (keyup.enter)="onTimePickerElementMouseUp($event)"
        (keyup.space)="onTimePickerElementMouseUp($event)"
        (mouseleave)="onTimePickerElementMouseLeave()"
        [attr.aria-label]="getTranslation('prevMinute')">
        @if (!decrementIconTemplate && !_decrementIconTemplate) {
          <ChevronDownIcon/>
        }
        @if (decrementIconTemplate || _decrementIconTemplate) {
          <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"/>
        }
      </p-button>
    </div>
          @if (showSeconds) {
            <div class="p-datepicker-separator">
              <span>{{ timeSeparator }}</span>
            </div>
          }
          @if (showSeconds) {
            <div class="p-datepicker-second-picker">
              <p-button
                rounded
                text
                size="small"
                styleClass="p-datepicker-increment-button p-button-icon-only"
                (keydown)="onContainerButtonKeydown($event)"
                (keydown.enter)="incrementSecond($event)"
                (keydown.space)="incrementSecond($event)"
                (mousedown)="onTimePickerElementMouseDown($event, 2, 1)"
                (mouseup)="onTimePickerElementMouseUp($event)"
                (keyup.enter)="onTimePickerElementMouseUp($event)"
                (keyup.space)="onTimePickerElementMouseUp($event)"
                (mouseleave)="onTimePickerElementMouseLeave()"
                [attr.aria-label]="getTranslation('nextSecond')">
                @if (!incrementIconTemplate && !_incrementIconTemplate) {
                  <ChevronUpIcon/>
                }
                <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"/>
              </p-button>
              <span>
                @if (currentSecond < 10) {
                  0
                }
                {{ currentSecond }}
              </span>
              <p-button
                rounded
                text
                size="small"
                styleClass="p-datepicker-increment-button p-button-icon-only"
                (keydown)="onContainerButtonKeydown($event)"
                (keydown.enter)="decrementSecond($event)"
                (keydown.space)="decrementSecond($event)"
                (mousedown)="onTimePickerElementMouseDown($event, 2, -1)"
                (mouseup)="onTimePickerElementMouseUp($event)"
                (keyup.enter)="onTimePickerElementMouseUp($event)"
                (keyup.space)="onTimePickerElementMouseUp($event)"
                (mouseleave)="onTimePickerElementMouseLeave()"
                [attr.aria-label]="getTranslation('prevSecond')">
                @if (!decrementIconTemplate && !_decrementIconTemplate) {
                  <ChevronDownIcon/>
                }
                <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"/>
              </p-button>
            </div>
          }
          @if (hourFormat == '12') {
            <div class="p-datepicker-separator">
              <span>{{ timeSeparator }}</span>
            </div>
          }
          @if (hourFormat == '12') {
            <div class="p-datepicker-ampm-picker">
              <p-button
                size="small"
                text
                rounded
                styleClass="p-datepicker-increment-button p-button-icon-only"
                (keydown)="onContainerButtonKeydown($event)"
                (onClick)="toggleAMPM($event)"
                (keydown.enter)="toggleAMPM($event)"
                [attr.aria-label]="getTranslation('am')">
                @if (!incrementIconTemplate && !_incrementIconTemplate) {
                  <ChevronUpIcon/>
                }
                <ng-template *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"/>
              </p-button>
              <span>{{ pm ? 'PM' : 'AM' }}</span>
              <p-button
                size="small"
                text
                rounded
                styleClass="p-datepicker-increment-button p-button-icon-only"
                (keydown)="onContainerButtonKeydown($event)"
                (click)="toggleAMPM($event)"
                (keydown.enter)="toggleAMPM($event)"
                [attr.aria-label]="getTranslation('pm')">
                @if (!decrementIconTemplate && !_decrementIconTemplate) {
                  <ChevronDownIcon/>
                }
                <ng-template *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"/>
              </p-button>
            </div>
          }
      </div>
      }
      @if (showButtonBar) {
        <div class="p-datepicker-buttonbar">
          <p-button size="small" styleClass="p-datepicker-today-button" [label]="getTranslation('today')"
                    (keydown)="onContainerButtonKeydown($event)" (onClick)="onTodayButtonClick($event)"
                    [ngClass]="todayButtonStyleClass"/>
            <p-button size="small" styleClass="p-datepicker-clear-button" [label]="getTranslation('clear')"
                      (keydown)="onContainerButtonKeydown($event)" (onClick)="onClearButtonClick($event)"
                      [ngClass]="clearButtonStyleClass"/>
        </div>
      }
      <ng-content select="p-footer"/>
        <ng-container *ngTemplateOutlet="footerTemplate || _footerTemplate"/>
      </div>
  }
</span>
