<span #container [ngClass]="rootClass" [ngStyle]="style" [class]="styleClass">
            <ng-template [ngIf]="!inline">
                <input
                  #inputfield
                  pInputText
                  type="text"
                  role="combobox"
                  [attr.id]="inputId"
                  [attr.name]="name"
                  [attr.required]="required"
                  [attr.aria-required]="required"
                  aria-autocomplete="none"
                  aria-haspopup="dialog"
                  [attr.aria-expanded]="overlayVisible ?? false"
                  [attr.aria-controls]="overlayVisible ? panelId : null"
                  [attr.aria-labelledby]="ariaLabelledBy"
                  [attr.aria-label]="ariaLabel"
                  [value]="inputFieldValue"
                  (focus)="onInputFocus($event)"
                  (keydown)="onInputKeydown($event)"
                  (click)="onInputClick()"
                  (blur)="onInputBlur($event)"
                  [readonly]="readonlyInput"
                  (input)="onUserInput($event)"
                  [ngStyle]="inputStyle"
                  [class]="inputStyleClass"
                  [ngClass]="'p-datepicker-input'"
                  [placeholder]="placeholder || ''"
                  [disabled]="disabled"
                  [attr.tabindex]="tabindex"
                  [attr.inputmode]="touchUI ? 'off' : null"
                  autocomplete="off"
                  [pAutoFocus]="autofocus"
                  [variant]="variant"
                  [fluid]="hasFluid"
                />
                <ng-container *ngIf="showClear && !disabled && value != null">
                    <TimesIcon *ngIf="!clearIconTemplate && !_clearIconTemplate" [class]="'p-datepicker-clear-icon'"
                               (click)="clear()"/>
                    <span *ngIf="clearIconTemplate || _clearIconTemplate" class="p-datepicker-clear-icon"
                          (click)="clear()">
                        <ng-template *ngTemplateOutlet="clearIconTemplate || _clearIconTemplate"></ng-template>
                    </span>
                </ng-container>
                <button
                  type="button"
                  [attr.aria-label]="iconButtonAriaLabel"
                  aria-haspopup="dialog"
                  [attr.aria-expanded]="overlayVisible ?? false"
                  [attr.aria-controls]="overlayVisible ? panelId : null"
                  *ngIf="showIcon && iconDisplay === 'button'"
                  (click)="onButtonClick($event, inputfield)"
                  class="p-datepicker-dropdown"
                  [disabled]="disabled"
                  tabindex="0"
                >
                    <span *ngIf="icon" [ngClass]="icon"></span>
                    <ng-container *ngIf="!icon">
                        <CalendarIcon *ngIf="!triggerIconTemplate && !_triggerIconTemplate"/>
                        <ng-template *ngTemplateOutlet="triggerIconTemplate || _triggerIconTemplate"></ng-template>
                    </ng-container>
                </button>
                <ng-container *ngIf="iconDisplay === 'input' && showIcon">
                    <span class="p-datepicker-input-icon-container">
                        <CalendarIcon
                          (click)="onButtonClick($event)"
                          *ngIf="!inputIconTemplate && !_inputIconTemplate"
                          [ngClass]="{
                                'p-datepicker-input-icon': showOnFocus
                            }"
                        />

                        <ng-container
                          *ngTemplateOutlet="inputIconTemplate || _inputIconTemplate; context: { clickCallBack: onButtonClick.bind(this) }"></ng-container>
                    </span>
                </ng-container>
            </ng-template>
            <div
              #contentWrapper
              [attr.id]="panelId"
              [class]="panelStyleClass"
              [ngStyle]="panelStyle"
              [ngClass]="panelClass"
              [@overlayAnimation]="{
                    value: 'visible',
                    params: { showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions }
                }"
              [attr.aria-label]="getTranslation('chooseDate')"
              [attr.role]="inline ? null : 'dialog'"
              [attr.aria-modal]="inline ? null : 'true'"
              [@.disabled]="inline === true"
              (@overlayAnimation.start)="onOverlayAnimationStart($event)"
              (@overlayAnimation.done)="onOverlayAnimationDone($event)"
              (click)="onOverlayClick($event)"
              *ngIf="inline || overlayVisible"
            >
                <ng-content select="p-header"></ng-content>
                <ng-container *ngTemplateOutlet="headerTemplate || _headerTemplate"></ng-container>
                <ng-container *ngIf="!timeOnly">
                    <div class="p-datepicker-calendar-container">
                        <div class="p-datepicker-calendar" *ngFor="let month of months; let i = index">
                            <div class="p-datepicker-header">
                                <p-button
                                  size="small"
                                  rounded
                                  text
                                  (keydown)="onContainerButtonKeydown($event)"
                                  styleClass="p-datepicker-prev-button p-button-icon-only"
                                  (onClick)="onPrevButtonClick($event)"
                                  [ngStyle]="{ visibility: i === 0 ? 'visible' : 'hidden' }"
                                  type="button"
                                  [attr.aria-label]="prevIconAriaLabel"
                                >
                                    <ChevronLeftIcon *ngIf="!previousIconTemplate && !_previousIconTemplate"/>
                                    <span *ngIf="previousIconTemplate || !_previousIconTemplate">
                                        <ng-template
                                          *ngTemplateOutlet="previousIconTemplate || _previousIconTemplate"></ng-template>
                                    </span>
                                </p-button>
                                <div class="p-datepicker-title">
                                    <button
                                      *ngIf="currentView === 'date'"
                                      type="button"
                                      (click)="switchToMonthView($event)"
                                      (keydown)="onContainerButtonKeydown($event)"
                                      class="p-datepicker-select-month"
                                      [disabled]="switchViewButtonDisabled()"
                                      [attr.aria-label]="this.getTranslation('chooseMonth')"
                                      pRipple
                                    >
                                        {{ getMonthName(month.month) }}
                                    </button>
                                    <button
                                      *ngIf="currentView !== 'year'"
                                      type="button"
                                      (click)="switchToYearView($event)"
                                      (keydown)="onContainerButtonKeydown($event)"
                                      class="p-datepicker-select-year"
                                      [disabled]="switchViewButtonDisabled()"
                                      [attr.aria-label]="getTranslation('chooseYear')"
                                      pRipple
                                    >
                                        {{ getYear(month) }}
                                    </button>
                                    <span class="p-datepicker-decade" *ngIf="currentView === 'year'">
                                        <ng-container
                                          *ngIf="!decadeTemplate && _decadeTemplate">{{ yearPickerValues()[0] }}
                                          - {{ yearPickerValues()[yearPickerValues().length - 1] }}</ng-container>
                                        <ng-container
                                          *ngTemplateOutlet="decadeTemplate || _decadeTemplate; context: { $implicit: yearPickerValues }"></ng-container>
                                    </span>
                                </div>
                                <p-button
                                  rounded
                                  text
                                  size="small"
                                  (keydown)="onContainerButtonKeydown($event)"
                                  styleClass="p-datepicker-next-button p-button-icon-only"
                                  (onClick)="onNextButtonClick($event)"
                                  [ngStyle]="{ visibility: i === months.length - 1 ? 'visible' : 'hidden' }"
                                  [attr.aria-label]="nextIconAriaLabel"
                                >
                                    <ChevronRightIcon *ngIf="!decadeTemplate && !_decadeTemplate"/>

                                    <span *ngIf="nextIconTemplate || !_nextIconTemplate">
                                        <ng-template
                                          *ngTemplateOutlet="nextIconTemplate || _nextIconTemplate"></ng-template>
                                    </span>
                                </p-button>
                            </div>
                            <table class="p-datepicker-day-view" role="grid" *ngIf="currentView === 'date'">
                                <thead>
                                    <tr>
                                        <th *ngIf="showWeek" class="p-datepicker-weekheader p-disabled">
                                            <span>{{ getTranslation('weekHeader') }}</span>
                                        </th>
                                        <th class="p-datepicker-weekday-cell" scope="col"
                                            *ngFor="let weekDay of weekDays; let begin = first; let end = last">
                                            <span class="p-datepicker-weekday">{{ weekDay }}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let week of month.dates; let j = index">
                                        <td *ngIf="showWeek" class="p-datepicker-weeknumber">
                                            <span class="p-datepicker-weeklabel-container p-disabled">
                                                {{ month.weekNumbers[j] }}
                                            </span>
                                        </td>
                                        <td
                                          *ngFor="let date of $any(week)"
                                          [attr.aria-label]="date.day"
                                          [ngClass]="{
                                                'p-datepicker-day-cell': true,
                                                'p-datepicker-other-month': date.otherMonth,
                                                'p-datepicker-today': date.today
                                            }"
                                        >
                                            <ng-container *ngIf="date.otherMonth ? showOtherMonths : true">
                                                <span
                                                  [ngClass]="dayClass(date)"
                                                  (click)="onDateSelect($event, date)"
                                                  draggable="false"
                                                  [attr.data-date]="formatDateKey(formatDateMetaToDate(date))"
                                                  (keydown)="onDateCellKeydown($event, date, i)"
                                                  pRipple
                                                >
                                                    <ng-container
                                                      *ngIf="!dateTemplate && !_dateTemplate && (date.selectable || (!disabledDateTemplate && !_disabledDateTemplate))">{{ date.day }}</ng-container>
                                                    <ng-container
                                                      *ngIf="date.selectable || (!disabledDateTemplate && !_disabledDateTemplate)">
                                                        <ng-container
                                                          *ngTemplateOutlet="dateTemplate || _dateTemplate; context: { $implicit: date }"></ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="!date.selectable">
                                                        <ng-container
                                                          *ngTemplateOutlet="disabledDateTemplate || _disabledDateTemplate; context: { $implicit: date }"></ng-container>
                                                    </ng-container>
                                                </span>
                                                <div *ngIf="isSelected(date)" class="p-hidden-accessible"
                                                     aria-live="polite">
                                                    {{ date.day }}
                                                </div>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="p-datepicker-month-view" *ngIf="currentView === 'month'">
                        <span
                          *ngFor="let m of monthPickerValues(); let i = index"
                          (click)="onMonthSelect($event, i)"
                          (keydown)="onMonthCellKeydown($event, i)"
                          [ngClass]="{
                                'p-datepicker-month': true,
                                'p-datepicker-month-selected': isMonthSelected(i),
                                'p-disabled': isMonthDisabled(i)
                            }"
                          pRipple
                        >
                            {{ m }}
                          <div *ngIf="isMonthSelected(i)" class="p-hidden-accessible" aria-live="polite">
                                {{ m }}
                            </div>
                        </span>
                    </div>
                    <div class="p-datepicker-year-view" *ngIf="currentView === 'year'">
                        <span
                          *ngFor="let y of yearPickerValues()"
                          (click)="onYearSelect($event, y)"
                          (keydown)="onYearCellKeydown($event, y)"
                          [ngClass]="{
                                'p-datepicker-year': true,
                                'p-datepicker-year-selected': isYearSelected(y),
                                'p-disabled': isYearDisabled(y)
                            }"
                          pRipple
                        >
                            {{ y }}
                          <div *ngIf="isYearSelected(y)" class="p-hidden-accessible" aria-live="polite">
                                {{ y }}
                            </div>
                        </span>
                    </div>
                </ng-container>
                <div class="p-datepicker-time-picker" *ngIf="(showTime || timeOnly) && currentView === 'date'">
                    <div class="p-datepicker-hour-picker">
                        <p-button
                          rounded
                          text
                          size="small"
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (keydown.enter)="incrementHour($event)"
                          (keydown.space)="incrementHour($event)"
                          (mousedown)="onTimePickerElementMouseDown($event, 0, 1)"
                          (mouseup)="onTimePickerElementMouseUp($event)"
                          (keyup.enter)="onTimePickerElementMouseUp($event)"
                          (keyup.space)="onTimePickerElementMouseUp($event)"
                          (mouseleave)="onTimePickerElementMouseLeave()"
                          [attr.aria-label]="getTranslation('nextHour')"
                        >
                            <ChevronUpIcon *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>

                            <ng-template
                              *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
                        </p-button>
                        <span><ng-container *ngIf="currentHour < 10">0</ng-container>
                          {{ currentHour }}</span>
                        <p-button
                          rounded
                          text
                          size="small"
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (keydown.enter)="decrementHour($event)"
                          (keydown.space)="decrementHour($event)"
                          (mousedown)="onTimePickerElementMouseDown($event, 0, -1)"
                          (mouseup)="onTimePickerElementMouseUp($event)"
                          (keyup.enter)="onTimePickerElementMouseUp($event)"
                          (keyup.space)="onTimePickerElementMouseUp($event)"
                          (mouseleave)="onTimePickerElementMouseLeave()"
                          [attr.aria-label]="getTranslation('prevHour')"
                        >
                            <ChevronDownIcon *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>

                            <ng-template
                              *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
                        </p-button>
                    </div>
                    <div class="p-datepicker-separator">
                        <span>{{ timeSeparator }}</span>
                    </div>
                    <div class="p-datepicker-minute-picker">
                        <p-button
                          rounded
                          text
                          size="small"
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (keydown.enter)="incrementMinute($event)"
                          (keydown.space)="incrementMinute($event)"
                          (mousedown)="onTimePickerElementMouseDown($event, 1, 1)"
                          (mouseup)="onTimePickerElementMouseUp($event)"
                          (keyup.enter)="onTimePickerElementMouseUp($event)"
                          (keyup.space)="onTimePickerElementMouseUp($event)"
                          (mouseleave)="onTimePickerElementMouseLeave()"
                          [attr.aria-label]="getTranslation('nextMinute')"
                        >
                            <ChevronUpIcon *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>

                            <ng-template
                              *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
                        </p-button>
                        <span><ng-container *ngIf="currentMinute < 10">0</ng-container>
                          {{ currentMinute }}</span>
                        <p-button
                          rounded
                          text
                          size="small"
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (keydown.enter)="decrementMinute($event)"
                          (keydown.space)="decrementMinute($event)"
                          (mousedown)="onTimePickerElementMouseDown($event, 1, -1)"
                          (mouseup)="onTimePickerElementMouseUp($event)"
                          (keyup.enter)="onTimePickerElementMouseUp($event)"
                          (keyup.space)="onTimePickerElementMouseUp($event)"
                          (mouseleave)="onTimePickerElementMouseLeave()"
                          [attr.aria-label]="getTranslation('prevMinute')"
                        >
                            <ChevronDownIcon *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>
                            <ng-container *ngIf="decrementIconTemplate || _decrementIconTemplate">
                                <ng-template
                                  *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
                            </ng-container>
                        </p-button>
                    </div>
                    <div class="p-datepicker-separator" *ngIf="showSeconds">
                        <span>{{ timeSeparator }}</span>
                    </div>
                    <div class="p-datepicker-second-picker" *ngIf="showSeconds">
                        <p-button
                          rounded
                          text
                          size="small"
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (keydown.enter)="incrementSecond($event)"
                          (keydown.space)="incrementSecond($event)"
                          (mousedown)="onTimePickerElementMouseDown($event, 2, 1)"
                          (mouseup)="onTimePickerElementMouseUp($event)"
                          (keyup.enter)="onTimePickerElementMouseUp($event)"
                          (keyup.space)="onTimePickerElementMouseUp($event)"
                          (mouseleave)="onTimePickerElementMouseLeave()"
                          [attr.aria-label]="getTranslation('nextSecond')"
                        >
                            <ChevronUpIcon *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>

                            <ng-template
                              *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
                        </p-button>
                        <span><ng-container *ngIf="currentSecond < 10">0</ng-container>
                          {{ currentSecond }}</span>
                        <p-button
                          rounded
                          text
                          size="small"
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (keydown.enter)="decrementSecond($event)"
                          (keydown.space)="decrementSecond($event)"
                          (mousedown)="onTimePickerElementMouseDown($event, 2, -1)"
                          (mouseup)="onTimePickerElementMouseUp($event)"
                          (keyup.enter)="onTimePickerElementMouseUp($event)"
                          (keyup.space)="onTimePickerElementMouseUp($event)"
                          (mouseleave)="onTimePickerElementMouseLeave()"
                          [attr.aria-label]="getTranslation('prevSecond')"
                        >
                            <ChevronDownIcon *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>

                            <ng-template
                              *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
                        </p-button>
                    </div>
                    <div class="p-datepicker-separator" *ngIf="hourFormat == '12'">
                        <span>{{ timeSeparator }}</span>
                    </div>
                    <div class="p-datepicker-ampm-picker" *ngIf="hourFormat == '12'">
                        <p-button
                          size="small"
                          text
                          rounded
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (onClick)="toggleAMPM($event)"
                          (keydown.enter)="toggleAMPM($event)"
                          [attr.aria-label]="getTranslation('am')"
                        >
                            <ChevronUpIcon *ngIf="!incrementIconTemplate && !_incrementIconTemplate"/>
                            <ng-template
                              *ngTemplateOutlet="incrementIconTemplate || _incrementIconTemplate"></ng-template>
                        </p-button>
                        <span>{{ pm ? 'PM' : 'AM' }}</span>
                        <p-button
                          size="small"
                          text
                          rounded
                          styleClass="p-datepicker-increment-button p-button-icon-only"
                          (keydown)="onContainerButtonKeydown($event)"
                          (click)="toggleAMPM($event)"
                          (keydown.enter)="toggleAMPM($event)"
                          [attr.aria-label]="getTranslation('pm')"
                        >
                            <ChevronDownIcon *ngIf="!decrementIconTemplate && !_decrementIconTemplate"/>
                            <ng-template
                              *ngTemplateOutlet="decrementIconTemplate || _decrementIconTemplate"></ng-template>
                        </p-button>
                    </div>
                </div>
                <div class="p-datepicker-buttonbar" *ngIf="showButtonBar">
                    <p-button size="small" styleClass="p-datepicker-today-button" [label]="getTranslation('today')"
                              (keydown)="onContainerButtonKeydown($event)" (onClick)="onTodayButtonClick($event)"
                              [ngClass]="todayButtonStyleClass"/>
                    <p-button size="small" styleClass="p-datepicker-clear-button" [label]="getTranslation('clear')"
                              (keydown)="onContainerButtonKeydown($event)" (onClick)="onClearButtonClick($event)"
                              [ngClass]="clearButtonStyleClass"/>
                </div>
                <ng-content select="p-footer"></ng-content>
                <ng-container *ngTemplateOutlet="footerTemplate || _footerTemplate"></ng-container>
            </div>
        </span>
