<div class="slider-wrapper" [attr.dir]="rtl ? 'rtl' : 'ltr'">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [fluid]="true">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-slider
        [(ngModel)]="value"
        [invalid]="isInvalid"
        [attr.id]="id"
        [required]="required"
        [disabled]="disabled"
        [name]="name"
        [animate]="animate"
        [min]="min"
        [max]="max"
        [orientation]="orientation"
        [step]="step"
        [range]="range"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [tabindex]="tabindex"
        [autofocus]="autofocus"
        (onChange)="_onChange($event)"
        (onSlideEnd)="_onSlideEnd($event)"/>
    </ng-template>
  </pw-form-field>
</div>
