<div class="slider-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [fluid]="true">
    <ng-template ngTemplate="element">
      <p-slider
        [(ngModel)]="value"
        [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
        [attr.id]="id"
        [animate]="animate"
        [disabled]="disabled"
        [min]="min"
        [max]="max"
        [orientation]="orientation"
        [step]="step"
        [range]="range"
        [style]="style"
        [styleClass]="styleClass"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [tabindex]="tabindex"
        [autofocus]="autofocus"
        (onChange)="_onChange($event)"
        (onSlideEnd)="_onSlideEnd($event)"/>
    </ng-template>
  </ng-form-field>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
