<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="slider-wrapper">
  <div class="field">
    <p-slider
      [(ngModel)]="value"
      [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
      [attr.id]="id"
      [animate]="animate"
      [disabled]="disabled"
      [min]="min"
      [max]="max"
      [orientation]="orientation"
      [step]="step"
      [range]="range"
      [style]="style"
      [styleClass]="styleClass"
      [ariaLabel]="ariaLabel"
      [ariaLabelledBy]="ariaLabelledBy"
      [tabindex]="tabindex"
      (onChange)="_onChange($event)"
      (onSlideEnd)="_onSlideEnd($event)"
    ></p-slider>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="id"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
