<div [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="knob-wrapper">
  <div class="field">
    <p-knob
      [(ngModel)]="value"
      [id]="inputId"
      [size]="size"
      [disabled]="disabled"
      [readonly]="readonly"
      [step]="step"
      [min]="min"
      [max]="max"
      [valueColor]="valueColor"
      [rangeColor]="rangeColor"
      [textColor]="textColor"
      [strokeWidth]="strokeWidth"
      [showValue]="showValue"
      [valueTemplate]="valueTemplate"
      [style]="style"
      [styleClass]="styleClass"
      (onChange)="_onChange($event)">
    </p-knob>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>



