<div class="datepicker-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart && !templateMap.iconEnd,
     'icon-end': templateMap.iconEnd && !templateMap.iconStart,
     'icon-both': templateMap.iconStart && templateMap.iconEnd,
     'addon-start': templateMap.addonStart && !templateMap.addonEnd,
     'addon-end': templateMap.addonEnd && !templateMap.addonStart,
     'addon-both': templateMap.addonStart && templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear,
     'has-icon': showIcon,
     'inline': inline,
     'is-jalali': isJalali,
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <pw-datepicker-base
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [isJalali]="isJalali"
        [iconDisplay]="iconDisplay"
        [style]="style"
        [styleClass]="styleClass"
        [inputStyle]="inputStyle"
        [inputId]="inputId"
        [name]="name"
        [inputStyleClass]="inputStyleClass"
        [placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
        [ariaLabelledBy]="ariaLabelledBy"
        [ariaLabel]="ariaLabel"
        [iconAriaLabel]="iconAriaLabel"
        [disabled]="disabled"
        [dateFormat]="dateFormat"
        [multipleSeparator]="multipleSeparator"
        [rangeSeparator]="rangeSeparator"
        [inline]="inline"
        [showOtherMonths]="showOtherMonths"
        [selectOtherMonths]="selectOtherMonths"
        [showIcon]="showIcon"
        [fluid]="fluid"
        [icon]="datepickerIcon"
        [appendTo]="appendTo"
        [readonlyInput]="readonlyInput"
        [shortYearCutoff]="shortYearCutoff"
        [hourFormat]="hourFormat"
        [timeOnly]="timeOnly"
        [stepHour]="stepHour"
        [stepMinute]="stepMinute"
        [stepSecond]="stepSecond"
        [showSeconds]="showSeconds"
        [required]="required"
        [showOnFocus]="showOnFocus"
        [showWeek]="showWeek"
        [startWeekFromFirstDayOfYear]="startWeekFromFirstDayOfYear"
        [showClear]="showClear"
        [dataType]="dataType"
        [selectionMode]="selectionMode"
        [maxDateCount]="maxDateCount"
        [showButtonBar]="showButtonBar"
        [todayButtonStyleClass]="todayButtonStyleClass"
        [clearButtonStyleClass]="clearButtonStyleClass"
        [autofocus]="autofocus"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [panelStyleClass]="panelStyleClass"
        [panelStyle]="panelStyle"
        [keepInvalid]="keepInvalid"
        [hideOnDateTimeSelect]="hideOnDateTimeSelect"
        [touchUI]="touchUI"
        [timeSeparator]="timeSeparator"
        [focusTrap]="focusTrap"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        [tabindex]="tabindex"
        [variant]="variant"
        [size]="size"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [disabledDates]="disabledDates"
        [disabledDays]="disabledDays"
        [showTime]="showTime"
        [responsiveOptions]="responsiveOptions"
        [numberOfMonths]="numberOfMonths"
        [firstDayOfWeek]="firstDayOfWeek"
        [view]="view"
        [defaultDate]="defaultDate"
        (onFocus)="emitter('onFocus',$event)"
        (onBlur)="_onBlur($event)"
        (onClose)="emitter('onClose',$event)"
        (onSelect)="_onSelect($event)"
        (onClear)="_onClear()"
        (onInput)="_onInput($event)"
        (onTodayClick)="emitter('onTodayClick',$event)"
        (onClearClick)="_onClear()"
        (onMonthChange)="emitter('onMonthChange',$event)"
        (onYearChange)="emitter('onYearChange',$event)"
        (onClickOutside)="emitter('onClickOutside',$event)"
        (onShow)="emitter('onShow',$event)"/>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [pwTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </pw-form-field>
</div>
