<div [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [class]="{
     'select-wrapper': true,
     'icon-start': templateMap['iconStart'] && !templateMap['iconEnd'],
     'icon-end': templateMap['iconEnd'] && !templateMap['iconStart'],
     'icon-both': templateMap['iconStart'] && templateMap['iconEnd'],
     'addon-start': templateMap['addonStart'] && !templateMap['addonEnd'],
     'addon-end': templateMap['addonEnd'] && !templateMap['addonStart'],
     'addon-both': templateMap['addonStart'] && templateMap['addonEnd'],
     'fluid': fluid,
     'clearable': showClear
    }">
  <pw-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | pwLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="fluid">
    <ng-template pwTemplate="element" let-isInvalid="isInvalid">
      <p-select
        [ngModel]="value"
        [invalid]="isInvalid"
        [required]="required"
        [disabled]="disabled"
        [name]="name"
        [fluid]="fluid"
        [variant]="variant"
        [size]="size"
        [inputSize]="inputSize"
        [pattern]="pattern"
        [min]="min"
        [max]="max"
        [step]="step"
        [minlength]="minlength"
        [maxlength]="maxlength"
        [id]="id"
        [scrollHeight]="scrollHeight"
        [filter]="filter"
        [panelStyle]="panelStyle"
        [panelStyleClass]="panelStyleClass"
        [readonly]="readonly"
        [editable]="editable"
        [tabindex]="tabindex"
        [placeholder]="placeholder | pwLabelStar:showRequiredStar:ngControl"
        [loadingIcon]="loadingIcon"
        [filterPlaceholder]="filterPlaceholder"
        [filterLocale]="filterLocale"
        [inputId]="inputId"
        [dataKey]="dataKey"
        [filterBy]="filterBy"
        [filterFields]="filterFields"
        [autofocus]="autofocus"
        [resetFilterOnHide]="resetFilterOnHide"
        [checkmark]="checkmark"
        [dropdownIcon]="dropdownIcon"
        [loading]="loading"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionDisabled]="optionDisabled"
        [optionGroupLabel]="optionGroupLabel"
        [optionGroupChildren]="optionGroupChildren"
        [group]="group"
        [showClear]="showClear"
        [emptyFilterMessage]="emptyFilterMessage"
        [emptyMessage]="emptyMessage"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [overlayOptions]="overlayOptions"
        [ariaFilterLabel]="ariaFilterLabel"
        [ariaLabel]="ariaLabel"
        [ariaLabelledBy]="ariaLabelledBy"
        [filterMatchMode]="filterMatchMode"
        [tooltip]="tooltip"
        [tooltipPosition]="tooltipPosition"
        [tooltipPositionStyle]="tooltipPositionStyle"
        [tooltipStyleClass]="tooltipStyleClass"
        [focusOnHover]="focusOnHover"
        [selectOnFocus]="selectOnFocus"
        [autoOptionFocus]="autoOptionFocus"
        [autofocusFilter]="autofocusFilter"
        [filterValue]="filterValue"
        [options]="options"
        [appendTo]="appendTo"
        (onChange)="_onChange($event)"
        (onFilter)="emitter('onFilter',$event)"
        (onFocus)="emitter('onFocus',$event)"
        (onBlur)="_onBlur($event)"
        (onClick)="emitter('onClick',$event)"
        (onShow)="emitter('onShow',$event)"
        (onHide)="emitter('onHide',$event)"
        (onClear)="_onClear()"
        (onLazyLoad)="emitter('onLazyLoad',$event)">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type" let-item let-options="options">
              <ng-container *ngTemplateOutlet="templateMap[t.type];context:{$implicit:item,options}"/>
            </ng-template>
          }
        }
      </p-select>
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd', 'label']; track item) {
      @if (templateMap[item]) {
        <ng-template [pwTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </pw-form-field>
</div>
