<div class="container py-6 [&_.p-card-content]:hidden [&>*]:block [&>*:not(:last-child)]:mb-4">
  <p-card header="Checkbox"
          subheader="Checkbox is an extension to standard checkbox element with theming."/>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'variant',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'fixLabelPos',
      'followConfig',
      'orientation',
      'disabled',
      'readonly',
      ]"
      [(label)]="label"
      [(variant)]="variant"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(fixLabelPos)]="labelPos"
      [(followConfig)]="followConfig"
      [(orientation)]="orientation"
      [(disabled)]="disabled"
      [(readonly)]="readonly"/>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-checkbox-group
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [options]="options"
        [label]="label"
        [variant]="variant"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [labelPos]="labelPos"
        [followConfig]="followConfig"
        [orientation]="orientation"
        [disabled]="disabled"
        [readonly]="readonly"/>
    </form>
  </p-panel>
</div>
