:host {
  display: block;

  ::ng-deep {
    .iran-map-wrapper {
      display: flex;
      position: relative;

      .message {
        position: absolute;
        top: calc(100% + 0.25rem);
        font-size: 0.875em;

        &:not(.p-error) {
          color: #6c757d;
        }
      }

      &.label-fix-top {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &.label-fix-side {
        flex-direction: row-reverse;
        align-items: center;

        .fix-label {
          margin-bottom: 0;
          align-self: start;
        }
      }

      .field {
        width: auto;
        flex-grow: 1;
        align-self: stretch;
        display: inline-flex;

        .map {
          display: inline-flex;
          flex-grow: 1;
          transition: all 0.3s;

          .title {
            display: none;
            position: absolute;
            background-color: #fff;
            color: #333;
            text-align: center;
            line-height: 26px;
            border-radius: 5px;
            padding: 5px;
            flex-direction: column;
          }

          .border path,
          .island path {
            fill: #ffffff
          }

          .sea path,
          .lake path {
            fill: #78bbfc
          }

          .province path {
            fill: #C3E0E6;

            &:not(.active):hover {
              fill: lighten(#87c0cd, 10%) !important;
              cursor: pointer
            }

            &.active {
              fill: #87c0cd !important;
            }
          }

          path.disabled {
            cursor: default !important;
            pointer-events: none !important;
            fill: #6c757d !important;
          }
        }
      }

      &.ltr {
        direction: ltr;

        .message {
          left: 0;
        }

        .fix-label {
          margin-right: 1rem;
        }
      }

      &.rtl {
        direction: rtl;

        .message {
          right: 0;
        }

        .fix-label {
          margin-left: 1rem;
        }
      }
    }
  }
}

