:host {
  display: block;

  ::ng-deep {
    .radio-wrapper {
      .field {
        display: inline-flex;
        gap: 0.25rem;
      }

      .option-item {
        display: inline-flex;
        align-items: center;
        gap: 0.75rem;

        label {
          margin-bottom: 0;
        }
      }

      &.layout-horizontal {
        .option-item {
          gap: 0.5rem;
        }

        .field {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }

      &.layout-vertical {
        .field {
          flex-direction: column;
        }
      }
    }
  }
}
