<div class="radio-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
      'layout-horizontal':orientation == 'horizontal',
      'layout-vertical':orientation == 'vertical'
      }">
  <ng-element-additions
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled">
    <ng-template ngTemplate="element">
      @for (item of options; track item) {
        <div class="option-item">
          <p-radioButton
            [(ngModel)]="value"
            [ngClass]="{'ng-invalid ng-dirty': isInvalid()}"
            [class]="item.styleClass"
            [value]="item[optionValue]"
            [name]="name"
            [disabled]="item[optionDisabled]"
            [variant]="variant"
            [size]="size"
            [tabindex]="tabindex"
            [inputId]="'id' + item[optionValue]"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaLabel]="ariaLabel"
            [style]="style"
            [styleClass]="styleClass"
            [autofocus]="autofocus"
            [binary]="binary"
            (onClick)="_onChange($event)"
            (onFocus)="_onFocus($event)"
            (onBlur)="_onBlur($event)"/>
          <label [attr.for]="'id' + item[optionValue]" [class.p-disabled]="item[optionDisabled]">
            {{ item[optionLabel] }}
          </label>
        </div>
      }
    </ng-template>
  </ng-element-additions>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
