<div class="input-text-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
     'icon-start': templateMap.iconStart,
     'icon-end': templateMap.iconEnd,
     'addon-start': templateMap.addonStart,
     'addon-end': templateMap.addonEnd,
     'fluid': fluid,
     'clearable': showClear
    }">
  <ng-form-field
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="inputId"
    [disabled]="disabled"
    [fluid]="fluid">
    <ng-template ngTemplate="element">
      <input
        pInputText
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [attr.id]="inputId"
        [attr.maxlength]="maxlength"
        [attr.placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
        [attr.type]="type"
        [attr.aria-label]="ariaLabel"
        [attr.aria-labelledBy]="ariaLabelledBy"
        [attr.inputmode]="inputMode"
        [disabled]="disabled"
        [readonly]="readonly"
        [pKeyFilter]="keyFilter"
        [ngStyle]="inputStyle"
        [class]="inputStyleClass"
        [autocomplete]="autocomplete"
        [variant]="variant"
        [fluid]="fluid"
        [pSize]="size"
        (blur)="_onBlur($event)"
        (change)="_onChange($event)"
        (click)="emitter('onClick', $event)"
        (focus)="emitter('onFocus', $event)"
        (input)="_onInput($event)"
        (keydown)="_onKeyDown($event)"
        (keyup)="_onKeyUp($event)"
        (paste)="emitter('onPaste', $event)"/>
      @if (showClear && !disabled && value) {
        <TimesIcon class="clear-icon" (click)="clear()"/>
      }
    </ng-template>
    @for (item of ['addonStart', 'addonEnd', 'iconStart', 'iconEnd']; track item) {
      @if (templateMap[item]) {
        <ng-template [ngTemplate]="item">
          <ng-container *ngTemplateOutlet="templateMap[item]"/>
        </ng-template>
      }
    }
  </ng-form-field>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
