:host {
  display: block;

  ::ng-deep {
    .input-text-wrapper {
      .field {
        position: relative;
      }

      input:not([type="file"]),
      input:not([type="image"]),
      input:not([type="checkbox"]),
      input:not([type="radio"]),
      input:not([type="password"]) {
        unicode-bidi: plaintext;
      }

      .clear-icon {
        position: absolute;
        top: 50%;
        margin-top: -0.5rem;
        color: var(--p-select-clear-icon-color);
        inset-inline-end: var(--p-form-field-padding-x);
        cursor: pointer;
        z-index: 50;
      }

      &.clearable {
        input {
          padding-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }

        &.icon-end {
          input {
            padding-inline-end: calc(calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size)) * 1.5);
          }

          .clear-icon {
            inset-inline-end: calc(var(--p-form-field-padding-x) * 3);
          }
        }

        &.addon-end {
          .clear-icon {
            inset-inline-end: calc(var(--p-form-field-padding-x) * 4);
          }
        }
      }
    }
  }
}
