<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="input-text-wrapper"
     [ngStyle]="style"
     [class]="styleClass">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize">
    <div [ngClass]="{
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <div [class.p-float-label]="label && labelPos == 'float'">
        <input
          pInputText
          [(ngModel)]="value"
          [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
          [attr.id]="inputId"
          [attr.maxlength]="maxlength"
          [attr.placeholder]="placeholder | ngLabelStar:showRequiredStar:ngControl"
          [attr.type]="type"
          [attr.aria-label]="ariaLabel"
          [attr.aria-labelledBy]="ariaLabelledBy"
          [attr.inputmode]="inputMode"
          [disabled]="disabled"
          [readonly]="readonly"
          [pKeyFilter]="keyFilter"
          [ngStyle]="inputStyle"
          [class]="inputStyleClass"
          [autocomplete]="autocomplete"
          (blur)="_onBlur($event)"
          (change)="_onChange($event)"
          (click)="emitter('onClick', $event)"
          (focus)="emitter('onFocus', $event)"
          (input)="_onInput($event)"
          (keydown)="_onKeyDown($event)"
          (keyup)="_onKeyUp($event)"
          (paste)="emitter('onPaste', $event)"/>
        <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
          {{ label | ngLabelStar:showRequiredStar:ngControl }}
        </label>
        <i *ngIf="showClear && !disabled && value"
           class="p-inputtext-clear-icon pi pi-times"
           (click)="clear()">
        </i>
      </div>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>

