<div class="container">
  <p-card header="FilePicker"
          subheader="FilePicker is an advanced uploader with drag and drop support, multi file uploads, auto uploading, progress tracking and validations."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'fixLabelPos',
      'disableConfigChangeEffect',
      'disabled',
      'readonly',
      'multiple',
      'accept',
      'color',
      'fileLimit',
      'chooseLabel',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(fixLabelPos)]="labelPos"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
      [(multiple)]="multiple"
      [(accept)]="accept"
      [(color)]="color"
      [(fileLimit)]="fileLimit"
      [(chooseLabel)]="chooseLabel"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-file-picker2
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [labelPos]="labelPos"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [disabled]="disabled"
        [readonly]="readonly"
        [multiple]="multiple"
        [accept]="accept"
        [color]="color"
        [fileLimit]="fileLimit"
        [chooseLabel]="chooseLabel"
      ></ng-file-picker2>
    </form>
  </p-panel>
</div>
