::ng-deep {
  .form-field-wrapper {
    &, .p-inputtext {
      width: auto;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      user-select: none;

      label {
        opacity: 0.6;
      }
    }

    &.fluid {
      &, .p-inputtext, & > * {
        width: 100%;
      }
    }

    .field-footer {
      display: flex;
      flex-direction: column;

      .message {
        color: #64748b;

        &.validation {
          color: #dc2626;
        }

        &:first-child {
          margin-top: 0.5rem;

          ~ .message {
            margin-top: 0.25rem;
          }
        }
      }
    }

    .field {
      flex: 1;
    }

    p-inputicon {
      z-index: 50;
    }

    .field-wrapper {
      display: inline-flex;
      gap: 0.75rem;
    }

    &.label-side {
      .field-wrapper {
        align-items: center;

        &.revers {
          flex-direction: row-reverse;
        }
      }
    }

    &.label-top {
      .field-wrapper {
        flex-direction: column;
      }
    }
  }
}
