<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="cascade-select-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <i *ngIf="icon && !addon && !showClear" [ngClass]="icon"></i>
    <p-cascadeSelect
      [(ngModel)]="value"
      [ngAddon]="addon"
      [addonDisabled]="disabled"
      [addonSize]="inputSize"
      [inputId]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionGroupLabel]="optionGroupLabel"
      [optionGroupChildren]="optionGroupChildren"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [dataKey]="dataKey"
      [tabindex]="tabindex"
      [appendTo]="appendTo"
      [style]="style"
      [styleClass]="styleClass"
      [showClear]="showClear"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onChange)="_onChange($event)"
      (onGroupChange)="_onGroupChange($event)"
      (onBeforeShow)="emitter('onBeforeShow', $event)"
      (onBeforeHide)="emitter('onBeforeHide', $event)"
      (onShow)="_onShow()"
      (onHide)="_onHide()"
      (onClear)="_onClear()"
    >
      <ng-template pTemplate="option" let-option *ngIf="optionTemplate">
        <ng-container *ngTemplateOutlet="optionTemplate;context:{$implicit:option}"></ng-container>
      </ng-template>
    </p-cascadeSelect>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint && showHint()" class="p-hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
