<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(labelPos)]="labelPos"
     [(filled)]="filled"
     [(inputSize)]="inputSize"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side',
      'label-float': labelPos == 'float',
      'clearable': showClear
    }" class="cascade-select-wrapper">
  <div class="field"
       [ngAddon]="addon"
       [addonDisabled]="disabled"
       [addonSize]="inputSize"
       (onAfterBtnClick)="emitter('onAfterBtnClick',$event)"
       (onBeforeBtnClick)="emitter('onBeforeBtnClick',$event)">
    <div [ngClass]="{
      'p-float-label': label && labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }">
      <i *ngIf="icon" [class.p-disabled]="disabled" [ngClass]="icon"></i>
      <p-cascadeSelect
        [(ngModel)]="value"
        [inputId]="inputId"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionGroupLabel]="optionGroupLabel"
        [optionGroupChildren]="optionGroupChildren"
        [placeholder]="placeholder | labelStar:showRequiredStar:isRequired()"
        [disabled]="disabled"
        [dataKey]="dataKey"
        [tabindex]="tabindex"
        [appendTo]="appendTo"
        [style]="style"
        [styleClass]="styleClass"
        [showClear]="showClear"
        (onChange)="_onChange($event)"
        (onGroupChange)="_onGroupChange($event)"
        (onBeforeShow)="emitter('onBeforeShow', $event)"
        (onBeforeHide)="emitter('onBeforeHide', $event)"
        (onShow)="_onShow()"
        (onHide)="_onHide()"
        (onClear)="_onClear()">
        <ng-template pTemplate="option" let-option *ngIf="optionTemplate">
          <ng-container *ngTemplateOutlet="optionTemplate;context:{$implicit:option}"></ng-container>
        </ng-template>
      </p-cascadeSelect>
      <label *ngIf="label && labelPos == 'float'" [class.p-disabled]="disabled" [attr.for]="inputId">
        {{ label | labelStar:showRequiredStar:isRequired() }}
      </label>
    </div>
  </div>
  <label
    class="fix-label"
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | labelStar:showRequiredStar:isRequired() }}
  </label>
  <div *ngIf="hint && showHint()" class="message small">{{ hint }}</div>
  <div class="message small">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)" class="p-error">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
