<div class="container">
    <p-card header="GregorianDatepicker"
            subheader="GregorianDatepicker is an input component to select a gregorian date."></p-card>
    <p-panel [header]="'options' | translate">
        <ng-preview-options
                [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'disableConfigChangeEffect',
      'datepickerSelectionMode',
      'placeholder',
      'disabled',
      'inline',
      'showOtherMonths',
      'selectOtherMonths',
      'showIcon',
      'showOnFocus',
      'showWeek',
      'datePickerIcon',
      'readonlyInput',
      'shortYearCutoff',
      'showTime',
      'hourFormat',
      'timeOnly',
      'showSeconds',
      'stepHour',
      'stepMinute',
      'stepSecond',
      'showButtonBar',
      'hideOnDateTimeSelect',
      'numberOfMonths',
      'view',
      'touchUI',
      'showClear',
      ]"
                [(label)]="label"
                [(filled)]="filled"
                [(labelWidth)]="labelWidth"
                [(hint)]="hint"
                [(rtl)]="rtl"
                [(showRequiredStar)]="showRequiredStar"
                [(icon)]="icon"
                [(labelPos)]="labelPos"
                [(iconPos)]="iconPos"
                [(selectiveSize)]="inputSize"
                [(disableConfigChangeEffect)]="disableConfigChangeEffect"
                [(addon)]="addon"
                [(placeholder)]="placeholder"
                [(disabled)]="disabled"
                [(inline)]="inline"
                [(showOtherMonths)]="showOtherMonths"
                [(selectOtherMonths)]="selectOtherMonths"
                [(showIcon)]="showIcon"
                [(showOnFocus)]="showOnFocus"
                [(showWeek)]="showWeek"
                [(datePickerIcon)]="datePickerIcon"
                [(readonlyInput)]="readonlyInput"
                [(shortYearCutoff)]="shortYearCutoff"
                [(showTime)]="showTime"
                [(timeOnly)]="timeOnly"
                [(showSeconds)]="showSeconds"
                [(stepHour)]="stepHour"
                [(stepMinute)]="stepMinute"
                [(stepSecond)]="stepSecond"
                [(showButtonBar)]="showButtonBar"
                [(hideOnDateTimeSelect)]="hideOnDateTimeSelect"
                [(numberOfMonths)]="numberOfMonths"
                [(touchUI)]="touchUI"
                [(showClear)]="showClear"
        ></ng-preview-options>
    </p-panel>

    <p-panel [header]="'preview' | translate">
        <form [formGroup]="form">
            <!--      <ng-date-picker-base></ng-date-picker-base>-->
            <ng-gregorian-datepicker
                    formControlName="c1"
                    [addon]="addon"
                    [validation]="{ required: 'error' }"
                    [label]="label"
                    [filled]="filled"
                    [labelWidth]="labelWidth"
                    [hint]="hint"
                    [rtl]="rtl"
                    [showRequiredStar]="showRequiredStar"
                    [icon]="icon"
                    [labelPos]="labelPos"
                    [iconPos]="iconPos"
                    [inputSize]="inputSize"
                    [disableConfigChangeEffect]="disableConfigChangeEffect"
                    [selectionMode]="selectionMode"
                    [placeholder]="placeholder"
                    [disabled]="disabled"
                    [inline]="inline"
                    [showOtherMonths]="showOtherMonths"
                    [selectOtherMonths]="selectOtherMonths"
                    [showIcon]="showIcon"
                    [showOnFocus]="showOnFocus"
                    [showWeek]="showWeek"
                    [datePickerIcon]="datePickerIcon"
                    [readonlyInput]="readonlyInput"
                    [shortYearCutoff]="shortYearCutoff"
                    [showTime]="showTime"
                    [hourFormat]="hourFormat"
                    [timeOnly]="timeOnly"
                    [showSeconds]="showSeconds"
                    [stepHour]="stepHour"
                    [stepMinute]="stepMinute"
                    [stepSecond]="stepSecond"
                    [showButtonBar]="showButtonBar"
                    [hideOnDateTimeSelect]="hideOnDateTimeSelect"
                    [numberOfMonths]="numberOfMonths"
                    [view]="view"
                    [touchUI]="touchUI"
                    [showClear]="showClear"
            ></ng-gregorian-datepicker>
        </form>
    </p-panel>
</div>
