:host {
  display: block;
  padding: 3rem 0;
  direction: ltr;
}

p-card {
  &, ~ p-panel {
    margin-bottom: 1rem;
    display: block;
  }

  ::ng-deep .p-card-content {
    padding: 0;
  }
}

p-panel ::ng-deep ng-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
