<div class="container">
  <p-card dir="ltr"
          header="Rating"
          subheader="Rating component is a star based selection input."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'fixLabelPos',
      'stars',
      'cancel',
      'disabled',
      'readonly',
      'iconOnClass',
      'iconOffClass',
      'iconCancelClass',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(fixLabelPos)]="labelPos"
      [(stars)]="stars"
      [(cancel)]="cancel"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
      [(iconOnClass)]="iconOnClass"
      [(iconOffClass)]="iconOffClass"
      [(iconCancelClass)]="iconCancelClass"
    ></ng-preview-options>
  </p-panel>

  <p-panel dir="ltr" header="Preview">
    <p-divider align="center">
      <b>Using With Reactive Forms</b>
    </p-divider>
    <form [formGroup]="form">
      <ng-rating
        formControlName="c1"
        [validation]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [labelPos]="labelPos"
        [stars]="stars"
        [cancel]="cancel"
        [disabled]="disabled"
        [readonly]="readonly"
        [iconOnClass]="iconOnClass"
        [iconOffClass]="iconOffClass"
        [iconCancelClass]="iconCancelClass"
      ></ng-rating>
    </form>

    <p-divider align="center">
      <b>Using With NgModel</b>
    </p-divider>
    <ng-rating
      name="myInput"
      required
      [(ngModel)]="binding"
      [validation]="{ required: 'error' }"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [stars]="stars"
      [cancel]="cancel"
      [disabled]="disabled"
      [readonly]="readonly"
      [iconOnClass]="iconOnClass"
      [iconOffClass]="iconOffClass"
      [iconCancelClass]="iconCancelClass"
    ></ng-rating>
    <pre class="mt-3 mb-0" dir="ltr"><b>Value :</b> {{binding | json}}</pre>
  </p-panel>
</div>
