<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="input-number-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <i *ngIf="icon && !addon && !showClear" [ngClass]="icon"></i>
    <p-inputNumber
      [(ngModel)]="value"
      [ngAddon]="addon"
      [addonDisabled]="disabled"
      [addonSize]="inputSize"
      [inputId]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [format]="format"
      [showButtons]="showButtons"
      [buttonLayout]="buttonLayout"
      [incrementButtonClass]="incrementButtonClass"
      [decrementButtonClass]="decrementButtonClass"
      [incrementButtonIcon]="incrementButtonIcon"
      [decrementButtonIcon]="decrementButtonIcon"
      [locale]="locale"
      [localeMatcher]="localeMatcher"
      [mode]="mode"
      [prefix]="prefix"
      [suffix]="suffix"
      [currency]="currency"
      [currencyDisplay]="currencyDisplay"
      [useGrouping]="useGrouping"
      [minFractionDigits]="minFractionDigits"
      [maxFractionDigits]="maxFractionDigits"
      [min]="min"
      [max]="max"
      [step]="step"
      [allowEmpty]="allowEmpty"
      [style]="style"
      [styleClass]="styleClass"
      [inputStyle]="inputStyle"
      [inputStyleClass]="inputStyleClass"
      [placeholder]="placeholder"
      [size]="size"
      [maxlength]="maxlength"
      [tabindex]="tabindex"
      [disabled]="disabled"
      [readonly]="readonly"
      [title]="title"
      [autocomplete]="autocomplete"
      [showClear]="showClear"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onBlur)="_onBlur()"
      (onFocus)="emitter('onFocus',$event)"
      (onInput)="_onInput($event)"
      (onClear)="_onClear()"
    ></p-inputNumber>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint && showHint()" class="p-hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
