<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="date-picker-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <ng-container *ngIf="!inline">
      <i
        (click)="onClearClick()"
        *ngIf="clearable ? value : icon"
        class="{{ icon }} {{ clearable && !addon ? 'clearable' : '' }}"
      ></i>
      <input
        (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
        (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
        (onBlur)="_onBlur()"
        (onChange)="_onChange($event)"
        (onFocus)="emitter('onFocus', $event)"
        [(ngModel)]="value"
        [attr.id]="inputId"
        [attr.id]="inputId"
        [attr.placeholder]="placeholder"
        [disabled]="disabled"
        [dpDayPicker]="config"
        [mode]="datePickerMode"
        [ngAddon]="addon"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
        [placeholder]="placeholder"
        [readonly]="readonly"
        autocomplete="false"
        pInputText
        theme="dp-material"
      />
      <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
        {{ label }}
      </label>
    </ng-container>
    <ng-container *ngIf="inline">
      <div [ngSwitch]="datePickerMode" class="date-picker-inline-wrapper">
        <!-- DOES NOT SUPPORT YET! -->
        <!-- <dp-day-time-calendar
          *ngSwitchCase="'daytime'"
          [(ngModel)]="value"
          (onSelect)="_onChange($event)"
          theme="dp-material"
        ></dp-day-time-calendar> -->
        <p *ngSwitchCase="'daytime'">DOES NOT SUPPORT YET!</p>
        <dp-day-calendar
          (onSelect)="_onChange($event)"
          *ngSwitchCase="'day'"
          [(ngModel)]="value"
          [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
          theme="dp-material"
        ></dp-day-calendar>
        <dp-month-calendar
          (onSelect)="_onChange($event)"
          *ngSwitchCase="'month'"
          [(ngModel)]="value"
          [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
          theme="dp-material"
        ></dp-month-calendar>
        <dp-time-select
          (onChange)="_onChange($event)"
          *ngSwitchCase="'time'"
          [(ngModel)]="value"
          [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
          theme="dp-material"
        ></dp-time-select>
      </div>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint && showHint()" class="p-hint">{{ hint }}</small>
  <div class="position-absolute error-wrapper">
    <ng-container *ngFor="let error of errors | keyvalue">
      <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
        {{ error.value }}
      </small>
    </ng-container>
  </div>
</div>
