<ng-preview-options
  [previewItems]="[
  'hint',
  'label',
  'labelPos',
  'labelWidth',
  'icon',
  'iconPos',
  'selectiveSize',
  'filled',
  'rtl',
  'placeholder',
  'readonly',
  'disabled',
  'maxlength',
  'selectiveSize',
  'promptLabel',
  'weakLabel',
  'mediumLabel',
  'strongLabel',
  'feedback',
  'toggleMask',
  'showClear'
  ]"
  [(label)]="label"
  [(filled)]="filled"
  [(labelWidth)]="labelWidth"
  [(hint)]="hint"
  [(rtl)]="rtl"
  [(showRequiredStar)]="showRequiredStar"
  [(labelPos)]="labelPos"
  [(iconPos)]="iconPos"
  [(icon)]="icon"
  [(readonly)]="readonly"
  [(disabled)]="disabled"
  [(maxlength)]="maxlength"
  [(placeholder)]="placeholder"
  [(selectiveSize)]="inputSize"
  [(promptLabel)]="promptLabel"
  [(weakLabel)]="weakLabel"
  [(mediumLabel)]="mediumLabel"
  [(strongLabel)]="strongLabel"
  [(feedback)]="feedback"
  [(toggleMask)]="toggleMask"
  [(showClear)]="showClear"
></ng-preview-options>
<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-input-password
      formControlName="c1"
      [errors]="{ required: 'error' }"
      [label]="label"
      [filled]="filled"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [showRequiredStar]="showRequiredStar"
      [labelPos]="labelPos"
      [iconPos]="iconPos"
      [icon]="icon"
      [disabled]="disabled"
      [maxlength]="maxlength"
      [placeholder]="placeholder"
      [inputSize]="inputSize"
      [promptLabel]="promptLabel"
      [weakLabel]="weakLabel"
      [mediumLabel]="mediumLabel"
      [strongLabel]="strongLabel"
      [feedback]="feedback"
      [toggleMask]="toggleMask"
      [showClear]="showClear"
      [addon]="addon"
    >
    </ng-input-password>
    <ng-button type="submit" label="submit"></ng-button>
  </form>
  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-input-password
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [label]="label"
    [filled]="filled"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [showRequiredStar]="showRequiredStar"
    [labelPos]="labelPos"
    [iconPos]="iconPos"
    [icon]="icon"
    [readonly]="readonly"
    [disabled]="disabled"
    [maxlength]="maxlength"
    [placeholder]="placeholder"
    [inputSize]="inputSize"
    [promptLabel]="promptLabel"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [feedback]="feedback"
    [addon]="addon">
  </ng-input-password>
</div>
