<div class="container">
  <p-card dir="ltr"
          header="InputPassword"
          subheader="InputPassword displays strength indicator for password fields."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[]"
    ></ng-preview-options>
  </p-panel>
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-input-password
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
    ></ng-input-password>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-input-password
    name="myInput"
    required
    [(ngModel)]="binding"
    [addon]="addon"
    [errors]="{ required: 'error' }"
  ></ng-input-password>
</div>
