<div [ngClass]="{
      rtl: rtl,
      ltr: !rtl,
      'flex-column-reverse': labelPos == 'fix-top',
      'align-items-center': labelPos == 'fix-side',
      'align-items-end': labelPos == 'fix-top' && rtl,
      'flex-row': labelPos == 'fix-side' && rtl,
      'flex-row-reverse': labelPos == 'fix-side' && !rtl
    }" class="multi-select-wrapper">
  <div [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': !addon && icon && iconPos == 'left',
      'p-input-icon-right': !addon && icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled
    }" class="field">
    <i *ngIf="icon && !addon && !showClear" [ngClass]="icon"></i>
    <p-multiSelect
      [(ngModel)]="value"
      [ngAddon]="addon"
      [addonDisabled]="disabled"
      [addonSize]="inputSize"
      [inputId]="inputId"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [appendTo]="appendTo"
      [autofocusFilter]="autofocusFilter"
      [autoZIndex]="autoZIndex"
      [baseZIndex]="baseZIndex"
      [defaultLabel]="defaultLabel"
      [dataKey]="dataKey"
      [disabled]="disabled"
      [displaySelectedLabel]="displaySelectedLabel"
      [dropdownIcon]="dropdownIcon"
      [emptyFilterMessage]="emptyFilterMessage"
      [filter]="filter"
      [filterMatchMode]="filterMatchMode"
      [filterValue]="filterValue"
      [filterLocale]="filterLocale"
      [filterBy]="filterBy"
      [filterPlaceHolder]="filterPlaceHolder"
      [hideTransitionOptions]="hideTransitionOptions"
      [itemSize]="itemSize"
      [maxSelectedLabels]="maxSelectedLabels"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [optionGroupLabel]="optionGroupLabel"
      [optionGroupChildren]="optionGroupChildren"
      [group]="group"
      [overlayVisible]="overlayVisible"
      [panelStyle]="panelStyle"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [emptyMessage]="emptyMessage"
      [resetFilterOnHide]="resetFilterOnHide"
      [scrollHeight]="scrollHeight"
      [selectedItemsLabel]="selectedItemsLabel"
      [selectionLimit]="selectionLimit"
      [showHeader]="showHeader"
      [showTransitionOptions]="showTransitionOptions"
      [showToggleAll]="showToggleAll"
      [style]="style"
      [styleClass]="styleClass"
      [tabindex]="tabindex"
      [tooltip]="tooltip"
      [tooltipStyleClass]="tooltipStyleClass"
      [tooltipPosition]="tooltipPosition"
      [tooltipPositionStyle]="tooltipPositionStyle"
      [showClear]="showClear"
      [virtualScroll]="virtualScroll"
      [virtualScrollItemSize]="virtualScrollItemSize"
      [lazy]="lazy"
      [display]="display"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onClick)="emitter('onClick', $event)"
      (onChange)="_onChange($event)"
      (onFilter)="emitter('onFilter',$event)"
      (onFocus)="emitter('onFocus', $event)"
      (onBlur)="_onBlur()"
      (onPanelHide)="emitter('onPanelHide', $event)"
      (onPanelShow)="emitter('onPanelShow', $event)"
      (onClear)="_onClear()"
      (onLazyLoad)="emitter('onLazyLoad', $event)"
    >
      <ng-template pTemplate="item" let-item *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="group" let-item *ngIf="groupTemplate">
        <ng-container *ngTemplateOutlet="groupTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="selectedItems" let-item *ngIf="selectedItemsTemplate">
        <ng-container *ngTemplateOutlet="selectedItemsTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="header" let-item *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="emptyfilter" let-item *ngIf="emptyFilterTemplate">
        <ng-container *ngTemplateOutlet="emptyFilterTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="empty" let-item *ngIf="emptyTemplate">
        <ng-container *ngTemplateOutlet="emptyTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
      <ng-template pTemplate="footer" let-item *ngIf="footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate;context:{$implicit:item}"></ng-container>
      </ng-template>
    </p-multiSelect>
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">
      {{ label }}
    </label>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label }}
  </label>
  <small *ngIf="hint && showHint()" class="p-hint">{{ hint }}</small>
  <ng-container *ngFor="let error of errors | keyvalue">
    <small *ngIf="showError(error.key)" [class.mt-4]="hint" class="p-error">
      {{ error.value }}
    </small>
  </ng-container>
</div>
