<div class="container">
  <p-card header="MultiSelect"
          subheader="MultiSelect is used to multiple values from a list of options."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'disableConfigChangeEffect',
      'autofocusFilter',
      'defaultLabel',
      'disabled',
      'displaySelectedLabel',
      'emptyFilterMessage',
      'filter',
      'filterPlaceHolder',
      'maxSelectedLabels',
      'overlayVisible',
      'placeholder',
      'readonly',
      'emptyMessage',
      'resetFilterOnHide',
      'scrollHeight',
      'selectedItemsLabel',
      'selectionLimit',
      'showHeader',
      'showToggleAll',
      'showClear',
      'display',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(addon)]="addon"
      [(autofocusFilter)]="autofocusFilter"
      [(defaultLabel)]="defaultLabel"
      [(disabled)]="disabled"
      [(displaySelectedLabel)]="displaySelectedLabel"
      [(emptyFilterMessage)]="emptyFilterMessage"
      [(filter)]="filter"
      [(filterPlaceHolder)]="filterPlaceHolder"
      [(maxSelectedLabels)]="maxSelectedLabels"
      [(overlayVisible)]="overlayVisible"
      [(placeholder)]="placeholder"
      [(readonly)]="readonly"
      [(emptyMessage)]="emptyMessage"
      [(resetFilterOnHide)]="resetFilterOnHide"
      [(scrollHeight)]="scrollHeight"
      [(selectedItemsLabel)]="selectedItemsLabel"
      [(selectionLimit)]="selectionLimit"
      [(showHeader)]="showHeader"
      [(showToggleAll)]="showToggleAll"
      [(showClear)]="showClear"
      [(display)]="display"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-multi-select
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [options]="options"
        [label]="label"
        [filled]="filled"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [icon]="icon"
        [labelPos]="labelPos"
        [iconPos]="iconPos"
        [inputSize]="inputSize"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [autofocusFilter]="autofocusFilter"
        [defaultLabel]="defaultLabel"
        [disabled]="disabled"
        [displaySelectedLabel]="displaySelectedLabel"
        [emptyFilterMessage]="emptyFilterMessage"
        [filter]="filter"
        [filterPlaceHolder]="filterPlaceHolder"
        [maxSelectedLabels]="maxSelectedLabels"
        [overlayVisible]="overlayVisible"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [emptyMessage]="emptyMessage"
        [resetFilterOnHide]="resetFilterOnHide"
        [scrollHeight]="scrollHeight"
        [selectedItemsLabel]="selectedItemsLabel"
        [selectionLimit]="selectionLimit"
        [showHeader]="showHeader"
        [showToggleAll]="showToggleAll"
        [showClear]="showClear"
        [display]="display"
      ></ng-multi-select>
    </form>
  </p-panel>
</div>
