<div class="checkbox-group-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
      'layout-horizontal':orientation == 'horizontal',
      'layout-vertical':orientation == 'vertical'
    }">
  <ng-form-field
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled">
    <ng-template ngTemplate="element">
      @for (item of options; track item) {
        <div class="option-item">
          <p-checkbox
            [(ngModel)]="value"
            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
            [class]="item.styleClass"
            [value]="item[optionValue]"
            [name]="groupName"
            [disabled]="item[optionDisabled]"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaLabel]="ariaLabel"
            [inputId]="'id'+item[optionValue]"
            [style]="style"
            [inputStyle]="inputStyle"
            [styleClass]="styleClass"
            [inputClass]="inputClass"
            [size]="size"
            [checkboxIcon]="checkboxIcon"
            [readonly]="readonly"
            [autofocus]="autofocus"
            [variant]="variant"
            (onChange)="_onChange($event)"
            (onFocus)="_onFocus($event)"
            (onBlur)="_onBlur($event)">
            @for (t of templates; track t) {
              @if (templateMap[t.getType()]) {
                <ng-template [pTemplate]="t.getType()">
                  <ng-container *ngTemplateOutlet="templateMap[t.getType()]"/>
                </ng-template>
              }
            }
          </p-checkbox>
          <label [attr.for]="'id'+item[optionValue]" [class.p-disabled]="item[optionDisabled]">
            {{ item[optionLabel] }}
          </label>
        </div>
      }
    </ng-template>
  </ng-form-field>

  @if (hint && showHint()) {
    <small class="message">{{ hint }}</small>
  }
  <div class="message validation">
    @for (v of validation | keyvalue; track v) {
      @if (hasError(v.key)) {
        <small class="message">{{ v.value }}</small>
      }
    }
  </div>
</div>
