<div class="checkbox-group-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass"
     [ngClass]="{
      'layout-horizontal':orientation == 'horizontal',
      'layout-vertical':orientation == 'vertical'
    }">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [readonly]="readonly">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      @for (item of options; track item) {
        <div class="option-item">
          <p-checkbox
            [(ngModel)]="value"
            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
            [class]="item.styleClass"
            [value]="item[optionValue]"
            [name]="groupName"
            [disabled]="item[optionDisabled]"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaLabel]="ariaLabel"
            [inputId]="'id'+item[optionValue]"
            [style]="style"
            [inputStyle]="inputStyle"
            [styleClass]="styleClass"
            [inputClass]="inputClass"
            [size]="size"
            [checkboxIcon]="checkboxIcon"
            [readonly]="readonly"
            [autofocus]="autofocus"
            [variant]="variant"
            (onChange)="_onChange($event)"
            (onFocus)="_onFocus($event)"
            (onBlur)="_onBlur($event)">
            @for (t of templates; track t) {
              @if (templateMap[t.type]) {
                <ng-template [pTemplate]="t.type">
                  <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
                </ng-template>
              }
            }
          </p-checkbox>
          <label [attr.for]="'id'+item[optionValue]" [class.p-disabled]="item[optionDisabled]">
            {{ item[optionLabel] }}
          </label>
        </div>
      }
    </ng-template>
  </ng-form-field>
</div>
