<span [ngClass]="{'ui-calendar':true, 'ui-calendar-w-btn': showIcon, 'ui-calendar-timeonly': timeOnly}"
      [ngStyle]="style" [class]="styleClass" class="col-12">
    <ng-template [ngIf]="!inline">
        <div class="col-12 ui-inputgroup" style="direction: ltr;">
            <input #inputfield type="text" [attr.id]="inputId" [attr.name]="name" [attr.required]="required"
                   [attr.aria-required]="required" [value]="inputFieldValue" (focus)="onInputFocus($event)"
                   (keydown)="onInputKeydown($event)" (click)="onInputClick($event)" (blur)="onInputBlur($event)"
                   [readonly]="readonlyInput" (input)="onUserInput($event)" [ngStyle]="inputStyle"
                   [class]="inputStyleClass" [placeholder]="placeholder||''" [disabled]="disabled"
                   [attr.tabindex]="tabindex"
                   [ngClass]="showIcon?'col-11 ui-inputtext ui-widget ui-state-default ui-corner-all':'col-12 ui-inputtext ui-widget ui-state-default ui-corner-all'"
                   autocomplete="off" [attr.aria-labelledby]="ariaLabelledBy">
          <button type="button" [icon]="icon"
                  pButton
                  *ngIf="showIcon"
                  (click)="onButtonClick($event,inputfield)"
                  class="col-1 ui-datepicker-trigger ui-calendar-button-custom"
                  [ngClass]="{'ui-state-disabled':disabled}"
                  style="min-width: 25px;"
                  [disabled]="disabled"
                  tabindex="0">
          </button>
        </div>
    </ng-template>
    <div #contentWrapper [class]="panelStyleClass" [ngStyle]="panelStyle"
         [ngClass]="{'ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all': true, 'ui-datepicker-inline':inline,'ui-shadow':!inline,
        'ui-state-disabled':disabled,'ui-datepicker-timeonly':timeOnly,'ui-datepicker-multiple-month': numberOfMonths > 1, 'ui-datepicker-monthpicker': (view === 'month'), 'ui-datepicker-touch-ui': touchUI}"
         [@overlayAnimation]="touchUI ? {value: 'visibleTouchUI', params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}}:
                                    {value: 'visible', params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}}"
         [@.disabled]="inline === true" (@overlayAnimation.start)="onOverlayAnimationStart($event)"
         (@overlayAnimation.done)="onOverlayAnimationDone($event)" *ngIf="inline || overlayVisible">
        <ng-content select="p-header"></ng-content>
        <ng-container *ngIf="!timeOnly">
            <div class="ui-datepicker-group ui-widget-content" *ngFor="let month of months; let i = index;">
                <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
                    <a class="ui-datepicker-prev ui-corner-all" (click)="onNextButtonClick($event)"
                       (keydown.enter)="onNextButtonClick($event)"
                       *ngIf="numberOfMonths === 1 ? true : (i === numberOfMonths -1)" tabindex="0"
                       (keydown)="onInputKeydown($event)">
                        <span class="ui-datepicker-prev-icon pi pi-chevron-left"></span>
                    </a>
                  <!-- <a class="ui-datepicker-prev ui-corner-all" (click)="onPrevButtonClick($event)" (keydown.enter)="onPrevButtonClick($event)" *ngIf="i === 0" tabindex="0" (keydown)="onInputKeydown($event)">
                      <span class="ui-datepicker-prev-icon pi pi-chevron-left"></span>
                  </a> -->
                    <div class="ui-datepicker-title">
                        <span class="ui-datepicker-month"
                              *ngIf="!monthNavigator && (view !== 'month')">{{locale.monthNames[month.month]}}</span>
                        <select tabindex="0" class="ui-datepicker-month"
                                *ngIf="monthNavigator && (view !== 'month') && numberOfMonths === 1"
                                (change)="onMonthDropdownChange($event.target.value)">
                            <option [value]="i" *ngFor="let monthName of locale.monthNames;let i = index"
                                    [selected]="i === month.month">{{monthName}}</option>
                        </select>
                        <select tabindex="0" class="ui-datepicker-year" *ngIf="yearNavigator && numberOfMonths === 1"
                                (change)="onYearDropdownChange($event.target.value)">
                            <option [value]="year" *ngFor="let year of yearOptions" [selected]="year === currentYear">
                                {{year}}</option>
                        </select>
                        <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{view === 'month' ? currentYear :
                          month.year}}</span>
                    </div>
                    <a class="ui-datepicker-next ui-corner-all" (click)="onPrevButtonClick($event)"
                       (keydown.enter)="onPrevButtonClick($event)" *ngIf="i === 0" tabindex="0"
                       (keydown)="onInputKeydown($event)">
                        <span class="ui-datepicker-next-icon pi pi-chevron-right"></span>
                    </a>
                  <!-- <a class="ui-datepicker-next ui-corner-all" (click)="onNextButtonClick($event)" (keydown.enter)="onNextButtonClick($event)" *ngIf="numberOfMonths === 1 ? true : (i === numberOfMonths -1)" tabindex="0" (keydown)="onInputKeydown($event)">
                      <span class="ui-datepicker-next-icon pi pi-chevron-right"></span>
                  </a> -->
                </div>
                <div class="ui-datepicker-calendar-container" *ngIf="view ==='date'">
                    <table class="ui-datepicker-calendar">
                        <thead>
                            <tr>
                                <th *ngIf="showWeek" class="ui-datepicker-weekheader">
                                    <span>{{locale['weekHeader']}}</span>
                                </th>
                                <th scope="col" *ngFor="let weekDay of weekDays;let begin = first; let end = last">
                                    <span>{{weekDay}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let week of month.dates; let j = index;">
                                <td *ngIf="showWeek" class="ui-datepicker-weeknumber ui-state-disabled">
                                    <span>
                                        {{month.weekNumbers[j]}}
                                    </span>
                                </td>
                                <td *ngFor="let date of week" [ngClass]="{'ui-datepicker-other-month': date.otherMonth,
                                    'ui-datepicker-current-day':isSelected(date),'ui-datepicker-today':date.today}">
                                    <ng-container *ngIf="date.otherMonth ? showOtherMonths : true">
                                        <a class="ui-state-default" *ngIf="date.selectable"
                                           [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today}"
                                           (click)="onDateSelect($event,date)" draggable="false"
                                           (keydown)="onDateCellKeydown($event,date,i)">
                                            <ng-container *ngIf="!dateTemplate">{{date.day}}</ng-container>
                                            <ng-container *ngTemplateOutlet="dateTemplate; context: {$implicit: date}">
                                            </ng-container>
                                        </a>
                                        <span class="ui-state-default ui-state-disabled"
                                              [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today}"
                                              *ngIf="!date.selectable">
                                            <ng-container *ngIf="!disabledDateTemplate">{{date.day}}</ng-container>
                                            <ng-container
                                              *ngTemplateOutlet="disabledDateTemplate; context: {$implicit: date}">
                                            </ng-container>
                                        </span>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui-monthpicker" *ngIf="view === 'month'">
                <a *ngFor="let m of monthPickerValues; let i = index" (click)="onMonthSelect($event, i)"
                   (keydown)="onMonthCellKeydown($event,i)" class="ui-monthpicker-month"
                   [ngClass]="{'ui-state-active': isMonthSelected(i), 'ui-state-disabled':!isSelectable(1, i, currentYear, false)}">
                    {{m}}
                </a>
            </div>
        </ng-container>
        <div class="ui-timepicker ui-widget-header ui-corner-all" *ngIf="showTime||timeOnly">
            <div class="ui-hour-picker">
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (keydown.enter)="incrementHour($event)"
                   (mousedown)="onTimePickerElementMouseDown($event, 0, 1)"
                   (mouseup)="onTimePickerElementMouseUp($event)" (mouseout)="onTimePickerElementMouseOut($event)">
                    <span class="pi pi-chevron-up"></span>
                </a>
                <span [ngStyle]="{'display': currentHour < 10 ? 'inline': 'none'}">0</span><span>{{currentHour}}</span>
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (keydown.enter)="decrementHour($event)"
                   (mousedown)="onTimePickerElementMouseDown($event, 0, -1)"
                   (mouseup)="onTimePickerElementMouseUp($event)" (mouseout)="onTimePickerElementMouseOut($event)">
                    <span class="pi pi-chevron-down"></span>
                </a>
            </div>
            <div class="ui-separator">
                <a>
                    <span class="pi pi-chevron-up"></span>
                </a>
                <span>{{timeSeparator}}</span>
                <a>
                    <span class="pi pi-chevron-down"></span>
                </a>
            </div>
            <div class="ui-minute-picker">
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (keydown.enter)="incrementMinute($event)"
                   (mousedown)="onTimePickerElementMouseDown($event, 1, 1)"
                   (mouseup)="onTimePickerElementMouseUp($event)" (mouseout)="onTimePickerElementMouseOut($event)">
                    <span class="pi pi-chevron-up"></span>
                </a>
                <span
                  [ngStyle]="{'display': currentMinute < 10 ? 'inline': 'none'}">0</span><span>{{currentMinute}}</span>
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (keydown.enter)="decrementMinute($event)"
                   (mousedown)="onTimePickerElementMouseDown($event, 1, -1)"
                   (mouseup)="onTimePickerElementMouseUp($event)" (mouseout)="onTimePickerElementMouseOut($event)">
                    <span class="pi pi-chevron-down"></span>
                </a>
            </div>
            <div class="ui-separator" *ngIf="showSeconds">
                <a>
                    <span class="pi pi-chevron-up"></span>
                </a>
                <span>{{timeSeparator}}</span>
                <a>
                    <span class="pi pi-chevron-down"></span>
                </a>
            </div>
            <div class="ui-second-picker" *ngIf="showSeconds">
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (keydown.enter)="incrementSecond($event)"
                   (mousedown)="onTimePickerElementMouseDown($event, 2, 1)"
                   (mouseup)="onTimePickerElementMouseUp($event)" (mouseout)="onTimePickerElementMouseOut($event)">
                    <span class="pi pi-chevron-up"></span>
                </a>
                <span
                  [ngStyle]="{'display': currentSecond < 10 ? 'inline': 'none'}">0</span><span>{{currentSecond}}</span>
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (keydown.enter)="decrementSecond($event)"
                   (mousedown)="onTimePickerElementMouseDown($event, 2, -1)"
                   (mouseup)="onTimePickerElementMouseUp($event)" (mouseout)="onTimePickerElementMouseOut($event)">
                    <span class="pi pi-chevron-down"></span>
                </a>
            </div>
            <div class="ui-ampm-picker" *ngIf="hourFormat=='12'">
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (click)="toggleAMPM($event)"
                   (keydown.enter)="toggleAMPM($event)">
                    <span class="pi pi-chevron-up"></span>
                </a>
                <span>{{pm ? 'PM' : 'AM'}}</span>
                <a tabindex="0" (keydown)="onContainerButtonKeydown($event)" (click)="toggleAMPM($event)"
                   (keydown.enter)="toggleAMPM($event)">
                    <span class="pi pi-chevron-down"></span>
                </a>
            </div>
        </div>
        <div class="ui-datepicker-buttonbar ui-widget-header" *ngIf="showButtonBar">
            <div class="ui-g">
                <div class="ui-g-6 float-left">
                    <button class="ui-datepicker-buttonbar-button" type="button" tabindex="0" [label]="_locale.today"
                            (keydown)="onContainerButtonKeydown($event)" (click)="onTodayButtonClick($event)" pButton
                            [ngClass]="[todayButtonStyleClass]"></button>
                </div>
                <div class="ui-g-6">
                    <button class="ui-datepicker-buttonbar-button" type="button" tabindex="0" [label]="_locale.clear"
                            (keydown)="onContainerButtonKeydown($event)" (click)="onClearButtonClick($event)" pButton
                            [ngClass]="[clearButtonStyleClass]"></button>
                </div>
            </div>
        </div>
        <ng-content select="p-footer"></ng-content>
    </div>
</span>
