
.float-left {
  text-align: left !important;
}

.ui-inputgroup {
  display: flex;
}

body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  width: 2.357em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body .ui-inputgroup .ui-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-datepicker-trigger.ui-button[_ngcontent-nlk-c116] {
  border: 0px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.ui-button[_ngcontent-nlk-c116] {
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

.ui-inputgroup .ui-button {
  margin-right: 0;
  border-radius: 0;
}

.ui-calendar .ui-calendar-button-custom {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 2em;
  border-left: 0 none;
  margin: 0 !important;
  color: #ffffff !important;
  background-color: #007ad9 !important;
  border: 1px solid #007ad9 !important;
  font-size: 14px !important;
  transition: background-color 0.2s, box-shadow 0.2s !important;
}

.ui-datepicker table td.ui-datepicker-today > a,
.ui-datepicker table td.ui-datepicker-today > span {
  background-color: #d0d0d0;
  color: #333333;
}

.ui-datepicker table td > a {
  cursor: pointer;
}

.ui-datepicker td:hover {
  background-color: #ccc9c9 !important;
}

.ui-datepicker table td > a,
.ui-datepicker table td > span {
  display: block;
  text-align: center;
  color: #333333;
  padding: 0.5em;
  transition: box-shadow 0.2s;
  border-radius: 3px;
}

.ui-datepicker td > span,
.ui-datepicker td > a {
  display: block;
  padding: .5em;
  text-decoration: none;
  border: 0 none;
  text-align: center;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.ui-datepicker {
  padding: .857em;
  min-width: 20em;
  background-color: #fff;
  color: #333;
  border: 1px solid #a6a6a6;
}

.p-button,
.ui-button.ui-state-default.ui-button-secondary,
.ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
  color: #333 !important;
  background-color: #f4f4f4 !important;
  border: 1px solid #f4f4f4 !important;
}

.ui-helper-clearfix {
  zoom: 1;
}

.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}

.ui-helper-clearfix {
  zoom: 1;
}

.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}

.ui-datepicker .ui-datepicker-prev {
  left: .125em;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: .5em;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
}

.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}

.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}

.pi {
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-chevron-left:before {
  content: "\e900";
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker select.ui-datepicker-month {
  margin-right: .25em;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: .125em 0;
  vertical-align: middle;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-next {
  right: .125em;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: .5em;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
}

.pi-chevron-right:before {
  content: "\e901";
}

.ui-helper-clearfix::after {
  clear: both;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-helper-clearfix::after {
  clear: both;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .5em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 0;
}

.ui-datepicker td > span,
.ui-datepicker td > a {
  display: block;
  padding: .5em;
  text-decoration: none;
  border: 0 none;
  text-align: center;
}

.ui-datepicker .ui-datepicker-buttonbar {
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  padding: .5em;
}

.ui-g {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ui-datepicker .ui-datepicker-buttonbar > .ui-g > div {
  padding: 0;
}

.ui-g-6 {
  width: 50%;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  float: left;
  box-sizing: border-box;
  padding: .5em;
}

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

.ui-button-text-only .ui-button-text {
  padding: .25em 1em;
}

.ui-datepicker .ui-datepicker-buttonbar > .ui-g > div:last-child {
  text-align: right;
}

.ui-datepicker .ui-datepicker-buttonbar > .ui-g > div {
  padding: 0;
}

.ui-g::after {
  clear: both;
  content: "";
  display: table;
  box-sizing: border-box;
}

.ui-helper-clearfix::after {
  clear: both;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-helper-clearfix::after {
  clear: both;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  content: "";
  display: table;
}

.ui-timepicker > div {
  display: inline-block;
  margin-left: .5em;
  min-width: 1.5em;
}

.ui-timepicker > div a {
  display: block;
  opacity: .7;
  filter: Alpha(Opacity=70);
  cursor: pointer;
}

.pi-chevron-up:before {
  content: "\e903";
}

.ui-timepicker > div a:last-child {
  margin-top: .3em;
}

.pi-chevron-down:before {
  content: "\e902";
}

.ui-timepicker > .ui-separator {
  margin-left: 0;
  min-width: .75em;
}

.ui-timepicker > div {
  display: inline-block;
  margin-left: .5em;
  min-width: 1.5em;
}

.ui-timepicker > .ui-separator a {
  visibility: hidden;
}

.pi-chevron-up:before {
  content: "\e903";
}

.pi-chevron-down:before {
  content: "\e902";
}

.ui-timepicker > .ui-minute-picker,
.ui-timepicker > .ui-second-picker {
  margin-left: 0;
}

.ui-inputgroup .ui-inputtext {
  padding-left: .5em;
}

.ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
  font-weight: normal;
}

.ui-calendar {
  position: relative;
  display: inline-block;
  direction: ltr !important;
  padding: 0px;
}

.ui-calendar.ui-calendar-w-btn .ui-inputtext {
  font-family: "Samim" !important;
  // padding-bottom: 7px;
  //padding-top: 8px;
  padding-left: 0px !important;
  padding-right: 10px !important;
  height: 100% !important;
  /* direction: ltr !important;
  text-align: right !important; */
}

.ui-datepicker-trigger.ui-button {
  border: 0px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.ui-datepicker-buttonbar-button {
  font-family: "Samim" !important;
  font-size: 10px;
  font-weight: bolder;
}

.ui-datepicker-buttonbar > div {
  direction: ltr;

}

[class^="col-"] {
  padding: 0 !important;
}

.ui-datepicker table td > a.ui-state-active {
  border-radius: 50% !important;
  background-color: #ec6800 !important;
}

.ui-datepicker table td.ui-datepicker-today > a,
td.ui-datepicker-today > span {
  border-radius: 50% !important;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
  border: none;
  font-family: "Samim" !important;
}

.ui-datepicker .ui-datepicker-group {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  direction: rtl;
  font-family: "Samim" !important;
  font-size: 12px;
}

.ui-calendar .ui-calendar-button {
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 2em;
  border-left: 0 none;
}

.ui-calendar .ui-calendar-button:enabled:hover,
.ui-calendar .ui-calendar-button:focus {
  border-left: 0 none;
}

.ui-calendar .ui-datepicker {
  min-width: 100%;
}

/* Fluid */
.ui-fluid .ui-calendar {
  width: 100%;
}

.ui-fluid .ui-calendar-button {
  width: 2em;
}

.ui-fluid .ui-datepicker-buttonbar button {
  width: auto;
}

/* .ui-fluid .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    width: calc(100% - 2em);
} */

/* Datepicker */
.ui-datepicker {
  width: auto;
  padding: .2em;
  position: absolute;
}

.ui-datepicker.ui-datepicker-inline {
  display: inline-block;
  position: static;
}

/* Header */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .5em 0;
  direction: rtl !important;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: .5em;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
  left: .125em;
}

.ui-datepicker .ui-datepicker-next {
  right: .125em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: .125em 0;
  vertical-align: middle;
}

.ui-datepicker select.ui-datepicker-month {
  margin-right: .25em;
}

.ui-datepicker span.ui-datepicker-year {
  margin-left: .25em;
}

/* Multiple Month DatePicker */
.ui-datepicker-multiple-month .ui-datepicker-group {
  display: table-cell;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 1px;
}

/* DatePicker Table */
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .5em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 0;
}

.ui-datepicker td > span,
.ui-datepicker td > a {
  display: block;
  padding: .5em;
  text-decoration: none;
  border: 0 none;
  text-align: center;
}

.ui-datepicker .ui-datepicker-buttonbar {
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  padding: .5em;
  flex-direction: column;
}

.ui-datepicker .ui-datepicker-buttonbar > .ui-g > div:last-child {
  text-align: right;
}

.ui-datepicker .ui-datepicker-buttonbar > .ui-g > div {
  padding: 0;
}

.ui-calendar.ui-calendar-w-btn input {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Month Picker */
.ui-monthpicker {
  margin: 0.857em 0 0 0;
}

.ui-monthpicker .ui-monthpicker-month {
  width: 33.3%;
  display: inline-block;
  text-align: center;
  padding: .5em;
  cursor: pointer;
}

.ui-monthpicker-month.ui-state-disabled {
  pointer-events: none;
}

.ui-datepicker-monthpicker select.ui-datepicker-year {
  width: auto;
}

/* Time Picker */
.ui-timepicker {
  text-align: center;
  padding: .5em 0;
  direction: ltr;
}

.ui-timepicker > div {
  display: inline-block;
  margin-left: .5em;
  min-width: 1.5em;
}

.ui-timepicker > .ui-minute-picker,
.ui-timepicker > .ui-second-picker {
  margin-left: 0;
}

.ui-timepicker > .ui-separator {
  margin-left: 0px;
  min-width: .75em;
}

.ui-timepicker > .ui-separator a {
  visibility: hidden;
}

.ui-timepicker > div a {
  display: block;
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  cursor: pointer;
}

.ui-timepicker > div a:last-child {
  margin-top: .3em;
}

.ui-timepicker > div a:hover {
  display: block;
  opacity: 1;
  filter: Alpha(Opacity=100);
}

input[type=text]::-ms-clear {
  display: none;
}

/* Touch UI */
.ui-datepicker-touch-ui,
.ui-calendar .ui-datepicker-touch-ui {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 80vw;
}

.ui-datepicker-touch-ui.ui-datepicker th {
  padding: 2em 0;
}

.ui-datepicker-touch-ui.ui-datepicker td {
  padding: 0;
}

.ui-datepicker-touch-ui.ui-datepicker td > span,
.ui-datepicker-touch-ui.ui-datepicker td > a {
  padding: 2em 0;
}

.ui-datepicker-touch-ui .ui-timepicker {
  padding: 1em 0;
}

.ui-datepicker-touch-ui .ui-timepicker > div a {
  font-size: 2em;
}

.ui-datepicker-mask {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 40em) {
  .ui-datepicker-multiple-month {
    width: 17em;
    overflow: auto;
  }

  .ui-datepicker-touch-ui.ui-datepicker th {
    padding: 1em 0;
  }

  .ui-datepicker-touch-ui.ui-datepicker td span,
  .ui-datepicker-touch-ui.ui-datepicker td a {
    padding: 1em 0;
  }
}
