<div class="container">
  <p-card header="Chips"
          subheader="Chips is used to enter multiple values on an input field."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'disableConfigChangeEffect',
      'max',
      'disabled',
      'placeholder',
      'allowDuplicate',
      'addOnTab',
      'addOnBlur',
      'showClear',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(addon)]="addon"
      [(max)]="max"
      [(disabled)]="disabled"
      [(placeholder)]="placeholder"
      [(allowDuplicate)]="allowDuplicate"
      [(addOnTab)]="addOnTab"
      [(addOnBlur)]="addOnBlur"
      [(showClear)]="showClear"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-chips
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [label]="label"
        [filled]="filled"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [icon]="icon"
        [labelPos]="labelPos"
        [iconPos]="iconPos"
        [inputSize]="inputSize"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [max]="max"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [allowDuplicate]="allowDuplicate"
        [addOnTab]="addOnTab"
        [addOnBlur]="addOnBlur"
        [showClear]="showClear"
      >
      </ng-chips>
    </form>
  </p-panel>
</div>
