@use "mixins";

.p-toast {
  @include mixins.media-breakpoint-down(md) {
    width: 90%;
    max-width: 90%;
  }
}

.dialog-form-wrapper {
  form {
    padding-top: 1rem;

    > *:not(:last-child) {
      margin-bottom: 1.75rem;
    }
  }

  .footer {
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin: 0;
    }
  }
}

.p-dialog {
  &.dialog-header-less {
    .p-dialog-header {
      display: none;
    }
  }
}
