// this file should be moved to 'powell' directory when it become a library
@import "leaflet/dist/leaflet.css";
@import "suneditor/dist/css/suneditor.min.css";

@mixin radius-all($value) {
  @include radius-start($value);
  @include radius-end($value);
}

@mixin radius-start($value) {
  border-start-start-radius: $value;
  border-end-start-radius: $value;
}

@mixin radius-end($value) {
  border-start-end-radius: $value;
  border-end-end-radius: $value;
}

@mixin field-padding($icon-start: false, $icon-end: false, $has-clear: false, $extra-end-padding: 0px, $extra-start-padding: 0px) {
  $start-padding: var(--p-form-field-padding-x);
  $end-padding: var(--p-form-field-padding-x);

  @if $icon-start {
    $start-padding: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
  }

  @if $icon-end {
    $end-padding: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
  }

  @if $has-clear {
    @if $icon-end {
      $end-padding: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + var(--p-icon-size));
    } @else {
      $end-padding: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
    }
  }

  padding-inline-start: calc($start-padding + $extra-start-padding);
  padding-inline-end: calc($end-padding + $extra-end-padding);
}

pw-auto-complete {
  .auto-complete-wrapper {
    &.icon-start {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-inputtext {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-inputtext {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-inputtext {
        @include radius-all(0)
      }
    }

    &.clearable {
      .p-autocomplete-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        right: auto;
        inset-inline-end: var(--p-form-field-padding-x);
      }

      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-autocomplete-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }

      &.icon-both {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-autocomplete-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }
    }

    &.has-dropdown {
      .p-autocomplete-clear-icon {
        inset-inline-end: calc(var(--p-form-field-padding-x) + 2.5rem);
      }

      &.icon-end,
      &.icon-both {
        .p-iconfield .p-inputicon:last-of-type {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2.5rem);
        }

        &.clearable {
          .p-autocomplete-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2.5rem);
          }
        }
      }

      &.addon-end,
      &.addon-both {
        .p-autocomplete-dropdown {
          @include radius-end(0)
        }
      }
    }
  }
}

pw-button {
  display: inline-block;

  &.full {
    &, .p-button {
      width: 100%;
    }
  }

  .p-button {
    direction: ltr;

    &.p-button-icon-only {
      padding: 0.75rem 0;

      &.p-button-sm {
        width: 2rem;
        height: 2rem;
      }

      &.p-button-md {
        width: 3rem;
        height: 3rem;
      }

      &.p-button-lg {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

pw-cascade-select {
  .cascade-select-wrapper {
    &.icon-start {
      .p-cascadeselect-label {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-cascadeselect-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-cascadeselect-label {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-cascadeselect {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-cascadeselect {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-cascadeselect {
        @include radius-all(0)
      }
    }

    &.icon-end,
    &.icon-both {
      .p-iconfield .p-inputicon:last-of-type {
        inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
      }
    }

    &.clearable {
      .p-cascadeselect-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
      }

      .p-cascadeselect-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-cascadeselect-label {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-cascadeselect-label {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-cascadeselect-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
        }
      }

      &.icon-both {
        .p-cascadeselect-label {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-cascadeselect-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
        }
      }
    }
  }
}

pw-checkbox {
  .checkbox-inner-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    p-progressSpinner {
      &, .p-progressspinner {
        width: 25px;
        height: 25px;
      }
    }
  }
}

pw-checkbox-group {
  .checkbox-group-wrapper {
    .form-field-wrapper .field-wrapper {
      align-items: flex-start;
    }

    .field {
      display: inline-flex;
      gap: 0.25rem;
    }

    .option-item {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;

      label {
        margin-bottom: 0;
      }
    }

    &.layout-horizontal {
      .option-item {
        gap: 0.5rem;
      }

      .field {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    &.layout-vertical {
      .field {
        flex-direction: column;
      }
    }
  }
}

pw-color-picker {
  .color-picker-wrapper {
    &.inline {
      .form-field-wrapper .field-wrapper {
        align-items: flex-start;
      }
    }
  }
}

pw-datepicker {
  .datepicker-wrapper {
    &.icon-start {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-inputtext {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-inputtext {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-inputtext {
        @include radius-all(0)
      }
    }

    &.icon-end,
    &.icon-both {
      .p-iconfield .p-inputicon:last-of-type {
        inset-inline-end: calc(var(--p-form-field-padding-x));
      }
    }

    &.clearable {
      .p-datepicker-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
      }

      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-datepicker-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }

      &.icon-both {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-datepicker-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }
    }

    &.has-icon {
      &.icon-end,
      &.icon-both {
        .p-iconfield .p-inputicon:last-of-type {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2.5rem);
        }

        &.clearable {
          .p-datepicker-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2.5rem);
          }
        }
      }

      &.addon-end,
      &.addon-both {
        .p-datepicker-icon {
          @include radius-end(0)
        }
      }
    }
  }
}

pw-dual-label-switch {
  .dual-label-switch-wrapper {
    display: flex;
    position: relative;

    .dual-label-switch-inner-wrapper {
      direction: ltr;
      display: inline-flex;
      align-items: flex-end;
      gap: 0.75rem;

      .dual-label-switch-inner {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      p-progressSpinner {
        &, .p-progressspinner {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

pw-empty {
  .empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .empty-icon {
      i {
        font-size: 3.5rem;
      }

      img {
        max-width: 120px;
      }
    }

    .empty-title {
      margin-top: 1.5rem;
      font-size: 0.875em;

      &:not(.validation) {
        color: var(--p-text-muted-color);
      }
    }
  }
}

pw-file-picker {
  .p-fileupload-file-actions {
    margin-left: 0;
    margin-inline-start: auto;
  }
}

pw-file-picker2 {
  .file-picker-wrapper {
    .field {
      &.ng-invalid.ng-dirty {
        .file-picker-single-wrapper .preview,
        .file-picker-multiple-wrapper .image-uploader {
          border-color: var(--p-inputtext-invalid-border-color);
        }
      }

      input[type=file] {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .image-preview {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .pi-file, .pi-paperclip {
        font-size: calc(1.325rem + 0.9vw);
        vertical-align: middle;
        color: var(--p-text-muted-color);
      }
    }

    .file-picker-single-wrapper {
      position: relative;

      .preview {
        text-align: center;
        border: 1px solid var(--p-text-muted-color);
        border-bottom: 0;
        padding: 1rem;
        border-top-left-radius: var(--p-form-field-border-radius);
        border-top-right-radius: var(--p-form-field-border-radius);

        .image-preview {
          padding: clamp(50%, 100%, 50%) 0
        }

        + pw-button {
          button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }

          + pw-button {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 200;
          }
        }
      }
    }

    .file-picker-multiple-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .picker {
        width: 120px;
        height: 120px;
        border: 1px dashed var(--p-form-field-border-color);
        text-align: center;
        margin: 0 3px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--p-form-field-border-radius);
      }

      .preview {
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        border: 2px solid var(--p-form-field-border-color);
        border-radius: var(--p-form-field-border-radius);
        outline: none;
        transition: all 0.4s;
        margin-bottom: 0.5rem;

        .file-preview {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--p-form-field-border-color);
        }

        .image-preview {
          height: 116px;
          background-color: var(--p-text-muted-color);
        }

        pw-button {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 200;
          opacity: 0;
          transition: all .4s;
        }

        .file-name {
          font-size: 0.875em;
          padding: 0.25rem;
          background-color: rgba(33, 37, 41, 1);
          color: var(--p-text-muted-color);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:hover pw-button {
          opacity: 1;
        }
      }
    }
  }
}

pw-form-field {
  .form-field-wrapper {
    &, .p-inputtext {
      width: auto;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      user-select: none;

      label {
        opacity: 0.6;
      }
    }

    p-iconfield {
      display: inline-block;
    }

    &.fluid {
      &, .p-inputtext, & > * {
        width: 100%;
      }

      p-iconfield {
        display: block;
      }
    }

    label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .field-footer {
      display: flex;
      flex-direction: column;

      .message {
        color: var(--p-text-muted-color);
        margin-top: 0.5rem;

        &.validation {
          color: var(--p-red-400);
        }
      }
    }

    .field {
      flex: 1;
    }

    p-inputicon {
      z-index: 50;
    }

    .field-wrapper {
      display: inline-flex;
    }

    &.label-side {
      .field-wrapper {
        align-items: center;
        gap: 0.75rem;

        &.revers {
          flex-direction: row-reverse;
        }
      }
    }

    &.label-top {
      .field-wrapper {
        gap: 0.25rem;
        flex-direction: column;
      }
    }

    &.is-invalid {
      .field-wrapper label {
        color: var(--p-red-400);
      }
    }
  }
}

pw-image {
  .pinch-zoom-content {
    overflow: visible !important;
  }
}

pw-infinite-scroll {
  .loading {
    text-align: center;
  }
}

pw-input-mask {
  .input-mask-wrapper {
    &.icon-start {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-inputtext {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-inputtext {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-inputtext {
        @include radius-all(0)
      }
    }
  }
}

pw-input-number {
  .input-number-wrapper {
    &.icon-start {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-inputtext {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-inputtext {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-inputtext {
        @include radius-all(0)
      }
    }

    &.clearable {
      .p-inputnumber-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        right: auto;
        inset-inline-end: var(--p-form-field-padding-x);
      }

      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-inputnumber-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }

      &.icon-both {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-inputnumber-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }
    }

    &.button-stacked {
      &.icon-start {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
        }
      }

      &.icon-end {
        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: false, $extra-end-padding: 2rem);
        }
      }

      &.icon-both {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: false, $extra-end-padding: 2rem);
        }
      }

      &.clearable {
        .p-inputnumber-clear-icon {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
        }

        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: false, $has-clear: true, $extra-end-padding: 2rem);
        }

        &.icon-start {
          .p-inputtext {
            @include field-padding($icon-start: true, $icon-end: false, $has-clear: true, $extra-end-padding: 2rem);
          }
        }

        &.icon-end {
          .p-inputnumber-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
          }

          .p-inputtext {
            @include field-padding($icon-start: false, $icon-end: true, $has-clear: true, $extra-end-padding: 2rem);
          }
        }

        &.icon-both {
          .p-inputnumber-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
          }

          .p-inputtext {
            @include field-padding($icon-start: true, $icon-end: true, $has-clear: true, $extra-end-padding: 2rem);
          }
        }
      }

      &.icon-end,
      &.icon-both {
        .p-iconfield .p-inputicon:last-of-type {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
        }
      }
    }

    &.button-horizontal {
      .label-ifta {
        label {
          padding-inline-start: 2.5rem;
        }
      }

      &.icon-start,
      &.icon-both {
        .p-iconfield .p-inputicon:first-of-type {
          inset-inline-start: calc(var(--p-form-field-padding-x) + 2.5rem);
        }
      }

      &.clearable {
        .p-inputnumber-clear-icon {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
        }

        &.icon-end {
          .p-inputnumber-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
          }
        }

        &.icon-both {
          .p-inputnumber-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
          }
        }
      }

      &.icon-end,
      &.icon-both {
        .p-iconfield .p-inputicon:last-of-type {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2.5rem);
        }
      }
    }

    &.button-vertical {
      .p-inputtext {
        padding-inline-start: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size)) !important;
        padding-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size)) !important;
      }

      .p-iconfield .p-inputicon {
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
      }
    }
  }
}

pw-input-password {
  .input-password-wrapper {
    &.icon-start {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-inputtext {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-inputtext {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-inputtext {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-inputtext {
        @include radius-all(0)
      }
    }

    &.clearable {
      .p-password-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        right: auto;
        inset-inline-end: var(--p-form-field-padding-x);
        padding: 0;
      }

      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-password-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }

      &.icon-both {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-password-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }
    }

    &.has-toggler {
      &.icon-end,
      &.icon-both {
        .p-iconfield .p-inputicon:last-of-type {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
        }
      }

      &.clearable {
        .p-password-clear-icon {
          inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
        }

        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        &.icon-start {
          .p-inputtext {
            @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
          }
        }

        &.icon-end {
          .p-password-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
          }

          .p-inputtext {
            @include field-padding($icon-start: false, $icon-end: true, $has-clear: true, $extra-end-padding: 2rem);
          }
        }

        &.icon-both {
          .p-password-clear-icon {
            inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
          }

          .p-inputtext {
            @include field-padding($icon-start: true, $icon-end: true, $has-clear: true, $extra-end-padding: 2rem);
          }
        }
      }
    }
  }
}

pw-input-text {
  .input-text-wrapper {
    .field {
      position: relative;
    }

    input:not([type="file"]),
    input:not([type="image"]),
    input:not([type="checkbox"]),
    input:not([type="radio"]),
    input:not([type="password"]) {
      unicode-bidi: plaintext;
    }

    .clear-icon {
      position: absolute;
      top: 50%;
      margin: 0;
      transform: translateY(-50%);
      color: var(--p-form-field-icon-color);
      inset-inline-end: var(--p-form-field-padding-x);
      cursor: pointer;
      z-index: 50;
    }

    &.clearable {
      .p-inputtext {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-inputtext {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }

      &.icon-both {
        .p-inputtext {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
        }
      }
    }
  }
}

pw-input-textarea {
  .input-textarea-wrapper {
    textarea {
      unicode-bidi: plaintext;
    }

    &.icon-start {
      .p-textarea {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-textarea {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-textarea {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }
  }
}

pw-iran-map {
  .iran-map-wrapper {
    .form-field-wrapper {
      &.disabled {
        .map {
          opacity: 0.6;
        }
      }

      .field-wrapper {
        align-items: flex-start;

        .field {
          .map {
            display: inline-flex;
            width: 100%;
            transition: all 0.3s;
            position: relative;

            .title {
              display: none;
              position: absolute;
              background-color: var(--p-surface-0);
              color: var(--p-text-muted-color);
              text-align: center;
              border-radius: 5px;
              padding: 5px;
              flex-direction: column;
            }

            .border path,
            .island path {
              fill: var(--p-surface-400);
            }

            .sea path,
            .lake path {
              fill: #78bbfc
            }

            .province path {
              fill: #C3E0E6;

              &:not(.active):hover {
                fill: #93c6d2;
                cursor: pointer
              }

              &.active {
                fill: #87c0cd;
              }
            }

            path.disabled {
              cursor: default;
              pointer-events: none;
              fill: #6c757d;
            }
          }
        }
      }
    }
  }
}

pw-listbox {
  .listbox-wrapper {
    .form-field-wrapper .field-wrapper {
      align-items: flex-start;
    }
  }
}

pw-suspense {
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border-radius: var(--p-message-border-radius);
    outline-width: var(--p-message-border-width);
    outline-style: solid;
    outline-color: var(--p-message-error-border-color);
    background: var(--p-message-error-background);
    color: var(--p-message-error-color);
    text-align: center;

    .icon {
      font-size: 32px;
    }

    .message {
      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

pw-map {
  .map-wrapper {
    .form-field-wrapper .field-wrapper {
      align-items: flex-start;
    }

    .field {
      > div {
        display: block;
        flex-grow: 1;
        position: relative;

        .clear-map-btn {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          z-index: 20000;
        }
      }
    }
  }
}

pw-multi-select {
  .multi-select-wrapper {
    &.icon-start {
      .p-multiselect-label {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-multiselect-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-multiselect-label {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-multiselect {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-multiselect {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-multiselect {
        @include radius-all(0)
      }
    }

    &.icon-end,
    &.icon-both {
      .p-iconfield .p-inputicon:last-of-type {
        inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
      }
    }

    &.clearable {
      &.icon-start {
        .p-multiselect-label {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
        }
      }

      &.icon-end {
        .p-multiselect-label {
          @include field-padding($icon-start: false, $icon-end: false, $has-clear: false);
        }

        .p-multiselect-clear-icon {
          margin-inline-end: 2rem;
        }
      }

      &.icon-both {
        .p-multiselect-label {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
        }

        .p-multiselect-clear-icon {
          margin-inline-end: 2rem;
        }
      }
    }
  }
}

pw-pinch-zoom {
  position: relative;
  overflow: hidden;
  display: block;

  .pinch-zoom-content {
    height: inherit;
  }

  .pz-dragging {
    cursor: all-scroll;
  }

  .pz-zoom-button {
    position: absolute;
    z-index: 1000;
    color: #ffffff;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3R5bGU9IiI+PHJlY3QgaWQ9ImJhY2tncm91bmRyZWN0IiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4PSIwIiB5PSIwIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiLz48ZyBjbGFzcz0iY3VycmVudExheWVyIiBzdHlsZT0iIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6IiBpZD0ic3ZnXzEiIGNsYXNzPSIiIGZpbGw9IiNmZmZmZmYiIGZpbGwtb3BhY2l0eT0iMSIvPjxwYXRoIGQ9Ik0xMiAxMGgtMnYySDl2LTJIN1Y5aDJWN2gxdjJoMnYxeiIgaWQ9InN2Z18zIiBjbGFzcz0iIiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjEiLz48L2c+PC9zdmc+"), url("data:image/svg+xml; base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHJlY3QgaWQ9ImJhY2tncm91bmRyZWN0IiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4PSIwIiB5PSIwIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiLz48ZyBjbGFzcz0iY3VycmVudExheWVyIiBzdHlsZT0iIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6TTcgOWg1djFIN3oiIGlkPSJzdmdfMiIgY2xhc3M9IiIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1vcGFjaXR5PSIxIi8+PC9nPjwvc3ZnPg==");
    background-color: rgba(0, 0, 0, .8);
    background-position: center, -1000px;
    background-repeat: no-repeat, no-repeat;
    background-size: 40px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .1s;
    user-select: none;
  }

  .pz-zoom-button-out {
    background-position: -1000px, center;
  }

  .pz-zoom-button:hover {
    opacity: 0.7;
  }

  .pz-zoom-button.pz-zoom-control-position-right {
    right: 16px;
    top: 50%;
    margin-top: -28px;
  }

  .pz-zoom-button.pz-zoom-control-position-right-bottom {
    right: 16px;
    bottom: 32px;
  }

  .pz-zoom-button.pz-zoom-control-position-bottom {
    bottom: 16px;
    left: 50%;
    margin-left: -28px;
  }

  .pz-zoom-control {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    overflow: hidden;
  }

  .pz-zoom-control.pz-zoom-control-position-right {
    right: 16px;
    top: 50%;
    margin-top: -48px;
  }

  .pz-zoom-control.pz-zoom-control-position-right-bottom {
    right: 16px;
    bottom: 32px;
  }

  .pz-zoom-control.pz-zoom-control-position-bottom {
    bottom: 16px;
    left: 50%;
    margin-left: -48px;
  }

  .pz-zoom-in,
  .pz-zoom-out {
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    cursor: pointer;
  }

  .pz-zoom-in:hover,
  .pz-zoom-out:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .pz-zoom-control-position-bottom .pz-zoom-in,
  .pz-zoom-control-position-bottom .pz-zoom-out {
    float: right;
  }

  .pz-disabled {
    opacity: 0.5;
    cursor: default;
  }

  .pz-disabled:hover {
    background-color: rgba(255, 255, 255, 0);
  }

  .pz-zoom-in {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3R5bGU9IiI+PHJlY3QgaWQ9ImJhY2tncm91bmRyZWN0IiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4PSIwIiB5PSIwIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiLz48ZyBjbGFzcz0iY3VycmVudExheWVyIiBzdHlsZT0iIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZD0iTTE5IDEzaC02djZoLTJ2LTZINXYtMmg2VjVoMnY2aDZ2MnoiIGlkPSJzdmdfMSIgY2xhc3M9IiIgc3Ryb2tlPSJub25lIiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjEiLz48cGF0aCBkPSJNLTE1LjgzNjczNDQyMDQ2MTY1Myw0NC41MzU0MDkzMDY3MTAxOCBoNTguMjA0MDgwODI3NTkzMDkgdi02LjU3NjIyNjcyMzM2OTIyMTUgSC0xNS44MzY3MzQ0MjA0NjE2NTMgeiIgZmlsbD0ibm9uZSIgaWQ9InN2Z18yIiBjbGFzcz0iIiBzdHJva2U9Im5vbmUiLz48L2c+PC9zdmc+");
  }

  .pz-zoom-out {
    background-image: url("data:image/svg+xml; base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHJlY3QgaWQ9ImJhY2tncm91bmRyZWN0IiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4PSIwIiB5PSIwIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiLz48ZyBjbGFzcz0iY3VycmVudExheWVyIiBzdHlsZT0iIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZD0iTTE5IDEzSDV2LTJoMTR2MnoiIGlkPSJzdmdfMSIgY2xhc3M9IiIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1vcGFjaXR5PSIxIi8+PC9nPjwvc3ZnPg==");
  }
}

pw-radio {
  .radio-wrapper {
    .form-field-wrapper .field-wrapper {
      align-items: flex-start;
    }

    .field {
      display: inline-flex;
      gap: 0.25rem;
    }

    .option-item {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;

      label {
        margin-bottom: 0;
      }
    }

    &.layout-horizontal {
      .option-item {
        gap: 0.5rem;
      }

      .field {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    &.layout-vertical {
      .field {
        flex-direction: column;
      }
    }
  }
}

pw-select {
  .select-wrapper {
    &.icon-start {
      .p-select-label {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-select-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-select-label {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-select {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-select {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-select {
        @include radius-all(0)
      }
    }

    &.icon-end,
    &.icon-both {
      .p-iconfield .p-inputicon:last-of-type {
        inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
      }
    }

    &.clearable {
      .p-select-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
      }

      .p-select-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-select-label {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-select-label {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-select-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
        }
      }

      &.icon-both {
        .p-select-label {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-select-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
        }
      }
    }
  }
}

pw-table {
  .table-wrapper {
    .caption {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5 {
        margin-bottom: 0;
      }
    }

    .p-datatable {
      .p-datatable-thead > tr > th {
        white-space: nowrap;

        &.row-filter-wrapper {
          min-width: 200px;
        }
      }

      .p-datatable-tbody > tr > td {
        &.same-column-actions-wrapper div {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          gap: 0.5rem;
        }
      }

      .action-wrapper, .action-header {
        text-align: center;
      }
    }

    &:dir(rtl) {
      .p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) {
        .p-datatable-thead > tr {
          > th {
            border-width: 1px 1px 1px 0;

            &:last-child {
              border-width: 1px;
            }
          }
        }

        .p-datatable-tbody > tr {
          > td {
            border-width: 0 1px 1px 0;

            &:last-child {
              border-width: 0 1px 1px 1px;
            }
          }
        }
      }
    }
  }
}

pw-toggle-switch {
  .toggle-switch-wrapper {
    p-toggleSwitch {
      display: flex;
    }

    .toggle-switch-inner-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      p-progressSpinner {
        &, .p-progressspinner {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

pw-tree-select {
  .tree-select-wrapper {
    &.icon-start {
      .p-treeselect-label {
        @include field-padding($icon-start: true, $icon-end: false, $has-clear: false);
      }
    }

    &.icon-end {
      .p-treeselect-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }
    }

    &.icon-both {
      .p-treeselect-label {
        @include field-padding($icon-start: true, $icon-end: true, $has-clear: false);
      }
    }

    &.addon-start {
      .p-treeselect {
        @include radius-start(0)
      }
    }

    &.addon-end {
      .p-treeselect {
        @include radius-end(0)
      }
    }

    &.addon-both {
      .p-treeselect {
        @include radius-all(0)
      }
    }

    &.icon-end,
    &.icon-both {
      .p-iconfield .p-inputicon:last-of-type {
        inset-inline-end: calc(var(--p-form-field-padding-x) + 2rem);
      }
    }

    &.clearable {
      .p-treeselect-clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
      }

      .p-treeselect-label {
        @include field-padding($icon-start: false, $icon-end: true, $has-clear: false);
      }

      &.icon-start {
        .p-treeselect-label {
          @include field-padding($icon-start: true, $icon-end: false, $has-clear: true);
        }
      }

      &.icon-end {
        .p-treeselect-label {
          @include field-padding($icon-start: false, $icon-end: true, $has-clear: true);
        }

        .p-treeselect-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
        }
      }

      &.icon-both {
        .p-treeselect-label {
          @include field-padding($icon-start: true, $icon-end: true, $has-clear: true);
        }

        .p-treeselect-clear-icon {
          inset-inline-end: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size) + 2rem);
        }
      }
    }
  }
}

pw-dialog-form {
  .dialog-form-wrapper {
    form {
      > *:not(:last-child) {
        display: block;
        margin-bottom: 0.75rem;
      }
    }

    .footer {
      gap: 0.75rem;
      display: flex;
      align-items: center;

      button {
        margin: 0;
      }
    }
  }
}

.p-toast {
  @media (width < 768px) {
    width: 90%;
    max-width: 90%;
  }
}

.header-less {
  .p-dialog-header {
    display: none;
  }

  .p-dialog-content {
    padding-top: var(--p-overlay-modal-padding);
  }
}

.toast-wrapper,
.confirm-popup-wrapper,
.confirm-dialog-wrapper,
.dialog-wrapper,
.dialog-form-wrapper {
  &.is-rtl {
    direction: rtl;
  }

  &.is-ltr {
    direction: ltr;
  }
}

.p-floatlabel,
.p-iftalabel {
  display: inline-block;

  label {
    z-index: 500;
  }
}

p-inputgroup.p-inputgroup :is(.p-floatlabel, .p-iftalabel, .p-inputwrapper) {
  width: auto;
}
