@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";
@import "./overlays";
@import "./animate";

body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  font-family: IRANSans;
  background-color: var(--surface-a);
  color: var(--text-color);

  .p-component,
  .p-inputtext {
    font-family: IRANSans;

    [class|="p-"]:not([class*="pi"]):not([class*="fa"]):not([class*="ql"]) {
      font-family: inherit;
    }
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #949494;

    &:hover {
      background-color: rgb(114, 114, 114);
    }
  }
}

.ng-rtl {
  direction: rtl;
}

.ng-ltr {
  direction: ltr;
}
