@use "mixins";
@use "node_modules/leaflet/dist/leaflet.css";

:root {
  --app-font-vazirmatn: "Vazirmatn";
  --app-font-roboto: "Roboto";
  --app-font-family: var(--app-font-roboto), var(--app-font-vazirmatn), sans-serif;
}

html,
body {
  line-height: normal;
  height: 100%;

  &,
  .p-component,
  .p-inputtext {
    font-family: var(--app-font-family);
  }

  @include mixins.scrollbar($thickness: 10px, $radius: 10px, $track-color: transparent, $thumb-color: #949494);
}
