@use "mixins";
@use "node_modules/leaflet/dist/leaflet.css";

:root {
  --app-font-vazirmatn: "Vazirmatn";
  --app-font-roboto: "Roboto";
  --app-font-family: var(--app-font-roboto), var(--app-font-vazirmatn), sans-serif;
}

html,
body {
  line-height: normal;
  height: 100%;

  &,
  .p-component,
  .p-inputtext {
    font-family: var(--app-font-family);
  }

  @include mixins.scrollbar($thickness: 10px, $radius: 10px, $track-color: transparent, $thumb-color: #949494);
}

.fade-enter {
  animation: fade-enter 0.5s ease-out;
}

.fade-leave {
  animation: fade-leave 0.5s ease-in;
}

.slide-enter {
  animation: slide-enter 0.5s ease-out;
}

.slide-leave {
  animation: slide-leave 0.5s ease-in;
}

@keyframes fade-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-enter {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-leave {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
