@use "mixins";

@layer reset {
  html,
  body {
    line-height: normal;
    height: 100%;

    &,
    .p-component,
    .p-inputtext {
      font-family: var(--font-family), sans-serif;
    }

    @include mixins.scrollbar($thickness: 10px, $radius: 10px, $track-color: transparent, $thumb-color: #949494);
  }
}
