<div class="container">
  <p-card header="InputNumber"
          subheader="InputNumber is an input component to provide numerical input."></p-card>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'label',
      'filled',
      'labelWidth',
      'hint',
      'rtl',
      'showRequiredStar',
      'icon',
      'labelPos',
      'iconPos',
      'addon',
      'selectiveSize',
      'disableConfigChangeEffect',
      'enableFormat',
      'showButtons',
      'buttonLayout',
      'numberMode',
      'prefix',
      'suffix',
      'currency',
      'currencyDisplay',
      'useGrouping',
      'min',
      'max',
      'step',
      'allowEmpty',
      'placeholder',
      'numericSize',
      'maxlength',
      'disabled',
      'readonly',
      'showClear',
      ]"
      [(label)]="label"
      [(filled)]="filled"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(showRequiredStar)]="showRequiredStar"
      [(icon)]="icon"
      [(labelPos)]="labelPos"
      [(iconPos)]="iconPos"
      [(selectiveSize)]="inputSize"
      [(disableConfigChangeEffect)]="disableConfigChangeEffect"
      [(addon)]="addon"
      [(enableFormat)]="format"
      [(showButtons)]="showButtons"
      [(buttonLayout)]="buttonLayout"
      [(numberMode)]="mode"
      [(prefix)]="prefix"
      [(suffix)]="suffix"
      [(currency)]="currency"
      [(currencyDisplay)]="currencyDisplay"
      [(useGrouping)]="useGrouping"
      [(min)]="min"
      [(max)]="max"
      [(step)]="step"
      [(allowEmpty)]="allowEmpty"
      [(placeholder)]="placeholder"
      [(numericSize)]="size"
      [(maxlength)]="maxlength"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
      [(showClear)]="showClear"
    ></ng-preview-options>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <form [formGroup]="form">
      <ng-input-number
        formControlName="c1"
        [addon]="addon"
        [validation]="{ required: 'error' }"
        [label]="label"
        [filled]="filled"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [showRequiredStar]="showRequiredStar"
        [icon]="icon"
        [labelPos]="labelPos"
        [iconPos]="iconPos"
        [inputSize]="inputSize"
        [disableConfigChangeEffect]="disableConfigChangeEffect"
        [format]="format"
        [showButtons]="showButtons"
        [buttonLayout]="buttonLayout"
        [mode]="mode"
        [prefix]="prefix"
        [suffix]="suffix"
        [currency]="currency"
        [currencyDisplay]="currencyDisplay"
        [useGrouping]="useGrouping"
        [min]="min"
        [max]="max"
        [step]="step"
        [allowEmpty]="allowEmpty"
        [placeholder]="placeholder"
        [size]="size"
        [maxlength]="maxlength"
        [disabled]="disabled"
        [readonly]="readonly"
        [showClear]="showClear"
      ></ng-input-number>
    </form>
  </p-panel>
</div>
