<p-sidebar
  position="bottom"
  [appendTo]="appendTo"
  [visible]="visible"
  [style]="style"
  [styleClass]="styleClass"
  [blockScroll]="blockScroll"
  [baseZIndex]="baseZIndex"
  [autoZIndex]="autoZIndex"
  [modal]="modal"
  [dismissible]="dismissible"
  [showCloseIcon]="false"
  [transitionOptions]="transitionOptions"
  [closeOnEscape]="closeOnEscape"
  (onShow)="_onShow()"
  (onHide)="_onHide()">
  <div class="bottom-sheet-wrapper" [ngClass]="{'rtl': rtl, 'ltr': !rtl}">
    @if (header || showCloseIcon || templateMap.header) {
      <div class="header" [class.show-close-icon]="showCloseIcon">
        @if (templateMap.header) {
          <ng-container *ngTemplateOutlet="templateMap.header"/>
        } @else {
          <h5>{{ header }}</h5>
        }
        @if (showCloseIcon) {
          <ng-button
            [rounded]="true"
            size="sm"
            appearance="text"
            (onClick)="_onHide()">
            <ng-template ngTemplate="icon">
              <TimesIcon/>
            </ng-template>
          </ng-button>
        }
      </div>
    }
    <div class="content" [class.has-gutter]="gutter">
      <ng-content/>
    </div>
    @if (templateMap.footer) {
      <div class="footer">
        <ng-container *ngTemplateOutlet="templateMap.footer"/>
      </div>
    }
  </div>
</p-sidebar>
