<p-sidebar
  position="bottom"
  [appendTo]="appendTo"
  [visible]="visible"
  [style]="style"
  [styleClass]="styleClass"
  [blockScroll]="blockScroll"
  [baseZIndex]="baseZIndex"
  [autoZIndex]="autoZIndex"
  [modal]="modal"
  [dismissible]="dismissible"
  [showCloseIcon]="false"
  [transitionOptions]="transitionOptions"
  [closeOnEscape]="closeOnEscape"
  (onShow)="_onShow()"
  (onHide)="_onHide()">
  <div class="bottom-sheet-wrapper">
    <div class="header" *ngIf="header || showCloseIcon || templateMap.header" [class.show-close-icon]="showCloseIcon">
      <ng-container *ngIf="templateMap.header;else alternativeTitle">
        <ng-container *ngTemplateOutlet="templateMap.header"></ng-container>
      </ng-container>
      <ng-template #alternativeTitle>
        <h5>{{ header }}</h5>
      </ng-template>
      <ng-button
        *ngIf="showCloseIcon"
        [rounded]="true"
        appearance="text"
        icon="pi pi-times"
        (onClick)="_onHide()">
      </ng-button>
    </div>
    <div class="content" [class.has-gutter]="gutter">
      <ng-content></ng-content>
    </div>
    <div class="footer" *ngIf="templateMap.footer">
      <ng-container *ngTemplateOutlet="templateMap.footer"></ng-container>
    </div>
  </div>
</p-sidebar>
