<p-drawer
  [position]="fullScreen ? 'full' : 'bottom'"
  [attr.dir]="rtl ? 'rtl' : 'ltr'"
  [appendTo]="appendTo"
  [blockScroll]="blockScroll"
  [style]="computedStyle"
  [styleClass]="styleClass"
  [ariaCloseLabel]="ariaCloseLabel"
  [autoZIndex]="autoZIndex"
  [baseZIndex]="baseZIndex"
  [modal]="modal"
  [closeButtonProps]="$any(closeButtonProps)"
  [dismissible]="dismissible"
  [closeOnEscape]="closeOnEscape"
  [transitionOptions]="transitionOptions"
  [visible]="visible"
  [header]="header"
  [maskStyle]="maskStyle"
  [closable]="closable"
  (onShow)="_onShow()"
  (onHide)="_onHide()">
  @for (t of templates; track t) {
    @if (templateMap[t.type]) {
      <ng-template [pTemplate]="t.type">
        <ng-container *ngTemplateOutlet="templateMap[t.type]"/>
      </ng-template>
    }
  }
</p-drawer>
