<ng-preview-options
  [previewItems]="[
  'hint',
  'label',
  'labelPos',
  'labelWidth',
  'filled',
  'rtl',
  'readonly',
  'disabled',
]"
  [(labelWidth)]="labelWidth"
  [(hint)]="hint"
  [(rtl)]="rtl"
  [(labelPos)]="labelPos"
  [(orientation)]="orientation"
  [(label)]="label"
  [(disabled)]="disabled"
></ng-preview-options>
<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-radio
      formControlName="c1"
      [errors]="{ required: 'error' }"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [orientation]="orientation"
      [label]="label"
      [disabled]="disabled"
      [tabindex]="tabindex"
      [style]="style"
      [styleClass]="styleClass"
      [labelStyleClass]="labelStyleClass"
    >
    </ng-radio>
    <ng-button type="submit" label="submit"></ng-button>
  </form>
  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-radio
    name="myInput"
    required
    [(ngModel)]="binding"
    [errors]="{ required: 'error' }"
    [options]="options"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [optionDisabled]="optionDisabled"
    [labelWidth]="labelWidth"
    [hint]="hint"
    [rtl]="rtl"
    [labelPos]="labelPos"
    [orientation]="orientation"
    [label]="label"
    [disabled]="disabled"
    [tabindex]="tabindex"
    [style]="style"
    [styleClass]="styleClass"
    [labelStyleClass]="labelStyleClass">
  </ng-radio>
</div>
