:host ::ng-deep {
  .map-wrapper {
    display: flex;
    position: relative;
    direction: ltr;

    .field {
      flex-grow: 1;
      position: relative;

      .clear-map-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 20000;
      }
    }

    .message {
      position: absolute;
      top: calc(100% + 0.25rem);
    }

    &.ltr {
      .message {
        left: 0;
      }
    }

    &.rtl {
      label,
      .message {
        direction: rtl;
      }

      .message {
        right: 0;
      }
    }
  }
}
