<div class="container">
  <p-card header="LoadingContainer"
          subheader="LoadingContainer is a container to show a loading template until data loaded."></p-card>
  <p-panel [header]="'options' | translate">
    Options should edit in code.
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <ng-loading-container [data]="list">
      <!--      <ng-template ngTemplate="loading">-->
      <!--        <p>لطفا صبر کنید</p>-->
      <!--      </ng-template>-->
      <ng-template ngTemplate="content">
        <ul>
          <li *ngFor="let item of list">item-{{item}}</li>
        </ul>
      </ng-template>
    </ng-loading-container>
  </p-panel>
</div>
