<div class="container">
  <p-card header="Empty"
          subheader="Empty is a empty state placeholder."/>
  <p-panel [header]="'options' | translate">
    <ng-preview-options
      [previewItems]="[
      'imageType',
      'icon',
      'text',
      'rtl',
      'followConfig',
      ]"
      [(imageType)]="imageType"
      [(icon)]="icon"
      [(text)]="text"
      [(rtl)]="rtl"
      [(followConfig)]="followConfig"/>
  </p-panel>

  <p-panel [header]="'preview' | translate">
    <ng-empty
      [imageType]="imageType"
      [icon]="icon"
      [text]="text"
      [rtl]="rtl"
      [followConfig]="followConfig"/>
  </p-panel>
</div>
