<ng-preview-options
  [previewItems]="[]"
></ng-preview-options>

<div class="container">
  <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Preview</h4>
    <ng-dropdown
      formControlName="c1"
      [addon]="addon"
      [errors]="{ required: 'error' }"
    ></ng-dropdown>
    <ng-button type="submit" label="submit"></ng-button>
  </form>

  <h4>NG MODEL</h4>
  VALUE :
  <pre>{{binding | json}}</pre>
  <ng-dropdown
    name="myInput"
    required
    [(ngModel)]="binding"
    [addon]="addon"
    [errors]="{ required: 'error' }"
  ></ng-dropdown>
</div>
