<div class="listbox-wrapper"
     [attr.dir]="rtl ? 'rtl' : 'ltr'"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-form-field
    [ngControl]="ngControl"
    [validation]="validation"
    [hint]="hint"
    [label]="label | ngLabelStar:showRequiredStar:ngControl"
    [labelWidth]="labelWidth"
    [labelPosition]="labelPosition"
    [inputId]="id"
    [disabled]="disabled"
    [readonly]="readonly"
    [fluid]="true">
    <ng-template ngTemplate="element" let-isInvalid="isInvalid">
      <p-listbox
        [(ngModel)]="value"
        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
        [id]="id"
        [searchMessage]="searchMessage"
        [emptySelectionMessage]="emptySelectionMessage"
        [selectionMessage]="selectionMessage"
        [autoOptionFocus]="autoOptionFocus"
        [ariaLabel]="ariaLabel"
        [selectOnFocus]="selectOnFocus"
        [searchLocale]="searchLocale"
        [focusOnHover]="focusOnHover"
        [filterMessage]="filterMessage"
        [filterFields]="filterFields"
        [lazy]="lazy"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [virtualScrollOptions]="virtualScrollOptions"
        [scrollHeight]="scrollHeight"
        [tabindex]="tabindex"
        [multiple]="multiple"
        [style]="style"
        [styleClass]="styleClass"
        [listStyle]="listStyle"
        [listStyleClass]="listStyleClass"
        [readonly]="readonly"
        [disabled]="disabled"
        [checkbox]="checkbox"
        [filter]="filter"
        [filterBy]="filterBy"
        [filterMatchMode]="filterMatchMode"
        [filterLocale]="filterLocale"
        [metaKeySelection]="metaKeySelection"
        [dataKey]="dataKey"
        [showToggleAll]="showToggleAll"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [optionGroupChildren]="optionGroupChildren"
        [optionGroupLabel]="optionGroupLabel"
        [optionDisabled]="optionDisabled"
        [ariaFilterLabel]="ariaFilterLabel"
        [filterPlaceHolder]="filterPlaceHolder"
        [emptyFilterMessage]="emptyFilterMessage"
        [emptyMessage]="emptyMessage"
        [group]="group"
        [options]="options"
        [filterValue]="filterValue"
        [selectAll]="selectAll"
        [striped]="striped"
        [highlightOnSelect]="highlightOnSelect"
        [checkmark]="checkmark"
        (onChange)="_onChange($event)"
        (onClick)="_onClick($event)"
        (onDblClick)="_onDblClick($event)"
        (onFilter)="emitter('onFilter', $event)"
        (onFocus)="emitter('onFocus', $event)"
        (onBlur)="emitter('onBlur', $event)"
        (onSelectAllChange)="emitter('onSelectAllChange', $event)"
        (onLazyLoad)="emitter('onLazyLoad', $event)">
        @for (t of templates; track t) {
          @if (templateMap[t.type]) {
            <ng-template [pTemplate]="t.type" let-item let-options="options" let-index="index">
              <ng-container *ngTemplateOutlet="templateMap[t.type];context:{$implicit:item,options,index}"/>
            </ng-template>
          }
        }
      </p-listbox>
    </ng-template>
  </ng-form-field>
</div>
