:host {
  display: block;

  ::ng-deep {
    .listbox-wrapper {
      display: flex;
      position: relative;

      .message {
        position: absolute;
        top: calc(100% + 0.25rem);
        font-size: 0.875em;

        &:not(.p-error) {
          color: #6c757d;
        }
      }

      &.label-fix-top {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &.label-fix-side {
        flex-direction: row-reverse;
        align-items: center;

        .fix-label {
          margin-bottom: 0;
          align-self: start;
        }
      }

      .field {
        width: auto;
        flex-grow: 1;
        align-self: stretch;
        display: inline-flex;

        > div {
          display: block;
          flex-grow: 1;
        }

        &.has-before .p-listbox {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.has-after .p-listbox {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .p-listbox-filter {
        width: 100%;
      }

      &.ltr {
        direction: ltr;

        .message {
          left: 0;
        }

        .fix-label {
          margin-right: 1rem;
        }
      }

      &.rtl {
        direction: rtl;

        .message {
          right: 0;
        }

        .field {
          flex-direction: row-reverse;
        }

        .fix-label {
          margin-left: 1rem;
        }

        .p-listbox {
          .p-listbox-list .p-checkbox {
            margin-right: 0;
            margin-left: 0.5rem;
          }

          .p-listbox-header {
            .p-checkbox {
              margin-right: 0;
              margin-left: 0.5rem;
            }
          }

          .p-listbox-filter-container {
            .p-listbox-filter {
              padding-right: 0.5rem;
              padding-left: 1.5rem;
            }

            .p-listbox-filter-icon {
              right: auto;
              left: 0.5rem;
            }
          }
        }
      }
    }
  }
}
