<div class="container">
  <p-card dir="ltr"
          header="Editor"
          subheader="Editor is rich text editor component based on SubEditor."></p-card>
  <p-panel dir="ltr" header="Options">
    <ng-preview-options
      [previewItems]="[
      'label',
      'labelWidth',
      'hint',
      'rtl',
      'labelPos',
      'disabled',
      'readonly',
      ]"
      [(label)]="label"
      [(labelWidth)]="labelWidth"
      [(hint)]="hint"
      [(rtl)]="rtl"
      [(labelPos)]="labelPos"
      [(disabled)]="disabled"
      [(readonly)]="readonly"
    ></ng-preview-options>
  </p-panel>

  <p-panel dir="ltr" header="Preview">
    <p-divider align="center">
      <b>Using With Reactive Forms</b>
    </p-divider>
    <form [formGroup]="form">
      <ng-editor
        formControlName="c1"
        [errors]="{ required: 'error' }"
        [label]="label"
        [labelWidth]="labelWidth"
        [hint]="hint"
        [rtl]="rtl"
        [labelPos]="labelPos"
        [disabled]="disabled"
        [readonly]="readonly"
      ></ng-editor>
    </form>

    <p-divider align="center">
      <b>Using With NgModel</b>
    </p-divider>
    <ng-editor
      name="myInput"
      required
      [(ngModel)]="binding"
      [errors]="{ required: 'error' }"
      [label]="label"
      [labelWidth]="labelWidth"
      [hint]="hint"
      [rtl]="rtl"
      [labelPos]="labelPos"
      [disabled]="disabled"
      [readonly]="readonly"
    ></ng-editor>
    <pre class="mt-3 mb-0" dir="ltr"><b>Value :</b> {{binding | json}}</pre>
  </p-panel>

</div>
