<div ngConfigHandler
     [(disableConfigChangeEffect)]="disableConfigChangeEffect"
     [(rtl)]="rtl"
     [(fixLabelPos)]="labelPos"
     [(showRequiredStar)]="showRequiredStar"
     [ngClass]="{
      'rtl': rtl,
      'ltr': !rtl,
      'label-fix-top': labelPos == 'fix-top',
      'label-fix-side': labelPos == 'fix-side'
    }" class="select-button-wrapper">
  <div class="field">
    <p-selectButton
      [(ngModel)]="value"
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid() }"
      [attr.id]="inputId"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [unselectable]="unselectable"
      [tabindex]="tabindex"
      [multiple]="multiple"
      [allowEmpty]="allowEmpty"
      [style]="style"
      [styleClass]="styleClass"
      [ariaLabelledBy]="ariaLabelledBy"
      [disabled]="disabled"
      [dataKey]="dataKey"
      (onChange)="_onChange($event)"
      (onOptionClick)="_onOptionClick($event)">
      <ng-template let-item let-index="index" *ngIf="itemTemplate">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{$implicit:item,index}"></ng-container>
      </ng-template>
    </p-selectButton>
  </div>
  <label
    class="fix-label"
    *ngIf="label"
    [attr.for]="inputId"
    [class.p-disabled]="disabled"
    [style.minWidth.px]="labelPos == 'fix-side' ? labelWidth : null"
    [style.maxWidth.px]="labelPos == 'fix-side' ? labelWidth : null">
    {{ label | ngLabelStar:showRequiredStar:ngControl }}
  </label>
  <div *ngIf="hint && showHint()" class="message">{{ hint }}</div>
  <div class="message p-error">
    <ng-container *ngFor="let v of validation | keyvalue">
      <div *ngIf="hasError(v.key)">
        {{ v.value }}
      </div>
    </ng-container>
  </div>
</div>
