@use "mixins";

.p-toast {
  @include mixins.media-breakpoint-down(md) {
    width: 90%;
    max-width: 90%;
  }
}

.dialog-form-wrapper {
  form {
    > *:not(:last-child) {
      margin-bottom: 1.75rem;
    }
  }

  .footer {
    gap: 0.75rem;
    display: flex;
    align-items: center;

    button {
      margin: 0;
    }
  }
}

.header-less {
  .p-dialog-header {
    display: none;
  }

  .p-dialog-content {
    padding-top: var(--p-overlay-modal-padding);
  }
}
